﻿@using AAH.Common;
@using AAHAdmin.Pages;
@using AAH.Common;


@{ /**/
    var curController = Convert.ToString(ViewContext.RouteData.Values["Controller"]);
    var curAction = Convert.ToString(ViewContext.RouteData.Values["Action"]);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- SEO & Metatags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no" /> <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="subject" content="">
    <meta name="copyright" content="">
    <meta name=author content="">
    <title>GinnyBuddy | @ViewBag.Title</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/assets/fonts/style.css">
    @*<link rel="stylesheet" href="~/assets/vendors/simplebar/dist/simplebar.min.css">*@
    <link rel="stylesheet" href="~/assets/vendors/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-html5-1.7.1/b-print-1.7.1/r-2.2.9/datatables.min.css" />

    <link rel="stylesheet" href="~/assets/css/main.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

    <link rel="stylesheet" href="~/assets/validation/css/toastr.min.css">

    <style>
        .error {
            color: red;
            margin-bottom: 0px;
        }

        audio {
            width: 215px !important;
            height: 40px !important;
        }

        body ::-webkit-scrollbar {
            width: 2px;
            border-radius: 15px;
        }

        body ::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid darkgrey;
        }

        .items-image img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 10px;
        }

        .item-description {
            margin-left: 10px;
            line-height: 1.3;
        }

            .item-description p {
                font-weight: 600;
                font-size: 13px;
            }

            .item-description span {
                font-size: 12px;
                color: #959494;
            }

        .choose-label i {
            display: none;
        }

        .choose-item:checked ~ .choose-label {
            background-color: #349cff21;
            border: 1px solid #349cff;
            color: #000;
            padding: 5px;
            border-radius: 10px;
        }

            .choose-item:checked ~ .choose-label i {
                display: block;
            }
    </style>
</head>
<body class="aside-show">

    <header>
        <div class="container-fluid">
            <div class="navbar pl-0">
                <button class="btn btn-hover-secondary btn-icon toggle-sidebar" type="button">
                    <i class="tio-menu-hamburger fs-20"></i>
                </button>
                <ul class="nav">
                    <!-- Profile -->
                    <li>
                        <div class="dropdown dropdown-profile ml-2">
                            <!-- Dropdown Button -->
                            <button class="btn btn-hover-secondary btn-icon" type="button" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="avatar">
                                    <img alt="avatar" src="~/assets/images/avatar/avatar-02.jpg" class="rounded-circle">
                                </span>
                            </button>
                            <!-- Dropdown Menu -->
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
                                <!-- Dropdown Head -->
                                <div class="dropdown-head justify-content-start">
                                    <div class="avatar">
                                        <img alt="avatar" src="~/assets/images/avatar/avatar-02.jpg" class="rounded-circle">
                                    </div>
                                    <div class="text-truncate ml-2">
                                        <h6 class="mb-1">@ProjectSession.UserType</h6>
                                        <p class="fs-13 mb-0 text-muted">@ProjectSession.LoginAdminEmail </p>
                                        @*<h6 class="mb-1">@ProjectSession.UserType</h6>*@
                                    </div>
                                </div>
                                <!-- Dropdown Body -->
                                <div class="dropdown-body">
                                    <ul class="list-unstyled py-2">
                                        @*<li><a class="dropdown-item fs-14" href="@Url.Action(Actions.Index,Controllers.Organization)">My Profile</a></li>*@

                                        <li><a class="dropdown-item fs-14" href="@Url.Action("ChangePassword","ChangePassword")">Change Password</a></li>
                                        <li>
                                            <form action="@Url.Action("Signout","Authentication")" method="post">
                                                <button class="dropdown-item fs-14" type="submit">
                                                    Sign out
                                                </button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- Sidebar -->
    <aside>
        <div class="navbar-vertical">
            <div class="navbar-brand-wrapper custome-navabar-logo">
                <a href="" class="navbar-brand mr-0 beetech-logo">
                    <img src="~/assets/images/logo/ginnybuddy.png">
                    @*<h4 class="fw-bold text-center">GinnyBuddy</h4>*@
                </a>
            </div>
            <div class="navbar-vertical-content" data-simplebar>
                <ul class="navbar-vertical-nav pb-3">

                    @if (ProjectSession.UserType == "Super Admin" || ProjectSession.UserType == "Admin" || ProjectSession.UserType == "Back office Staff")
                    {
                        <li class="navbar-vertical-item">
                            <a href="@Url.Action("Index", "Home")" id="mnHome" class="navbar-vertical-link">
                                <div class="navbar-vertical-icon"><i class="tio-dashboard-vs-outlined"></i></div>
                                Dashboard
                            </a>
                        </li>
                    }
                    @if (ProjectSession.UserType == "Agency Owner")
                    {
                        <li class="navbar-vertical-item">
                            <a href="@Url.Action("AgencyDashbord", "Home")" id="mnHome" class="navbar-vertical-link">
                                <div class="navbar-vertical-icon"><i class="tio-dashboard-vs-outlined"></i></div>
                                Dashboard
                            </a>
                        </li>
                    }
                    @if (ProjectSession.UserType == "Downloading Staff" || ProjectSession.UserType == "On boarding Staff" || ProjectSession.UserType == "Advertising Staff")
                    {
                        <li class="navbar-vertical-item">
                            <a href="@Url.Action("AdminDashboard", "Home")" id="mnAHome" class="navbar-vertical-link">
                                <div class="navbar-vertical-icon"><i class="tio-dashboard-vs-outlined"></i></div>
                                Dashboard
                            </a>
                        </li>
                    }
                    @if (ProjectSession.UserType == "Super Admin" || ProjectSession.UserType == "Admin" || ProjectSession.UserType == "Back office Staff" || ProjectSession.UserType == "Agency Owner")
                    {
                        <li class="navbar-vertical-item">
                            <a href="@Url.Action("Index", "DeliveryExecutives")" id="mnDeliveryExecutives" class="navbar-vertical-link">
                                <div class="navbar-vertical-icon"><i class="fa fa-truck"></i></div>
                                Delivery Executives
                            </a>
                        </li>
                    }
                    @if (ProjectSession.UserType == "Super Admin" || ProjectSession.UserType == "Admin" || ProjectSession.UserType == "Back office Staff")
                    {
                        <li class="navbar-vertical-item">
                            <a href="@Url.Action("Index", "Requests")" id="mnRequests" class="navbar-vertical-link">
                                <div class="navbar-vertical-icon"><i class="fa fa-paper-plane"></i></div>
                                Requests
                            </a>
                        </li>
                    }

                    @if (ProjectSession.UserType == "Agency Owner")
                    {
                        <li class="navbar-vertical-item">
                            <a href="@Url.Action("MyArea", "AgencyVsArea")" id="mnAgencyVsArea" class="navbar-vertical-link">
                                <div class="navbar-vertical-icon"><i class="tio-dashboard-vs-outlined"></i></div>
                                My Area
                            </a>
                        </li>
                    }
                    @*}
        @if (ProjectSession.UserType == "Super Admin" || ProjectSession.UserType == "Manager")
        {*@
                    @*<li class="navbar-vertical-item">
            <a href="@Url.Action("ServiceMaster","MasterService")" id="serviceMaster" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="fa fa-server"></i></div>
                Manage Services
            </a>
        </li>*@
                    @if (ProjectSession.UserType == "Super Admin" || ProjectSession.UserType == "Admin" || ProjectSession.UserType == "Back office Staff")
                    {
                        <li class="navbar-vertical-item">
                            <a href="@Url.Action("Index", "Customers")" id="mnUser" class="navbar-vertical-link">
                                <div class="navbar-vertical-icon"><i class="fa fa-users"></i></div>
                                Customers
                            </a>
                        </li>
                    }
                    @if (ProjectSession.UserType == "Super Admin" || ProjectSession.UserType == "Admin" || ProjectSession.UserType == "Back office Staff")
                    {

                        <li class="navbar-vertical-item">
                            <a href="@Url.Action("Index", "ManageAgency")" id="agencyMaster" class="navbar-vertical-link">
                                <div class="navbar-vertical-icon"><i class="fa fa-building"></i></div>
                                Manage Agency
                            </a>
                        </li>
                    }
                    @if (ProjectSession.UserType == "Super Admin" || ProjectSession.UserType == "Admin")
                    {
                        <li class="navbar-vertical-item">
                            <a href="@Url.Action("Index", "ManageUser")" id="mnManageUser" class="navbar-vertical-link">
                                <div class="navbar-vertical-icon"><i class="fa fa-user"></i></div>
                                Manage Users
                            </a>
                        </li>
                    }
                    @if (ProjectSession.UserType == "Super Admin" || ProjectSession.UserType == "Admin" || ProjectSession.UserType == "Back office Staff")
                    {
                        <li class="navbar-vertical-item">
                            <a href="@Url.Action("Index", "ChaiNastaVendors")" id="mnChaiNastaVendors" class="navbar-vertical-link">
                                <div class="navbar-vertical-icon"><i class="fa fa-hamburger"></i></div>
                                ChaiNasta Vendors
                            </a>
                        </li>
                    }
                    @if (ProjectSession.UserType == "Super Admin" || ProjectSession.UserType == "Admin" || ProjectSession.UserType == "Back office Staff")
                    {
                        <li class="navbar-vertical-item">
                            <a href="@Url.Action(Actions.Reports, Controllers.DEPerformance, new { Area = "" })" id="mnDEPerformance" class="navbar-vertical-link">
                                <div class="navbar-vertical-icon"><i class="fas fa-percent"></i></div>
                                DE Performance
                            </a>
                        </li>
                    }
                    @if (ProjectSession.UserType == "Super Admin" || ProjectSession.UserType == "Admin" || ProjectSession.UserType == "Back office Staff")
                    {
                        <li class="navbar-vertical-item">
                            <a href="@Url.Action("Index", "ManageCategory")" id="mnManageCategory" class="navbar-vertical-link">
                                <div class="navbar-vertical-icon"><i class="fa fa-server"></i></div>
                                Manage Category
                            </a>
                        </li>
                    }

                    @if (ProjectSession.UserType == "Super Admin" || ProjectSession.UserType == "Admin" || ProjectSession.UserType == "Back office Staff")
                    {
                        <li class="navbar-vertical-item">
                            <a href="@Url.Action("Index", "AdvertiseMaster")" id="mnAdvertiseMaster" class="navbar-vertical-link">
                                <div class="navbar-vertical-icon"><i class="fa fa-bullhorn"></i></div>
                                Manage AdvertiseMaster
                            </a>
                        </li>
                    }
                    @if (ProjectSession.UserType == "Super Admin" || ProjectSession.UserType == "Admin" || ProjectSession.UserType == "Back office Staff")
                    {

                        <li class="navbar-vertical-item">
                            <a href="@Url.Action("Index", "AdvertisePreferredCategory")" id="mnAdvertisePreferredCategory" class="navbar-vertical-link">
                                <div class="navbar-vertical-icon"><i class="fa fa-cogs"></i></div>
                                Advertise Preferred
                            </a>
                        </li>
                    }
                    @if (ProjectSession.UserType == "Super Admin" || ProjectSession.UserType == "Admin" || ProjectSession.UserType == "Back office Staff")
                    {
                        <li class="navbar-vertical-item">
                            <a href="@Url.Action(Actions.Home, Controllers.TrialVideos, new { Area = "" })" id="mnTrialVideos" class="navbar-vertical-link">
                                <div class="navbar-vertical-icon"><i class="fa fa-video"></i></div>
                                Trial Videos
                            </a>
                        </li>
                    }
                    @if (ProjectSession.UserType == "Super Admin" || ProjectSession.UserType == "Admin" || ProjectSession.UserType == "Back office Staff")
                    {
                        <li class="navbar-vertical-item">
                            <a href="@Url.Action(Actions.Index, Controllers.MasterPayType, new { Area = "" })" id="mnMasterPayType" class="navbar-vertical-link">
                                <div class="navbar-vertical-icon"><i class="fab fa-amazon-pay"></i></div>
                                MasterPayType
                            </a>
                        </li>
                    }
                    @if (ProjectSession.UserType == "Super Admin" || ProjectSession.UserType == "Admin" || ProjectSession.UserType == "Back office Staff")
                    {
                        <li class="navbar-vertical-item">
                            <a href="@Url.Action(Actions.Index, Controllers.Report, new { Area = "" })" id="mnReport" class="navbar-vertical-link">
                                <div class="navbar-vertical-icon"><i class="fas fa-file"></i></div>
                                Report
                            </a>
                        </li>
                    }
                    @if (ProjectSession.UserType == "Super Admin" || ProjectSession.UserType == "Admin" || ProjectSession.UserType == "Back office Staff")
                    {
                        <li class="navbar-vertical-item">
                            <a href="@Url.Action("Index", "Items")" id="mnItems" class="navbar-vertical-link">
                                <div class="navbar-vertical-icon">
                                    <i class="fa fa-th-list" aria-hidden="true"></i>
                                </div>
                                Manage Items
                            </a>
                        </li>
                    }



                    @*<li class="navbar-vertical-item">
            <a href="@Url.Action("Index","UsersFeedback")" id="mnUsersFeedback" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="fa fa-comments"></i></div>
                Users Feedback
            </a>
        </li>*@

                    @*<li class="navbar-vertical-item">
            <a href="@Url.Action(Actions.Index, Controllers.HowGinnyBuddyWorks, new { Area = "" })" id="mnHowGinnyBuddyWorks" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="fa fa-briefcase"></i></div>
                GinnyBuddy Works
            </a>
        </li>*@
                    @*<li class="navbar-vertical-item">
            <a href="@Url.Action(Actions.Index, Controllers.OtherServiceIcons, new { Area = "" })" id="mnOtherServiceIcons" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="fa fa-handshake"></i></div>
                OtherService Icons
            </a>
        </li>*@

                    @*<li class="navbar-vertical-item">
            <a href="@Url.Action(Actions.Index, Controllers.DeliveryLimit, new { Area = "" })" id="mnDeliveryLimit" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="fa fa-truck"></i></div>
                DeliveryLimit
            </a>
        </li>*@
                    @*<li class="navbar-vertical-item">
            <a href="@Url.Action(Actions.Index, Controllers.MasterAgeGroup, new { Area = "" })" id="mnMasterAgeGroup" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="fa fa-truck"></i></div>
                MasterAgeGroup
            </a>
        </li>*@
                    @*<li class="navbar-vertical-item">


            <a href="@Url.Action(Actions.Index, Controllers.Survey, new { Area = "" })" id="mnSurvey" class="navbar-vertical-link">
                <div class="navbar-vertical-icon"><i class="fas fa-poll"></i></div>
                Manage Survey

            </a>
        </li>*@
                    @if (ProjectSession.UserType == "Super Admin" || ProjectSession.UserType == "Admin" || ProjectSession.UserType == "Back office Staff")
                    {
                        <li class="navbar-vertical-item">
                            <a href="@Url.Action(Actions.Index, Controllers.AgencyVsArea, new { Area = "" })" id="mnAgencyVsArea" class="navbar-vertical-link">
                                <div class="navbar-vertical-icon"><i class="fas fa-file"></i></div>
                                AgencyVsArea
                            </a>
                        </li>
                    }
                    @if (ProjectSession.UserType == "Super Admin" || ProjectSession.UserType == "Admin" || ProjectSession.UserType == "Back office Staff")
                    {
                        <li class="navbar-vertical-item">
                            <a href="@Url.Action(Actions.Index, Controllers.Complain, new { Area = "" })" id="mnComplain" class="navbar-vertical-link">
                                <div class="navbar-vertical-icon"><i class="fas fa-file"></i></div>
                                Help / Complain
                            </a>
                        </li>
                    }
                    @if (ProjectSession.UserType == "Super Admin" || ProjectSession.UserType == "Admin" || ProjectSession.UserType == "Back office Staff")
                    {
                        <li class="navbar-vertical-item">
                            <a href="@Url.Action(Actions.Index, Controllers.AreaMaster, new { Area = "" })" id="mnAreaMaster" class="navbar-vertical-link">
                                <div class="navbar-vertical-icon"><i class="fas fa-map-pin"></i></div>
                                Matser Area
                            </a>
                        </li>
                    }
                    @if (ProjectSession.UserType == "Super Admin" || ProjectSession.UserType == "Admin" || ProjectSession.UserType == "Back office Staff")
                    {
                        <li class="navbar-vertical-item">
                            <a href="@Url.Action(Actions.Index, Controllers.CustomersNotification, new { Area = "" })" id="mnCustomersNotification" class="navbar-vertical-link">
                                <div class="navbar-vertical-icon"><i class="fa fa-bell"></i></div>
                                Send Notifications
                            </a>
                        </li>
                    }
                    @if (ProjectSession.UserType == "On boarding Staff")
                    {
                        <li class="navbar-vertical-item">
                            <a href="@Url.Action("Index", "Vendors")" id="mnVendors" class="navbar-vertical-link">
                                <div class="navbar-vertical-icon"><i class="fa fa-users"></i></div>
                                Manage Vendors
                            </a>
                        </li>
                    }



                </ul>
            </div>
        </div>
    </aside>
    <main>
        @RenderBody()
    </main>
    <!-- Menu Backdrop -->
    <div class="backdrop d-none"></div>


    <!-- Scripts -->
    <script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/js/jquery.validate.js"></script>
    <script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>*@
    <script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
    <script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
    @*<script src="~/assets/vendors/apexcharts/dist/apexcharts.min.js"></script>*@

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-html5-1.7.1/b-print-1.7.1/r-2.2.9/datatables.min.js"></script>
    <!-- Main Js -->
    <script src="~/assets/js/main.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>


    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/ui-toastr.min.js"></script>
    <script src="~/Scripts/common.js"></script>


    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>*@

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            setSelectedMenu();
            $("aside").prepend(
                "<button class='btn btn-hover-secondary btn-icon toggle-sidebar' type='button'> <i class='fa fa-window-close fs-20'> </i> </button>");

            $('body aside button.btn.btn-hover-secondary.btn-icon.toggle-sidebar').on('click', function () {
                $('body').addClass('aside-closed-mode');
                $('.backdrop').addClass('d-none');
            });


        });



        function setSelectedMenu() {
            $(".main-menu").find("li.active").each(function () {
                $(this).removeClass("active");
            });
            switch ('@curController') {
                case '@Controllers.Home':
                    setActiveLink($('#mnHome').attr('id'));
                    setActiveLink($('#mnAHome').attr('id'));
                    break;
                case '@Controllers.AgencyVsArea':
                    setActiveLink($('#mnAgencyVsArea').attr('id'));
                    break;
                case '@Controllers.Customers':
                    setActiveLink($('#mnUser').attr('id'));
                    break;
                case '@Controllers.DeliveryExecutives':
                    setActiveLink($('#mnDeliveryExecutives').attr('id'));
                    break;
                case '@Controllers.Requests':
                    setActiveLink($('#mnRequests').attr('id'));
                    break;
                case '@Controllers.MasterService':
                    setActiveLink($('#serviceMaster').attr('id'));
                    break;
                case '@Controllers.ManageUser':
                    setActiveLink($('#mnManageUser').attr('id'));
                    break;
                case '@Controllers.Complain':
                    setActiveLink($('#mnComplain').attr('id'));
                    break;
                case '@Controllers.UsersFeedback':
                    setActiveLink($('#mnUsersFeedback').attr('id'));
                    break;
                case '@Controllers.DEPerformance':
                    setActiveLink($('#mnDEPerformance').attr('id'));
                    break;
                case '@Controllers.ManageAgency':
                    setActiveLink($('#agencyMaster').attr('id'));
                    break;
                case '@Controllers.ManageCategory':
                    setActiveLink($('#mnManageCategory').attr('id'));
                    break;
                case '@Controllers.AdvertiseMaster':
                    setActiveLink($('#mnAdvertiseMaster').attr('id'));
                    break;
                case '@Controllers.ChaiNastaVendors':
                    setActiveLink($('#mnChaiNastaVendors').attr('id'));
                    break;
                case '@Controllers.AdvertisePreferredCategory':
                    setActiveLink($('#mnAdvertisePreferredCategory').attr('id'));
                    break;
                case '@Controllers.TrialVideos':
                    setActiveLink($('#mnTrialVideos').attr('id'));
                    break;
                case '@Controllers.HowGinnyBuddyWorks':
                    setActiveLink($('#mnHowGinnyBuddyWorks').attr('id'));
                    break;
                case '@Controllers.OtherServiceIcons':
                    setActiveLink($('#mnOtherServiceIcons').attr('id'));
                    break;
                case '@Controllers.MasterPayType':
                    setActiveLink($('#mnMasterPayType').attr('id'));
                    break;
                case '@Controllers.DeliveryLimit':
                    setActiveLink($('#mnDeliveryLimit').attr('id'));
                    break;
                case '@Controllers.MasterAgeGroup':
                    setActiveLink($('#mnMasterAgeGroup').attr('id'));
                    break;
                case '@Controllers.Survey':
                    setActiveLink($('#mnSurvey').attr('id'));
                    break;
                case '@Controllers.AreaMaster':
                    setActiveLink($('#mnAreaMaster').attr('id'));
                    break;
                case '@Controllers.Report':
                    setActiveLink($('#mnReport').attr('id'));
                    break;
                case '@Controllers.CustomersNotification':
                    setActiveLink($('#mnCustomersNotification').attr('id'));
                    break;
                case '@Controllers.Vendors':
                    setActiveLink($('#mnVendors').attr('id'));
                    break;
                case '@Controllers.AgencyVsArea':
                    setActiveLink($('#mnmyArea').attr('id'));
                    break;
                case '@Controllers.Items':
                    setActiveLink($('#mnItems').attr('id'));
                    break;
            }
        }

        function setActiveLink(menuId) {
            $("#" + menuId).addClass("active");
        };

        function setSubActiveLink(menuId) {
            $(".custom").find("a[id='" + menuId + "']").parent("li").addClass("active");
            //$(".items").find("a[id='" + menuId + "']").parent("li").append("<span class='selected'></span>");
        };
    </script>
    @RenderSection("Scripts", false)
    @RenderSection("dashboardscripts", false)

</body>
</html>
