﻿@using AAH.Common;
@using AAHAdmin.Pages;
@using System.Web.Optimization;
@using AAHAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Users";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- SEO & Metatags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no" /> <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="subject" content="">
    <meta name="copyright" content="">
    <meta name=author content="">
    <title>GinnyBuddy | @ViewBag.Title</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/assets/fonts/style.css">
    @*<link rel="stylesheet" href="~/assets/vendors/simplebar/dist/simplebar.min.css">*@
    <link rel="stylesheet" href="~/assets/vendors/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-html5-1.7.1/b-print-1.7.1/r-2.2.9/datatables.min.css" />

    <link rel="stylesheet" href="~/assets/css/main.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <style>
        .error {
            color: red;
            margin-bottom: 0px;
        }

        audio {
            width: 215px !important;
            height: 40px !important;
        }
    </style>
</head>
<body class="aside-show">

    <style>
        .card-bs {
            padding: 25px;
            box-shadow: 0px 0px 15px 1px #cbcbcb;
            border-radius: 10px;
            border: 1px solid #ccc;
        }
    </style>


    <div class="content container-fluid mt-5" id="addAdmin">
        <div class="row">
            <div class="col-8">
                <h5>Survey Details</h5>
            </div>
        </div>
        <div class="col-lg-12 card mt-4 card-bs">
            <form method="post" id="ManageUserForm">
                <div class="row m-0">
                    <div class="form-group mb-3 col-lg-4">
                        <label>Age</label>
                        @Html.Raw(Html.DropDownList("Age", (IEnumerable<SelectListItem>)ViewBag.MasterAgeGroup_All, new { @Id = "Age", @class = "form-control" }))
                    </div>
                    <div class="form-group mb-3 col-lg-4">
                        <label>House / Flat / Block No.</label>
                        <input type="text" name="HomeTown" value="" id="HomeTown" class="form-control" />
                    </div>
                    <div class="form-group mb-3 col-lg-4">
                        <label>Pincode</label>
                        <input type="number" name="Pincode" id="Pincode" value="" class="form-control" />
                    </div>

                    <div class="form-group mb-3 col-lg-4">
                        <label>No Of Family Member</label>
                        <input type="number" name="NoOfFamilyMember" id="NoOfFamilyMember" value="" class="form-control" />
                    </div>
                    <div class="form-group mb-3 col-lg-4">
                        <label>User Name</label>
                        <input type="text" name="Username" value="" id="Username" class="form-control" />
                    </div>

                </div>
                <div class="modal-footer mt-4 pb-0">
                    <button id="saveBtn" type="submit" class="btn btn-primary mb-0">Save</button>
                    <button class="btn btn-primary loading mb-0" id="saveBtnLoading" type="button" disabled style="display:none;float:right;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Saving...
                    </button>
                    <button type="button" onclick="ClosePopUp();" class="btn btn-secondary closeBtn mb-0">Close</button>
                </div>
            </form>
        </div>
    </div>
    <div class="backdrop d-none"></div>


    <!-- Scripts -->
    <script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/js/jquery.validate.js"></script>
    <script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>*@
    <script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
    <script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-html5-1.7.1/b-print-1.7.1/r-2.2.9/datatables.min.js"></script>
    <!-- Main Js -->
    <script src="~/assets/js/main.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
         $(document).ready(() => {
            $("#Age").append('<option value="" disable selected hidden>Please select age</option>')
            $("#ManageUserForm").validate({
                rules: {
                    Age: "required",
                    Pincode: "required",
                    NoOfFamilyMember: "required",
                    Username: "required",
                    HomeTown: "required"
                },
                messages: {
                    Age: {
                        required: "Please select Age",
                    },
                    Pincode: {
                        required: "Please enter Pincode",
                    },
                    Username: {
                        required: "Please enter Username",
                    },
                    HomeTown: {
                        required: "Please enter HomeTown",
                    },
                    NoOfFamilyMember: {
                        required: "Please enter NoOfFamilyMember",
                    }
                },

                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents(".form-group"));
                    } else {
                        // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    AddAdmin();
                }
            });
        });

        function AddAdminPopUp() {
            emptyFormValues();
            var $alertas = $('#addAdmin');
            $alertas.validate().resetForm();
            $alertas.find('.error').removeClass('error');
            $('#addAdmin').modal('show');
        }

        function AddAdmin() {

            $("#saveBtn").hide();
            $("#saveBtnLoading").show();
            $(".closeBtn").hide();

            var userdata = {
                AgeGroup: $("#Age").val(),
                RequestId:@ViewBag.RequestId,
                Pincode: $("#Pincode").val(),
                Username: $("#Username").val(),
                HomeTown: $("#HomeTown").val(),
                NoOfFamilyMember: $("#NoOfFamilyMember").val()
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.Survey_Insert, Controllers.Survey)',
                data: userdata,
                dataType: 'json',
                success: function (response) {
                    if (response.Code == 200) {
                        window.location.href = "@Url.Action("Success","Survey")"
                    }
                    else {
                        swal("Error !", response.Message , "error");
                    }
                    $("#saveBtn").show();
                    $("#saveBtnLoading").hide();
                    $(".closeBtn").show();
                },
                error: function (error) {
                    swal("Error!", error.Message, "error");
                    $("#saveBtn").show();
                    $("#saveBtnLoading").hide();
                    $(".closeBtn").show();
                }
            });
        }



        function emptyFormValues() {

            $("#Age").val("");
            $("#Pincode").val("");
            $("#Username").val("");
            $("#HomeTown").val("");
            $("#NoOfFamilyMember").val("");
        }
    </script>
</body>
</html>
