﻿@using AAH.Common;
@using AAHAdmin.Pages;
@using System.Web.Optimization;
@using AAHAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Users";
}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #0069D9;
        color: white;
    }

    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        bUsers-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            bUsers-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        bUsers-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        bUsers: 1px solid #d4d4d4;
        bUsers-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            bUsers-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .text-c-dark {
        color: #000;
    }

    .device-active .active .card {
        background: #157aec;
        cursor: pointer;
    }

    .device-active .active .text-c-dark {
        color: #fff !important;
    }

        .device-active .active .text-c-dark .icon {
            background-color: #0069D9;
            bUsers: none;
        }

    .icon-box {
        background: #eff1f4;
    }

        .icon-box:hover {
            background: #0e67cc !important;
        }

    .btn-primary {
        color: #fff !important;
        background-color: #0596F8 !important;
        border-color: #0596F8 !important;
        box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%) !important;
    }

    div.dt-buttons {
        float: right !important;
    }
</style>


<div class="content container-fluid">
    <div class="row">
        <div class="col-8">
            <h5>Manage Survey</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">
            @Html.AntiForgeryToken()
            <div class="portlet-body table-responsive" id="divSurveyTable">
                <table class="table table-striped table-bUsersed table-hover border" id="SurveyTable"></table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $(document).ready(() => {
            SurveyDataTable.init();
        });


        var SurveyDataTable = function () {
            let initTable1 = function () {
                let table = $('#SurveyTable');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from MAX total entries)",
                        //"lengthMenu": "MENU entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.SurveyDataGetAll, Controllers.Survey)',
                        type: "post",
                        data: SearchCriteria(),
                    },
                    "columns": [
                        {
                            "title": "Delivery Executive", "data": "RequestDeliveryExecutive",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["RequestDeliveryExecutive"] == "" || row["RequestDeliveryExecutive"] == null ? "-" : row["RequestDeliveryExecutive"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Request Username", "data": "RequestUsername",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["RequestUsername"] == "" || row["RequestUsername"] == null ? "-" : row["RequestUsername"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Pincode", "data": "Pincode",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["Pincode"] == "" || row["Pincode"] == null ? "-" : row["Pincode"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "No Of FamilyMember", "data": "NoOfFamilyMember",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["NoOfFamilyMember"] == "" || row["NoOfFamilyMember"] == null ? "-" : row["NoOfFamilyMember"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Username", "data": "Username",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["Username"] == "" || row["Username"] == null ? "-" : row["Username"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "House / Flat / Block No.", "data": "HomeTown",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["HomeTown"] == "" || row["HomeTown"] == null ? "-" : row["HomeTown"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Country / State / City", "data": "Country",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `
                                            <div class="d-flex">
                                                <p class="mb-0">${row["Country"] == "" || row["Country"] == null ? "-" : row["Country"]}</p>,
                                                <p class="mb-0">${row["State"] == "" || row["State"] == null ? "-" : row["State"]}</p>,
                                                <p class="mb-0">${row["City"] == "" || row["City"] == null ? "-" : row["City"]}</p>
                                            </div>
                                `;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Area", "data": "Area",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["Area"] == "" || row["Area"] == null ? "-" : row["Area"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Created Date", "data": "CreatedDate",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["CreatedDateStr"] == "" || row["CreatedDateStr"] == null ? "-" : row["CreatedDateStr"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                        "buttons": [
                            //NULL
                        ],

                        // setup responsive extension: http://datatables.net/extensions/responsive/
                        responsive: true,

                        "lengthMenu": [
                            [5, 10, 15, 20, 1000],
                            [5, 10, 15, 20, 1000] // change per page values here
                        ],
                        // set the initial value

                        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable 
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#SurveyTable")) {
                        $('#SurveyTable').dataTable().fnDestroy();
                        $('#divSurveyTable').html('<table class="table table-striped border" width="100%" id="SurveyTable"></table>');
                    }
                    initTable1();
                }
            };
        }();

        //Data fillter function
        function SearchCriteria() {
            try {
                var param = {};
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }
    </script>
}
