﻿@{
    Layout = null;
}

@using ChaiNastaVendor.Pages;
@Html.AntiForgeryToken()

<!doctype html>
<html lang="en">


<!-- Mirrored from themesbrand.com/minia/layouts/auth-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 22 Jun 2022 16:37:08 GMT -->
<head>
    <meta charset="utf-8" />
    <title>GinnyBuddy | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    <link href="~/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/preloader.min.css" type="text/css" />
    <link href="~/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/toastr.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;0,900;1,200;1,300;1,400;1,600;1,800;1,900&display=swap" rel="stylesheet">

    <style>
        .error {
            color: red;
            font-size: 13px;
        }

        .spinner-border {
            display: inline-block;
            width: 1.3rem;
            height: 1.3rem;
            vertical-align: -0.125em;
            border: 0.2em solid currentColor;
            border-right-color: transparent;
            border-radius: 50%;
            -webkit-animation: .75s linear infinite spinner-border;
            animation: .75s linear infinite spinner-border;
        }

        .loader-btn {
            display: flex;
            align-content: center;
            justify-content: center;
        }
        .swal2-container .swal2-title {
            font-size: 16px !important;
            font-weight: 500;
        }
    </style>
</head>

<body>

    <!-- <body data-layout="horizontal"> -->
    <div class="auth-page">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-xxl-12 col-lg-12 col-md-12">
                    <div class="auth-full-page-content d-flex p-sm-5 p-4">
                        <div class="w-100">
                            <div class="d-flex flex-column h-100">
                                <div class="auth-content my-auto">
                                    <div class="text-center mb-3">
                                        <img src="~/assets/ChaiNastaLogo.jpeg" alt="Alternate Text" width="170" />
                                        <h5 class="mb-0 mt-2">Sign In to your Vendor account</h5>
                                    </div>
                                    <form action="" method="post" id="signinForm" novalidate="novalidate" class="mt-4 pt-2">
                                        <div class="mb-3">
                                            <label class="form-label mb-0">Phone Number</label>
                                            <input type="number" class="form-control" id="PhoneNumber" name="PhoneNumber" placeholder="Enter Phone Number">
                                        </div>
                                        <div class="mb-3">
                                            <button class="btn btn-primary w-100 waves-effect waves-light submit-button" type="submit" name="submit">Send OTP</button>
                                            <button class="btn btn-primary loader-btn w-100 waves-effect waves-light submit-button-loader" disabled type="submit" name="submit" style="display:none;">
                                                <div class="spinner-border text-light" role="status" style="margin-right:5px;">
                                                    <span class="sr-only">Loading...</span>
                                                </div> Sending OTP
                                            </button>
                                        </div>
                                    </form>
                                    <form id="otpForm" style="display:none;">
                                        <div class="row m-0">
                                            <div class="form-group p-0">
                                                <label class="mb-0">OTP</label>
                                                <input type="number" class="form-control" name="VendorOtp" id="VendorOtp" value="" />
                                            </div>
                                        </div>
                                        <div class="text-center mt-2" id="resendOtp">
                                            <p class="text-muted mb-0">
                                                <a href="javascript:void(0);" onclick="resendOtp();"
                                                   class="text-primary fw-semibold badge-soft-primary p-1" style="border-radius: 3px;float: right">Resend OTP ?</a>
                                            </p>
                                        </div>
                                        <div class="text-center mt-2" id="resendOtpLoader" style="display:none;">
                                            <p class="text-muted mb-0">
                                                <a class="text-primary fw-semibold p-1" style="border-radius: 3px;float: right">Resend OTP in <span id="countdowntimer"></span> Seconds</a>
                                            </p>
                                        </div>
                                        <div class="mt-2">
                                            <button type="submit" class="submit-button btn btn-primary w-md w-100 mt-2 align-items-center justify-content-center">
                                                <span class="d-flex align-items-center justify-content-center">Continue <i class="dripicons-arrow-thin-right fs-20 d-flex" style="margin-left: 10px;"></i></span>

                                            </button>
                                            <button class="btn btn-primary loader-btn w-100 waves-effect waves-light submit-button-loader" disabled type="submit" name="submit" style="display:none;">
                                                <div class="spinner-border text-light" role="status" style="margin-right:5px;">
                                                    <span class="sr-only">Loading...</span>
                                                </div> Continue
                                            </button>
                                        </div>
                                        <div class="text-center mt-2">
                                            <p class="text-muted mb-2"><a href="javascript:void(0)" onclick="CancelAction();" class="text-dark fw-semibold">Cancel</a></p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/assets/libs/feather-icons/feather.min.js"></script>
    <script src="~/assets/libs/pace-js/pace.min.js"></script>
    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/libs/jszip/jszip.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="~/assets/js/pages/datatables.init.js"></script>
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/assets/js/pages/datatables.init.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/libs/pristinejs/pristine.min.js"></script>
    <script src="~/assets/js/pages/form-validation.init.js"></script>
    <script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/assets/js/pages/sweetalert.init.js"></script>
    <script src="~/assets/Scripts/toastr.min.js"></script>
    <script src="~/assets/Scripts/ui-toastr.min.js"></script>
    <script src="~/assets/Scripts/common.js"></script>

    <script>
        var DeliveryExecutiveId = 0;
        var MobileNumber = 0;
        var downloadTimer = null;

        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        //getCookie
        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        $(document).ready(function ($) {

            $("#signinForm").validate({
                rules: {
                    PhoneNumber: {
                        required: true,
                        minlength: 10,
                        maxlength: 10
                    }
                },
                messages: {
                    PhoneNumber: {
                        required: "Please enter your mobile number",
                    }
                },
                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents('.form-group'));
                    }
                    else { // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    DeliveryExecutiveSendOtp();
                }
            });


            $("#otpForm").validate({
                rules: {
                    VendorOtp: {
                        required: true
                    }
                },
                messages: {
                    VendorOtp: {
                        required: "Please enter a OTP",
                    }
                },
                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents('.form-group'));
                    }
                    else { // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    VendorVerifyOtp();
                }

            });
        });

        function counter() {
            var timeleft = 30;
            document.getElementById("countdowntimer").textContent = timeleft;
             downloadTimer = setInterval(function () {
                timeleft--;
                document.getElementById("countdowntimer").textContent = timeleft;
                if (timeleft <= 0) {
                    $("#resendOtp").show();
                    $("#resendOtpLoader").hide();
                    clearInterval(downloadTimer);
                }
            }, 1000);
        }

        function resendOtp() {
            $("#resendOtpLoader").show();
            $("#resendOtp").hide();
            $("#countdowntimer").text('30');
            counter();
            //$("#PhoneNumber").val();
            DeliveryExecutiveSendOtp(1);
        }

        //DeliveryExecutive Send Otp
        function DeliveryExecutiveSendOtp(i) {
            if (i != 1) {
                $(".submit-button").hide();
                $(".submit-button-loader").show();
            }
             $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.SendOtp, Controllers.Authentication)',
                 data: ({
                     MobileNumber: $("#PhoneNumber").val(),
                     DeviceToken: "@ViewBag.DeviceTokenStr"
                 }),
                dataType: 'json',
                success: function (response) {
                    console.log('response', response);
                    if (response.Code == 200) {
                        MobileNumber = $("#PhoneNumber").val();
                        $("#otpForm").show();
                        $("#signinForm").hide();
                        if (i != 1) {
                            $("#resendOtp").show();
                            $("#resendOtpLoader").hide();
                        }
                    } else {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: response.Message,
                            showConfirmButton: false,
                            timer: 2000
                        });
                    }
                    $(".submit-button").show();
                    $(".submit-button-loader").hide();
                },
                 error: function (error) {
                     $(".submit-button").show();
                     $(".submit-button-loader").hide();
                }
            });
        }

        //Vendor Verify Otp
        function VendorVerifyOtp() {
            $(".submit-button").hide();
            $(".submit-button-loader").show();

             $.ajax({
                 type: "POST",
                 url: '@Url.Action(Actions.VerifyOtp, Controllers.Authentication)',
                 data: ({ Otp: $("#VendorOtp").val() }),
                 dataType: 'json',
                 success: function (response) {
                    console.log('response', response);
                     if (response.Code == 200) {
                         window.history.forward();
                         window.onload = function () {
                             window.history.forward();
                         };

                         window.onunload = function () {
                             null;
                         };
                         window.location.href = "/";
                     } else {
                         Swal.fire({
                             position: 'center',
                             icon: 'error',
                             title: response.Message,
                             showConfirmButton: false,
                             timer: 2000
                         });
                     }

                    $(".submit-button").show();
                    $(".submit-button-loader").hide();
                    $("#resendOtp").show();
                },
                 error: function (error) {
                     $(".submit-button").show();
                     $(".submit-button-loader").hide();
                }
            });
        }

        function CancelAction() {
            $("#PhoneNumber").val("");
            $("#otpForm").hide();
            $("#signinForm").show();
            clearInterval(downloadTimer);
        }

    </script>
</body>
</html>