﻿@using GinnyBuddyResponderApp.Pages;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Create Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        margin: 0;
        padding: 0;
    }

    .rate {
        float: left;
        height: 46px;
        padding: 0 10px;
    }

        .rate:not(:checked) > input {
            position: absolute;
            top: -9999px;
        }

        .rate:not(:checked) > label {
            float: right;
            width: 1em;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            font-size: 30px;
            color: #ccc;
        }

            .rate:not(:checked) > label:before {
                content: '★ ';
            }

        .rate > input:checked ~ label {
            color: #ffc700;
        }

        .rate:not(:checked) > label:hover,
        .rate:not(:checked) > label:hover ~ label {
            color: #deb217;
        }

        .rate > input:checked + label:hover,
        .rate > input:checked + label:hover ~ label,
        .rate > input:checked ~ label:hover,
        .rate > input:checked ~ label:hover ~ label,
        .rate > label:hover ~ input:checked ~ label {
            color: #c59b08;
        }
</style>
<link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
<header id="page-topbar">
    <div class="navbar-header app-header-area p-0">
        <div class="row m-0 w-100">
            <div class="col-lg-8 col-8 d-flex align-items-center">
                <a href="@Url.Action("RequestDetails","Request")?ri=@ViewBag.RequestId" class="d-flex align-items-center">
                    <div id="RequestsBack" class="line-height-0">
                        <i class="dripicons-arrow-thin-left d-flex fs-20 text-dark" style="margin-right: 7px;"></i>
                    </div>
                    <h5 class="mb-0 ml-2 header-title d-flex align-items-center">Feedback</h5>
                </a>
            </div>
        </div>
    </div>
</header>
<div class="main-content app-main-area mb-5">
    <div class="request-for p-3">
        <form id="submitFeedbackFormId">
            <div class="row">
                <img src="~/assets/images/Ginni_logo.svg" alt="Alternate Text" width="170" height="150" />
                <h6 class="text-center fw-900">We are committed to server you better !</h6>
            </div>
            <div class="p-3 br-15 card common-bx-shadow mt-2">
                @if (ViewBag.RequestId != 0)
                {
                    <div>
                        <h5 class="mb-0">Ratings</h5>
                        <div class="rate p-0">
                            <input type="radio" id="star5" name="rate" value="5" />
                            <label for="star5" title="text">5 stars</label>
                            <input type="radio" id="star4" name="rate" value="4" />
                            <label for="star4" title="text">4 stars</label>
                            <input type="radio" id="star3" name="rate" value="3" />
                            <label for="star3" title="text">3 stars</label>
                            <input type="radio" id="star2" name="rate" value="2" />
                            <label for="star2" title="text">2 stars</label>
                            <input type="radio" id="star1" name="rate" value="1" />
                            <label for="star1" title="text">1 star</label>
                        </div>
                    </div>
                    <span id="errorReason" style="font-size:13px;color:red;display:none">Please select the ratings</span>

                }
                <div class="mt-3">
                    <h5>Enter Feedback</h5>
                    <textarea class="mt-2 form-control" rows="7" id="DEFeedback" name="DEFeedback"></textarea>
                </div>
            </div>

            <div class="deliveredaddress-area" style="background-color: transparent !important;">
                <button type="submit" class="btn btn-primary w-md w-100 mt-2 submit-button ">
                    <span>Submit Feedback</span>
                    <i class="dripicons-arrow-thin-right fs-20 line-position" style="margin-left: 10px;"></i>
                </button>
                <button class="btn btn-primary loader-btn w-100 waves-effect waves-light submit-button-loader" disabled type="submit" name="submit" style="display:none;">
                    <div class="spinner-border text-light" role="status" style="margin-right:5px;">
                        <span class="sr-only">Loading...</span>
                    </div> Submiting Feedback
                </button>
            </div>
        </form>
    </div>
</div>

<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $("#submitFeedbackFormId").validate({
            rules: {
                //rate: {
                //    required: true
                //},
            },
            messages: {
                //rate: {
                //    required: "Please select the ratings",
                //},
            },
            errorPlacement: function (error, element) {
                //if (element.is(":radio")) {
                //    error.appendTo(element.parents('.form-group'));
                //}
                //else { // This is the default behavior
                //    error.insertAfter(element);
                //}
            },
            submitHandler: function (form) {
                createnewFeedback();
            }
        });
    });

    function createnewFeedback() {

        $("#errorReason").hide();
        if ($("input[name='rate']:checked").val() == "" || $("input[name='rate']:checked").val() == null
            || $("input[name='rate']:checked").val() == 0) {
            $("#errorReason").show();
            return;
        }

        $(".submit-button").hide();
        $(".submit-button-loader").show();

        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.CreateFeedbackData, Controllers.Request)',
            data: { description: $("#DEFeedback").val(), rating: $('input[name="rate"]:checked').val(), requestId: '@ViewBag.RequestId' },
            dataType: 'json',
            success: function (response) {
                if (response.Code == 200) {
                    window.location.href = "@Url.Action("RequestDetails","Request")?ri=@ViewBag.RequestId"
                } else {
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: response.Message,
                        showConfirmButton: false,
                        timer: 2000
                    });
                }
                $(".submit-button").show();
                $(".submit-button-loader").hide();
            },
            error: function (error) {
                $(".submit-button").show();
                $(".submit-button-loader").hide();
            }
        });
    }

</script>