﻿@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Rejected Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #map-canvas {
        height: 180px;
        width: 100%;
    }

    .generate-new {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .generate-new p {
            font-size: 16px;
            font-weight: 600;
            color: #000;
        }

        .generate-new span {
            font-size: 16px;
            font-weight: 600;
            color: #3ba3ff;
        }

    .request-card {
        background: #e6f2fe;
    }

    .generate-details {
        line-height: 1;
    }

        .generate-details p {
            font-size: 16px;
            color: #a1a9b1;
        }

        .generate-details span {
            font-size: 16px;
            font-weight: 600;
            color: #000;
        }
</style>
@*<header id="page-topbar">
    <div class="navbar-header app-header-area p-0">
        <div class="row m-0">
            <div class="col-lg-12 col-12">
                <a href="@Url.Action("Index","Dashboard")">
                    <h5 class="mb-0 ml-2 header-title d-flex align-items-center"><i class="dripicons-arrow-thin-left d-flex fs-20" style="margin-right: 7px;"></i>Rejected Request</h5>
                </a>
            </div>
        </div>
    </div>
</header>*@
<div class="main-content"  style="margin-top: 50px;">
    <div class="Address-list p-3">
        <div class="row m-0">
            <div class="col-lg-12 col-12 p-0 mb-5">
                @if (ViewBag.RequestsData.TotalRecords > 0)
                {
                    for (int i = 0; i < ViewBag.RequestsData.TotalRecords; i++)
                    {
                        <a href="@Url.Action("RequestDetails","Request")?ri=@ViewBag.RequestsData.Values[i].RequestId">
                            <div class="card request-card p-2 mb-2" style="box-shadow: 0px 0px 2px 0px #00000024; ">
                                <div class="generate-new">
                                    <span href="#">@ViewBag.RequestsData.Values[i].StatusName</span>
                                </div>
                                <div class="generate-details row m-0 mt-2">
                                    <div class="col-lg-6 col-6 p-0">
                                        <p class="mb-0" style="">Request Id</p>
                                        <span href="#">@ViewBag.RequestsData.Values[i].RequestId</span>
                                    </div>
                                    <div class="col-lg-6 col-6 p-0">
                                        <p class="mb-0" style="">Raised On</p>
                                        <span href="#">@ViewBag.RequestsData.Values[i].CreatedDateStr</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }
                }
                else
                {
                    <div class="card request-card p-3 text-center mb-1" style="box-shadow: 0px 0px 6px 0px #00000024;">
                        <h5 class="mb-0">No record found</h5>
                    </div>
                }
            </div>
        </div>
    </div>
</div>