﻿@using GinnyBuddyResponderApp.Pages;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Request Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #map-canvas {
        height: 180px;
        width: 100%;
    }

    .service-basic-details .details span {
        font-size: 15px !important;
    }

    .service-basic-details .details p {
        font-size: 15px !important;
    }

    .generate-new {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .generate-new p {
            font-size: 16px;
            font-weight: 600;
            color: #000;
        }

        .generate-new a {
            font-size: 16px;
            font-weight: 600;
            color: #3ba3ff;
        }

    .request-card {
        background: #e6f2fe;
    }

    .generate-details {
        line-height: 1;
    }

        .generate-details p {
            font-size: 16px;
            color: #a1a9b1;
        }

        .generate-details a {
            font-size: 16px;
            font-weight: 600;
            color: #000;
        }

    .lable-changeConfirm {
        cursor: pointer;
        font-size: 14px !important;
        color: #f17b35 !important;
        margin-right: 4px;
    }

    * {
        margin: 0;
        padding: 0;
    }

    .rate {
        float: left;
        height: 46px;
    }

        .rate:not(:checked) > input {
            position: absolute;
            top: -9999px;
        }

        .rate:not(:checked) > label {
            float: right;
            width: 1em;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            font-size: 25px;
            color: #ccc;
        }

            .rate:not(:checked) > label:before {
                content: '★ ';
            }

        .rate > input:checked ~ label {
            color: #ffc700;
        }

        .rate:not(:checked) > label:hover,
        .rate:not(:checked) > label:hover ~ label {
            color: #deb217;
        }

        .rate > input:checked + label:hover,
        .rate > input:checked + label:hover ~ label,
        .rate > input:checked ~ label:hover,
        .rate > input:checked ~ label:hover ~ label,
        .rate > label:hover ~ input:checked ~ label {
            color: #c59b08;
        }
</style>

<div class="main-content app-main-area" style="margin-bottom: 80px;">
    <div class="Address-list p-3">
        <div class="row m-0">
            <div class="col-lg-12 col-12 p-0">
                @if (ViewBag.RequestsIdData.Item != null)
                {
                    <div class="card common-bx-shadow p-2">
                        <div class="row d-flex">
                            <div class="col-lg-12 col-12 servicename d-flex align-items-center justify-content-between">
                                <span class="bg-soft-success text-success p-1 fs-16 mt-2">@ViewBag.RequestsIdData.Item.DeliveryExecutiveRequestStatusName</span>
                            </div>
                            @if (ViewBag.RequestsIdData.Item.StatusId == 4 && ViewBag.RequestsIdData.Item.DEFeedbackRettings == 0)
                            {
                                <div class="col-lg-6 col-6" style="background-color: transparent !important;">
                                    <button onclick="SubmitNewFeedback(@ViewBag.RequestsIdData.Item.Id);" class="btn btn-primary w-md w-100 mt-2 submit-button ">
                                        <span> Feedback</span>
                                        @*<i class="dripicons-arrow-thin-right fs-20 line-position"></i>*@
                                    </button>
                                    <button class="btn btn-primary loader-btn w-100 waves-effect waves-light submit-button-loader" disabled type="submit" name="submit" style="display:none;">
                                        <div class="spinner-border text-light" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </button>
                                </div>
                            }
                        </div>
                        @*@for (int i = 0; i < ViewBag.RequestsIdDocument.TotalRecords; i++)
                            {
                                <div class="mt-3 d-flex justify-content-center">
                                    <img class="w-60"
                                         src="@ViewBag.RequestsIdDocument.Values[i].DocumentURLStr"
                                         alt="images"
                                         style="border-radius: 8px;" />
                                </div>
                            }*@

                    <div class="service-basic-details mt-3 row m-0">
                        <div class="details col-lg-6 col-12 p-2 mb-1 card common-bx-shadow">
                            <div class="d-flex align-items-center">
                                <div style="margin-left:7px;">
                                    <span>Request Id</span>
                                    <p class="mb-0">@ViewBag.RequestsIdData.Item.Id</p>
                                </div>
                            </div>
                        </div>
                        <div class="details col-lg-6 col-12 p-2 mb-1 card common-bx-shadow">
                            <div class="d-flex align-items-center">
                                <div style="margin-left:7px;">
                                    <span>Raised On</span>
                                    <p class="mb-0">@ViewBag.RequestsIdData.Item.CreatedDateStr</p>
                                </div>
                            </div>
                        </div>
                        @if (ViewBag.RequestsIdData.Item.StatusId != 2 &&
                    (ViewBag.RequestsIdData.Item.DeliveryExecutiveId != null || ViewBag.RequestsIdData.Item.DeliveryExecutiveId != 0
                    && ViewBag.RequestsIdData.Item.StatusId != 6))
                        {
                            <div class="details col-lg-12 col-12 p-2 mb-1 card common-bx-shadow">
                                <div class="servicename d-flex align-items-center justify-content-between">
                                    <div class="align-items-center" style="margin-left:7px;">
                                        <span>Customer Details</span>
                                        @if (ViewBag.RequestsIdData.Item.UserName != null && ViewBag.RequestsIdData.Item.UserName != "")
                                        {
                                            <p class="mb-0">@ViewBag.RequestsIdData.Item.UserName</p>
                                        }
                                    </div>
                                    <p class="mt-1 mb-0 mr-1" style="float:right;">
                                        <a class="p-1 fs-16"
                                           href="tel:@ViewBag.RequestsIdData.Item.UserMobileNumber">
                                            <span style="color: #5156be !important;">
                                                <i class="bx bx-phone-call fs-18" style="position: relative; top: 2px;"></i>
                                            </span>
                                            Call
                                        </a>
                                    </p>
                                </div>
                            </div>
                        }
                        <div class="details col-lg-12 col-12 p-2 mb-1 card common-bx-shadow"
                             onclick="getCurrentLatLong(@ViewBag.RequestsIdData.Item.Latitude, @ViewBag.RequestsIdData.Item.Longitude);">
                            <div class="d-flex align-items-center">
                                <div style="margin-left:7px;">
                                    <p class="mb-0">
                                        @ViewBag.RequestsIdData.Item.AddressLine1,
                                        @ViewBag.RequestsIdData.Item.AddressPinCode
                                    </p>
                                </div>
                            </div>
                        </div>
                        @if (ViewBag.RequestsIdData.Item.AmountRequested != 0)
                        {
                            <div class="details col-lg-6 col-12 p-2 mb-1 card common-bx-shadow">
                                <div class="servicename d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div style="margin-left:7px;">
                                            <span>Product/Service Expense</span>
                                            <p class="mb-0">₹ @ViewBag.RequestsIdData.Item.AmountRequested</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="details col-lg-6 col-12 p-2 mb-1 card common-bx-shadow">
                            <div class="d-flex align-items-center">
                                <div style="margin-left:7px;">
                                    <span>Convenience Charge</span>
                                    @if (ViewBag.RequestsIdData.Item.IsConvenienceChargeFree == true)
                                    {
                                        <p class="mb-0">₹ <strike>@ViewBag.RequestsIdData.Item.ConvenienceCharge</strike> 0.00</p>
                                    }
                                    else
                                    {
                                        <p class="mb-0">₹ @ViewBag.RequestsIdData.Item.ConvenienceCharge</p>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="details col-lg-6 col-12 p-2 mb-1 card common-bx-shadow">
                            <div class="d-flex align-items-center">
                                <div style="margin-left:7px;">
                                    <span>Convenience Discount</span>

                                    <p class="mb-0">₹ @ViewBag.RequestsIdData.Item.ConvenienceDiscount</p>


                                </div>
                            </div>
                        </div>
                        @if (ViewBag.RequestsIdData.Item.TipAmount != 0)
                        {
                            <div class="details col-lg-6 col-12 p-2 mb-1 card common-bx-shadow">
                                <div class="servicename d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div style="margin-left:7px;">
                                            <span>Tip Amount</span>
                                            <p class="mb-0">₹ @ViewBag.RequestsIdData.Item.TipAmount</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="details col-lg-6 col-12 p-2 mb-1 card common-bx-shadow">
                            <div class="d-flex align-items-center">
                                <div style="margin-left:7px;">
                                    <span>Total Amount</span>
                                    <p class="mb-0">₹ @((ViewBag.RequestsIdData.Item.TipAmount != 0 ? ViewBag.RequestsIdData.Item.TipAmount : 0) + (ViewBag.RequestsIdData.Item.IsConvenienceChargeFree == false ? ViewBag.RequestsIdData.Item.ConvenienceCharge : 0) + (ViewBag.RequestsIdData.Item.AmountRequested) - (ViewBag.RequestsIdData.Item.ConvenienceDiscount != 0 ? ViewBag.RequestsIdData.Item.ConvenienceDiscount : 0))</p>
                                </div>
                            </div>
                        </div>
                        @if (ViewBag.RequestsIdData.Item.DEFeedbackDescription != null && ViewBag.RequestsIdData.Item.DEFeedbackDescription != "")
                        {

                            <div class="details col-lg-6 col-12 p-2 mb-1 card common-bx-shadow">
                                <div class="d-flex align-items-center">
                                    <div style="margin-left:7px;">
                                        <span>Feedback</span>
                                        <p class="mb-0">@ViewBag.RequestsIdData.Item.DEFeedbackDescription</p>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (ViewBag.RequestsIdData.Item.DEFeedbackRettings != null && ViewBag.RequestsIdData.Item.DEFeedbackRettings != 0)
                        {
                            <div class="details col-lg-6 col-12 p-2 mb-1 card common-bx-shadow">
                                <div class="d-flex align-items-center">
                                    <div style="margin-left:7px;">
                                        <span>Ratings</span>
                                        <p class="mb-0" id="FeedbackRettingsHTML">@ViewBag.RequestsIdData.Item.DEFeedbackRettings</p>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (ViewBag.RequestsIdData.Item.StatusId > 2 && ViewBag.RequestsIdData.Item.DeliveryExecutiveRequestStatusId != 6)
                        {
                            <div class="details col-lg-12 col-12 p-2 mb-1 card common-bx-shadow">
                                <div class="mt-1">
                                    <h6>Service Type</h6>
                                    <div class="w-100">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="1" name="ServiceType" onchange="IsShowShopInfo(false)" id="Service"
                                                   @(ViewBag.RequestsIdData.Item.Type != 2 ? "checked" : "") @(ViewBag.RequestsIdData.Item.StatusId == 11 || ViewBag.RequestsIdData.Item.StatusId == 12 || ViewBag.RequestsIdData.Item.StatusId == 13 || ViewBag.RequestsIdData.Item.StatusId == 14 || ViewBag.RequestsIdData.Item.StatusId == 4 ? "disabled" : "")>
                                            <label class="form-check-label" for="Service">
                                                Service
                                            </label>
                                        </div>
                                        <div class="form-check mt-1">
                                            <input class="form-check-input" type="radio" value="2" onchange="IsShowShopInfo(true)" name="ServiceType" id="Product"
                                                   @(ViewBag.RequestsIdData.Item.Type == 2 ? "checked" : "") @(ViewBag.RequestsIdData.Item.StatusId == 11 || ViewBag.RequestsIdData.Item.StatusId == 12 || ViewBag.RequestsIdData.Item.StatusId == 13 || ViewBag.RequestsIdData.Item.StatusId == 14 || ViewBag.RequestsIdData.Item.StatusId == 4 ? "disabled" : "")>
                                            <label class="form-check-label" for="Product">
                                                Product
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="details col-lg-12 col-12 p-2 mb-1 card common-bx-shadow">
                                <h6>Category</h6>
                                <div class="w-100">
                                    <select id="categoryId" class="form-control input-h-45" @(ViewBag.RequestsIdData.Item.StatusId == 11 || ViewBag.RequestsIdData.Item.StatusId == 12 || ViewBag.RequestsIdData.Item.StatusId == 13 || ViewBag.RequestsIdData.Item.StatusId == 14 || ViewBag.RequestsIdData.Item.StatusId == 4 ? "disabled" : "")>
                                        <option value="" @(ViewBag.RequestsIdData.Item.MasterCategoryId == 0 || ViewBag.RequestsIdData.Item.MasterCategoryId == null ? "selected" : "")> Please select the category </option>
                                        @for (int i = 0; i < ViewBag.MasterCategory.TotalRecords; i++)
                                        {
                                            <option value="@ViewBag.MasterCategory.Values[i].Id" @(ViewBag.MasterCategory.Values[i].Id == ViewBag.RequestsIdData.Item.MasterCategoryId ? "selected" : "")>
                                                @ViewBag.MasterCategory.Values[i].Name
                                            </option>
                                        }
                                    </select>
                                </div>
                            </div>

                            if (ViewBag.RequestsIdData.Item.StatusId == 3 && ViewBag.RequestsIdData.Item.DeliveryExecutiveRequestStatusId == 3)
                            {
                                <div class="col-12">
                                    <button type="button" onclick="updateServiceTypeRequest()"
                                            class="btn btn-primary w-md w-100 mt-2 submit-confirm">
                                        <i class="dripicons-checkmark fs-20 line-position"></i>
                                        <span style="margin-left: 25px; color: white;">Confirm Service</span>
                                    </button>
                                    <button class="btn btn-primary loader-btn w-100 mt-2 waves-effect waves-light submit-confirm-loader" disabled type="submit" name="submit" style="display:none;">
                                        <div class="d-flex justify-content-center">
                                            <div class="spinner-border text-light" role="status" style="margin-right:5px;">
                                                <span class="sr-only">Loading...</span>
                                            </div> Confirming Service
                                        </div>
                                    </button>
                                </div>
                                <div class="col-12">
                                    <button type="button"
                                            onclick="showconfirmReasonModal();"
                                            class="btn btn-danger w-md w-100 mt-2 submit-cancel">
                                        <i class="dripicons-cross fs-20 line-position"></i>
                                        <span style="margin-left: 25px; color: white;">Cancel Service</span>
                                    </button>
                                    <button class="btn btn-danger loader-btn w-100 mt-2 waves-effect waves-light submit-cancel-loader" disabled type="submit" name="submit" style="display:none;">
                                        <div class="d-flex justify-content-center">
                                            <div class="spinner-border text-light" role="status" style="margin-right:5px;">
                                                <span class="sr-only">Loading...</span>
                                            </div> Canceling Service
                                        </div>
                                    </button>
                                </div>
                            }
                        }

                        @if (ViewBag.RequestsIdData.Item.StatusId > 3 && ViewBag.RequestsIdData.Item.Type == 2)
                        {
                            <div class="details col-lg-12 col-12 p-2 mb-1 card common-bx-shadow" id="RBorder">
                                <form id="pickUpForm" enctype="multipart/form-data">
                                    <div class="shopInfo mt-1" id="ShopInfo" style=" @(ViewBag.RequestsIdData.Item.Type == 2 ? "" : "display:none;")">
                                        @if (ViewBag.RequestsIdData.Item.Type == 2 && (ViewBag.RequestsIdData.Item.StatusId == 12 || ViewBag.RequestsIdData.Item.StatusId == 15))
                                        {
                                            <h6>Request Amount</h6>
                                            <div class="form-group mb-2">
                                                <input type="number" class="form-control input-h-45" placeholder="Amount" name="Amount" id="Amount" value="@ViewBag.RequestsIdData.Item.AmountRequested" @(ViewBag.RequestsIdData.Item.StatusId == 11 || ViewBag.RequestsIdData.Item.StatusId == 12 || ViewBag.RequestsIdData.Item.StatusId == 13 || ViewBag.RequestsIdData.Item.StatusId == 14 || ViewBag.RequestsIdData.Item.StatusId == 4 ? "disabled" : "") />
                                                <span id="errorAmount" style="font-size:12px;color:red;display:none">please enter amount</span>
                                            </div>

                                        }
                                        @if (ViewBag.RequestsIdData.Item.StatusId != 15 && ViewBag.RequestsIdData.Item.StatusId != 12)
                                        {
                                            <h6 class=" mt-3">Shop Info</h6>
                                            <div class="form-group mb-2">
                                                <input type="text" class="form-control input-h-45" placeholder="Shop Name" name="ShopName" id="ShopName" value="@ViewBag.RequestsIdData.Item.ShopName" @(ViewBag.RequestsIdData.Item.StatusId == 11 || ViewBag.RequestsIdData.Item.StatusId == 12 || ViewBag.RequestsIdData.Item.StatusId == 13 || ViewBag.RequestsIdData.Item.StatusId == 4 ? "disabled" : "") />
                                            </div>
                                            <div class="form-group mb-2">
                                                <input type="text" class="form-control input-h-45" placeholder="Owner Name" id="OwnerName" name="OwnerName" value="@ViewBag.RequestsIdData.Item.OwnerName" @(ViewBag.RequestsIdData.Item.StatusId == 11 || ViewBag.RequestsIdData.Item.StatusId == 12 || ViewBag.RequestsIdData.Item.StatusId == 13 || ViewBag.RequestsIdData.Item.StatusId == 4 ? "disabled" : "") />
                                            </div>
                                            <div class="form-group mb-2">
                                                <input type="number" class="form-control input-h-45" placeholder="Contact Number" name="ContactNumber" id="ContactNumber" value="@ViewBag.RequestsIdData.Item.ContactNumber" @(ViewBag.RequestsIdData.Item.StatusId == 11 || ViewBag.RequestsIdData.Item.StatusId == 12 || ViewBag.RequestsIdData.Item.StatusId == 13 || ViewBag.RequestsIdData.Item.StatusId == 4 ? "disabled" : "") />
                                            </div>

                                            if ((ViewBag.RequestsIdData.Item.StatusId == 11 || ViewBag.RequestsIdData.Item.StatusId == 12 || ViewBag.RequestsIdData.Item.StatusId == 13 || ViewBag.RequestsIdData.Item.StatusId == 4))
                                            {
                                                <img src="@System.Configuration.ConfigurationManager.AppSettings["ClientURL"]@ViewBag.RequestsIdData.Item.PicUrl" style="width:100px;height:100px" />
                                            }
                                            else
                                            {
                                                <div class="form-group mb-2">
                                                    <input type="file" class="form-control" name="ShopInfoImage" id="ShopInfoImage" value="" @(ViewBag.RequestsIdData.Item.StatusId == 11 || ViewBag.RequestsIdData.Item.StatusId == 12 || ViewBag.RequestsIdData.Item.StatusId == 13 || ViewBag.RequestsIdData.Item.StatusId == 4 ? "disabled" : "") />
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div class="deliveredaddress-area mt-3" style="background-color: transparent !important;">
                                        <div class="row">

                                            @if (ViewBag.RequestsIdData.Item.Type == 2 && ViewBag.RequestsIdData.Item.StatusId == 15)
                                            {
                                                <div class="col-12">
                                                    <button type="button"
                                                            onclick="UpdateRequestStatus(12, 0, 1);"
                                                            class="btn btn-primary w-md w-100 mt-2 submit-confirm">
                                                        <i class="dripicons-checkmark fs-20 line-position"></i>
                                                        <span style="margin-left: 25px; color: white;">Confirm Amount</span>
                                                    </button>
                                                    <button class="btn btn-primary loader-btn w-100 mt-2 waves-effect waves-light submit-confirm-loader" disabled type="submit" name="submit" style="display:none;">
                                                        <div class="d-flex justify-content-center">
                                                            <div class="spinner-border text-light" role="status" style="margin-right:5px;">
                                                                <span class="sr-only">Loading...</span>
                                                            </div> Confirming Amount
                                                        </div>
                                                    </button>
                                                </div>
                                            }
                                            @if (ViewBag.RequestsIdData.Item.StatusId == 3 || ViewBag.RequestsIdData.Item.StatusId == 15)
                                            {
                                                <div class="col-12">
                                                    <button type="button"
                                                            onclick="showconfirmReasonModal();"
                                                            class="btn btn-danger w-md w-100 mt-2 submit-cancel">
                                                        <i class="dripicons-cross fs-20 line-position"></i>
                                                        <span style="margin-left: 25px; color: white;">Cancel Service</span>
                                                    </button>
                                                    <button class="btn btn-danger loader-btn w-100 mt-2 waves-effect waves-light submit-cancel-loader" disabled type="submit" name="submit" style="display:none;">
                                                        <div class="d-flex justify-content-center">
                                                            <div class="spinner-border text-light" role="status" style="margin-right:5px;">
                                                                <span class="sr-only">Loading...</span>
                                                            </div> Canceling Service
                                                        </div>
                                                    </button>
                                                </div>
                                            }
                                            @if (ViewBag.RequestsIdData.Item.StatusId == 14)
                                            {
                                                <div class="col-12" id="pickUp">
                                                    <button type="submit"
                                                            class="btn btn-primary w-md w-100 mt-2 submit-pickup">
                                                        <i class="dripicons-checkmark fs-20 line-position"></i>
                                                        <span style="margin-left: 25px; color: white;">Pickup Service</span>
                                                    </button>
                                                    <button class="btn btn-primary loader-btn w-100 mt-2 waves-effect waves-light submit-pickup-loader" disabled type="submit" name="submit" style="display:none;">
                                                        <div class="d-flex justify-content-center">
                                                            <div class="spinner-border text-light" role="status" style="margin-right:5px;">
                                                                <span class="sr-only">Loading...</span>
                                                            </div> Pickingup Service
                                                        </div>
                                                    </button>
                                                </div>

                                            }
                                            @*@if (ViewBag.RequestsIdData.Item.StatusId == 3)
                            {
                                <div class="col-12">
                                    <button type="button"
                                            onclick="showconfirmReasonModal();"
                                            class="btn btn-danger w-md w-100 mt-2">
                                        <i class="dripicons-cross fs-20 line-position"></i>
                                        <span style="margin-left: 25px; color: white;">Cancel Service</span>
                                    </button>
                                </div>
                            }*@
                                        </div>
                                    </div>
                                </form>
                            </div>
                        }
                        @if (ViewBag.RequestsIdData.Item.StatusId == 11)
                        {
                            <div class="mt-3">
                                <h6>Enter Otp</h6>
                                <div class="form-group mt-2">
                                    <input type="number" class="form-control input-h-45" name="completeOTP" id="completeOTP" placeholder="Enter OTP" value="" />
                                </div>
                            </div>

                            <div class="button-fixed">
                                <button type="button" class="btn btn-primary w-md w-100 mt-2 submit-complete" onclick="UpdateRequestStatus(4, 0, 2);">
                                    <i class="dripicons-checkmark fs-20 line-position"></i>
                                    <span style="margin-left: 25px;">Complete Service</span>
                                </button>
                                <button class="btn btn-primary loader-btn w-100 waves-effect waves-light submit-complete-loader" disabled type="submit" name="submit" style="display:none;">
                                    <div class="d-flex justify-content-center">
                                        <div class="spinner-border text-light" role="status" style="margin-right:5px;">
                                            <span class="sr-only">Loading...</span>
                                        </div> Completing Service
                                    </div>
                                </button>
                            </div>
                        }
                    </div>
                    </div>
                    if (ViewBag.RequestsIdData.Item.StatusId == 2 &&
                        ViewBag.RequestsIdData.Item.DeliveryExecutiveRequestStatusId == 2 &&
                        ViewBag.DeliveryExecutiveIdData.IsAvailable == 1)
                    {
                        <div class="deliveredaddress-area" style="background-color: transparent !important;">
                            <div class="row">
                                <div class="col-12">
                                    <button type="button"
                                            onclick="UpdateRequestStatus(3, 0, 0);"
                                            class="btn btn-primary w-md w-100 mt-2 submit-accept">
                                        <i class="dripicons-checkmark fs-20 line-position"></i>
                                        <span style="margin-left: 25px;">Accept Request</span>
                                    </button>
                                    <button class="btn btn-primary loader-btn w-100 waves-effect waves-light submit-accept-loader" disabled type="submit" name="submit" style="display:none;">
                                        <div class="d-flex justify-content-center">
                                            <div class="spinner-border text-light" role="status" style="margin-right:5px;">
                                                <span class="sr-only">Loading...</span>
                                            </div> Accepting Request
                                        </div>
                                    </button>
                                </div>
                                <div class="col-12">
                                    <button type="button"
                                            onclick="showconfirmReasonModal();"
                                            class="btn btn-danger w-md w-100 mt-2 submit-reject">
                                        <i class="dripicons-cross fs-20 line-position"></i>
                                        <span style="margin-left: 25px;">Reject Request</span>
                                    </button>
                                    <button class="btn btn-danger loader-btn w-100 mt-2 waves-effect waves-light submit-reject-loader" disabled type="submit" name="submit" style="display:none;">
                                        <div class="d-flex justify-content-center">
                                            <div class="spinner-border text-light" role="status" style="margin-right:5px;">
                                                <span class="sr-only">Loading...</span>
                                            </div> Rejecting Request
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="confirmReasonModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="address-select" id="">
                    <h6>Enter Reason</h6>
                    <div class="form-group mt-2">
                        <input type="text" class="form-control input-h-45" name="cancleReasonField" id="cancleReasonField" placeholder="Enter Reason" value="" />
                        <span id="errorReason" style="font-size:12px;color:red;display:none">Please enter reason</span>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="UpdateRequestStatus(6, 0, 0);">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if (@ViewBag.RequestsIdData.Item.DEFeedbackRettings > 0) {
            $("#FeedbackRettingsHTML").html("");
            var html = '';
            html = '<div class="rate">';
            for (var i = 0; i < @ViewBag.RequestsIdData.Item.DEFeedbackRettings; i++) {
                html += '<input type="checkbox" id="star" name="rate" disabled checked />';
                html += '<label for="star" title="text">5 stars</label>';
            }
            html += '</div>';
            $("#FeedbackRettingsHTML").html(html);
        }
    });

    $("#pickUpForm").validate({
        rules: {
            categoryId: {
                required: true
            },
            ShopName: {
                required: {
                    depends: function (element) {
                        if ($("input[name='ServiceType']:checked").val() == "2") {
                            return true;
                        } else {
                            return false;
                        }
                    }
                }
            },
            OwnerName: {
                required: {
                    depends: function (element) {
                        if ($("input[name='ServiceType']:checked").val() == "2") {
                            return true;
                        } else {
                            return false;
                        }
                    }
                }
            },
            ContactNumber: {
                required: {
                    depends: function (element) {
                        if ($("input[name='ServiceType']:checked").val() == "2" && $("#ContactNumber").val() != "" && $("#ContactNumber").val() != null) {
                            return true;
                        } else {
                            return false;
                        }
                    }
                },
                minlength: 10,
                maxlength: 10
            },
            ShopInfoImage: {
                required: {
                    depends: function (element) {
                        if ($("input[name='ServiceType']:checked").val() == "2") {
                            return true;
                        } else {
                            return false;
                        }
                    }
                }
            },
        },
        messages: {
            categoryId: {
                required: "Please select category",
            },
            ShopName: {
                required: "Please enter shop name",
            },
            OwnerName: {
                required: "Please enter owner name",
            },
            ContactNumber: {
                required: "Please enter contact number",
            },
            ShopInfoImage: {
                required: "Please select product image",
            },
        },
        errorPlacement: function (error, element) {
            if (element.is(":radio")) {
                error.appendTo(element.parents('.form-group'));
            }
            else {
                error.insertAfter(element);
            }
        },
        submitHandler: function (form) {
            submitPickUpForm();
        }
    });

    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    //getCookie
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function showconfirmReasonModal() {
        $("#confirmReasonModal").modal("show");
    }

    function submitPickUpForm() {
        $(".submit-pickup-loader").show();
        $(".submit-pickup").hide();
        if ($("input[name='ServiceType']:checked").val() == "2") {
            var formData = new FormData();
            var file = document.getElementById("ShopInfoImage").files[0];

            formData.append("Id", 0);
            formData.append("Name", $("#ShopName").val());
            formData.append("OwnerName", $("#OwnerName").val());
            if ($("#ContactNumber").val() != null && $("#ContactNumber").val() != "") {
                formData.append("ContactNumber", $("#ContactNumber").val());
            }
            formData.append("RequestId", @ViewBag.RequestsIdData.Item.Id);
            formData.append("uploadFile", document.getElementById("ShopInfoImage").files[0]);

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.SellerMasterUpsert, Controllers.Request)',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.Code == 200) {
                        updateRequestByDeliveryExecutive(response.Item.Id)
                    }
                },
                error: function (error) {
                    console.log('error', error);
                    $(".submit-pickup-loader").hide();
                    $(".submit-pickup").show();
                }
            })
        } else {
            updateRequestByDeliveryExecutive(0);
        }
    }

    var lat = "";
    var long = "";

    function updateRequestByDeliveryExecutive(Sid) {
        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(function (position) {
                CurrentLat = position.coords.latitude;
                CurrentLong = position.coords.longitude;
                lat = CurrentLat;
                long = CurrentLong;

                $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.updateRequestByDeliveryExecutive, Controllers.Request)',
                    data: {
                        Id: @ViewBag.RequestsIdData.Item.Id, UserId: @ViewBag.RequestsIdData.Item.UserId, MasterCategoryId: $("#categoryId").val(),
                        Type: $("input[name='ServiceType']:checked").val(), SellerMasterId: Sid, CurrentLat: lat, CurrentLong: long, DeliveryExecutiveId:@ViewBag.RequestsIdData.Item.DeliveryExecutiveId, AmountRequested: $("#Amount").val(), StatusId:11
                    },
                    dataType: 'json',
                    success: function (response) {
                        if (response.Code == 200) {
                            window.location.href = "@Url.Action(Actions.Index, Controllers.Dashboard)";
                        }
                        $(".submit-pickup-loader").hide();
                        $(".submit-pickup").show();
                    },
                    error: function (error) {
                        console.log('error', error);
                        $(".submit-pickup-loader").hide();
                        $(".submit-pickup").show();
                    }
                });
            });
        } else {
            console.log("Browser doesn't support geolocation!");
        }
    }


     function updateServiceTypeRequest() {
            $(".submit-confirm").hide();
            $(".submit-confirm-loader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.updateRequestByDeliveryExecutive, Controllers.Request)',
            data: {
                Id: @ViewBag.RequestsIdData.Item.Id, UserId: @ViewBag.RequestsIdData.Item.UserId, MasterCategoryId: $("#categoryId").val(),
                Type: $("input[name='ServiceType']:checked").val(), DeliveryExecutiveId:@ViewBag.RequestsIdData.Item.DeliveryExecutiveId,
                StatusId: $("input[name='ServiceType']:checked").val() == "1"? 11:15
            },
            dataType: 'json',
                success: function (response) {
                    if (response.Code == 200) {
                     window.location.href = "@Url.Action(Actions.Index, Controllers.Dashboard)";
                    @*if ($("input[name='ServiceType']:checked").val() == "1") {
                            window.location.href = "@Url.Action(Actions.Index, Controllers.Dashboard)";
                    }
                    else {
                        UpdateRequestStatus(15, 0, 0);
                    }*@
                }
                $(".submit-confirm").show();
                $(".submit-confirm-loader").hide();
            },
            error: function (error) {
                console.log('error', error);
                $(".submit-confirm").show();
                $(".submit-confirm-loader").hide();
            }
        });
     }


    function IsShowShopInfo(event) {
        if (event == false) {
            $("#ShopInfo").hide();
            $("#RBorder").css("border","none");
        } else if (event == true) {
            $("#ShopInfo").show();
            $("#RBorder").css("border", "1px solid #e9e9ef");
        }
    }

    //$('#Amount').on('input', function () {
    //    if ($("#Amount").val() > 0) {
    //        $("#pickUp").hide();
    //        $("#amountConfirm").show();
    //    } else {
    //        $("#pickUp").show();
    //        $("#amountConfirm").hide();
    //    }
    //});

    function UpdateRequestStatus(statusIds, amountGivento, requestedAmountfrom) {
        $("#confirmReasonModal").modal("hide");
        if (statusIds == 3) {
            $(".submit-accept-loader").show();
            $(".submit-accept").hide();
        } else if (statusIds == 6) {
            $(".submit-reject-loader").show();
            $(".submit-reject").hide();

            $(".submit-cancel-loader").show();
            $(".submit-cancel").hide();

        } else if (statusIds == 4) {
            $(".submit-complete-loader").show();
            $(".submit-complete").hide();
        } else if (statusIds == 12) {
            $(".submit-confirm-loader").show();
            $(".submit-confirm").hide();
        }

        var OTP = 0;
        if (requestedAmountfrom == 1) {
            requestedAmountfrom = $("#Amount").val();
        }
        if (requestedAmountfrom == 2) {
            OTP = $("#completeOTP").val();
        }

        $("#errorAmount").hide();
        if (statusIds == 12 && ($("#Amount").val() == "0.00" || $("#Amount").val() == "" || $("#Amount").val() == "0" || $("#Amount").val() == null)) {
            $(".submit-confirm-loader").hide();
            $(".submit-confirm").show();
            $("#errorAmount").show();
            return;
        }

        $("#errorReason").hide();
        if (statusIds == 6 && (($("#cancleReasonField").val() == "") || $("#cancleReasonField").val() == null)) {
            $(".submit-reject-loader").hide();
            $(".submit-reject").show();

            $(".submit-cancel-loader").hide();
            $(".submit-cancel").show();
            $("#errorReason").show();
            return;
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.UpdateRequest, Controllers.Request)',
            data: { reId: @ViewBag.RequestsIdData.Item.Id, statusId: statusIds, amountGiven: amountGivento, requestedAmount: requestedAmountfrom, otp: OTP, DECancleReason: $("#cancleReasonField").val() },
            dataType: 'json',
            success: function (response) {
                if (response != "") {
                    if (response.Code == 200) {
                        if (statusIds == 3 || statusIds == 11 || statusIds == 15) {
                            window.location.href = "@Url.Action(Actions.Index, Controllers.Dashboard)";
                        } else if (statusIds == 6) {
                            window.location.href = "@Url.Action(Actions.Rejected, Controllers.Request)";
                        } else if (statusIds == 12) {
                            window.location.href = "@Url.Action(Actions.Index, Controllers.Dashboard)";
                        } else if (statusIds == 4) {
                            window.location.href = "@Url.Action(Actions.Completed, Controllers.Request)";
                        }
                    } else {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: response.Message,
                            showConfirmButton: false,
                            timer: 2000
                        });
                    }
                } else {
                    var errMessage = '';

                    if (statusIds == 3) {
                        errMessage = 'Already accepted this request';
                    } else if (statusIds == 6) {
                        errMessage = 'Already cancelled this request';
                    } else if (statusIds == 12) {
                        errMessage = 'Already requested amount this request';
                    } else if (statusIds == 11) {
                        errMessage = 'Already picked up this request';
                    } else if (statusIds == 15) {
                        errMessage = 'Already good to go on this request';
                    } else if (statusIds == 4) {
                        errMessage = 'Already attended this request';
                    }

                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: errMessage,
                        showConfirmButton: false,
                        timer: 2000
                    });
                }
                if (statusIds == 3) {
                    $(".submit-accept-loader").hide();
                    $(".submit-accept").show();
                } else if (statusIds == 6) {
                    $(".submit-reject-loader").hide();
                    $(".submit-reject").show();

                    $(".submit-cancel-loader").hide();
                    $(".submit-cancel").show();
                } else if (statusIds == 4) {
                    $(".submit-complete-loader").hide();
                    $(".submit-complete").show();
                } else if (statusIds == 12) {
                    $(".submit-confirm-loader").hide();
                    $(".submit-confirm").show();
                }
            },
            error: function (error) {
                if (statusIds == 3) {
                    $(".submit-accept-loader").hide();
                    $(".submit-accept").show();
                } else if (statusIds == 6) {
                    $(".submit-reject-loader").hide();
                    $(".submit-reject").show();

                    $(".submit-cancel-loader").hide();
                    $(".submit-cancel").show();
                } else if (statusIds == 4) {
                    $(".submit-complete-loader").hide();
                    $(".submit-complete").show();
                } else if (statusIds == 12) {
                    $(".submit-confirm-loader").hide();
                    $(".submit-confirm").show();
                }
            }
        });
    }

    function SubmitNewFeedback(rId) {
        window.location.href = "@Url.Action(Actions.Feedback, Controllers.Request)?rId=" + rId;
    }

    function getCurrentLatLong(lat, long) {
        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(function (position) {
                CurrentLat = position.coords.latitude;
                CurrentLong = position.coords.longitude;
                window.open("https://www.google.com/maps/dir/" + CurrentLat + "," + CurrentLong + "/" + lat + "," + long);
            });
        } else {
            console.log("Browser doesn't support geolocation!");
        }
    }

</script>
