﻿@using AAH.Common;
@using GinnyBuddyApp.Pages;
@using System.Web.Optimization;
@using GinnyBuddyApp.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Create Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
<style>
    .dropzone-custome {
        border: 2px dashed #ced4da;
        border-radius: 6px;
    }

    .image-files {
        position: absolute;
        z-index: 9;
        opacity: 0;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 0 auto;
    }

    .drop-show-img img {
        width: 25%;
    }

    #handlesRecording:checked ~ .handles-recording-action i {
        background: #5156be40;
        display: flex;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        border: 1px solid #5156be;
    }

    .audio-record .modal-dialog {
        position: fixed;
        bottom: 0;
        height: auto;
    }

    .recording-button {
        border-radius: 50px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .addressCSS {
        line-height: 1.4;
        padding-top: 2px;
        display: block;
        height: 17px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }
</style>
<header id="page-topbar">
    <div class="navbar-header app-header-area p-0">
        <div class="row m-0 w-100">
            <div class="col-lg-8 col-8 d-flex align-items-center">
                <a href="@Url.Action("Index","Dashboard")" class="d-flex align-items-center">
                    <div id="CreateRequestBack" class="line-height-0">
                        <i class="dripicons-arrow-thin-left d-flex fs-20 text-dark" style="margin-right: 7px;"></i>
                    </div>
                    <h5 class="mb-0 ml-2 header-title d-flex align-items-center">New Request</h5>
                </a>
            </div>
        </div>
    </div>
</header>
<div class="main-content app-main-area" id="hideMainArea">
    <div class="request-for p-3">

        <form>
            <div class="row">
                <img src="~/assets/images/Ginni_logo.svg" alt="Alternate Text" width="170" height="140" />
                <h6 class="text-center">We are here for your service !</h6>
            </div>
            <div class="mt-4 mb-4">
                <h5>Enter Details<span class="fs-12">&nbsp;(optional)</span></h5>
                <textarea class="mt-2 form-control" rows="4" id="UserDescription" name="UserDescription">@ViewBag.SelectedService</textarea>
            </div>
            <div class="mt-4 mb-4">
                <div class="dropzone-custome p-3 text-center" id="UploadImage" style="position:relative;height:130px;">
                    <label for="documentUpload" class="mb-0">
                        <input name="file" type="file" id="documentUpload" class="mt-2 image-files">
                        <span class="dz-message needsclick m-0">
                            <button type="button" class="btn btn-primary waves-effect waves-light">
                                <i class="bx bx-cloud-upload font-size-20 align-middle me-2"></i> Upload File
                            </button>
                            <h5 class="fs-14 mt-2 mb-0">Select image or document</h5>
                        </span>
                    </label>
                </div>
                <div class="dropzone-custome drop-show-img p-2 text-center" id="ShowImage" style="position:relative;display:none;">
                    <img id="imagePreview" src="" />
                    <i class="dripicons-cross fs-20 text-danger" onclick="ClearPreviewData();" style="cursor:pointer; position: absolute; right: 10px; top: 40%;"></i>
                </div>
            </div>
            <div class="mt-4 mb-4">
                <h6 style="line-height: 25px; text-align: center;">Be relaxed, once you submit the request our GinnyBuddy executive shall connect with you in few minutes.</h6>
            </div>
            <br><br><br><br><br>
            <div class="deliveredaddress-area">
                <div class="row m-0 align-items-center">
                    <div class="col-lg-8 col-9 p-0">
                        <div class="address-details" id="selectedAddress">

                        </div>
                    </div>
                    <div id="NoAddrressFound" class="col-lg-4 col-3 p-0" style="text-align: end;">
                        <span class="changeaddress-label" onclick="chooseAddress();" style="cursor:pointer;">CHANGE</span>
                    </div>
                    <div id="AddrressFound" class="col-lg-4 col-3 p-0" style="text-align: end;">
                        <span class="changeaddress-label" onclick="chooseAddAddress();" style="cursor:pointer;">ADD</span>
                    </div>
                </div>

                <button id="comingSoonId" type="button" class="btn btn-primary w-md w-100 mt-2 submit-button ">
                    <span>Coming Soon</span>
                </button>
                <button id="submitRequestId" type="button" onclick="createNewrequest();" class="btn btn-primary w-md w-100 mt-2">
                    <span>Submit Request</span>
                    <i class="dripicons-arrow-thin-right fs-20 line-position" style="margin-left: 10px;"></i>
                </button>
            </div>
        </form>
    </div>
</div>

@*modal*@
<div class="modal fade" id="chooseAddress" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Choose Location</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="address-select" id="ChooseAdddressMaster">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                <a href="@Url.Action("Index","CreateAddress")"><button type="button" class="btn btn-primary">Add New</button></a>
            </div>
        </div>
    </div>
</div>

@*Confirmation alert*@
<div class="modal fade" id="confirmRequestCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="address-select text-center" id="ChooseAdddressMaster">

                    <h6>We are ready to server you !</h6>
                    <p class="fs-12">
                        Just confirm and relax our executive shall contact you.
                    </p>

                    @if (ViewBag.DCount == null)
                    {
                        <h5 class="mb-3 text-success">
                            Our executives are near you.
                        </h5>
                    }
                    else if (ViewBag.DCount.TotalRecords == 0)
                    {
                        <h5 class="mb-3 text-success">
                            Our executives are near you.
                        </h5>
                    }
                    else
                    {
                        <h5 class="mb-3 text-success">
                            @ViewBag.DCount.TotalRecords executives are near you.
                        </h5>
                    }
                    <div>
                        <button type="button" class="btn btn-light cancle-button" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary submit-button" onclick="ConfirmCreateNewrequest()">Proceed</button>
                        <button class="btn btn-primary loader-btn w-100 waves-effect waves-light submit-button-loader" disabled type="button" name="button" style="display:none;">
                            <div class="spinner-border text-light" role="status" style="margin-right:5px;">
                                <span class="sr-only">Loading...</span>
                            </div> Proceeding Request
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/dropzone/min/dropzone.min.js"></script>
<script>
    //setCookie
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    //recordingModal
    //function recordingModal() {
    //    $("#toggle").show();
    //    $("#recordAudio").hide();
    //    $("#startRecording").modal('show');
    //}

    //resetRecording
    //function resetRecording() {
    //    $("#recordAudio").attr("src", "");
    //    $("#toggle").show();
    //    $("#recordAudio").hide();
    //}

    //audioConfirm
    //function audioConfirm() {
    //    $("#recordAudioDiv").hide();
    //    $("#showAudioDiv").show();
    //    $("#startRecording").modal('hide');
    //}

    //createNewrecording
    //function createNewrecording() {
    //    $("#recordAudioDiv").show();
    //    $("#showAudioDiv").hide();
    //}

    /*Image upload preview*/
    $(function () {
        $("#documentUpload").on("change", function () {
            var files = !!this.files ? this.files : [];
            if (!files.length || !window.FileReader) return;

            if (/^image/.test(files[0].type)) {
                var reader = new FileReader();
                reader.readAsDataURL(files[0]);

                reader.onloadend = function () {
                    $('#imagePreview').attr('src', this.result);
                    $("#UploadImage").hide();
                    $("#ShowImage").show();
                }
            }
        });
    });

    function ClearPreviewData() {
        $("#UploadImage").show();
        $("#documentUpload").val("");
        $("#ShowImage").hide();
    }

    $(document).ready(function () {
        $("#globalLoader").show();
        //$("#globalLoader").css('overflow', 'hidden');
        $("body").css('overflow','hidden');

        var VarNoRequestFound = 0;
        $("#submitRequestId").show();
        $("#comingSoonId").hide();
        $("#NoAddrressFound").hide();
        $("#AddrressFound").hide();
        GetAddressMaster();
        selectedAddressdata();

        setTimeout(
            function() {
                $("#globalLoader").hide();
                //$("#globalLoader").css('overflow', 'inherit');
                $("body").css('overflow', 'inherit');
            }
        , 2000);
    });

    function chooseAddress() {
        $("#chooseAddress").modal('show');
    }

    function chooseAddAddress() {
        window.location.href = 'CreateAddress/Index'
    }

    function GetAddressMaster() {

        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.GetDataAddress, Controllers.CreateRequest)',
            dataType: 'json',
            success: function (response) {
                console.log('response', response);
                for (var i = 0; i < response.Values.length; i++) {
                    $("#ChooseAdddressMaster").append(`
                        <div class="address-card w-100 mb-1">
                        <input type="radio" onchange="ChooseAddressData(${response.Values[i].Id});" class="d-none choose-address" id="chooseaddress_${i}" name="chooseaddress" ${response.Values[i].IsSelected == true ? "checked" : ""}>
                            <label class="address-label mb-0 p-2" for="chooseaddress_${i}">
                                <p class="mb-0 choose-address">
                                    <b>${response.Values[i].AddressTypeName}</b> <br>
                                    <span>
                                        ${response.Values[i].AddressLine1 == "" || response.Values[i].AddressLine1 == null ? "-" : response.Values[i].AddressLine1},
                                        ${response.Values[i].AddressLine2 == "" || response.Values[i].AddressLine2 == null ? "" : response.Values[i].AddressLine2}
                                        ${response.Values[i].PinCode == "" || response.Values[i].PinCode == null ? "-" : response.Values[i].PinCode}
                                    </span>
                                </p>
                                <i class="dripicons-checkmark fs-20"></i>
                            </label>
                        </div>
                    `);
                }
            },
            error: function (error) {
            }
        });
    }

    function ChooseAddressData(DataId) {
        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.ChooseAddressAdd, Controllers.CreateRequest)',
            data: ({ AddressId: DataId}),
            dataType: 'json',
            success: function (response) {
                $("#chooseAddress").modal('hide');
                selectedAddressdata();
            },
            error: function (error) {

            }
        });
    }

    function selectedAddressdata() {
        $("#selectedAddress").html("");
        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.ChooseAddressData, Controllers.CreateRequest)',
            dataType: 'json',
            success: function (response) {
                console.log('response', response);
                if (response.Values.length > 0) {
                    VarNoRequestFound = response.Values.length;
                    $("#NoAddrressFound").show();
                    $("#AddrressFound").hide();
                    for (var i = 0; i < response.Values.length; i++) {
                        if (response.Values[i].AreaMasterId != 0) {
                            $("#submitRequestId").show();
                            $("#comingSoonId").hide();
                        } else {
                            $("#submitRequestId").hide();
                            $("#comingSoonId").show();
                        }
                        $("#selectedAddress").append(`
                        <h6 class="mb-0">${response.Values[i].LocationName}</h6>
                        <span class="mb-0 addressCSS">${response.Values[i].AddressLine1}, ${response.Values[i].PinCode}</span>
                    `);
                    }
                } else {
                    VarNoRequestFound = 0;
                    $("#NoAddrressFound").hide();
                    $("#AddrressFound").show();
                    $("#selectedAddress").append(`
                        <p class="mb-0">No Address Found</p>
                    `);
                }

            },
            error: function (error) {

            }
        });
    }


    var selectPayTypeId = 0;
    function selectPayType(DataId) {
        selectPayTypeId = DataId;
    }

    function createNewrequest() {
        if (VarNoRequestFound == 0) {
            window.location.href = "@Url.Action("Index", "CreateAddress")";
        } else {
            $("#confirmRequestCreate").modal("show");
        }
    }

    function ConfirmCreateNewrequest() {
        if (VarNoRequestFound > 0) {
            $(".submit-button").hide();
            $(".cancle-button").hide();
            $(".submit-button-loader").show();

            var formData = new FormData();
            var ImageUrl = document.getElementById("documentUpload").files[0];
            //var recordAudioUrl = document.getElementById("recordAudio").files[0];
            formData.append("UserDescription", $("#UserDescription").val());
            formData.append("ServiceMasterId", @ViewBag.ServiceType);
            //formData.append("PayType", selectPayTypeId);
            formData.append("Files", ImageUrl);
            //formData.append("Files", recordAudioUrl);

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.CreateRequestData, Controllers.CreateRequest)',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    console.log('response', response);
                    if (response.Code == 200) {
                        /*setTimeout(function () {*/
                            window.location.href = "@Url.Action("RequestDetails", "CreateRequest")?ri=" + response.Item.Id;
                         /*}, 2000);*/
                    } else {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: response.Message,
                            showConfirmButton: false,
                            timer: 2000
                        });
                    }
                    $(".submit-button").show();
                    $(".cancle-button").show();
                    $(".submit-button-loader").hide();
                },
                error: function (error) {
                    $(".submit-button").show();
                    $(".cancle-button").show();
                    $(".submit-button-loader").hide();
                }
            });
        }
    }

</script>