﻿@using AAH.Common;
@using GinnyBuddyApp.Pages;
@using System.Web.Optimization;
@using GinnyBuddyApp.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .nav-tabs-custom .nav-item .nav-link::after{
        height:2px !important;
    }
    .nav-tabs-custom {
        border-bottom: 1px solid #dddcdc;
    }
</style>
<header id="page-topbar">
    <div class="navbar-header app-header-area p-0">
        <div class="row m-0">
            <div class="col-lg-12 col-12">
                <a href="@Url.Action("Index","Dashboard")" class="d-flex align-items-center">
                    <div id="RequestsBack" class="line-height-0">
                        <i class="dripicons-arrow-thin-left d-flex fs-20 text-dark" style="margin-right: 7px;"></i>
                    </div>
                    <h5 class="mb-0 ml-2 header-title d-flex align-items-center">My Requests</h5>
                </a>
                @*<div id="information"></div>*@
            </div>
        </div>
    </div>
</header>
<div class="main-content app-main-area mb-5">
    <div class="Address-list p-3 pt-0">
        <div class="row m-0">
            <div class="col-lg-12 col-12 p-0">
                <ul class="nav nav-tabs nav-tabs-custom nav-justified mb-2" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" style="background: transparent;" data-bs-toggle="tab" href="#TodayRequest" role="tab" aria-selected="true">
                            <span style="font-weight:600;">Today</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="background: transparent;" data-bs-toggle="tab" href="#OldRequest" role="tab" aria-selected="false">
                            <span style="font-weight:600;">Old</span>
                        </a>
                    </li>
                </ul>

                <div class="tab-content text-muted">
                    <div class="tab-pane active" id="TodayRequest" role="tabpanel">
                        @if (ViewBag.RequestsDataToday.TotalRecords > 0)
                        {
                            for (int i = 0; i < ViewBag.RequestsDataToday.TotalRecords; i++)
                            {
                                <a href="@Url.Action("RequestDetails","CreateRequest")?ri=@ViewBag.RequestsDataToday.Values[i].Id">
                                    <div class="card request-card p-2 mb-2 bg-white is-loading" style="border-radius:10px; box-shadow: 0px 0px 14px 0px #00000024; ">
                                        <div class="generate-new d-block">
                                            <div style="float:left">
                                                <span class="badge bg-soft-success text-success">@ViewBag.RequestsDataToday.Values[i].StatusName</span>
                                            </div>
                                            @if (@ViewBag.RequestsDataToday.Values[i].OTP != null && @ViewBag.RequestsDataToday.Values[i].OTP > 0 && @ViewBag.RequestsDataToday.Values[i].StatusId != 4)
                                            {
                                                <span style="float:right" class="badge bg-soft-warning text-black">@ViewBag.RequestsDataToday.Values[i].OTP</span><span style="float:right">OTP :</span>
                                            }
                                        </div>
                                        <div class="generate-details row m-0 mt-3">
                                            <div class="col-lg-6 col-6 p-0">
                                                <p class="mb-0" style="">Request Id</p>
                                                <span href="#">@ViewBag.RequestsDataToday.Values[i].Id</span>
                                            </div>
                                            <div class="col-lg-6 col-6 p-0">
                                                <p class="mb-0" style="">Raised On</p>
                                                <span href="#">@ViewBag.RequestsDataToday.Values[i].CreatedDateStr</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                        else
                        {
                            <div class="card request-card p-3 text-center mb-1" style="box-shadow: 0px 0px 6px 0px #00000024;">
                                <h5 class="mb-0">No record found</h5>
                            </div>
                        }
                    </div>
                    <div class="tab-pane" id="OldRequest" role="tabpanel">
                        @if (ViewBag.RequestsDataOld.TotalRecords > 0)
                        {
                            for (int i = 0; i < ViewBag.RequestsDataOld.TotalRecords; i++)
                            {
                                <a href="@Url.Action("RequestDetails","CreateRequest")?ri=@ViewBag.RequestsDataOld.Values[i].Id">
                                    <div class="card request-card p-2 mb-2 bg-white is-loading" style="border-radius:10px; box-shadow: 0px 0px 14px 0px #00000024; ">
                                        <div class="generate-new d-block">
                                            <div style="float:left">
                                                <span class="badge bg-soft-success text-success">@ViewBag.RequestsDataOld.Values[i].StatusName</span>
                                            </div>
                                            @if (@ViewBag.RequestsDataOld.Values[i].OTP != null && @ViewBag.RequestsDataOld.Values[i].OTP > 0 && @ViewBag.RequestsDataOld.Values[i].StatusId != 4)
                                            {
                                                <span style="float:right" class="badge bg-soft-warning text-black">@ViewBag.RequestsDataOld.Values[i].OTP</span><span style="float:right">OTP :</span>
                                            }
                                        </div>
                                        <div class="generate-details row m-0 mt-3">
                                            <div class="col-lg-6 col-6 p-0">
                                                <p class="mb-0" style="">Request Id</p>
                                                <span href="#">@ViewBag.RequestsDataOld.Values[i].Id</span>
                                            </div>
                                            <div class="col-lg-6 col-6 p-0">
                                                <p class="mb-0" style="">Raised On</p>
                                                <span href="#">@ViewBag.RequestsDataOld.Values[i].CreatedDateStr</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                        else
                        {
                            <div class="card request-card p-3 text-center mb-1" style="box-shadow: 0px 0px 6px 0px #00000024;">
                                <h5 class="mb-0">No record found</h5>
                            </div>
                        }
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    @*Bottom Bar Render*@
    @RenderPage("~/Views/BottomBar/Index.cshtml")

</div>

<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>