﻿@using AAH.Common;
@using GinnyBuddyApp.Pages;
@using System.Web.Optimization;
@using GinnyBuddyApp.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Request Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #map-canvas {
        height: 180px;
        width: 100%;
    }

    .service-basic-details .details span {
        font-size: 13px !important;
    }

    .service-basic-details .details p {
        font-size: 13px !important;
    }

    #map {
        height: 534px;
        width: 100%;
    }

    .generate-new {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .generate-new p {
            font-size: 12px;
            font-weight: 600;
            color: #000;
        }

        .generate-new a {
            font-size: 11px;
            font-weight: 600;
            color: #3ba3ff;
        }

    .request-card {
        background: #e6f2fe;
    }

    .generate-details {
        line-height: 1;
    }

        .generate-details p {
            font-size: 11px;
            color: #a1a9b1;
        }

        .generate-details a {
            font-size: 11px;
            font-weight: 600;
            color: #000;
        }

    .lable-changeConfirm {
        cursor: pointer;
        font-size: 14px !important;
        color: #f17b35 !important;
        margin-right: 4px;
    }

    * {
        margin: 0;
        padding: 0;
    }

    .rate {
        float: left;
        height: 46px;
    }

        .rate:not(:checked) > input {
            position: absolute;
            top: -9999px;
        }

        .rate:not(:checked) > label {
            float: right;
            width: 1em;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            font-size: 25px;
            color: #ccc;
        }

            .rate:not(:checked) > label:before {
                content: '★ ';
            }

        .rate > input:checked ~ label {
            color: #ffc700;
        }

        .rate:not(:checked) > label:hover,
        .rate:not(:checked) > label:hover ~ label {
            color: #deb217;
        }

        .rate > input:checked + label:hover,
        .rate > input:checked + label:hover ~ label,
        .rate > input:checked ~ label:hover,
        .rate > input:checked ~ label:hover ~ label,
        .rate > label:hover ~ input:checked ~ label {
            color: #c59b08;
        }
</style>
<header id="page-topbar">
    <div class="navbar-header app-header-area p-0">
        <div class="row m-0">
            <div class="col-lg-12 col-12">
                <a href="@Url.Action("ManageRequest","CreateRequest")" class="d-flex align-items-center">
                    <div id="RequestsDetailsBack" class="line-height-0">
                        <i class="dripicons-arrow-thin-left d-flex fs-20 text-dark" style="margin-right: 7px;"></i>
                    </div>
                    <h5 class="mb-0 ml-2 header-title d-flex align-items-center">My Requests Details</h5>
                </a>
                @*<div id="information"></div>*@
            </div>
        </div>
    </div>
</header>
<div class="main-content app-main-area mb-5">
    <div class="Address-list p-3">
        <div class="row m-0">
            <div class="col-lg-12 col-12 p-0">
                @if (ViewBag.RequestsIdData.Item != null)
                {
                <div class="card is-loading common-bx-shadow p-2 mb-1 br-15">
                    @*is-loading*@
                    <div class="servicename d-flex align-items-center justify-content-between">
                        <span class="badge bg-soft-success text-success p-1 fs-16 mt-2">@ViewBag.RequestsIdData.Item.StatusName</span>
                    </div>
                    @*<audio class="w-100 mt-2" controls> </audio>*@
                    @for (int i = 0; i < ViewBag.RequestsIdDocument.TotalRecords; i++)
                    {
                        <div class="mt-3 d-flex justify-content-center">
                            <img class="w-60"
                                 src="@ViewBag.RequestsIdDocument.Values[i].DocumentURLStr"
                                 alt="images"
                                 style="border-radius: 8px;" />
                        </div>
                    }

                <div class="service-basic-details mt-3 m-0">
                    <div class="generate-details row m-0 mt-3 mb-2 align-items-center">
                        <div class="col-lg-2 col-2 p-0">
                            <div class="d-flex align-items-center">
                                <p class="mb-0" style=""><i class="bx bx-hash fs-17"></i></p>
                                <span href="#" style=" margin-left: 3px; font-size: 14px;">@ViewBag.RequestsIdData.Item.Id</span>
                            </div>
                        </div>
                    </div>
                    <div class="generate-details row m-0 mt-3 mb-2 align-items-center">
                        <div class="col-lg-6 col-6 p-0">
                            <div class="d-flex align-items-center">
                                <p class="mb-0" style=""><i class="bx bx-calendar-event fs-20"></i></p>
                                <span href="#" style=" margin-left: 3px;">@ViewBag.RequestsIdData.Item.CDate</span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-6 p-0">
                            <div class="d-flex align-items-center">
                                <p class="mb-0" style=""><i class="bx bx-time fs-20"></i></p>
                                <span href="#" style=" margin-left: 3px;">@ViewBag.RequestsIdData.Item.CTime</span>
                            </div>
                        </div>
                    </div>

                    @if (ViewBag.RequestsIdData.Item.DeliveryExecutiveMobileNumber != null && ViewBag.RequestsIdData.Item.DeliveryExecutiveMobileNumber != "")
                    {
                        <div class="details col-lg-12 col-12 p-2 mb-1 card common-bx-shadow">
                            <div class="servicename d-flex align-items-center justify-content-between">
                                <div class="align-items-center" style="margin-left:7px;">
                                    <span>Assigned Person</span>
                                    @if (ViewBag.RequestsIdData.Item.DeliveryExecutiveName != null && ViewBag.RequestsIdData.Item.DeliveryExecutiveName != "")
                                    {
                                        <p class="mb-0">@ViewBag.RequestsIdData.Item.DeliveryExecutiveName</p>
                                    }
                                </div>
                                <p class="mt-1 mb-0 mr-1" style="float:right;">
                                    <a class="p-1 fs-16"
                                       href="tel:@ViewBag.RequestsIdData.Item.DeliveryExecutiveMobileNumber">
                                        <span style="color: #5156be !important;">
                                            <i class="bx bx-phone-call fs-18" style="position: relative; top: 2px;"></i>
                                        </span>
                                        Call
                                    </a>
                                </p>
                            </div>
                        </div>
                    }

                    <div class="details col-lg-12 col-12 p-2 mb-1 card common-bx-shadow">
                        <div class="d-flex align-items-center">
                            <div style="margin-left:7px;">
                                <span>Delivery Address</span>
                                <p class="mb-0">
                                    @ViewBag.RequestsIdData.Item.AddressLine1,
                                    @ViewBag.RequestsIdData.Item.AddressPinCode
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="details col-lg-6 col-12 p-2 mb-1 card common-bx-shadow">
                        <div class="servicename d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <div style="margin-left:7px;">
                                    <span>Product/Service Expense</span>
                                    @if (ViewBag.RequestsIdData.Item.AmountRequested == 0)
                                    {
                                        <p class="mb-0">Not Needed Yet !</p>
                                    }
                                    else
                                    {
                                        <p class="mb-0">₹ @ViewBag.RequestsIdData.Item.AmountRequested</p>
                                    }
                                </div>
                            </div>
                            @if (ViewBag.RequestsIdData.Item.AmountRequested != 0)
                            {
                                if (ViewBag.RequestsIdData.Item.IsConfirmed == true)
                                {
                                    <span class="lable-changeConfirm">Confirmed <i class="dripicons-checkmark"></i></span>
                                }
                                else
                                {
                                    <span class="lable-changeConfirm" onclick="updateConfirmRequest(@ViewBag.RequestsIdData.Item.Id);">Confirm</span>
                                }
                            }
                        </div>
                    </div>
                    <div class="details col-lg-6 col-12 p-2 mb-1 card common-bx-shadow">
                        <div class="d-flex align-items-center">
                            <div style="margin-left:7px;">
                                <span>Convenience Charge</span>
                                @if (ViewBag.RequestsIdData.Item.IsConvenienceChargeFree == true)
                                {
                                    <p class="mb-0">₹ <strike>@ViewBag.RequestsIdData.Item.ConvenienceCharge</strike> 0.00</p>
                                }
                                else
                                {
                                    <p class="mb-0">₹ @ViewBag.RequestsIdData.Item.ConvenienceCharge</p>
                                }

                            </div>
                        </div>
                    </div>
                    <div class="details col-lg-6 col-12 p-2 mb-1 card common-bx-shadow">
                        <div class="d-flex align-items-center">
                            <div style="margin-left:7px;">
                                <span>Convenience Discount</span>
                                
                                    <p class="mb-0">₹ @ViewBag.RequestsIdData.Item.ConvenienceDiscount</p>
                                

                            </div>
                        </div>
                    </div>
                    @if (ViewBag.RequestsIdData.Item.StatusId == 11 || ViewBag.RequestsIdData.Item.StatusId == 12 ||
                        ViewBag.RequestsIdData.Item.StatusId == 14 || ViewBag.RequestsIdData.Item.StatusId == 15)
                    {
                        if (ViewBag.RequestsIdData.Item.Type == 1)
                        {
                            <div class="details col-lg-6 col-12 p-2 mb-1 card common-bx-shadow">
                                <div class="d-flex align-items-center">
                                    <div style="margin-left:7px;">
                                        <span>Tip Your GinnyBuddy...</span>
                                        <div style="float:right;display:none;" id="hideTipAmount">
                                            <p class="mb-0" id="TipAmount"></p>
                                            <span class="lable-changeConfirm" style="color: #5156be !important;" onclick="Update_TipAmount(@ViewBag.RequestsIdData.Item.Id,0,0)">Clear </span>
                                        </div>
                                        <p class="mb-0 mt-0" style="font-size: 12px !important;">...they Work tirelessly for your heppiness. 100% of your tip will be transferred to them.</p>
                                        <div class="row m-0 mt-2" id="showTipAmount" style="display:none;">
                                            <div class="address-save-card card col p-1 m-0 text-center fs-13" Onclick="Update_TipAmount(@ViewBag.RequestsIdData.Item.Id,1,10)">₹ 10</div>
                                            <div class="address-save-card card col p-1 m-0 text-center fs-13" Onclick="Update_TipAmount(@ViewBag.RequestsIdData.Item.Id,1,15)">₹ 15</div>
                                            <div class="address-save-card card col p-1 m-0 text-center fs-13" Onclick="Update_TipAmount(@ViewBag.RequestsIdData.Item.Id,1,20)">₹ 20</div>
                                            <div class="address-save-card card col p-1 m-0 text-center fs-13" Onclick="Update_TipAmount(@ViewBag.RequestsIdData.Item.Id,1,25)">₹ 25</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                        else if (ViewBag.RequestsIdData.Item.Type == 2 && ViewBag.RequestsIdData.Item.AmountRequested != 0)
                        {
                            <div class="details col-lg-6 col-12 p-2 mb-1 card common-bx-shadow">
                                <div class="d-flex align-items-center">
                                    <div style="margin-left:7px;">
                                        <span>Tip Your GinnyBuddy...</span>
                                        <div style="float:right;display:none;" id="hideTipAmount">
                                            <p class="mb-0" id="TipAmount"></p>
                                            <span class="lable-changeConfirm" style="color: #5156be !important;" onclick="Update_TipAmount(@ViewBag.RequestsIdData.Item.Id,0,0)">Clear </span>
                                        </div>
                                        <p class="mb-0 mt-0" style="font-size: 12px !important;">...they Work tirelessly for your heppiness. 100% of your tip will be transferred to them.</p>
                                        <div class="row m-0 mt-2" id="showTipAmount" style="display:none;">
                                            <div class="address-save-card card col p-1 m-0 text-center fs-13" Onclick="Update_TipAmount(@ViewBag.RequestsIdData.Item.Id,1,10)">₹ 10</div>
                                            <div class="address-save-card card col p-1 m-0 text-center fs-13" Onclick="Update_TipAmount(@ViewBag.RequestsIdData.Item.Id,1,15)">₹ 15</div>
                                            <div class="address-save-card card col p-1 m-0 text-center fs-13" Onclick="Update_TipAmount(@ViewBag.RequestsIdData.Item.Id,1,20)">₹ 20</div>
                                            <div class="address-save-card card col p-1 m-0 text-center fs-13" Onclick="Update_TipAmount(@ViewBag.RequestsIdData.Item.Id,1,25)">₹ 25</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <div class="details col-lg-6 col-12 p-2 mb-1 card common-bx-shadow">
                        <div class="d-flex align-items-center">
                            <div style="margin-left:7px;">
                                <span>Total Amount</span>
                                <p class="mb-0" id="showTotalAmount"></p>
                                @*₹ @((ViewBag.RequestsIdData.Item.TipAmount != 0 ? ViewBag.RequestsIdData.Item.TipAmount : 0) + (ViewBag.RequestsIdData.Item.IsConvenienceChargeFree == false ? ViewBag.RequestsIdData.Item.ConvenienceCharge : 0) + ViewBag.RequestsIdData.Item.AmountRequested)*@
                            </div>
                        </div>
                    </div>

                    @if (ViewBag.RequestsIdData.Item.FeedbackDescription != null && ViewBag.RequestsIdData.Item.FeedbackDescription != "")
                    {

                        <div class="details col-lg-6 col-12 p-2 mb-1 card common-bx-shadow">
                            <div class="d-flex align-items-center">
                                <div style="margin-left:7px;">
                                    <span>Feedback</span>
                                    <p class="mb-0">@ViewBag.RequestsIdData.Item.FeedbackDescription</p>
                                </div>
                            </div>
                        </div>
                    }

                    @if (ViewBag.RequestsIdData.Item.FeedbackRettings != null && ViewBag.RequestsIdData.Item.FeedbackRettings != 0)
                    {
                        <div class="details col-lg-6 col-12 p-2 mb-1 card common-bx-shadow">
                            <div class="d-flex align-items-center">
                                <div style="margin-left:7px;">
                                    <span>Ratings</span>
                                    <p class="mb-0" id="FeedbackRettingsHTML">@ViewBag.RequestsIdData.Item.FeedbackRettings</p>
                                </div>
                            </div>
                        </div>
                    }
                    @if (ViewBag.RequestsIdData.Item.OTP != 0 && ViewBag.RequestsIdData.Item.StatusId != 4)
                    {
                        <div class="details col-lg-6 col-12 p-2 mb-1 card common-bx-shadow">
                            <div class="d-flex align-items-center">
                                <div style="margin-left:7px;">
                                    <span>OTP</span>
                                    <p class="mb-0">@ViewBag.RequestsIdData.Item.OTP</p>
                                </div>
                            </div>
                        </div>
                    }
                    @if (ViewBag.RequestsIdData.Item.StatusId == 1 || ViewBag.RequestsIdData.Item.StatusId == 2 ||
                    ViewBag.RequestsIdData.Item.StatusId == 3)
                    {
                        <div style="background-color: transparent !important;">
                            @*deliveredaddress-area*@
                            <button type="button" onclick="cancleNewrequest(@ViewBag.RequestsIdData.Item.Id,@ViewBag.RequestsIdData.Item.DeliveryExecutiveId);" class="btn btn-danger w-md w-100 mt-2 submit-button">
                                <i class="dripicons-cross fs-20 line-position"></i>
                                <span style="margin-left: 25px;">Cancel Request</span>
                            </button>
                            <button class="btn btn-danger loader-btn w-100 waves-effect waves-light submit-button-loader" disabled type="submit" name="submit" style="display: none;">
                                <div class="spinner-border text-light" role="status" style="margin-right:5px;">
                                    <span class="sr-only">Loading...</span>
                                </div> Cancelling Request
                            </button>
                        </div>
                    }
                    else if (ViewBag.RequestsIdData.Item.StatusId == 4 && ViewBag.RequestsIdData.Item.FeedbackDescription == null)
                    {
                        <div style="background-color: transparent !important;">
                            <button onclick="SubmitNewFeedback(@ViewBag.RequestsIdData.Item.Id);" class="btn btn-primary w-md w-100 mt-2 submit-button ">
                                <span>Give Feedback</span>
                                <i class="dripicons-arrow-thin-right fs-20 line-position" style="margin-left: 10px;"></i>
                            </button>
                            <button class="btn btn-primary loader-btn w-100 waves-effect waves-light submit-button-loader" disabled type="submit" name="submit" style="display:none;">
                                <div class="spinner-border text-light" role="status" style="margin-right:5px;">
                                    <span class="sr-only">Loading...</span>
                                </div> Going To Feedback
                            </button>
                        </div>
                    }
                    else if (ViewBag.RequestsIdData.Item.StatusId == 11)
                    {
                        <div id="map"></div>
                    }
                </div>
                </div>
                }
            </div>
        </div>
    </div>

    @*Bottom Bar Render*@
    @RenderPage("~/Views/BottomBar/Index.cshtml")
</div>


<div class="modal fade" id="confirmAmountModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="address-select text-center" id="">

                    <h5 class="mb-3">
                        Please be ready with amount : <span class="text-success"> @ViewBag.RequestsIdData.Item.AmountRequested</span>
                    </h5>

                    <div>
                        <button type="button" class="btn btn-primary" onclick="updateConfirmRequest(@ViewBag.RequestsIdData.Item.Id);">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>


<script type="text/javascript">



    $(document).ready(function () {

        setInterval(function () {
            window.location.reload();
        }, 30000);


        if (@ViewBag.RequestsIdData.Item.FeedbackRettings > 0) {
            $("#FeedbackRettingsHTML").html("");
            var html = '';
            html = '<div class="rate">';
            for (var i = 0; i < @ViewBag.RequestsIdData.Item.FeedbackRettings; i++) {
                html += '<input type="checkbox" id="star" name="rate" disabled checked />';
                html += '<label for="star" title="text">5 stars</label>';
            }
            html += '</div>';
            $("#FeedbackRettingsHTML").html(html);
        }

        if (@ViewBag.RequestsIdData.Item.StatusId == 11) {

            $("#map").hide();
            if (@Html.Raw(Json.Encode(ViewBag.RequestsIdData.Item.CurrentLat)) != null) {
                currentLat = @Html.Raw(Json.Encode(ViewBag.RequestsIdData.Item.CurrentLat));
                currentLong = @Html.Raw(Json.Encode(ViewBag.RequestsIdData.Item.CurrentLong));
                $("#map").show();
                 initMap();
             }
        }

        if (@ViewBag.RequestsIdData.Item.StatusId == 12) {
            $("#confirmAmountModal").modal("show");
        }

        if (@ViewBag.RequestsIdData.Item.TipAmount != 0) {
            $("#showTipAmount").hide();
            $("#hideTipAmount").show();
            $("#TipAmount").text("₹" + @ViewBag.RequestsIdData.Item.TipAmount);
        } else {
            $("#showTipAmount").show();
            $("#hideTipAmount").hide();
        }

        if (@ViewBag.RequestsIdData.Item.Type == 0) {
            $("#showTotalAmount").text("Amount shall be reflected once the request is confirmed.");
        } else {
            if (@ViewBag.RequestsIdData.Item.Type == 1) {
                $("#showTotalAmount").text("₹" + @((ViewBag.RequestsIdData.Item.TipAmount != 0 ? ViewBag.RequestsIdData.Item.TipAmount : 0) +
		            (ViewBag.RequestsIdData.Item.IsConvenienceChargeFree == false ? ViewBag.RequestsIdData.Item.ConvenienceCharge : 0) +
		            (ViewBag.RequestsIdData.Item.AmountRequested != 0 ? ViewBag.RequestsIdData.Item.AmountRequested : 0) - (ViewBag.RequestsIdData.Item.ConvenienceDiscount != 0 ? ViewBag.RequestsIdData.Item.ConvenienceDiscount : 0)));
            } else {
                 if (@ViewBag.RequestsIdData.Item.AmountRequested != 0) {
                    $("#showTotalAmount").text("₹" + @((ViewBag.RequestsIdData.Item.TipAmount != 0 ? ViewBag.RequestsIdData.Item.TipAmount : 0) +
		            (ViewBag.RequestsIdData.Item.IsConvenienceChargeFree == false ? ViewBag.RequestsIdData.Item.ConvenienceCharge : 0) +
		            (ViewBag.RequestsIdData.Item.AmountRequested != 0 ? ViewBag.RequestsIdData.Item.AmountRequested : 0) - (ViewBag.RequestsIdData.Item.ConvenienceDiscount != 0 ? ViewBag.RequestsIdData.Item.ConvenienceDiscount : 0)));
                } else if (@ViewBag.RequestsIdData.Item.TipAmount != 0) {
                    $("#showTotalAmount").text("₹" + @((ViewBag.RequestsIdData.Item.TipAmount != 0 ? ViewBag.RequestsIdData.Item.TipAmount : 0)));
                } else {
                    $("#showTotalAmount").text("Amount shall be reflected once the request is confirmed.");
                }
            }
        }

    });

    function updateConfirmRequest(rId) {
        $.ajax({
            url: '@Url.Action("updateConfirmRequestes", "CreateRequest")',
            type: "POST",
            data: { Id: rId, deId: '@ViewBag.RequestsIdData.Item.DeliveryExecutiveId' },
            dataType: 'json',
            success: function (response) {
                window.location.reload();
            },
            error: function (error) {
                window.location.reload();
            }
        });
    }
    function Update_TipAmount(rId, IsGiveTip, TipAmount) {

        if (IsGiveTip == 1) {
            $("#showTipAmount").hide();
            $("#hideTipAmount").show();
            $("#TipAmount").text("₹" + TipAmount);
            if (@ViewBag.RequestsIdData.Item.Type == 1) {
                var total = @((ViewBag.RequestsIdData.Item.IsConvenienceChargeFree == false ? ViewBag.RequestsIdData.Item.ConvenienceCharge : 0) + ViewBag.RequestsIdData.Item.AmountRequested - (ViewBag.RequestsIdData.Item.ConvenienceDiscount != 0 ? ViewBag.RequestsIdData.Item.ConvenienceDiscount : 0)) + TipAmount;
                $("#showTotalAmount").text("₹" + total);
            } else {
                if (@ViewBag.RequestsIdData.Item.AmountRequested != 0) {
                    var total = @((ViewBag.RequestsIdData.Item.IsConvenienceChargeFree == false ? ViewBag.RequestsIdData.Item.ConvenienceCharge : 0) + ViewBag.RequestsIdData.Item.AmountRequested - (ViewBag.RequestsIdData.Item.ConvenienceDiscount != 0 ? ViewBag.RequestsIdData.Item.ConvenienceDiscount : 0)) + TipAmount;
                    $("#showTotalAmount").text("₹" + total);
                } else {
                    $("#showTotalAmount").text("Amount shall be reflected once the request is confirmed.");
                }
            }
        } else {
            $("#showTipAmount").show();
            $("#hideTipAmount").hide();
            if (@ViewBag.RequestsIdData.Item.Type == 1) {
                $("#showTotalAmount").text("₹" + @((ViewBag.RequestsIdData.Item.IsConvenienceChargeFree == false ? ViewBag.RequestsIdData.Item.ConvenienceCharge : 0) + ViewBag.RequestsIdData.Item.AmountRequested - (ViewBag.RequestsIdData.Item.ConvenienceDiscount != 0 ? ViewBag.RequestsIdData.Item.ConvenienceDiscount : 0)));
            } else {
                if (@ViewBag.RequestsIdData.Item.AmountRequested != 0) {
                    $("#showTotalAmount").text("₹" + @((ViewBag.RequestsIdData.Item.IsConvenienceChargeFree == false ? ViewBag.RequestsIdData.Item.ConvenienceCharge : 0) + ViewBag.RequestsIdData.Item.AmountRequested - (ViewBag.RequestsIdData.Item.ConvenienceDiscount != 0 ? ViewBag.RequestsIdData.Item.ConvenienceDiscount : 0)));
                } else {
                    $("#showTotalAmount").text("Amount shall be reflected once the request is confirmed.");
                }
            }
        }

        $.ajax({
            url: '@Url.Action("Update_TipAmount", "CreateRequest")',
            type: "POST",
            data: { Id: rId, IsGiveTip: IsGiveTip, TipAmount: TipAmount },
            dataType: 'json',
            async: true,
            success: function (response) {
                /*window.location.reload();*/
            },
            error: function (error) {
                /*window.location.reload();*/
            }
        });
    }

    function cancleNewrequest(rId, dId) {
        Swal.fire({
            title: "Are you sure?",
            text: "", icon: "warning",
            confirmButtonColor: "#2ab57d",
            cancelButtonColor: "#fd625e",
            showCancelButton: !0,
            confirmButtonText: "Yes"
        }).then(
            function (result) {
                if (result.isConfirmed) {
                    $(".submit-button").hide();
                    $(".submit-button-loader").show();
                    $.ajax({
                        url: '@Url.Action("cancleNewrequestes", "CreateRequest")',
                        type: "POST",
                        data: { reId: rId, DId: dId },
                        dataType: 'json',
                        success: function (response) {
                            window.location.href = "@Url.Action("Index", "Dashboard")";
                            $(".submit-button").show();
                            $(".submit-button-loader").hide();
                        },
                        error: function (error) {
                            window.location.href = "@Url.Action("Index", "Dashboard")";
                            $(".submit-button").show();
                            $(".submit-button-loader").hide();
                        }
                    });
                }
            }
        );
    }

    function SubmitNewFeedback(rId) {
        window.location.href = "@Url.Action("Feedback", "CreateRequest")?rId="+rId;
    }
</script>

<script type="text/javascript">
    var map;
    var icons;
    var sicons;
    var eicons;
    var currentLat = "";
    var currentLong = "";


    function initMap() {

        const styles = {
            silver: [
                {
                    "featureType": "all",
                    "stylers": [
                        {
                            "saturation": 0
                        },
                        {
                            "hue": "#e7ecf0"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "stylers": [
                        {
                            "saturation": -70
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        },
                        {
                            "saturation": -60
                        }
                    ]
                }
            ]
            }
        const directionsService = new google.maps.DirectionsService();
        const directionsRenderer = new google.maps.DirectionsRenderer();
        map = new google.maps.Map(document.getElementById("map"), {
            zoom: 7,
            center: { lat: @ViewBag.RequestsIdData.Item.Latitude, lng: @ViewBag.RequestsIdData.Item.Longitude },
        });
        map.setOptions({ styles: styles["silver"] });

        directionsRenderer.setMap(map);
        calculateAndDisplayRoute(directionsService, directionsRenderer);

        sicons = {
            url: "../../assets/Icons/Pin_Map_Green.svg", // url
            scaledSize: new google.maps.Size(44, 32), // scaled size
            origin: new google.maps.Point(0, 0), // origin
            anchor: new google.maps.Point(22, 32) // anchor
        };
         eicons = {
             url: "../../assets/Icons/Pin_Map_Red.svg", // url
             scaledSize: new google.maps.Size(44, 32), // scaled size
            origin: new google.maps.Point(0, 0), // origin
             anchor: new google.maps.Point(22, 32) // anchor
        };
    }

    function calculateAndDisplayRoute(directionsService, directionsRenderer) {
        directionsService
            .route({
                origin: {
                    query: '@ViewBag.RequestsIdData.Item.Latitude,@ViewBag.RequestsIdData.Item.Longitude',
                },
                destination: {
                    query: currentLat,currentLong,
                },
                    unitSystem: google.maps.UnitSystem.METRIC,
                travelMode: google.maps.TravelMode.DRIVING,

            })
            .then((response) => {
                new google.maps.DirectionsRenderer({
                    map: map,
                    directions: response,
                    suppressMarkers: true
                });
               // directionsRenderer.setDirections(response);
                var leg = response.routes[0].legs[0];
                var d = leg.distance.text;
                $("#droute").text(d);
                makeMarker(leg.start_location, sicons, leg.start_address, map);
                makeMarker(leg.end_location, eicons, leg.end_address, map);
                const flightPlanCoordinates = [
                    { lat: @ViewBag.RequestsIdData.Item.Latitude, lng: @ViewBag.RequestsIdData.Item.Longitude },
                    { lat: currentLat, lng: currentLong },
                ];
                const flightPath = new google.maps.Polyline({
                    path: flightPlanCoordinates,
                    geodesic: true,
                    strokeColor: "#FF0000",
                    strokeOpacity: 1.0,
                    strokeWeight: 2,
                });

                flightPath.setMap(map);
            })
            .catch((e) => window.alert("Directions request failed due to " + e));
    }

    function makeMarker(position, icon, title, map) {
        new google.maps.Marker({
            position: position,
            map: map,
            icon: icon,
            title: title,
        });
    }

</script>
