﻿@using AAH.Common;
@using GinnyBuddyApp.Pages;
@using System.Web.Optimization;
@using GinnyBuddyApp.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content app-main-area">
    <div class="request-for p-3" style="display: flex; align-items: center; min-width: 100%; min-height: 75vh; justify-content: center; margin: 0 auto;">
        <img src="~/assets/images/ginny_success_gif.gif" style="width:100%" alt="Alternate Text" />
    </div>
</div>

<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
         setTimeout(function () {
             window.location.href = "@Url.Action("Index", "Dashboard")";
         }, 3000);
    })
</script>
