﻿@using AAH.Common;
@using WebPrivacyPolicy.Pages;
@using System.Web.Optimization;
@using WebPrivacyPolicy.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="youcan-area mt-3">
    <div class="menu-area p-3">
        This Privacy Policy (“Policy”) describes the policies and procedures on the collection, use, disclosure and protection of your information when you use our website located at ginnybuddy.in, or the GinnyBuddy mobile application made available by Aah Quick Services LLP (“GinnyBuddy”, “Company”, “we”, “us” and “our”),  a LLP company established under the laws of India having its registered office at B-302, 3rd floor, SapathHexa, Nr. Gujarat High Court, S.G. Highway, Sola, Ahmedabad -380060.
        <br />
        The terms “you” and “your” refer to the user of the GinnyBuddy Platform. The term “Services” refers to any services offered by GinnyBuddy whether on the GinnyBuddy Platform or otherwise.
        <br />
        Please read this Policy before using the GinnyBuddy Platform or submitting any personal information to GinnyBuddy. This Policy is a part of and incorporated within, and is to be read along with, the Terms of Use.
        <br />
        At GinnyBuddy, we are committed to protecting your personal data and respecting your privacy. In order to provide you with access to the Services or the Professional Services, we have to collect and otherwise process certain data about you. This Policy explains how we process and use personal data about you.
        <br />
        <h5 class="mt-2">BACKGROUND AND KEY INFORMATION</h5>
        (a). How this Policy applies
        This Policy applies to individuals who access or use the Services or otherwise avail the Professional Services. For the avoidance of doubt, references to “you” across this Policy are to an end user that uses the GinnyBuddy Platform.
        By using the GinnyBuddy Platform, you consent to the collection, storage, usage, and disclosure of your personal data, as described in and collected by us in accordance with this Policy.
        <br />
        (b). Review and Updates
        We regularly review and update our Privacy Policy, and we request you to regularly review this Policy. It is important that the personal data we hold about you is accurate and current. Please let us know if your personal data changes during your relationship with us.
        <br />
        (c). Third-Party Services
        The GinnyBuddy Platform may include links to third-party websites, plug-ins, services, and applications (“Third-Party Services”). Clicking on those links or enabling those connections may allow third parties to collect or share data about you. We neither control nor endorse these Third-Party Services and are not responsible for their privacy statements. When you leave the Platform or access third-party links through the Platform, we encourage you to read the privacy policy of such third-party service providers.
        <h5 class="mt-2">YOUR CONSENT</h5>
        By using the GinnyBuddy Platform and the Services, you agree and consent to the collection, transfer, use, storage, disclosure and sharing of your information as described and collected by us in accordance with this Policy.  If you do not agree with the Policy, please do not use or access the GinnyBuddy Platform.
        <h5 class="mt-2">LINKS TO OTHER PLATFORMS</h5>
        The GinnyBuddy Platform may contain links to other websites. Any personal information about you collected whilst visiting such websites is not governed by this Policy. GinnyBuddy shall not be responsible for and has no control over the practices and content of any website accessed using the links contained on the GinnyBuddy Platform. This Policy shall not apply to any information you may disclose to any of our service providers/service personnel which we do not require you to disclose to us or any of our service providers under this Policy.
        <h5 class="mt-2">INFORMATION WE COLLECT FROM YOU</h5>
        Device Information: In order to improve your app experience and lend stability to our services to you, we may collect information or employ third party plugins that collect information about the devices you use to access our Services, including the hardware models, operating systems and versions, software, file names and versions, preferred languages, unique device identifiers, advertising identifiers, serial numbers, device motion information, mobile network information, installed applications on device and phone state. The information collected thus will be disclosed to or collected directly by these plugins and may be used to improve the content and/or functionality of the services offered to you. Analytics companies may use mobile device IDs to track your usage of the GinnyBuddy Platform.
        <br />
        Also We collect different types of personal data about you. This includes, but is not limited to:
        <br />
        Contact Data, such as your mailing or home address, location, email addresses, and mobile numbers. Identity and Profile Data, such as your name, username or similar identifiers, photographs, and gender. Marketing and Communications Data, such as your address, email address, information posted in service requests, offers, wants, feedback, comments, pictures and discussions in our blog and chat boxes, responses to user surveys and polls, your preferences in receiving marketing communications from us and our third parties, and your communication preferences. We also collect your chat and call records when you communicate with service professionals through the Platform. Technical Data, which includes your IP address, browser type, internet service provider, details of operating system, access time, page views, device ID, device type, frequency of visiting our website and use of the Platform , website and mobile application activity, clicks, date and time stamps, location data, and other technology on the devices that you use to access the Platform. Transaction data , such as details of the Services or Professional Services you have availed, a limited portion of your credit or debit card details for tracking transactions that are provided to us by payment processors, and UPI IDs for processing payments. Usage data, which includes information about how you use the Services and Professional Services, your activity on the Platform, booking history, user taps and clicks, user interests, time spent on the Platform, details about user journey on the mobile application, and page views. We also collect, use, and share aggregated data such as statistical or demographic data for any purpose. Aggregated data could be derived from your personal data but is not considered personal data under law as it does not directly or indirectly reveal your identity. However, if we combine or connect aggregated data with your personal data so that it can directly or indirectly identify you, we treat the combined data as personal data which will be used in accordance with this Policy.
        <br />
        WHAT HAPPENS IF USER REFUSE TO PROVIDE MY PERSONAL DATA?
        <br />
        Where we need to collect personal data by law, or under the terms of a contract (such as the Terms), and you fail to provide that data when requested, we may not be able to perform the contract (for example, to provide you with the Services). In this case, we may have to cancel or limit your access to the Services.
        <h5 class="mt-2">COOKIES</h5>
        Our GinnyBuddy Platform and third parties with whom we partner, may use cookies, pixel tags, web beacons, mobile device IDs, “flash cookies” and similar files or technologies to collect and store information with respect to your use of the Services and third-party websites.
        <br />
        Cookies are small files that are stored on your browser or device by websites, apps, online media and advertisements. We use cookies and similar technologies for purposes such as:
        <br />
        1.	Authenticating users;
        <br />
        2.	Remembering user preferences and settings;
        <br />
        3.	Determining the popularity of content;
        <br />
        4.	Delivering and measuring the effectiveness of advertising campaigns;
        <br />
        5.	Analysing site traffic and trends, and generally understanding the online behaviours and interests of people who interact with our services.
        <br />
        <br />
        A pixel tag (also called a web beacon or clear GIF) is a tiny graphic with a unique identifier, embedded invisibly on a webpage (or an online ad or email), and is used to count or track things like activity on a webpage or ad impressions or clicks, as well as to access cookies stored on users’ computers. We use pixel tags to measure the popularity of our various pages, features and services. We also may include web beacons in e-mail messages or newsletters to determine whether the message has been opened and for other analytics.
        <br />
        To modify your cookie settings, please visit your browser’s settings. By using our Services with your browser settings to accept cookies, you are consenting to our use of cookies in the manner described in this section.
        <br />
        We may also allow third parties to provide audience measurement and analytics services for us, to serve advertisements on our behalf across the Internet, and to track and report on the performance of those advertisements. These entities may use cookies, web beacons, SDKs and other technologies to identify your device when you visit the GinnyBuddy Platform and use our Services, as well as when you visit other online sites and services.
        <h5 class="mt-2">USES OF YOUR INFORMATION</h5>
        We use the information we collect for following purposes, including:
        <br />
        	To provide, personalise, maintain and improve our products and services, such as to enable deliveries and other services, enable features to personalise your GinnyBuddy account;
        <br />
        	To carry out our obligations arising from any contracts entered into between you and us and to provide you with the relevant information and services;
        <br />
        	To administer and enhance the security of our GinnyBuddy Platform and for internal operations, including troubleshooting, data analysis, testing, research, statistical and survey purposes;
        <br />
        	To provide you with information about services we consider similar to those that you are already using, or have enquired about, or may interest you. If you are a registered user, we will contact you by electronic means (e-mail or SMS or telephone or other internet based instant messaging systems) with information about these services;
        <br />
        	To understand our users (what they do on our Services, what features they like, how they use them, etc.), improve the content and features of our Services (such as by personalizing content to your interests), process and complete your transactions, make special offers, provide customer support, process and respond to your queries;
        <br />
        	To generate and review reports and data about, and to conduct research on, our user base and Service usage patterns;
        <br />
        	To allow you to participate in interactive features of our Services, if any; or
        <br />
        	To measure or understand the effectiveness of advertising we serve to you and others, and to deliver relevant advertising to you.
        <br />
        	If you are a partner restaurant or merchant or delivery partner, to track the progress of delivery or status of the order placed by our customers.
        <br />
        	to carry out academic research with academic partners.
        <br /><br />
        We may combine the information that we receive from third parties with the information you give to us and information we collect about you for the purposes set out above.  Further, we may anonymize and/or de-identify information collected from you through the Services or via other means, including via the use of third-party web analytic tools. As a result, our use and disclosure of aggregated and/or de-identified information is not restricted by this Policy, and it may be used and disclosed to others without limitation.
        <br />
        We analyse the log files of our GinnyBuddy Platform that may contain Internet Protocol (IP) addresses, browser type and language, Internet service provider (ISP), referring, app crashes, page viewed and exit websites and applications, operating system, date/time stamp, and clickstream data. This helps us to administer the website, to learn about user behavior on the site, to improve our product and services, and to gather demographic information about our user base as a whole.
        <h5 class="mt-2">DISCLOSURE AND DISTRIBUTION OF YOUR INFORMATION</h5>
        We may share your information that we collect for following purposes:
        <br />
        	With Service Providers: We may share your information with our vendors, consultants, marketing partners, research firms and other service providers or business partners, such as Payment processing companies, to support our business. For example, your information may be shared with outside vendors to send you emails and messages or push notifications to your devices in relation to our Services, to help us analyze and improve the use of our Services, to process and collect payments. We also may use vendors for other projects, such as conducting surveys or organizing sweepstakes for us.
        <br />	With Partner Restaurants/Merchant: While you place a request to order food through the GinnyBuddy Platform, your information is provided to us and to the restaurants/merchants with whom you may choose to order. In order to facilitate your online food order processing, we provide your information to that restaurant/merchant in a similar manner as if you had made a food order directly with the restaurant. If you provide a mobile phone number, GinnyBuddy may send you text messages regarding the order’s delivery status.
        <br />	With Academic Partners: We may share your information with our academic partners for the purpose of carrying out academic research.
        <br />	With Other Users: If you are a delivery partner, we may share your name, phone number and/or profile picture (if applicable), tracking details with other users to provide them the Services.
        <br />	For Crime Prevention or Investigation: We may share this information with governmental agencies or other companies assisting us, when we are:
        <br />	Obligated under the applicable laws or in good faith to respond to court orders and processes; or
        <br />	Detecting and preventing against actual or potential occurrence of identity theft, fraud, abuse of Services and other illegal acts;
        <br />	Responding to claims that an advertisement, posting or other content violates the intellectual property rights of a third party;
        <br />	Under a duty to disclose or share your personal data in order to enforce our Terms of Use and other agreements, policies or to protect the rights, property, or safety of the Company, our customers, or others, or in the event of a claim or dispute relating to your use of our Services. This includes exchanging information with other companies and organisations for the purposes of fraud detection and credit risk reduction.
        <br />	For Internal Use: We may share your information with any present or future member of our “Group” (as defined below)or affiliates for our internal business purposes The term “Group” means, with respect to any person, any entity that is controlled by such person, or any entity that controls such person, or any entity that is under common control with such person, whether directly or indirectly, or, in the case of a natural person, any Relative (as such term is defined in the Companies Act, 1956 and Companies Act, 2013 to the extent applicable) of such person.
        <br />	With Advertisers and advertising networks: We may work with third parties such as network advertisers to serve advertisements on the GinnyBuddy Platform and on third-party websites or other media (e.g., social networking platforms). These third parties may use cookies, JavaScript, web beacons (including clear GIFs), Flash LSOs and other tracking technologies to measure the effectiveness of their ads and to personalize advertising content to you.
        <br />	While you cannot opt out of advertising on the GinnyBuddy Platform, you may opt out of much interest-based advertising on third party sites and through third party ad networks (including DoubleClick Ad Exchange, Facebook Audience Network and Google AdSense). For more information, visit www.aboutads.info/choices. Opting out means that you will no longer receive personalized ads by third parties ad networks from which you have opted out, which is based on your browsing information across multiple sites and online services. If you delete cookies or change devices, your opt out may no longer be effective.
        <br />	To fulfill the purpose for which you provide it.
        <br />	We may share your information other than as described in this Policy if we notify you and you consent to the sharing.
        <h5 class="mt-2">DATA SECURITY PRECAUTIONS</h5>
        We have in place appropriate technical and security measures to secure the information collected by us.
        <br />We use vault and tokenization services from third party service providers to protect the sensitive personal information provided by you. The third-party service providers with respect to our vault and tokenization services and our payment gateway and payment processing are compliant with the payment card industry standard (generally referred to as PCI compliant service providers). You are advised not to send your full credit/debit card details through unencrypted electronic platforms. Where we have given you (or where you have chosen) a username and password which enables you to access certain parts of the GinnyBuddy Platform, you are responsible for keeping these details confidential. We ask you not to share your password with anyone.
        <br />Please we aware that the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted through the GinnyBuddy Platform. Once we have received your information, we will use strict physical, electronic, and procedural safeguards to try to prevent unauthorised access.
        <h5 class="mt-2">OPT-OUT</h5>
        When you sign up for an account, you are opting in to receive emails from GinnyBuddy. You can log in to manage your email preferences [here] or you can follow the “unsubscribe” instructions in commercial email messages, but note that you cannot opt out of receiving certain administrative notices, service notices, or legal notices from GinnyBuddy.
        <br />If you wish to withdraw your consent for the use and disclosure of your personal information in the manner provided in this Policy or you want your data to be deleted, please write to us at <a href="mailto:support@ginnybuddy.in">support@ginnybuddy.in</a>. Please note that we may take time to process such requests, and your request shall take effect no later than 5 (Five) business days from the receipt of such request, after which we will not use your personal data for any processing unless required by us to comply with our legal obligations. We may not be able offer you any or all Services upon such withdrawal of your consent.
        <h5 class="mt-2">GRIEVANCE OFFICER AND GINNYBUDDY PLATFORM SECURITY</h5>
        If you have any queries relating to the processing or usage of information provided by you in connection with this Policy, please email us at <a href="mailto:support@ginnybuddy.in">support@ginnybuddy.in</a> or write to our Grievance Officer at the following address:
        <br /><br />GinnyBuddy Grievance Officer,
        <br />Aah Quick Services LLP,
        <br />B-302, 3rd floor, SapathHexa,
        <br />Nr. Gujarat High Court, S.G. Highway, Sola,
        <br />Ahmedabad -380060.
        <br /><br />If you come across any abuse or violation of the Policy, please report to <a href="mailto:grievances@ginnybuddy.in">grievances@ginnybuddy.in</a>
        <br />Further, please note that the GinnyBuddy Platform stores your data with the cloud platform of Amazon Web Services provided by Amazon Web Services, Inc., which may store this data on their servers located outside of India. Amazon Web Services has security measures in place to protect the loss, misuse and alteration of the information, details of which are available at <a href="https://aws.amazon.com/" target="_blank">https://aws.amazon.com/</a>. The privacy policy adopted by Amazon Web Services are detailed in <a href="https://aws.amazon.com/privacy" target="_blank">https://aws.amazon.com/privacy</a>. In the event you have questions or concerns about the security measures adopted by Amazon Web Services, you can contact their data protection / privacy team / legal team or designated the grievance officer at these organisations, whose contact details are available in its privacy policy, or can also write to our Grievance Officer at the address provided above.
    </div>
</div>

<script src="~/assets/libs/jquery/jquery.min.js"></script>