﻿@using AAH.Common;
@using GinnyBuddyApp.Pages;
@using System.Web.Optimization;
@using GinnyBuddyApp.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Create Address";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #map-canvas {
        height: 225px;
        width: 100%;
    }
</style>
<header id="page-topbar">
    <div class="navbar-header app-header-area p-0">
        <div class="row m-0 align-items-center w-100">
            <div class="col-lg-12 col-6">
                @if (ViewBag.ri > 0)
                {
                    <a href="@Url.Action("ManageAddress","CreateAddress")" id="ManageAddressBack">
                        <i class="dripicons-arrow-thin-left fs-20 d-flex"></i>
                    </a>
                }
                else
                {
                    <a href="@Url.Action("Index","Dashboard")" id="CreateAddressBack">
                        <i class="dripicons-arrow-thin-left fs-20 d-flex"></i>
                    </a>
                }
                @*<div id="information"></div>*@
            </div>
            <div class="col-lg-2 col-6">
                <img src="~/assets/images/icons8-location-off-30.png" onclick="getCurrentLatLong();" width="20" style="float:right;" alt="Current Location" />
            </div>
        </div>
    </div>
</header>
<div class="main-content app-main-area mb-5">
    <div class="needs-cardtext-center">
        <div id="map-canvas"></div>
    </div>

    <div class="location-details p-3">
        <span>Select Delivery Location</span>
        @*<div class="location-point d-flex justify-content-between align-items-center mt-1">
            <h5 class="d-flex align-items-center mb-0">
                <i class="dripicons-location d-flex"></i>
                <span style="margin-left: 3px;" id="areaName">A-53</span>
            </h5>
            <button type="button" class="btn btn-sm btn-outline-danger waves-effect waves-light" style="padding: 4px 10px;">Change</button>
        </div>*@
        @*<marquee direction="left" height="" width="100%" bgcolor="white" scrolldelay="100">*@
        @*<p class="address-line mb-2" id="addressLine"></p>*@
        @*</marquee>*@
        <div class="note-details-area">
            A detailed address will help our Delivery Partner reach your doorstep easily
        </div>
        <div class="p-3 br-15 card common-bx-shadow mt-2">
            <form id="createReq">
                <div>
                    <div class="form-group mb-2">
                        <input type="text" class="form-control" hidden name="AddressLat" id="AddressLat">
                        <input type="text" class="form-control" hidden name="AddressLong" id="AddressLong">
                        <input type="text" class="form-control" hidden name="AddressPincode" id="AddressPincode">
                    </div>
                    <div class="form-group mb-2">
                        <h6 class="address-form-label mb-2">Complete Address *</h6>
                        <input type="text" class="form-control" name="House" id="House" placeholder="">
                    </div>
                    <div class="form-group mb-2">
                        <h6 class="address-form-label mb-2">Floor *</h6>
                        <input type="text" class="form-control" name="Apartment" id="Apartment" placeholder="Floor">
                    </div>
                    <div class="form-group mb-2">
                        <h6 class="address-form-label mb-2">Nearby landmark<span class="fs-12">&nbsp;(optional)</span></h6>
                        <textarea class="form-control" id="DireactionToReach" name="DireactionToReach" placeholder="Nearby landmark (optional)"></textarea>
                        @*<div class="w-100" style="text-align: end;">
                            <span style="font-size: 11px;color: #6c6b6b;">0/200</span>
                        </div>*@
                    </div>
                    <div class="form-group mb-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="IsDefualtAddress">
                            <label class="form-check-label" for="autoSizingCheck2">
                                Select as default address
                            </label>
                        </div>
                    </div>
                    <p style="font-size: 13px;color: #6a6666;" class="mb-2 mt-2">Save address as *</p>
                    <div class="row m-0 mb-2">
                        @for (int i = 0; i < ViewBag.AdressTypeData.TotalRecords; i++)
                        {
                            <div class="address-save-card col p-1">
                                <input type="radio" class="d-none choose-save-address" onchange="selectAddressType('@ViewBag.AdressTypeData.Values[i].Name',@ViewBag.AdressTypeData.Values[i].Id)" id="saveAddress_@ViewBag.AdressTypeData.Values[i].Id" name="chooseaddress" />
                                <label class="address-save-label mb-0 p-2" for="saveAddress_@ViewBag.AdressTypeData.Values[i].Id">
                                    <p class="mb-0 choose-save-address w-100 text-center fs-13">@ViewBag.AdressTypeData.Values[i].Name</p>
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <div class="button-fixed">
                    <button type="submit" class="btn btn-primary w-100 waves-effect waves-light submit-button">
                        Save Address
                    </button>
                    <button class="btn btn-primary loader-btn w-100 waves-effect waves-light submit-button-loader" disabled type="submit" name="submit" style="display:none;">
                        <div class="spinner-border text-light" role="status" style="margin-right:5px;">
                            <span class="sr-only">Loading...</span>
                        </div> Saving Address
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
@*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABofRnRkpT_4m344ZOsyRnT90uSGF5H6A&v=3.exp&amp;signed_in=true&amp;libraries=places"></script>*@

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB97EhOhMCYhK1tZIofUkpKcGW61fdgKjg&libraries=places&callback=initMap" async defer></script>
<script language=javascript src='http://maps.google.com/maps/api/js?sensor=false'></script>

<script type="text/javascript">

    var AddressTypeName = "";
    var AddressTypeId = 0;

    function selectAddressType(TypeName, TypeId) {
        AddressTypeName = TypeName;
        AddressTypeId = TypeId;
    }
    function initMap() {
        getCurrentLatLong()
    }
    $(document).ready(function () {

        if (@ViewBag.ri > 0) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("ManageAddressId", "CreateAddress")',
                data: { Id: @ViewBag.ri},
                dataType: 'json',
                success: function (response) {
                    $("#House").val(response.Item.AddressLine1);
                    $("#Apartment").val(response.Item.AddressLine2);
                    AddressTypeId = response.Item.AddressTypeId;
                    $("#AddressLat").val(response.Item.Latitude);
                    AddressTypeName = response.Item.LocationName;
                    $("#AddressLong").val(response.Item.Longitute);
                    $("#AddressPincode").val(response.Item.PinCode);
                    $('#saveAddress_' + AddressTypeId).prop('checked', true);
                    if (response.Item.IsDefault == 1) {
                        $('#IsDefualtAddress').prop('checked', true);
                    }
                    setTimeout(function () {
                        pinOnMap();
                    }, 1500)
                },
                error: function (error) {

                }
            });
        }
    });

    $('#House').on('input', function () {
        placeMAPAddress();
    });

    function placeMAPAddress() {
        var input = document.getElementById('House');
        var originLatitude = document.getElementById('AddressLat');
        var originLongitude = document.getElementById('AddressLong');
        var AddressPincode = document.getElementById('AddressPincode');

        var originAutocomplete = new google.maps.places.Autocomplete(input);


        originAutocomplete.addListener('place_changed', function (event) {
            var place = originAutocomplete.getPlace();

            if (place.hasOwnProperty('place_id')) {
                if (!place.geometry) {
                    return;
                }
                originLatitude.value = place.geometry.location.lat();
                originLongitude.value = place.geometry.location.lng();
                AddressPincode.value = place.address_components.slice(-1)[0].long_name;

                pinOnMap();
            } else {
                service.textSearch({
                    query: place.name
                }, function (results, status) {
                    if (status == google.maps.places.PlacesServiceStatus.OK) {
                        originLatitude.value = results[0].geometry.location.lat();
                        originLongitude.value = results[0].geometry.location.lng();
                        AddressPincode.value = place.address_components.slice(-1)[0].long_name;
                        pinOnMap();
                    }
                });
            }
        });
    }

    $("#createReq").validate({
        rules: {
            House: {
                required: true
            },
            Apartment: {
                required: true
            },
        },
        messages: {
            House: {
                required: "Complete address is required",
            },
            Apartment: {
                required: "Floor is required",
            },
        },
        errorPlacement: function (error, element) {
            if (element.is(":radio")) {
                error.appendTo(element.parents('.form-group'));
            }
            else { // This is the default behavior
                error.insertAfter(element);
            }
        },
        submitHandler: function (form) {
            createNewrequest();
        }
    });

    function createNewrequest() {
        $(".submit-button").hide();
        $(".submit-button-loader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.CreateAddressMy, Controllers.CreateAddress)',
            data: ({
                Id: @ViewBag.ri,
                AddressLine1: $("#House").val(),
                //AddressLine2: $("#Apartment").val() + "," + $("#DireactionToReach").val(),
                AddressLine2: $("#Apartment").val(),
                AddressTypeId: AddressTypeId,
                Latitude: $("#AddressLat").val(),
                LocationName: AddressTypeName,
                Longitute: $("#AddressLong").val(),
                IsDefault: $('#IsDefualtAddress').is(':checked') == true ? 1 : 0,
                PinCode: $("#AddressPincode").val(),
            }),
            dataType: 'json',
            success: function (response) {
                console.log('response', response);
                if (response.Code == 200) {
                    if (@ViewBag.ri > 0) {
                        window.location.href = "@Url.Action("ManageAddress", "CreateAddress")"
                    } else {
                        window.location.href = "@Url.Action("Index","Dashboard")"
                    }
                } else {
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: response.Message,
                        showConfirmButton: false,
                        timer: 2000
                    });
                }
                $(".submit-button").show();
                $(".submit-button-loader").hide();
            },
                error: function (error) {
                $(".submit-button").show();
                $(".submit-button-loader").hide();
            }
        });
    }

    function getCurrentLatLong(CurrentLat, CurrentLong) {
        if (document.getElementById('map-canvas')) {

            /*function getCurrentLatLong() {*/
            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    CurrentLat = position.coords.latitude;
                    CurrentLong = position.coords.longitude;
                });
            } else {
                console.log("Browser doesn't support geolocation!");
            }
            //}
            var content;
            var latitude = CurrentLat;
            var longitude = CurrentLong;
            var map;
            var marker;
            navigator.geolocation.getCurrentPosition(loadMap);

            function demo() {
                google.maps.event.addListener(map, 'click', function (e) {
                    placeMarker(e.latLng);
                });
            }

            function loadMap(location) {
                if (location.coords) {
                    latitude = location.coords.latitude;
                    longitude = location.coords.longitude;
                }

                var myLatlng = new google.maps.LatLng(latitude, longitude);

                var mapOptions = {
                    zoom: 14,
                    center: myLatlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

                content = document.getElementById('information');

                demo();

                var input = document.getElementById('search_input');
                map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

                var searchBox = new google.maps.places.SearchBox(input);

                google.maps.event.addListener(searchBox, 'places_changed', function () {
                    var places = searchBox.getPlaces();
                    //placeMarker(places[0].geometry.location);
                });

                marker = new google.maps.Marker({
                    map: map
                });
            }
        }
        function placeMarker(location) {
            marker.setPosition(location);
            $.ajax({
                type: "POST",
                url: `https://maps.googleapis.com/maps/api/geocode/json?latlng=${location.lat()},${location.lng()}&key=AIzaSyABofRnRkpT_4m344ZOsyRnT90uSGF5H6A`,
                dataType: 'json',
                success: function (response) {
                    if (response != null) {
                        $("#AddressLat").val(location.lat());
                        $("#AddressLong").val(location.lng());

                        $("#addressLine").text(response.results[0].formatted_address);
                        $("#AddressPincode").val(response.results[0].address_components[5].long_name);

                        for (var i = 0; i < response.results[0].address_components.length; i++) {
                            if (response.results[0].address_components[i].types[0] == "postal_code") {
                                $("#AddressPincode").val(response.results[0].address_components[i].long_name);
                            }
                        }

                    }
                    console.log('response', response);
                },
                error: function (error) {
                }
            });
        }
    }

    function pinOnMap() {
        var map = new google.maps.Map(document.getElementById('map-canvas'), {
            zoom: 15,
            center: new google.maps.LatLng($("#AddressLat").val(), $("#AddressLong").val()),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        var infowindow = new google.maps.InfoWindow();
        var marker, i;
        marker = new google.maps.Marker({
            position: new google.maps.LatLng($("#AddressLat").val(), $("#AddressLong").val()),
            map: map
        });
        google.maps.event.addListener(marker, 'click', (function (marker, i) {
            return function () {
                //infowindow.setContent('<b>Clinic Name:</b>' + response.Values[i].Name + '<br/><b>Clinic Contact no:</b>' + response.Values[i].ContactNo + '<br/><b>Dr.Name:</b>' + response.Values[i].DoctorName + '<br/><b>Dr.Contact No:</b>' + response.Values[i].MobileNo + '<br/><b>Dr.Degree:</b>' + response.Values[i].DegreeOfDoctor);
                infowindow.open(map, marker);
            }
        })(marker, i));
    }


</script>