﻿@using AAH.Common;
@using GinnyBuddyApp.Pages;
@using System.Web.Optimization;
@using GinnyBuddyApp.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Address";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #map-canvas {
        height: 180px;
        width: 100%;
    }
</style>
<header id="page-topbar">
    <div class="navbar-header app-header-area p-0">
        <div class="row m-0">
            <div class="col-lg-12 col-12">
                <a href="@Url.Action("Index","Profiles")" class="d-flex align-items-center">
                    <div id="AddressBack" class="line-height-0">
                        <i class="dripicons-arrow-thin-left d-flex fs-20 text-dark" style="margin-right: 7px;"></i>
                    </div>
                    <h5 class="mb-0 ml-2 header-title d-flex align-items-center">My Address</h5>
                </a>
                @*<div id="information"></div>*@
            </div>
        </div>
    </div>
</header>
<div class="main-content app-main-area">
    <div class="Address-list p-3">
        <div class="row m-0">
            <div class="col-lg-12 col-12 p-0 mb-5">

                @for (int i = 0; i < ViewBag.AddressTypeData.TotalRecords; i++)
                {
                    <div class="card p-2 mb-2 br-15 is-loading" style="box-shadow: 0px 0px 14px 0px #00000024;">
                        <div class="row m-0">
                            <div class="col-lg-8 col-8 p-0 d-flex align-items-center">
                                <h5 class="mb-0">
                                    <i class="dripicons-home"></i>
                                    <span class="fs-15" style="margin-left:8px;">@ViewBag.AddressTypeData.Values[i].AddressTypeName</span>
                                    @if (@ViewBag.AddressTypeData.Values[i].IsDefault > 0)
                                    {
                                        <button type="button" style="padding: 0px 10px;" class="btn btn-soft-primary waves-effect waves-light btn btn-sm">Default</button>
                                    }
                                </h5>
                            </div>
                            <div class="col-lg-4 col-4 p-0">
                                <div style="float:right;">
                                    <a href="@Url.Action("Index","CreateAddress")?ri=@ViewBag.AddressTypeData.Values[i].Id" id="EditAddress" class="line-height-0">
                                        <button type="button" class="btn btn-soft-primary waves-effect waves-light" style="padding: 2px 5px; border-radius: 50px;"><i class="bx bx-edit-alt"></i></button>
                                    </a>
                                    <button type="button" onclick="ConfirmDeleteRecord(@ViewBag.AddressTypeData.Values[i].Id)" class="btn btn-soft-primary waves-effect waves-light" style="padding: 2px 5px; border-radius: 50px;"><i class="bx bx-trash-alt"></i></button>
                                </div>
                            </div>
                            <div class="col-lg-12 col-12 p-0">
                                <p class="mb-0 mt-1 fs-13">
                                    @ViewBag.AddressTypeData.Values[i].AddressLine1,
                                    @ViewBag.AddressTypeData.Values[i].PinCode
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="button-fixed">
            <a href="@Url.Action("Index","CreateAddress")" class="btn btn-primary w-md w-100 mt-2">
                <span>Add New Address</span>
            </a>
        </div>
    </div>
</div>

<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
<script>
    //Confirm Delete Record
    function ConfirmDeleteRecord(DataId) {
        Swal.fire({
            title: "Are you sure?",
            text: "", icon: "warning",
            confirmButtonColor: "#2ab57d",
            cancelButtonColor: "#fd625e",
            showCancelButton: !0,
            confirmButtonText: "Yes"
        }).then(
            function (result) {
                if (result.isConfirmed) {
                    DeleteAdminData(DataId);
                }
            }
        );
    }

     function DeleteAdminData(DataId) {
        $.ajax({
            url: '@Url.Action(Actions.DeletedAddressData, Controllers.CreateAddress, new { area = "" })',
            data: {
                AddressId: DataId
            },
            type: 'GET',
            datatype: 'json',
            success: function (response) {
                if (response.Code == 200) {
                    //Swal.fire({
                    //    position: 'center',
                    //    icon: 'success',
                    //    title: response.Message,
                    //    showConfirmButton: false,
                    //    timer: 2000
                    //})
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                }
            },
            error: function () { }
        });
    }
</script>