﻿@using AAH.Entities.V1;
@using AAHAdmin.Pages;
@model AreaMaster

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Area Master";
}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #0069D9;
        color: white;
    }

    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        bUsers-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            bUsers-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        bUsers-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        bUsers: 1px solid #d4d4d4;
        bUsers-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            bUsers-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .text-c-dark {
        color: #000;
    }

    .device-active .active .card {
        background: #157aec;
        cursor: pointer;
    }

    .device-active .active .text-c-dark {
        color: #fff !important;
    }

        .device-active .active .text-c-dark .icon {
            background-color: #0069D9;
            bUsers: none;
        }

    .icon-box {
        background: #eff1f4;
    }

        .icon-box:hover {
            background: #0e67cc !important;
        }

    .btn-primary {
        color: #fff !important;
        background-color: #0596F8 !important;
        border-color: #0596F8 !important;
        box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%) !important;
    }

    div.dt-buttons {
        float: right !important;
    }

    #map {
        padding: 0;
        margin: 0;
        height: 500px;
    }

    #container {
        padding: 0;
        margin: 0;
        height: 500px;
    }
</style>


<div class="content container-fluid">
    <div class="row">
        <div class="col-8">
            <h5>Area Master</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">

            @using (Html.BeginForm(Actions.AreaMaster_Details, Controllers.AreaMaster, new { Area = "" }, FormMethod.Post, new { id = "AreaMasterDetails", @class = "" }))
            {
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.GeoFencing)
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6 mt-2">
                            <label>Name</label>
                            @Html.TextBoxFor(model => model.Name, new { @Type = "text", @class = "form-control", @placeholder = "Enter Name" })
                        </div>
                        <div class="col-6 mt-2">
                            <label>Pin Code</label>
                            @Html.TextBoxFor(model => model.PinCode, new { @Type = "text", @class = "form-control", @placeholder = "Enter Name" })
                        </div>
                        <div class="col-6 mt-2">
                            <label>City</label>
                            @Html.DropDownListFor(model => model.CityMasterId, (IEnumerable<SelectListItem>)ViewBag.CityMasterData, new { @class = "form-control" })
                        </div>
                        <div class="col-6 mt-2">
                            <label>State</label>
                            @Html.DropDownListFor(model => model.StateMasterId, (IEnumerable<SelectListItem>)ViewBag.StateMasterData, new { @class = "form-control" })
                        </div>
                        <div class="col-6 mt-2">
                            <label>Convinience Charge</label>
                            @Html.TextBoxFor(model => model.ConvinienceCharge, new { @Type = "number", @class = "form-control", @placeholder = "Enter Convinience Charge" })
                        </div>
                        <div class="col-6 mt-2">
                            <label>Convinience Discount</label>
                            @Html.TextBoxFor(model => model.ConvinienceDiscount, new { @Type = "number", @class = "form-control", @placeholder = "Enter Convinience Discount" })
                        </div>
                        <div class="col-6 mt-2">
                            <label>Min No Of Executives</label>
                            @Html.TextBoxFor(model => model.MinNoOfExecutives, new { @Type = "number", @class = "form-control", @placeholder = "Enter Min No Of Executives" })
                        </div>
                        <div class="col-6 mt-2">
                            <label>Max No Of Executives</label>
                            @Html.TextBoxFor(model => model.MaxNoOfExecutives, new { @Type = "number", @class = "form-control", @placeholder = "Enter Max No Of Executives" })
                        </div>
                        <div class="col-12 mt-2">
                            <div class="text-right mt-2">
                                <label style="float:left;">GeoFencing</label>
                                <a class="btn btn-primary mb-3" href="#" onclick="reset()">Reset Geofencing</a>
                            </div>
                            @*<div id="map"></div>*@
                            <div id="container"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input id="btnSearch" type="submit" class="btn btn-primary saveBtn" value="Save" />
                    <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Saving...
                    </button>
                    <a class="btn btn-secondary closeBtn" href="@Url.Action(Actions.Index, Controllers.AreaMaster)">Cancel</a>
                </div>
            }

        </div>
    </div>
</div>


@section Scripts {
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABofRnRkpT_4m344ZOsyRnT90uSGF5H6A&libraries=drawing"></script>*@
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABofRnRkpT_4m344ZOsyRnT90uSGF5H6A&callback=initMap&libraries=places&v=weekly"
            async></script>
    <script>
        //var polygons = [];
        //var coordinates = [];

        var area = [];
        var isEdit = false;

        $(document).ready(() => {

            if ($("#Id").val() != "0") {

                setTimeout(myGreeting, 1000);

            }
            var mx = parseInt($("#ConvinienceCharge").val());


            $("#AreaMasterDetails").validate({
                rules: {
                    Name: "required",
                    CityMasterId: "required",
                    StateMasterId: "required",
                    ConvinienceCharge: "required",
                    ConvinienceDiscount: {
                        required: true,
                        max: {
                            depends: function(element) {
                                if ($("#ConvinienceDiscount").val() > $("#ConvinienceCharge").val()) {
                                    return true;
                                }
                                else {
                                    return false;
                                }
                            }
                        }
                    },
                    MinNoOfExecutives: "required",
                    MaxNoOfExecutives: "required"
                },
                messages: {
                    Name: {
                        required: "Please enter name",
                    },
                    CityMasterId: {
                        required: "Please select city",
                    },
                    StateMasterId: {
                        required: "Please select state",
                    },
                    ConvinienceCharge: {
                        required: "Please enter Convinience Charge",
                    },
                    ConvinienceDiscount: {
                        required: "Please enter Convinience Discount",
                        max: "Plese enter Convinience Discount less than Convinience Charge",
                    },
                    MinNoOfExecutives: {
                        required: "Please enter min no of executive",
                    },
                    MaxNoOfExecutives: {
                        required: "Please enter max no of executive"
                    },

                },

                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents(".form-group"));
                    } else {
                        // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    debugger
                    if (isEdit) {
                        if (area.length > 0) {
                            $("#GeoFencing").val(JSON.stringify(area));
                            form.submit();
                        }
                        else {
                            debugger
                            swal({
                                title: "please draw GeoFencing",
                                text: "",
                                icon: "warning",
                                timer: 2000
                            })
                            return
                        }
                    }
                    else {
                        var aa = JSON.parse($("#GeoFencing").val());
                        if (aa.length > 0) {
                            $("#GeoFencing").val(JSON.stringify(aa));
                            form.submit();
                        }
                        else {
                            debugger
                            swal({
                                title: "please draw GeoFencing",
                                text: "",
                                icon: "warning",
                                timer: 2000
                            })
                            return
                        }
                    }
                
                }
            });
        });

        function reset() {
            debugger
            area = [];

            poly.setMap(null);
            poly = new google.maps.Polygon({
                strokeColor: "#FF0000",
                strokeOpacity: 0.8,
                strokeWeight: 3,
                fillColor: "#FF0000",
                fillOpacity: 0.35,
            });
            poly.setMap(map);
            //initMap();

        }

        function myGreeting() {
            debugger
            //var s = JSON.stringify($("#GeoFencing").val());
            var areaArray = JSON.parse($("#GeoFencing").val());
            //area = areaArray;
            poly.setMap(null);
            poly = new google.maps.Polygon({
                paths: areaArray,
                strokeColor: "#FF0000",
                strokeOpacity: 0.8,
                strokeWeight: 3,
                fillColor: "#FF0000",
                fillOpacity: 0.35,
            });
            poly.setMap(map);
            map.setOptions({
                center: areaArray[0],
                zoom: 14
            })
        }
    

    </script>


    @*<script type="text/javascript">
            function reset() {
                debugger
                initialize()
            }

            var drawingManager;
            var selectedShape;
            var colors = ['#1E90FF', '#FF1493', '#32CD32', '#FF8C00', '#4B0082'];
            var selectedColor;
            var colorButtons = {};

            function clearSelection() {
                if (selectedShape) {
                    selectedShape.setEditable(false);
                    selectedShape = null;
                }
            }

            function setSelection(shape) {
                clearSelection();
                selectedShape = shape;
                shape.setEditable(true);
                selectColor(shape.get('fillColor') || shape.get('strokeColor'));
            }

            // function deleteSelectedShape() {
            //   if (selectedShape) {
            //     selectedShape.setMap(null);
            //     // To show:
            //     drawingManager.setOptions({
            //       drawingControl: true
            //     });
            //   }
            // }

            function selectColor(color) {
                selectedColor = color;
                // for (var i = 0; i < colors.length; ++i) {
                //   var currColor = colors[i];
                //   colorButtons[currColor].style.border = currColor == color ? '2px solid #789' : '2px solid #fff';
                // }

                // Retrieves the current options from the drawing manager and replaces the
                // stroke or fill color as appropriate.
                var polylineOptions = drawingManager.get('polylineOptions');
                polylineOptions.strokeColor = color;
                drawingManager.set('polylineOptions', polylineOptions);

                var rectangleOptions = drawingManager.get('rectangleOptions');
                rectangleOptions.fillColor = color;
                drawingManager.set('rectangleOptions', rectangleOptions);

                var circleOptions = drawingManager.get('circleOptions');
                circleOptions.fillColor = color;
                drawingManager.set('circleOptions', circleOptions);

                var polygonOptions = drawingManager.get('polygonOptions');
                polygonOptions.fillColor = color;
                drawingManager.set('polygonOptions', polygonOptions);
            }

            function setSelectedShapeColor(color) {
                if (selectedShape) {
                    if (selectedShape.type == google.maps.drawing.OverlayType.POLYLINE) {
                        selectedShape.set('strokeColor', color);
                    } else {
                        selectedShape.set('fillColor', color);
                    }
                }
            }

            function makeColorButton(color) {
                var button = document.createElement('span');
                button.className = 'color-button';
                button.style.backgroundColor = color;
                google.maps.event.addDomListener(button, 'click', function () {
                    selectColor(color);
                    setSelectedShapeColor(color);
                });

                return button;
            }

            function buildColorPalette() {
                var colorPalette = document.getElementById('color-palette');
                for (var i = 0; i < colors.length; ++i) {
                    var currColor = colors[i];
                    var colorButton = makeColorButton(currColor);
                    colorPalette.appendChild(colorButton);
                    colorButtons[currColor] = colorButton;
                }
                selectColor(colors[0]);
            }

            function initialize() {

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 10,
                    center: new google.maps.LatLng(23.0381, 72.5122),
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    disableDefaultUI: true,
                    zoomControl: true
                });

                var polyOptions = {
                    strokeWeight: 0,
                    fillOpacity: 0.45,
                    editable: true
                };
                // Creates a drawing manager attached to the map that allows the user to draw
                // markers, lines, and shapes.
                drawingManager = new google.maps.drawing.DrawingManager({
                    drawingMode: google.maps.drawing.OverlayType.POLYGON,
                    drawingControlOptions: {
                        drawingModes: [
                            google.maps.drawing.OverlayType.POLYGON
                        ]
                    },
                    markerOptions: {
                        draggable: true
                    },
                    polylineOptions: {
                        editable: true
                    },
                    rectangleOptions: polyOptions,
                    circleOptions: polyOptions,
                    polygonOptions: polyOptions,
                    map: map
                });

                var polylines = [];

                google.maps.event.addListener(drawingManager, 'polylinecomplete', function (polyline) {
                    polylines.push(polyline);
                    console.log(polylines);
                });
                google.maps.event.addListener(drawingManager, 'click', function (d) {
                    debugger
                });
                google.maps.event.addListener(drawingManager, 'overlaycomplete', function (event) {
                    if (event.type == google.maps.drawing.OverlayType.CIRCLE) {
                        var radius = event.overlay.getRadius();
                        console.log(radius);
                    }
                });
                google.maps.event.addListener(drawingManager, 'overlaycomplete', function (e) {
                    if (e.type != google.maps.drawing.OverlayType.MARKER) {
                        // Switch back to non-drawing mode after drawing a shape.
                        drawingManager.setDrawingMode(null);
                        // To hide:
                        drawingManager.setOptions({
                            drawingControl: false
                        });

                        // Add an event listener that selects the newly-drawn shape when the user
                        // mouses down on it.
                        var newShape = e.overlay;
                        newShape.type = e.type;
                        google.maps.event.addListener(newShape, 'click', function () {
                            setSelection(newShape);
                        });
                        setSelection(newShape);
                    }
                });



                google.maps.event.addDomListener(drawingManager, 'polygoncomplete', function (polygon) {
                    polygons.push(polygon);

                    var polygonBounds = polygon.getPath();

                    for (var i = 0; i < polygonBounds.length; i++) {
                        var latlongArray = [];
                        let obj = {
                            lat: polygonBounds.getAt(i).lat(),
                            long: polygonBounds.getAt(i).lng()
                        }

                        latlongArray.push(polygonBounds.getAt(i).lat(), polygonBounds.getAt(i).lng());
                        coordinates.push(latlongArray);
                    }
                })

            }


            google.maps.event.addDomListener(window, 'load', initialize);



        </script>*@



    <script>
        let map;
        let poly;
        let flightPath;
        function initMap() {

            map = new google.maps.Map(document.getElementById("container"), {
                center: { lat: 23.0381, lng: 72.5122 }, //[55.31878, 25.23584]
                zoom: 13,
            });

            const input = document.getElementById("search-place");
            const searchBox = new google.maps.places.SearchBox(input);
            //  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
            // Bias the SearchBox results towards current map's viewport.
            map.addListener("bounds_changed", () => {
                searchBox.setBounds(map.getBounds());
            });

            let markers = [];
            searchBox.addListener("places_changed", () => {
                const places = searchBox.getPlaces();

                if (places.length == 0) {
                    return;
                }
                // Clear out the old markers.
                markers.forEach((marker) => {
                    marker.setMap(null);
                });
                markers = [];
                // For each place, get the icon, name and location.
                const bounds = new google.maps.LatLngBounds();
                places.forEach((place) => {
                    if (!place.geometry || !place.geometry.location) {
                        console.log("Returned place contains no geometry");
                        return;
                    }
                    const icon = {
                        url: place.icon,
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(25, 25),
                    };
                    // Create a marker for each place.
                    markers.push(
                        new google.maps.Marker({
                            map,
                            icon,
                            title: place.name,
                            position: place.geometry.location,
                        })
                    );

                    if (place.geometry.viewport) {
                        // Only geocodes have viewport.
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }
                });
                map.fitBounds(bounds);
            });


            if (!poly) {
                debugger

                poly = new google.maps.Polygon({
                    strokeColor: "#FF0000",
                    strokeOpacity: 0.8,
                    strokeWeight: 3,
                    fillColor: "#FF0000",
                    fillOpacity: 0.35,
                });
                poly.setMap(map);

               
            }
            map.addListener("click", addLatLng);
        }




        //LeadManager.clearRegion = function () {

        //    poly.setMap(null);
        //    poly = new google.maps.Polygon({
        //        strokeColor: "#FF0000",
        //        strokeOpacity: 0.8,
        //        strokeWeight: 3,
        //        fillColor: "#FF0000",
        //        fillOpacity: 0.35,
        //    });
        //    poly.setMap(map);


        //}

        // Handles click events on a map, and adds a new point to the Polyline.

        function addLatLng(event) {
            debugger
            
            isEdit = true;
            const path = poly.getPath();
            path.push(event.latLng);
            area = [];
            const vertices = poly.getPath();
            for (let i = 0; i < vertices.getLength(); i++) {
                const xy = vertices.getAt(i);
                area.push({ lat: xy.lat(), lng: xy.lng() });
            }
            console.log(JSON.stringify(area));
        }

       

    </script>
}
