﻿@using AAH.Common;
@using AAHAdmin.Pages;
@using System.Web.Optimization;
@using AAHAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Area Master";
}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #0069D9;
        color: white;
    }

    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        bUsers-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            bUsers-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        bUsers-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        bUsers: 1px solid #d4d4d4;
        bUsers-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            bUsers-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .text-c-dark {
        color: #000;
    }

    .device-active .active .card {
        background: #157aec;
        cursor: pointer;
    }

    .device-active .active .text-c-dark {
        color: #fff !important;
    }

        .device-active .active .text-c-dark .icon {
            background-color: #0069D9;
            bUsers: none;
        }

    .icon-box {
        background: #eff1f4;
    }

        .icon-box:hover {
            background: #0e67cc !important;
        }

    .btn-primary {
        color: #fff !important;
        background-color: #0596F8 !important;
        border-color: #0596F8 !important;
        box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%) !important;
    }

    div.dt-buttons {
        float: right !important;
    }
</style>


<div class="content container-fluid">
    <div class="row">
        <div class="col-8">
            <h5>Area Master</h5>
        </div>
        <div class="col-4" style=" text-align: right; margin-bottom: 20px;">
            <a class="btn btn-primary" href="@Url.Action(Actions.Details, Controllers.AreaMaster)">Add Area Master</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">
            @Html.AntiForgeryToken()
            <div class="portlet-body table-responsive" id="divAreaMaster">
                <table class="table table-striped table-bUsersed table-hover border" id="AreaMaster"></table>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(() => {
            AreaMasterDataTable.init();

        });

        var AreaMasterDataTable = function () {
            let initTable1 = function () {
                let table = $('#AreaMaster');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from MAX total entries)",
                        //"lengthMenu": "MENU entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.AreaMaster_All, Controllers.AreaMaster)',
                        type: "post",
                        data: SearchCriteria(),
                    },
                    "columns": [
                        {
                            "title": "Name", "data": "Name",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["Name"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Pin Code", "data": "PinCode",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["PinCode"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "City", "data": "CityName",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["CityName"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "State", "data": "StateName",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["StateName"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Convinience Charge", "data": "ConvinienceCharge",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["ConvinienceCharge"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Convinience Discount", "data": "ConvinienceDiscount",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["ConvinienceDiscount"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Min Executives", "data": "MinNoOfExecutives",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["MinNoOfExecutives"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Max Executives", "data": "MaxNoOfExecutives",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["MaxNoOfExecutives"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },

                        {
                            "title": "Is Active ?", "data": "IsActive",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                if (row["IsActive"] == 1) {
                                    htmlData = `<button onclick="InactiveMessage('${row["Id"]}');" class="badge badge-primary">Active</button>`;
                                } else {
                                    htmlData = `<button onclick="ActiveMessage('${row["Id"]}');" class="badge badge-danger">In-Active</button>`;
                                }


                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },

                        {
                            "title": "Is Approve ?", "data": "IsApprove",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                let isValid = 0;
                                if ('@ProjectSession.UserType' == "Super Admin" || '@ProjectSession.UserType' == "Manager") {
                                    isValid = 1;
                                    if ('@ProjectSession.UserType' == "Super Admin") {

                                        if (row["IsApproveByAdmin"] == 1) {
                                            if (row["IsApproveBySuperAdmin"] == 1) {
                                                htmlData = `<button onclick="InapproveMessage('${row["Id"]}');" class="badge badge-primary">Approve</button>`;
                                            } else {
                                                htmlData = `<button onclick="ApproveMessage('${row["Id"]}');" class="badge badge-danger">Un-Approve</button>`;
                                            }
                                        } else {
                                            htmlData = `<button  class="badge badge-danger">Pending Approval from Manager</button>`;
                                        }
                                        
                                    }
                                    else if ('@ProjectSession.UserType' == "Manager") {
                                        if (row["IsApproveByAdmin"] == 1) {
                                            htmlData = `<button onclick="InapproveMessage('${row["Id"]}');" class="badge badge-primary">Approve</button>`;
                                        } else {
                                            htmlData = `<button onclick="ApproveMessage('${row["Id"]}');" class="badge badge-danger">Un-Approve</button>`;
                                        }
                                    }
                                }
                                else {
                                    if (row["IsApprove"] == 1) {
                                        htmlData = `<button class="badge badge-primary">Approve</button>`;
                                    } else {
                                        htmlData = `<button class="badge badge-danger">Waiting for Approval</button>`;
                                    }
                                }


                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Action", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData += `<a class="btn btn-sm btn-outline-secondary mr-1" href="@Url.Action(Actions.Details, Controllers.AreaMaster)?AID=${btoa(row["Id"])}" title="Edit Area">
                                        <i class="fa fa-edit"></i>
                                    </a>`;
                                htmlData += `<button title="Delete Area" class="btn btn-sm btn-outline-danger mr-1" onclick="DeleteCategory('${(row["Id"])}');"><i class="fa fa-trash"></i></button>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },

                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                        "buttons": [
                            //{
                            //    text: 'Add Area Master',
                            //    className: 'btn btn-primary mb-3 mt-1',
                            //    action: function (e, dt, node, config) {
                            //        AddCategoryPopUp();
                            //    }
                            //},


                        ],

                        // setup responsive extension: http://datatables.net/extensions/responsive/
                        responsive: true,

                        "lengthMenu": [
                            [5, 10, 15, 20, 1000],
                            [5, 10, 15, 20, 1000] // change per page values here
                        ],
                        // set the initial value

                        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                        // So when dropdowns used the scrollable div should be removed.
                        //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#AreaMaster")) {
                        $('#AreaMaster').dataTable().fnDestroy();
                        $('#divAreaMaster').html('<table class="table table-striped border" width="100%" id="AreaMaster"></table>');
                    }
                    initTable1();
                }
            };
        }();

        function SearchCriteria() {
            try {
                var param = {};
                return addRequestVerificationToken(param);
            } catch (e) { }
        }




        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }




        function DeleteCategory(id)
        {

            swal({
                title: "Delete !",
                text: "Are You Sure You want to Delete this Record ?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willdelete) => {
                if (willdelete) {
                    $.ajax({
                        type: "get",
                        url: '@Url.Action(Actions.AreaMaster_Delete, Controllers.AreaMaster)',
                        data: { Id: btoa(id) },
                        dataType: 'json',
                        success: function (response) {
                            AreaMasterDataTable.init();

                        },
                        error: function (error) {
                            console.log('error', error);
                        }
                    })
                }
            });
        }

        function ActiveMessage(id) {
            swal({
                title: "Are you sure ?",
                text: "You will be activating this Record !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willupdate) => {
                    if (willupdate) {
                        UpdateStatus(id);
                    }
                });
        }
        function InactiveMessage(id) {
            swal({
                title: "Are you sure ?",
                text: "You will be in-active this Record !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willupdate) => {
                    if (willupdate) {
                        UpdateStatus(id);
                    }
                });
        }

        function UpdateStatus(id)
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.AreaMaster_ActInAct, Controllers.AreaMaster)',
                data: { Id: id },
                dataType: 'json',
                success: function (response) {
                    AreaMasterDataTable.init();
                    if (response.Code == 200) {
                        swal({
                            title: "Success",
                            text: response.Message,
                            icon: "success",
                            timer: 2000
                        })
                    } else {
                        swal({
                            title: "Warning",
                            text: response.Message,
                            icon: "warning"
                        })
                    }
                    AreaMasterDataTable.init();
                },
                error: function (error) {

                }
            });
        }

         function ApproveMessage(id) {
            swal({
                title: "Are you sure ?",
                text: "You will be Approved this Record !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willupdate) => {
                    if (willupdate) {
                        UpdateApproveStatus(id);
                    }
                });
        }
        function InapproveMessage(id) {
            swal({
                title: "Are you sure ?",
                text: "You will be un-approve this Record !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willupdate) => {
                    if (willupdate) {
                        UpdateApproveStatus(id);
                    }
                });
        }

        function UpdateApproveStatus(id)
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.AreaMaster_AppUnApp, Controllers.AreaMaster)',
                data: { Id: id },
                dataType: 'json',
                success: function (response) {
                    AreaMasterDataTable.init();
                    if (response.Code == 200) {
                        swal({
                            title: "Success",
                            text: response.Message,
                            icon: "success",
                            timer: 2000
                        })
                    } else {
                        swal({
                            title: "Warning",
                            text: response.Message,
                            icon: "warning"
                        })
                    }
                    AreaMasterDataTable.init();
                },
                error: function (error) {

                }
            });
        }
    </script>
}
