﻿@using AAH.Common;
@using GinnyBuddyApp.Pages;
@using System.Web.Optimization;
@using GinnyBuddyApp.Infrastructure; 

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Our Delivery Limits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #map-canvas {
        height: 180px;
        width: 100%;
    }
    .our-content p {
        color: #fff;
        font-size: 11px;
        line-height: 1.3;
    }
    .our-content h5 {
        font-size: 15px;
        color: #fff;
    }
    .delivery-limit .img-group {
        background: #fff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .delivery-limit{
        display:flex;
        align-items:center;
    }
    .delivery-limit .contents{
        margin-left:7px;
        line-height: 1;
    }
    .delivery-limit .contents p{
        color:#fff;
        font-size: 16px;
    }
    .delivery-limit .contents span{
        color:#fff;
        font-size:12px;
    }
    .delivery-limit .img-group img {
        padding: 10px;
    }
    .c-btn-success {
        font-weight: 400;
        color: #fff;
        background-color: #01a367;
        border-color: #01a367;
        border-radius: 50px;
        /* height: 30px; */
        padding: 5px;
        box-shadow: none !important;
    }
</style>


<div class="main-content app-main-area mt-0" style="background: #0f1a38; height: 100vh;">
    <div class="Address-list p-3">
        <div class="our-content">
            <h5 class="mb-1">Our delivery limits</h5>
            <p>Although we try to do everything , there are some things we cannot do!</p>
        </div>
        <div class="row m-0">
            <div class="col-lg-12 col-12 p-0 mb-5">

                @for (int i = 0; i < ViewBag.DeliveryLimitData.TotalRecords; i++)
                {
                    <div class="delivery-limit mb-3">
                        <div class="img-group">
                            <img class="w-100" src="@System.Configuration.ConfigurationManager.AppSettings["AdminEndPoint"]@ViewBag.DeliveryLimitData.Values[i].ImageURL" alt="Alternate Text" />
                        </div>
                        <div class="contents">
                            <p class="mb-1">@ViewBag.DeliveryLimitData.Values[i].Title</p>
                            <span>@ViewBag.DeliveryLimitData.Values[i].Description</span>
                        </div>
                    </div>
                }
                <div class="button-fixed">
                    <a href="@Url.Action("Index","Dashboard")" class="btn btn-success c-btn-success w-md w-100 mt-2">
                        <span>Okay , got it </span>
                    </a>
                </div>
            </div>
            
        </div>

    </div>
</div>