﻿@using AAH.Entities.V1;
@using AAHAdmin.Pages;
@model Items

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Item Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<style>
    #Files-error  {
        display: table-cell;
        margin-bottom: 0.5rem;
    }

    </style>
<div class="content container-fluid">
    <div class="row">
        <div class="col-8">
            <h5>Item Details</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">
            <div class="card">
                @using (Html.BeginForm(Actions.SaveItemDetails, Controllers.Items, new { Area = "" }, FormMethod.Post, new { id = "ItemsDetails", @class = "", @enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(model => model.Id)
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6 mt-2">
                                <label>English Name</label>
                                @Html.TextBoxFor(model => model.Name, new { @Type = "text", @class = "form-control", @placeholder = "Enter English Name" })
                            </div>
                            <div class="col-6 mt-2">
                                <label>Gujarati Name</label>
                                @Html.TextBoxFor(model => model.GujaratiName, new { @Type = "text", @class = "form-control", @placeholder = "Enter Gujarati Name" })
                            </div>
                            <div class="col-6 mt-2">
                                <label>Hindi Name</label>
                                @Html.TextBoxFor(model => model.HindiName, new { @Type = "text", @class = "form-control", @placeholder = "Enter Hindi Name" })
                            </div>
                            <div class="col-6 mt-2">
                                <label>Item Image</label><br />
                                @*<input type="file" name="files" />*@
                                @Html.TextBoxFor(model => model.Files, new { @Type = "file"})
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input id="btnSearch" type="submit" class="btn btn-primary saveBtn" value="Save" />
                        <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Saving...
                        </button>
                        <a class="btn btn-secondary closeBtn" href="@Url.Action(Actions.Index, Controllers.Items)">Cancel</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@Html.Raw(ViewBag.openPopup)
@section Scripts {

    <script>
        $(document).ready(() => {
            $("#ItemsDetails").validate({
                rules: {
                    Name: "required",
                    Files: "required"
                },
                messages: {
                    Name: {
                        required: "Please enter a Name",
                    },
                    Files: {
                        required: "Please enter an Item Image",
                    }
                },

                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents(".form-group"));
                    } else {
                        // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
        });
    </script>

}
