﻿@using AAH.Common;
@using AAHAdmin.Pages;
@using System.Web.Optimization;
@using AAHAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABofRnRkpT_4m344ZOsyRnT90uSGF5H6A"></script>

<div class="content container-fluid">
    <div class="row">
        <div class="col-8 mb-4">
            <h5>Manage Items</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">
            <div class="card p-3">
                @Html.AntiForgeryToken()
                <div class="w-100">
                    <a href="@Url.Action(Actions.Details,Controllers.Items)" type="button" class="btn btn-primary float-right">
                        Create Items
                    </a>
                </div>
                <div class="portlet-body table-responsive" id="divManageItems">
                    <table class="table table-striped table-bUsersed table-hover border" id="ManageItems"></table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(document).ready(() => {
            ManageItemsDataTable.init();
        });

        var ManageItemsDataTable = function () {
            let initTable1 = function () {
                let table = $('#ManageItems');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from MAX total entries)",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.AllItems, Controllers.Items)',
                        type: "post",
                        data: SearchCriteria(),
                    },
                    "columns": [
                        {
                            "title": "#", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["Id"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Item's English Name", "data": "Name",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["Name"] == "" || row["Name"] == null ? "-" : row["Name"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Item's Gujarati Name", "data": "GujaratiName",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["GujaratiName"] == "" || row["GujaratiName"] == null ? "-" : row["GujaratiName"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Item's Hindi Name", "data": "HindiName",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["HindiName"] == "" || row["HindiName"] == null ? "-" : row["HindiName"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Image", "data": "ImageUrl",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<a href="${row["ImageUrlStr"]}" target="_blank"><img class="img-round" src="${row["ImageUrlStr"]}" /></a>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Created By", "data": "CreatedBy",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `<p class="mb-0"><b>Name : </b>${row["CreatedByName"] == "" || row["CreatedByName"] == null ? '-' : row["CreatedByName"]}</a></p>`;
                                htmlData += `<p class="mb-0"><b>Created Date : </b>${row["CreatedDateStr"] == "" || row["CreatedDateStr"] == null ? '-' : row["CreatedDateStr"]}</a></p>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "7%"
                        },
                        {
                            "title": "Updated By", "data": "UpdatedBy",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData += `<p class="mb-0"><b>Name : </b>${row["UpdatedByName"] == "" || row["UpdatedByName"] == null ? '-' : row["UpdatedByName"]}</a></p>`;
                                htmlData += `<p class="mb-0"><b>Created Date : </b>${row["UpdatedDateStr"] == "" || row["UpdatedDateStr"] == null ? '-' : row["UpdatedDateStr"]}</a></p>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "7%"
                        },
                        {
                            "title": "Is Active ?", "data": "IsActive",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                if (row["IsActive"] == 1) {
                                    htmlData = `<button onclick="InactiveMessage('${row["Id"]}');" class="badge badge-primary">Active</button>`;
                                } else {
                                    htmlData = `<button onclick="ActiveMessage('${row["Id"]}');" class="badge badge-danger">In-Active</button>`;
                                }


                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Action", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData += `<a class="btn btn-sm btn-outline-secondary mr-1" href="@Url.Action(Actions.Details, Controllers.Items)?IID=${btoa(row["Id"])}" title="Edit">
                                                <i class="fa fa-edit"></i>
                                            </a>`;
                                htmlData += `<button title="Delete Category" class="btn btn-sm btn-outline-danger mr-1" onclick="DeleteItem('${(row["Id"])}');"><i class="fa fa-trash"></i></button>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },

                    ],

                    "buttons": [],

                    responsive: true,

                    "lengthMenu": [
                        [5, 10, 15, 20, 1000],
                        [5, 10, 15, 20, 1000]
                    ],

                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                init: function () {
                    if ($.fn.DataTable.isDataTable("#ManageItems")) {
                        $('#ManageItems').dataTable().fnDestroy();
                        $('#divManageItems').html('<table class="table table-striped border" width="100%" id="ManageItems"></table>');
                    }
                    initTable1();
                }
            };
        }();

        function SearchCriteria() {
            try {
                var param = {};
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        // ======================= Items Delete ===================================
        function DeleteItem(id)
        {
            swal({
                title: "Delete !",
                text: "Are You Sure You want to Delete this Record ?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willdelete) => {
                if (willdelete) {
                    $.ajax({
                        type: "get",
                        url: '@Url.Action(Actions.ItemDelete, Controllers.Items)',
                        data: { Id: btoa(id) },
                        dataType: 'json',
                        success: function (response) {

                            if (response.Code == 200) {
                                ManageItemsDataTable.init();
                                swal({
                                    title: "Deleted",
                                    text: response.Message,
                                    icon: "success",
                                    buttons: false,
                                    timer: 3000
                                })
                            }
                        },
                        error: function (error) {
                            console.log('error', error);
                        }
                    })
                }
            });
        }

        //Items active / in active
        function ActiveMessage(id) {
            swal({
                title: "Are you sure ?",
                text: "You will be activating this Record !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willupdate) => {
                    if (willupdate) {
                        UpdateStatus(id);
                    }
                });
        }
        function InactiveMessage(id) {
            swal({
                title: "Are you sure ?",
                text: "You will be in-active this Record !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willupdate) => {
                    if (willupdate) {
                        UpdateStatus(id);
                    }
                });
        }

        function UpdateStatus(id)
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.ItemActInAct, Controllers.Items)',
                data: { Id: id },
                dataType: 'json',
                success: function (response) {
                    ManageItemsDataTable.init();
                    if (response.Code == 200) {
                        swal({
                            title: "Success",
                            text: response.Message,
                            icon: "success",
                            timer: 2000
                        })
                    } else {
                        swal({
                            title: "Warning",
                            text: response.Message,
                            icon: "warning"
                        })
                    }
                },
                error: function (error) {

                }
            });
        }

    </script>    
    
}