﻿
<!DOCTYPE html>
<html lang="zxx" class="no-js">


<!-- Mirrored from app.kevimart.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 18 Feb 2021 06:30:07 GMT -->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="codepixer">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <title>Ginny Buddy</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600|Roboto:400,400i,500" rel="stylesheet">

    <!-- CSS -->

    <link rel="stylesheet" href="~/assets/css/linearicons.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/css/hexagons.min.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
    <style>
        .header-scrolled {
            background: rgb(255 255 255) !important;
        }

        .blacklogo {
            display: none;
        }

        .header-scrolled #logo a .whitelogo {
            display: none;
        }

        .header-scrolled #logo a .blacklogo {
            display: block !important;
        }

        media {
            max-height: initial !important;
            max-width: 468px;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177623708-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-177623708-1');</script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    '../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NKN6G4G');</script>
    <!-- End Google Tag Manager -->
</head>

<body>

    <header id="header">
        <div class="container-fluid main-menu">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="#"><img class="whitelogo" src="~/assets/img/Ginni_logo.svg" style="width: 130px;" alt="" title="" /></a>
                    @*<a href="#"><img class="blacklogo" src="~/assets/img/Ginni_logo.svg" style="width: 130px;" alt="" title="" /></a>*@
                </div>
                <!-- <nav id="nav-menu-container">
                     <ul class="nav-menu">
                        <li class="menu-active"><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li class="menu-has-children"><a href="">Pages</a>
                            <ul>
                                <li><a href="#">Page 1</a></li>
                            </ul>
                        </li>
                        <li class="menu-has-children"><a href="">Blog</a>
                            <ul>
                                <li><a href="#">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav> -->
            </div>
        </div>
    </header>

    <section class="home-banner-area">
        <div class="container-fluid">
            <div class="row fullscreen align-items-center justify-content-between pl-5 pr-5" style="height:488px;">
                <div class="home-banner-content col-lg-6 col-md-6">
                    <!-- <h2 class="text-white mb-4"> -->
                    <!-- We Keep An <i class="fa fa-eye" style="color: rgb(0, 153, 255);"></i>  Out For You -->
                    <!-- </h2> -->
                    <div class="download-button d-flex flex-row justify-content-start">
                        <div class="buttons flex-row d-flex">
                            <i class="fa fa-apple" aria-hidden="true"></i>
                            <div class="desc">
                                <a href="https://apps.apple.com/us/app/ginny-buddy/id1635579129">
                                    <p>
                                        <span>Available</span> <br>
                                        on App Store
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="buttons dark flex-row d-flex">
                            <i class="fa fa-android" aria-hidden="true"></i>
                            <div class="desc">
                                <a href="https://play.google.com/store/apps/details?id=com.rushkar.aah">
                                    <p>
                                        <span>Available</span> <br>
                                        on Play Store
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="Ginni_logo-img col-lg-6 col-md-6 random-faces"> -->
                <!-- <div class="row"> -->
                <!-- <div class="col-lg-6 mobile-img"> -->
                <!-- <img src="img/phone1.png" class="w-100"> -->
                <!-- </div> -->
                <!-- <div class="col-lg-6 mobile-img"> -->
                <!-- <img src="img/phone2.png" class="w-100"> -->
                <!-- </div> -->
                <!-- </div> -->
                <!-- </div> -->
            </div>
        </div>
    </section>

    <section class="fact-area" style="margin-bottom: 40px;">
        <div class="container">
            <div class="fact-box">
                <div class="row align-items-center">
                    <div class="col single-fact">
                        <h2>1,00,000+</h2>
                        <p>Total Downloads</p>
                    </div>
                    <div class="col single-fact">
                        <h2>500+</h2>
                        <p>Positive Feedback</p>
                    </div>
                    <div class="col single-fact">
                        <h2>4.5+</h2>
                        <p>Ratings</p>
                    </div>
                    <div class="col single-fact">
                        <h2>1%</h2>
                        <p>Uninstallation Rate</p>
                    </div>
                    <div class="col single-fact">
                        <h2>1,00,000+</h2>
                        <p>Products</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="~/assets/js/vendor/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/tilt.jquery.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/assets/js/easing.min.js"></script>
    <script src="~/assets/js/superfish.min.js"></script>
    <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/mail-script.js"></script>
    <script src="~/assets/js/main.js"></script>

    <script>
        $(document).ready(function () {

            var description = [
                "img/p-1.jpeg",
                "img/p-2.jpg",
                "img/p-3.jpg"
            ];

            var size = description.length;
            $('.random-faces img').each(function () {
                var x = Math.floor(size * Math.random()); //move random inside loop
                if ($(this).hasClass("people")) { //replace "img" with "this"
                    $(this).attr("src", description[x]);
                }
            });

            getMobileOperatingSystem();
        });

        function getMobileOperatingSystem() {
            var userAgent = navigator.userAgent || navigator.vendor || window.opera;

            if (/windows phone/i.test(userAgent)) {
                window.location.replace("http://ginnybuddy.in/");
                return "Unknown";
            }

            else if (/android/i.test(userAgent)) {
                window.location.replace("https://play.google.com/store/apps/details?id=com.rushkar.aah");
                return "Android";
            }


            else if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
                window.location.replace("https://apps.apple.com/us/app/ginny-buddy/id1635579129");
                return "IOS";
            }

            else {
                //console.log("Unknown");
                window.location.replace("http://ginnybuddy.in/");
                return "Unknown";
            }
        }</script>

</body>


<!-- Mirrored from app.kevimart.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 18 Feb 2021 06:30:15 GMT -->
</html>