﻿@using AAH.Common;
@using AAHAdmin.Pages;
@using System.Web.Optimization;
@using AAHAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<style>
    .bgredBox {
        background: red;
    }

        .bgredBox span {
            color: #fff !important;
        }

        .bgredBox h3 {
            color: #fff !important;
        }

    #map {
        height: 400px;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    #ProvidersLocationsMap {
        height: 400px;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    #CompletedRequestmap {
        height: 400px;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    span {
        color: black !important;
    }

    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #0069D9;
        color: white;
    }

    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .text-c-dark {
        color: #000;
    }

    .device-active .active .card {
        background: #157aec;
        cursor: pointer;
    }

    .device-active .active .text-c-dark {
        color: #fff !important;
    }

        .device-active .active .text-c-dark .icon {
            background-color: #0069D9;
            border: none;
        }

    .icon-box {
        background: #eff1f4;
    }

        .icon-box:hover {
            background: #0e67cc !important;
        }

    .min-height-count {
        min-height: 96px;
    }
    .clr {
        color: darkslategray !important;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABofRnRkpT_4m344ZOsyRnT90uSGF5H6A"></script>

<div class="content container-fluid">
    <div class="row">
        <div class="col-12">
            <h5>Dashboard</h5>
        </div>
    </div>
    <hr class="mt-0" />
    <div class="row">
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                        <span class="text-uppercase fw-bold fs-18">Salary</span>
                    </div>
                    <h3 class="fw-medium mb-0 clr" id="Salary"></h3>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 pb-4">
            @if (ProjectSession.UserType == "Downloading Staff")
            {
                <a href="@Url.Action(Actions.Target_DownloadingStaff, Controllers.Home, new { area = "", Type = ConvertTo.Base64Encode(Convert.ToString("1")) })">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                                <span class="text-uppercase fw-bold fs-18">Target</span>
                            </div>
                            <h3 class="fw-medium mb-0 clr" id="Target"></h3>
                        </div>
                    </div>
                </a>
            }
            @if (ProjectSession.UserType == "On boarding Staff")
            {
                <a href="@Url.Action(Actions.Target_OnBoardingStaff, Controllers.Home, new { area = "", Type = ConvertTo.Base64Encode(Convert.ToString("1")) })">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                                <span class="text-uppercase fw-bold fs-18">Target</span>
                            </div>
                            <h3 class="fw-medium mb-0 clr" id="Target"></h3>
                        </div>
                    </div>
                </a>
            }
            @if (ProjectSession.UserType == "Advertising Staff")
            {
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                                <span class="text-uppercase fw-bold fs-18">Target</span>
                            </div>
                            <h3 class="fw-medium mb-0 clr" id="Target"></h3>
                        </div>
                    </div>
            }
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                        <span class="text-uppercase fw-bold fs-18">Today Target</span>
                    </div>
                    <h3 class="fw-medium mb-0 clr" id="TTARGET"></h3>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                        <span class="text-uppercase fw-bold fs-18">Penalty</span>
                    </div>
                    <h3 class="fw-medium mb-0 clr" id="Penalty"></h3>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                        <span class="text-uppercase fw-bold fs-18">Royalty</span>
                    </div>
                    <h3 class="fw-medium mb-0 clr" id="Royalty"></h3>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $(document).ready(() => {

            //let today = new Date().toISOString().slice(0, 10)
            //$('#ActionFormDate').val(today);

            dashboardCount();

        });

        //const interval = setInterval(function () {
        //    dashboardCount();
        //}, 10000);

        //clearInterval(interval);

        function dashboardCount(){
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.Admin_Dashboard, Controllers.Home)',
                dataType: 'json',
                success: function (response) {
                    
                    $("#Penalty").text(response.Item.Penalty);
                    $("#Royalty").text(response.Item.Royalty);
                    $("#Salary").text(response.Item.Salary);
                    $("#Target").text(response.Item.Target);
                    $("#TTARGET").text(response.Item.TodayTarget);
                    if ('@ProjectSession.UserType' == "Advertising Staff"){
                     $("#Target").text('0');
                    }
                },
                error: function (error) {
                    swal({
                        title: "Warning",
                        text: response.Message,
                        icon: "warning"
                    })
                }
            });
        }
    </script>
}