﻿@using AAH.Common;
@using AAHAdmin.Pages;
@using System.Web.Optimization;
@using AAHAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<style>
    .bgredBox{
        background:red;
    }
    .bgredBox span{
        color:#fff !important;
    }
    .bgredBox h3{
        color:#fff !important;
    }
    #map {
        height: 400px;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    #ProvidersLocationsMap {
        height: 400px;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    #CompletedRequestmap {
        height: 400px;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    span {
        color: #0596F8 !important;
    }

    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #0069D9;
        color: white;
    }

    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .text-c-dark {
        color: #000;
    }

    .device-active .active .card {
        background: #157aec;
        cursor: pointer;
    }

    .device-active .active .text-c-dark {
        color: #fff !important;
    }

        .device-active .active .text-c-dark .icon {
            background-color: #0069D9;
            border: none;
        }

    .icon-box {
        background: #eff1f4;
    }

        .icon-box:hover {
            background: #0e67cc !important;
        }

    .min-height-count {
        min-height: 96px;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABofRnRkpT_4m344ZOsyRnT90uSGF5H6A"></script>

<div class="content container-fluid">
    <div class="row">
        <div class="col-12">
            <h5>Dashboard</h5>
        </div>
    </div>
    <hr class="mt-0"/>
    <div class="row">
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                        <span class="text-uppercase fw-medium fs-12">Today No. Of Request</span>
                    </div>
                    <h3 class="fw-bold mb-0" id="TodayTotalRequest"></h3>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 pb-4">
            <a href="@Url.Action(Actions.Index, Controllers.Requests, new { area = "", Type = ConvertTo.Base64Encode(Convert.ToString("1")) })">
                <div class="card h-100">
                    <div class="card-body" id="bgred">
                        <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                            <span class="text-uppercase fw-medium fs-12">Requests Not-Attended Count</span>
                        </div>
                        <h3 class="fw-bold mb-0" id="NotAttended"></h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                        <span class="text-uppercase fw-medium fs-12">New Requests Count</span>
                    </div>
                    <h3 class="fw-bold mb-0" id="NewRequestCount"></h3>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                        <span class="text-uppercase fw-medium fs-12">Finding Providers Requests Count</span>
                    </div>
                    <h3 class="fw-bold mb-0" id="FindingProvidersCount"></h3>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                        <span class="text-uppercase fw-medium fs-12">Request Assigned Count</span>
                    </div>
                    <h3 class="fw-bold mb-0" id="RequestAssignedCount"></h3>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                        <span class="text-uppercase fw-medium fs-12">Request Attended Count</span>
                    </div>
                    <h3 class="fw-bold mb-0" id="RequestAttendedCount"></h3>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                        <span class="text-uppercase fw-medium fs-12">Request Rejected By Customer Count</span>
                    </div>
                    <h3 class="fw-bold mb-0" id="RequestRejectedByCustomerCount"></h3>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                        <span class="text-uppercase fw-medium fs-12">Request Rejected By Delivery Executive Count</span>
                    </div>
                    <h3 class="fw-bold mb-0" id="RequestRejectedByDeliveryExecutiveCount"></h3>
                </div>
            </div>
        </div>
        @*<div class="col-xl-2 col-lg-6 col-md-12 col-12 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                        <span class="text-uppercase fw-medium fs-12">Pitched Requests Count</span>
                    </div>
                    <h3 class="fw-bold mb-0" id="PitchedCount"></h3>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                        <span class="text-uppercase fw-medium fs-12">Accepted Requests Count</span>
                    </div>
                    <h3 class="fw-bold mb-0" id="AcceptedCount"></h3>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                        <span class="text-uppercase fw-medium fs-12">Ignored Requests Count</span>
                    </div>
                    <h3 class="fw-bold mb-0" id="IgnoredCount"></h3>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                        <span class="text-uppercase fw-medium fs-12">Rejected Requests Count</span>
                    </div>
                    <h3 class="fw-bold mb-0" id="RejectedCount"></h3>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                        <span class="text-uppercase fw-medium fs-12">Cash At Home Requests Count</span>
                    </div>
                    <h3 class="fw-bold mb-0" id="CashAtHomeCount"></h3>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                        <span class="text-uppercase fw-medium fs-12">SOS Requests Count</span>
                    </div>
                    <h3 class="fw-bold mb-0" id="SOSCount"></h3>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                        <span class="text-uppercase fw-medium fs-12">Other Service Requests Count</span>
                    </div>
                    <h3 class="fw-bold mb-0" id="OtherServiceCount"></h3>
                </div>
            </div>
        </div>*@
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                        <span class="text-uppercase fw-medium fs-12">Customer Count</span>
                    </div>
                    <h3 class="fw-bold mb-0" id="CustomerCount"></h3>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                        <span class="text-uppercase fw-medium fs-12">Delivery executive Count</span>
                    </div>
                    <h3 class="fw-bold mb-0" id="DeliveryexecutiveCount"></h3>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                        <span class="text-uppercase fw-medium fs-12">Active Delivery executive Count</span>
                    </div>
                    <h3 class="fw-bold mb-0" id="ActiveDeliveryexecutiveCount"></h3>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                        <span class="text-uppercase fw-medium fs-12">Approved Delivery executive Count</span>
                    </div>
                    <h3 class="fw-bold mb-0" id="ApprovedDeliveryexecutiveCount"></h3>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-lg-6 col-md-12 col-12 pb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="min-height-count d-flex align-items-center justify-content-between mb-3 lh-1">
                        <span class="text-uppercase fw-medium fs-12">Available Delivery executive Count</span>
                    </div>
                    <h3 class="fw-bold mb-0" id="AvailableDeliveryexecutiveCount"></h3>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-12">
            <h5 class="fw-bold mb-3">Requests Map Statistics</h5>
        </div>
        
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-white">
                    <ul class="nav nav-minimal">
                        <li class="nav-item" onclick="NotAssignedRequestsMapFun();">
                            <a class="nav-link active" id="tab_6_1" data-toggle="tab" href="#Not_Assigned_Requests">Not Assigned Requests</a>
                        </li>
                        <li class="nav-item" onclick="DeliveryExecutiveLatLong_MapFun();">
                            <a class="nav-link" id="tab_6_2" data-toggle="tab" href="#Providers_Locations">Providers Locations</a>
                        </li>
                        <li class="nav-item" onclick="RequestsAttended_MapFun();">
                            <a class="nav-link" id="tab_6_3" data-toggle="tab" href="#Completed_Request">Completed Request</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="Not_Assigned_Requests" role="tabpanel" aria-labelledby="tab_6_1">
                            <div id="NotAssignedRequests">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row justify-content-end align-items-end">
                                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                                <button type="button" class="float-right btn btn-warning c-w-49 syncsaveBtn" onclick="SearchResetNAR();"><i class="tio-swap"></i> Sync Now</button>
                                                <button type="button" class="float-right btn btn-warning c-w-49 syncloading" disabled style="display:none;">
                                                    Syncing...
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="page-head row portlet light bordered w-100" style="margin-top: 10px !important;">
                                    <div class="col-md-12" style="margin-bottom: 15px;">
                                        <div id="map"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade show" id="Providers_Locations" role="tabpanel" aria-labelledby="tab_6_2">
                            <div id="ProvidersLocations">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row justify-content-end align-items-end">
                                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                                <button type="button" class="float-right btn btn-warning c-w-49 syncsaveBtn" onclick="SearchResetDL();"><i class="tio-swap"></i> Sync Now</button>
                                                <button type="button" class="float-right btn btn-warning c-w-49 syncloading" disabled style="display:none;">
                                                    Syncing...
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="page-head row portlet light bordered w-100" style="margin-top: 10px !important;">
                                    <div class="col-md-12" style="margin-bottom: 15px;">
                                        <div id="ProvidersLocationsMap"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade show" id="Completed_Request" role="tabpanel" aria-labelledby="tab_6_3">
                            <div id="CompletedRequest">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row justify-content-start align-items-end">
                                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                                <div class="form-group mb-0">
                                                    <label for="">From Date</label>
                                                    <input type="date" class="form-control" id="ActionFormDate">
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                                <div class="form-group mb-0">
                                                    <label for="">To Date</label>
                                                    <input type="date" class="form-control" id="ActionToDate">
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                                <button type="button" class="btn btn-primary c-w-49 saveBtn" onclick="RequestsAttended_MapFun();"><i class="tio-search"></i> Search</button>
                                                <button type="button" class="btn btn-primary c-w-49 loading" disabled style="display:none;">
                                                    Searching...
                                                </button>
                                                <button role="button" class="btn btn-outline-secondary c-w-49 ml-1 closeBtn" onclick="SearchReset();">Reset</button>
                                            </div>
                                            <div class="col-xl-3 col-lg-4 col-md-6 col-12 ">
                                                <button type="button" class="float-right btn btn-warning c-w-49 syncsaveBtn" onclick="SearchResetRA();"><i class="tio-swap"></i> Sync Now</button>
                                                <button type="button" class="float-right btn btn-warning c-w-49 syncloading" disabled style="display:none;">
                                                    Syncing...
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="page-head row portlet light bordered w-100" style="margin-top: 10px !important;">
                                    <div class="col-md-12" style="margin-top: 15px; margin-bottom: 15px;">
                                        <div id="CompletedRequestmap"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $(document).ready(() => {

            let today = new Date().toISOString().slice(0, 10)
            $('#ActionFormDate').val(today);

            dashboardCount();

            NotAssignedRequestsMapFun();
        });

        const interval = setInterval(function () {
            dashboardCount();
        }, 10000);

        clearInterval(interval);

        function dashboardCount(){
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.Requests_ByStatusCount, Controllers.Home)',
                dataType: 'json',
                success: function (response) {
                    if (response.Item.NotAttended > 0) {
                        $("#bgred").addClass("bgredBox");
                    }
                    else {
                        $("#bgred").removeClass("bgredBox");

                    }
                    $("#NotAttended").text(response.Item.NotAttended);
                    $("#NewRequestCount").text(response.Item.NewRequestCount);
                    $("#FindingProvidersCount").text(response.Item.FindingProvidersCount);
                    $("#RequestAssignedCount").text(response.Item.RequestAssignedCount);
                    $("#RequestAttendedCount").text(response.Item.RequestAttendedCount);
                    $("#RequestRejectedByCustomerCount").text(response.Item.RequestRejectedByCustomerCount);
                    $("#RequestRejectedByDeliveryExecutiveCount").text(response.Item.RequestRejectedByDeliveryExecutiveCount);
                    //$("#PitchedCount").text(response.Item.PitchedCount);
                    //$("#AcceptedCount").text(response.Item.AcceptedCount);
                    //$("#IgnoredCount").text(response.Item.IgnoredCount);
                    //$("#RejectedCount").text(response.Item.RejectedCount);
                    //$("#CashAtHomeCount").text(response.Item.CashAtHomeCount);
                    //$("#SOSCount").text(response.Item.SOSCount);
                    //$("#OtherServiceCount").text(response.Item.OtherServiceCount);
                    $("#CustomerCount").text(response.Item.CustomerCount);
                    $("#DeliveryexecutiveCount").text(response.Item.DeliveryexecutiveCount);
                    $("#ActiveDeliveryexecutiveCount").text(response.Item.ActiveDeliveryexecutiveCount);
                    $("#ApprovedDeliveryexecutiveCount").text(response.Item.ApprovedDeliveryexecutiveCount);
                    $("#AvailableDeliveryexecutiveCount").text(response.Item.AvailableDeliveryexecutiveCount);
                    $("#TodayTotalRequest").text(response.Item.TodayNoOfRequest);
                },
                error: function (error) {
                    swal({
                        title: "Warning",
                        text: response.Message,
                        icon: "warning"
                    })
                }
            });
        }

        function NotAssignedRequestsMapFun() {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.Requests_Urgent, Controllers.Home)',
                //data: ({ UserId: $("#UserId").val(), DeliveryExecutiveId: $("#DeliveryExecutiveId").val() }),
                data: ({ UserId: 0, DeliveryExecutiveId: 0 }),
                dataType: 'json',
                success: function (response) {
                    if (response.Values.length > 0) {
                        var MapPoints = '[';
                        for (var i = 0; response.Values.length > i; i++) {
                            var subservicename = '';
                            if (response.Values[i].SubServiceName != null) {
                                subservicename = ' - ' + response.Values[i].SubServiceName;
                            }

                            MapPoints += '{ "address": { "lat": ' + response.Values[i].Latitude + ', "lng": ' + response.Values[i].Longitude + ',"serviceid":' + response.Values[i].ServiceMasterId + '},"title": "<b>Customer Name : </b>' + response.Values[i].UserName + ' ( <a href=tel:' + response.Values[i].UserMobileNumber + '>' + response.Values[i].UserMobileNumber + '</a> )<br/><b>Address : </b><a style=color:#0596F8;cursor:pointer onclick=OpenAddress(' + response.Values[i].Latitude + ',' + response.Values[i].Longitude + ');>' + response.Values[i].AddressLine1 + '  ' + response.Values[i].AddressLine2 + '</a><br/><b>Service : </b>' + response.Values[i].ServiceName + subservicename + '<br/><b>Created DT : </b>' + response.Values[i].CreatedDateStr + '<br/><b style=color:#0596F8;cursor:pointer onclick=ViewRequestDetails(' + response.Values[i].Id + ');>Click here to view details</b>"},';
                        }
                        MapPoints = MapPoints.slice(0, -1);

                        initialize(MapPoints + ']');
                    } else {
                        $("#map").html('<br><hr/><h4 class="text-center">No Record Found</h4>');
                    }
                },
                error: function (error) {
                    swal({
                        title: "Warning",
                        text: "Something went wrong !",
                        icon: "warning"
                    })
                }
            });
        }

        function initialize(MapPoints) {
                var MY_MAPTYPE_ID = 'custom_style';

                if (jQuery('#map').length > 0) {

                    var locations = jQuery.parseJSON(MapPoints);

                    window.map = new google.maps.Map(document.getElementById('map'), {
                        mapTypeId: 'satellite',
                        scrollwheel: true
                    });

                    var infowindow = new google.maps.InfoWindow();
                    var flightPlanCoordinates = [];
                    var bounds = new google.maps.LatLngBounds();

                    const svgMarker = {
                        path: "M10.453 14.016l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM12 2.016q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
                        fillColor: "yellow",
                        fillOpacity: 1,
                        strokeWeight: 0,
                        rotation: 0,
                        scale: 2,
                        anchor: new google.maps.Point(15, 30),
                    };

                    const svgMarker1 = {
                        path: "M10.453 14.016l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM12 2.016q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
                        fillColor: "orange",
                        fillOpacity: 1,
                        strokeWeight: 0,
                        rotation: 0,
                        scale: 2,
                        anchor: new google.maps.Point(15, 30),
                    };

                    const svgMarker2 = {
                        path: "M10.453 14.016l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM12 2.016q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
                        fillColor: "red",
                        fillOpacity: 1,
                        strokeWeight: 0,
                        rotation: 0,
                        scale: 2,
                        anchor: new google.maps.Point(15, 30),
                    };

                    var marker = '';

                    for (i = 0; i < locations.length; i++) {
                        if (locations[i].address.serviceid == 1) {
                            marker = new google.maps.Marker({
                                position: new google.maps.LatLng(locations[i].address.lat, locations[i].address.lng),
                                map: map,
                                icon: svgMarker1,
                            });
                        } else if (locations[i].address.serviceid == 2) {
                            marker = new google.maps.Marker({
                                position: new google.maps.LatLng(locations[i].address.lat, locations[i].address.lng),
                                map: map,
                                icon: svgMarker2,
                            });
                        } else {
                            marker = new google.maps.Marker({
                                position: new google.maps.LatLng(locations[i].address.lat, locations[i].address.lng),
                                map: map,
                                icon: svgMarker,
                            });
                        }

                        flightPlanCoordinates.push(marker.getPosition());
                        bounds.extend(marker.position);
                        google.maps.event.addListener(marker, 'click', (function (marker, i) {
                            return function () {
                                infowindow.setContent(locations[i]['title']);
                                infowindow.open(map, marker);
                            }
                        })(marker, i));
                    }

                    map.fitBounds(bounds);

                    //var flightPath = new google.maps.Polyline({
                    //    map: map,
                    //    path: flightPlanCoordinates,
                    //    strokeColor: "#0596F8",
                    //    strokeOpacity: 1.0,
                    //    strokeWeight: 2
                    //});

                    google.maps.event.addDomListener(window, 'load', initialize);
                }
            }

        function DeliveryExecutiveLatLong_MapFun() {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.DeliveryExecutiveLatLong_Map, Controllers.Home)',
                dataType: 'json',
                success: function (response) {
                    if (response.TotalRecords > 0) {
                        debugger
                        var MapPoints = '[';
                        for (var i = 0; response.Values.length > i; i++) {
                            MapPoints += '{ "address": { "lat": ' + response.Values[i].Latitude + ', "lng": ' + response.Values[i].Longitude + ',"statusId":' + response.Values[i].StatusId + '},"title": "<b>Provider Name : </b>' + response.Values[i].DeliveryExecutiveName + ' ( <a href=tel:' + response.Values[i].DeliveryExecutiveMobileNumber + '>' + response.Values[i].DeliveryExecutiveMobileNumber + '</a> )"},';
                        }
                        MapPoints = MapPoints.slice(0, -1);
                        DeliveryExecutiveLatLongMAP(MapPoints + ']');
                    } else {
                        $("#ProvidersLocationsMap").html('<hr/><h4 class="text-center">No Record Found</h4>');
                    }
                },
                error: function (error) {
                    swal({
                        title: "Warning",
                        text: "Something went wrong !",
                        icon: "warning"
                    })
                }
            });
        }

        function DeliveryExecutiveLatLongMAP(MapPoints) {
                var MY_MAPTYPE_ID = 'custom_style';

                    if (jQuery('#ProvidersLocationsMap').length > 0) {

                    var locations = jQuery.parseJSON(MapPoints);

                        window.map = new google.maps.Map(document.getElementById('ProvidersLocationsMap'), {
                        mapTypeId: 'satellite',
                        scrollwheel: true
                    });

                    var infowindow = new google.maps.InfoWindow();
                    var flightPlanCoordinates = [];
                    var bounds = new google.maps.LatLngBounds();

                    const svgMarker = {
                        path: "M10.453 14.016l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM12 2.016q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
                        fillColor: "red",
                        fillOpacity: 1,
                        strokeWeight: 0,
                        rotation: 0,
                        scale: 2,
                        anchor: new google.maps.Point(15, 30),
                    };

                    const svgMarker1 = {
                        path: "M10.453 14.016l6.563-6.609-1.406-1.406-5.156 5.203-2.063-2.109-1.406 1.406zM12 2.016q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z",
                        fillColor: "orange",
                        fillOpacity: 1,
                        strokeWeight: 0,
                        rotation: 0,
                        scale: 2,
                        anchor: new google.maps.Point(15, 30),
                    };


                    var marker = '';

                    for (i = 0; i < locations.length; i++) {
                        if (locations[i].address.statusId == 3) {
                            marker = new google.maps.Marker({
                                position: new google.maps.LatLng(locations[i].address.lat, locations[i].address.lng),
                                map: map,

                                icon: svgMarker1,
                            });
                        } else {
                            marker = new google.maps.Marker({
                                position: new google.maps.LatLng(locations[i].address.lat, locations[i].address.lng),
                                map: map,
                                icon: svgMarker,
                            });
                        }

                        flightPlanCoordinates.push(marker.getPosition());
                        bounds.extend(marker.position);
                        google.maps.event.addListener(marker, 'click', (function (marker, i) {
                            return function () {
                                infowindow.setContent(locations[i]['title']);
                                infowindow.open(map, marker);
                            }
                        })(marker, i));
                    }

                    map.fitBounds(bounds);

                    //var flightPath = new google.maps.Polyline({
                    //    map: map,
                    //    path: flightPlanCoordinates,
                    //    strokeColor: "#0596F8",
                    //    strokeOpacity: 1.0,
                    //    strokeWeight: 2
                    //});

                    google.maps.event.addDomListener(window, 'load', DeliveryExecutiveLatLongMAP);
                }
            }

        function RequestsAttended_MapFun() {

            $(".saveBtn").hide();
            $(".closeBtn").hide();
            $(".loading").show();

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.Requests_Attended, Controllers.Home)',
                data: ({ ActionFormDate: $("#ActionFormDate").val(), ActionToDate: $("#ActionToDate").val() }),
                dataType: 'json',
                success: function (response) {
                    if (response.TotalRecords > 0) {
                        debugger
                        var MapPoints = '[';
                        for (var i = 0; response.Values.length > i; i++) {
                            var subservicename = '';
                            if (response.Values[i].SubServiceName != null) {
                                subservicename = ' - ' + response.Values[i].SubServiceName;
                            }

                            MapPoints += '{ "address": { "lat": ' + response.Values[i].Latitude + ', "lng": ' + response.Values[i].Longitude + ',"serviceid":' + response.Values[i].ServiceMasterId + '},"title": "<b>Customer Name : </b>' + response.Values[i].UserName + ' ( <a href=tel:' + response.Values[i].UserMobileNumber + '>' + response.Values[i].UserMobileNumber + '</a> )<br/><b>Provider Name : </b>' + response.Values[i].DeliveryExecutiveName + ' ( <a href=tel:' + response.Values[i].DeliveryExecutiveMobileNumber + '>' + response.Values[i].DeliveryExecutiveMobileNumber + '</a> )<br/><b>Address : </b><a style=color:#0596F8;cursor:pointer onclick=OpenAddress(' + response.Values[i].Latitude + ',' + response.Values[i].Longitude + ');>' + response.Values[i].AddressLine1 + '  ' + response.Values[i].AddressLine2 + '</a><br/><b>Service : </b>' + response.Values[i].ServiceName + subservicename + '<br/><b>Created DT : </b>' + response.Values[i].CreatedDateStr + '<br/><b style=color:#0596F8;cursor:pointer onclick=ViewRequestDetails(' + response.Values[i].Id + ');>Click here to view details</b>"},';
                        }
                        MapPoints = MapPoints.slice(0, -1);
                        RequestsAttendedMAP(MapPoints + ']');

                    } else {
                        $("#CompletedRequestmap").html('<br><hr/><h4 class="text-center">No Record Found</h4>');
                    }
                    $(".saveBtn").show();
                    $(".closeBtn").show();
                    $(".loading").hide()
                },
                error: function (error) {
                    swal({
                        title: "Warning",
                        text: "Something went wrong !",
                        icon: "warning"
                    })
                    $(".saveBtn").show();
                    $(".closeBtn").show();
                    $(".loading").hide()
                }
            });
        }

        function RequestsAttendedMAP(MapPoints) {
            var MY_MAPTYPE_ID = 'custom_style';

            if (jQuery('#CompletedRequestmap').length > 0) {
                var locations = jQuery.parseJSON(MapPoints);

                window.map = new google.maps.Map(document.getElementById('CompletedRequestmap'), {
                    mapTypeId: 'satellite',
                    scrollwheel: true
                });

                var infowindow = new google.maps.InfoWindow();
                var flightPlanCoordinates = [];
                var bounds = new google.maps.LatLngBounds();

                for (i = 0; i < locations.length; i++) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(locations[i].address.lat, locations[i].address.lng),
                        map: map
                    });
                    flightPlanCoordinates.push(marker.getPosition());
                    bounds.extend(marker.position);
                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            infowindow.setContent(locations[i]['title']);
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
                }

                map.fitBounds(bounds);

                //var flightPath = new google.maps.Polyline({
                //    map: map,
                //    path: flightPlanCoordinates,
                //    strokeColor: "#0596F8",
                //    strokeOpacity: 1.0,
                //    strokeWeight: 2
                //});

                google.maps.event.addDomListener(window, 'load', RequestsAttendedMAP);
            }
        }

        function ViewRequestDetails(id) {
            id = btoa(id)
            window.location.href = "/Requests/Details?RId=" + id;
        }

        function OpenAddress(lat, long) {
            window.open("https://www.google.com/maps/?q=" + lat + "," + long)
        }

        function SearchReset() {
            let today = new Date().toISOString().slice(0, 10)
            $('#ActionFormDate').val(today);
            $('#ActionToDate').val("");
            RequestsAttended_MapFun();
        }

        function SearchResetRA() {
            $(".loading").hide();
            $(".saveBtn").hide();
            $(".syncsaveBtn").hide();
            $(".closeBtn").hide();
            $(".syncloading").show();

            let today = new Date().toISOString().slice(0, 10)
            $('#ActionFormDate').val(today);
            $('#ActionToDate').val("");

            setTimeout(() => {
                $(".loading").hide();
                $(".saveBtn").show();
                $(".closeBtn").show();
                $(".syncsaveBtn").show();
                $(".syncloading").hide();
                RequestsAttended_MapFun();
            }, 3000);

        }

        function SearchResetDL() {
            $(".syncsaveBtn").hide();
            $(".syncloading").show();

            setTimeout(() => {
                $(".syncsaveBtn").show();
                $(".syncloading").hide();
                DeliveryExecutiveLatLong_MapFun();
            }, 2000);
        }

        function SearchResetNAR() {
            $(".syncsaveBtn").hide();
            $(".syncloading").show();

            setTimeout(() => {
                $(".syncsaveBtn").show();
                $(".syncloading").hide();
                NotAssignedRequestsMapFun();
            }, 2000);
        }

    </script>
}