﻿@using AAH.Common;
@using AAHAdmin.Pages;
@using System.Web.Optimization;
@using AAHAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Target";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<style>
    .bgredBox {
        background: red;
    }

        .bgredBox span {
            color: #fff !important;
        }

        .bgredBox h3 {
            color: #fff !important;
        }

    #map {
        height: 400px;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    #ProvidersLocationsMap {
        height: 400px;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    #CompletedRequestmap {
        height: 400px;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    span {
        color: black !important;
    }

    .clr {
        color: darkslategray !important;
    }

    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #0069D9;
        color: white;
    }

    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .text-c-dark {
        color: #000;
    }

    .device-active .active .card {
        background: #157aec;
        cursor: pointer;
    }

    .device-active .active .text-c-dark {
        color: #fff !important;
    }

        .device-active .active .text-c-dark .icon {
            background-color: #0069D9;
            border: none;
        }

    .icon-box {
        background: #eff1f4;
    }

    .icon-box:hover {
        background: #0e67cc !important;
    }

    .min-height-count {
        min-height: 96px;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABofRnRkpT_4m344ZOsyRnT90uSGF5H6A"></script>

<div class="content container-fluid">
    <div class="row">
        <div class="col-12">
            <h5>Target</h5>
        </div>
    </div>
    <hr class="mt-0" />
    <div class="row">
            <div class="col-sm-6">
                <label>From Date</label>
                <div class="form-group">
                    <input type="date" class="form-control" value="" name="FromDate" id="FromDate" placeholder="Enter Here...">
                </div>
            </div>
            <div class="col-sm-6">
                <label>To Date</label>
                <div class="form-group">
                    <input type="date" class="form-control" value="" name="ToDate" id="ToDate" placeholder="Enter Here...">
                </div>
            </div>
        <div class="col-sm-12 text-center">
            <button type="button" class="btn btn-primary c-w-49 saveBtn" onclick="SearchReset();"><i class="tio-search"></i> Search</button>
            <button type="button" class="btn btn-primary c-w-49 loading" disabled style="display:none;">
                Searching...
            </button>
            <button role="button" class="btn btn-outline-secondary c-w-49 ml-1 closeBtn" onclick="SearchReset(true);">Reset</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">
            @Html.AntiForgeryToken()
            <div class="portlet-body table-responsive" id="divOnboardingTable">
                <table class="table table-striped table-bUsersed table-hover" id="OnboardingTable"></table>
            </div>
        </div>
    </div>
 </div>

@section Scripts {
    <script>

        $(document).ready(() => {
            let today = new Date().toISOString().slice(0, 10)
            $('#FromDate').val(today);
            $('#ToDate').val(today);

            OnboardingStaffDataTable.init();

        });



        var OnboardingStaffDataTable = function () {
            let initTable1 = function () {
                let table = $('#OnboardingTable');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from MAX total entries)",
                        //"lengthMenu": "MENU entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.OnBoardingStaff_TodayTarget, Controllers.Home)',
                        type: "post",
                        data: SearchCriteria(),
                    },
                    "columns": [
                        {
                            "title": "Created Date", "data": "CreatedDateStr",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["CreatedDateStr"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Target", "data": "Target",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["Target"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Achieved Target", "data": "AchievedTarget",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["AchievedTarget"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },

                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                        "buttons": [

                        ],

                        // setup responsive extension: http://datatables.net/extensions/responsive/
                        responsive: true,

                        "lengthMenu": [
                            [5, 10, 15, 20, 1000],
                            [5, 10, 15, 20, 1000] // change per page values here
                        ],
                        // set the initial value

                        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                        // So when dropdowns used the scrollable div should be removed.
                        //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#OnboardingTable")) {
                        $('#OnboardingTable').dataTable().fnDestroy();
                        $('#divOnboardingTable').html('<table class="table table-striped" width="100%" id="OnboardingTable"></table>');
                    }
                    initTable1();
                }
            };
        }();
        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        function SearchCriteria() {
            try {
                var param = {};
                param["Fromdate"] = $("#FromDate").val(),
                    param["Todate"] = $("#ToDate").val()
                return addRequestVerificationToken(param);
            } catch (e) { }
        }
        
        function SearchReset(isReset) {
            if (isReset == true) {
                $('#FromDate').val("");
                $('#ToDate').val("");
            }
            OnboardingStaffDataTable.init();
        }
    </script>
}