﻿@using AAH.Common;
@using AAHAdmin.Pages;
@using System.Web.Optimization;
@using AAHAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Vendor Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<style>
    .thela-images {
        border-radius: 10px;
    }

    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #0069D9;
        color: white;
    }

    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        bUsers-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            bUsers-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        bUsers-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        bUsers: 1px solid #d4d4d4;
        bUsers-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            bUsers-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .text-c-dark {
        color: #000;
    }

    .device-active .active .card {
        background: #157aec;
        cursor: pointer;
    }

    .device-active .active .text-c-dark {
        color: #fff !important;
    }

        .device-active .active .text-c-dark .icon {
            background-color: #0069D9;
            bUsers: none;
        }

    .icon-box {
        background: #eff1f4;
    }

        .icon-box:hover {
            background: #0e67cc !important;
        }

    .btn-primary {
        color: #fff !important;
        background-color: #0596F8 !important;
        border-color: #0596F8 !important;
        box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%) !important;
    }

    div.dt-buttons {
        float: right !important;
    }

    #map {
        padding: 0;
        margin: 0;
        height: 500px;
    }
</style>

<div class="content container-fluid" id="hideMainArea">
    <div class="row">
        <div class="col-8">
            <h5>Vendor Details</h5>
        </div>
    </div>
    <div class="vendor-profile card p-3 m-2 mb-5">
        <form action="" class="row" method="post" id="CreateVendorProfile" novalidate="novalidate">
            <input type="hidden" name="vendorId" id="vendorId" value="" />
            <div class="mb-3 col-lg-3">
                <label class="form-label">First Name</label>
                <input type="text" disabled class="form-control" id="FirstName" name="FirstName" placeholder="Enter First Name">
            </div>
            <div class="mb-3 col-lg-3">
                <label class="form-label">Last Name</label>
                <input type="text" disabled class="form-control" id="LastName" name="LastName" placeholder="Enter Last Name">
            </div>
            <div class="mb-3 col-lg-3">
                <label class="form-label">Shop Name</label>
                <input type="text" disabled class="form-control" id="ShopName" name="ShopName" placeholder="Enter Shop Name">
            </div>
            <div class="mb-3 col-lg-3">
                <label class="form-label">Gujarati Shop Name</label>
                <input type="text" disabled class="form-control" id="GujaratiShopName" name="GujaratiShopName" placeholder="Enter Shop Name">
            </div>
            <div class="mb-3 col-lg-3">
                <label class="form-label">Hindi Shop Name</label>
                <input type="text" disabled class="form-control" id="HindiShopName" name="HindiShopName" placeholder="Enter Shop Name">
            </div>
            <div class="mb-3 col-lg-3">
                <label class="form-label">Primary Phone Number</label>
                <input type="text" disabled class="form-control" id="PrimaryPhoneNumber" name="PrimaryPhoneNumber" placeholder="Enter Primary Phone Number">
            </div>
            <div class="mb-3 col-lg-3">
                <label class="form-label">Alternate Phone Number</label>
                <input type="text" disabled class="form-control" id="AlternatePhoneNumber" name="AlternatePhoneNumber" placeholder="Enter Alternate Phone Number">
            </div>
            <div class="mb-3 col-lg-3">
                <label class="form-label">Location</label>
                <input type="text"disabled class="form-control" onFocus="initializeAutocomplete()" id="Location" name="Location" placeholder="Enter Location">
                <input type="hidden" class="form-control" id="LocationLat" name="LocationLat">
                <input type="hidden" class="form-control" id="LocationLong" name="LocationLong">
                <input type="hidden" class="form-control" id="CreatedLat" name="CreatedLat">
                <input type="hidden" class="form-control" id="CreatedLong" name="CreatedLong">
                <input type="hidden" class="form-control" id="UpdatedLat" name="UpdatedLat">
                <input type="hidden" class="form-control" id="UpdatedLong" name="UpdatedLong">
            </div>
            <div class="mb-3 col-lg-3">
                <label class="form-label">AadharCard Number</label>
                <input type="text"disabled class="form-control" id="AadharCardNumber" name="AadharCardNumber" placeholder="Enter AadharCard Number">
            </div>
            <div class="mb-3 col-lg-3">
                <label class="form-label">AadharCard Image </label>
                <!--<div class="custom-file">-->
                    @*<input type="file" onchange="readURL(this);" class="custom-file-input" name="AadharImage" id="AadharImage">*@
                    <!--<label class="custom-file-label" for="AadharImage"> Select file</label>
                </div>-->
                <img id="AadharImageView" style="width: 20% !important" height="70px" class="form-control-file" accept="image/x-png,image/jpeg" />
            </div>
            <div class="mb-3 col-lg-3">
                <label class="form-label">ElectionID Number</label>
                <input type="text" disabled class="form-control" id="ElectionIDNumber" name="ElectionIDNumber" placeholder="Enter ElectionID Number">
            </div>
            <div class="mb-3 col-lg-3">
                <label class="form-label">ElectionID Image </label>
                <!--<div class="custom-file">-->
                    @*<input type="file" onchange="readURL1(this);" class="custom-file-input" name="ElectionIDImage" id="ElectionIDImage">*@
                    <!--<label class="custom-file-label" for="ElectionIDImage"> Select file</label>
                </div>-->
                <img id="ElectionImageView" style="width: 20% !important" height="70px" class="form-control-file" accept="image/x-png,image/jpeg" />
            </div>
            @*<div class="col-6 mt-2">
                    <label>Area</label>
                    @Html.Raw(Html.DropDownList("AreaId", (IEnumerable<SelectListItem>)ViewBag.AreaAll, new { @Id = "AreaId", @class = "form-control" }))
                </div>*@
            <div class="mb-3 col-lg-3">
                <label class="form-label">Shop Main Image</label>
                <!--<div class="custom-file">-->
                    @*<input type="file" onchange="readURL2(this);" class="custom-file-input" id="ShopOwnerProfile" name="ShopOwnerProfile">*@
                    <!--<label class="custom-file-label" for="ShopOwnerProfile"> Select file</label>
                </div>-->
                <img id="ShopImageView" style="width: 20% !important" height="70px" class="form-control-file" accept="image/x-png,image/jpeg" />
            </div>
            <div class="mb-3 col-lg-3">
                <label class="form-label">Is DeliveryBoy</label> <br />
                <input type="radio" disabled id="IsDeliveryBoyt" name="IsDeliveryBoy" value="1">
                <label for="IsDeliveryBoyt">Yes</label>
                <input type="radio" disabled id="IsDeliveryBoyf" name="IsDeliveryBoy" value="0">
                <label for="IsDeliveryBoyf">No</label>
            </div>
            <div class="mb-3 col-lg-3">
                <label class="form-label">Is Ready for Commition</label> <br />
                <input type="radio" disabled id="IsReadyForCommitiont" name="IsReadyForCommition" value="1">
                <label for="IsReadyForCommitiont">Yes</label>
                <input type="radio" disabled id="IsReadyForCommitionf" name="IsReadyForCommition" value="0">
                <label for="IsReadyForCommitionf">No</label>
            </div>
            @*<div class="col-lg-12 mt-3">
                <div class="mb-3">
                    <label class="form-label">Shop / Thela Items</label>
                    <input type="text" class="form-control" id="ItemName" name="ItemName" placeholder="Search Item Here">
                </div>
                <div class="mr-0" style="float:right;display:none;" id="showHideSaveButton">
                    <button type="button" class="btn btn-outline-primary" onclick="selectItemSearch()">Save Selection</button>
                    <button type="button" class="btn btn-outline-warning" onclick="clearItem()">clear</button>
                </div>
                <br />
                <br />
                <div class="mt-2 w-100" id="ProductItem">
                    <h5 id="NoItem" class="text-center">Search Above To View Items</h5>
                </div>
                <p class="error mt-2" style="display:none;" id="itemsError"></p>
            </div>*@
            <div class="vendor-profile card col-lg-12 mt-3 p-3 m-0 mb-5" id="SItem" style="display:none;">
                <div class="mb-3">
                    <h6 class="form-label">Selected Items</h6>
                </div>
                <div class="col-lg-12 p-0">
                    <div class="mt-2 w-100" id="ProductselectedItem">
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mt-3">
                @*<h5 class="mb-3">Add New Shop Other Images</h5>
                <input type="file" name="ImageUrls" id="ImageUrls" multiple onchange="MultipalImageUpload(this);" accept="image/*" />
                <input type="hidden" name="Images_Areaurl" id="Images_Areaurl" value="" />
                <div class="row m-0" id="New_Images_Area">

                </div>
                <hr />*@
                <h5 class="mb-3">Shop Other Images</h5>
                <div class="row m-0" id="Images_Area">

                </div>
            </div>
            @*<div class="header col-lg-12">
                <a href="/Vendors" class="btn btn-secondary ml-2 float-right" id="SubmitBack">Back</a>
                <button type="submit" class="btn btn-primary float-right" id="Submit">Submit</button>
                <button type="submit" class="btn btn-primary float-right" style="display:none;" id="SubmitLoading" disabled>Please wait...</button>
            </div>*@
        </form>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABofRnRkpT_4m344ZOsyRnT90uSGF5H6A&amp;libraries=places"></script>
<script src="~/assets/js/AutoLocation.js"></script>

<script>
    var urlClient = '@System.Configuration.ConfigurationManager.AppSettings["ClientURL"]';
    var AllItems = [];
    var selectedItems = [];
    var selectedItemsId = [];
    var items = [];
    var selectedItemsIdSearch = [];
    var itemsSearch = [];
    var VndId = 0;
    var VId = 0;
    $(document).ready(function ($) {
        VId = '@ViewBag.VendorId';
        if (VId == 0) {
            $('#AadharImageView').hide();
            $('#ElectionImageView').hide();
            $('#ShopImageView').hide();
        } else {
            GetVendorData();
            $('#AadharImageView').show();
            $('#ElectionImageView').show();
            $('#ShopImageView').show();
            $('#SItem').show();
        }
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(successFunction, errorFunction);
        }
        else {
            alert('It seems like Geolocation, which is required for this page, is not enabled in your browser.');
        }
        function successFunction(position) {
            var lat = position.coords.latitude;
            var long = position.coords.longitude;
            //alert('Your latitude is :' + lat + ' and longitude is ' + long);
            document.getElementById('CreatedLat').value = lat;
            document.getElementById('CreatedLong').value = long;
            document.getElementById('UpdatedLat').value = lat;
            document.getElementById('UpdatedLong').value = long;
        }

        function errorFunction(position) {
            alert('Please Allow The Permission To Show Map!');
        }

       // ManageItems();
      //  showItems();

        googleAutocomplete.autocompleteField("Location");

        $("#CreateVendorProfile").validate({
            rules: {
                FirstName: "required",
                LastName: "required",
                ShopName: "required",
                GujaratiShopName: "required",
                HindiShopName: "required",
                Location: "required",
                PrimaryPhoneNumber: {
                    required: true,
                    number: true
                },
                AadharCardNumber: "required",
                AadharImage: {
                    required: function (element) {
                        if (parseInt(VId) > 0) {
                            return false;
                        } else {
                            return true;
                        }
                    }
                },
                ElectionIDNumber: "required",
                ElectionIDImage:{
                    required: function (element) {
                        if (parseInt(VId) > 0) {
                            return false;
                        } else {
                            return true;
                        }
                    }
                },
                IsReadyForCommition: "required",
                IsDeliveryBoy: "required",
            },
            messages: {
                FirstName: {
                    required: "First Name is required",
                },
                LastName: {
                    required: "Last Name is required",
                },
                GujaratiShopName: {
                    required: "Gujarati Shop Name is required",
                },
                HindiShopName: {
                    required: "Hindi Shop Name is required",
                },
                ShopName: {
                    required: "Shop Name is required",
                },
                Location: {
                    required: "Location is required",
                },
                PrimaryPhoneNumber: {
                    required: "Primary PhoneNumber is required",
                },
                AadharCardNumber: {
                    required: "AadharCard Number is required",
                },
                AadharImage: {
                    required: "AadharCard Image is required",
                },
                ElectionIDNumber: {
                     required: "ElectionID Number is required",
                },
                ElectionIDImage: {
                    required: "ElectionID Image is required",
                },
                IsReadyForCommition: {
                    required: "Is Ready for Commition or Not is required",
                },
                IsDeliveryBoy: {
                    required: "Is DeliveryBoy or Not is required",
                }
            },
            errorPlacement: function (error, element) {
                if (element.is(":radio")) {
                    error.appendTo(element.parents('.form-group'));
                }
                else { // This is the default behavior
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                CreateVendorProfileDetails();
               // AddItems();
            }

        });
    });

    $("#ItemName").keyup(function () {
        var search = $("#ItemName").val();
        ManageItems(search)
    });

    function ManageItems(search) {
        $.ajax({
            type: "get",
            url: '@Url.Action(Actions.ManageItems, Controllers.Vendors)',
            data: ({ Search: search,vendorsId: @ViewBag.VendorId  }),
            dataType: 'json',
            success: function (response) {
                var htmlData = "";
                if (response.Values.length > 0) {
                    $("#showHideSaveButton").show();
                    for (var i = 0; i < response.Values.length; i++) {

                        AllItems.push(response.Values[i].Id.toString());

                        htmlData += `<div class="col-4 mt-3 p-1" style="background: #f7f7f7; border-radius: 10px; box-shadow: 0px 0px 6px #c7c7c7;">`
                        htmlData += `<input type="checkbox" name="choose_items" class="d-none choose-item items-data-${response.Values[i].Id}" onclick="SelectedItem(this,${response.Values[i].Id},'${response.Values[i].ImageUrl}','${response.Values[i].Name}');" id="choose_items_${i}" value="" />`
                         htmlData += `<label class="mb-0 d-flex align-items-center justify-content-between choose-label" for="choose_items_${i}">`
                         htmlData += `<label class="mb-0 d-flex align-items-center" for="choose_items_${i}">`
                             htmlData += `<label class="mb-0 items-image img-round" for="choose_items_${i}">`
                        htmlData += `<img class="img-round" src="${urlClient+"/"+response.Values[i].ImageUrl}" alt="Item">`
                         htmlData += `</label>`
                         htmlData += `<label class="item-description ml-3 mb-0" for="choose_items_${i}">`
                         htmlData += `<span class="mb-0">${response.Values[i].Name}</span>`
                         htmlData += `</label>`
                         htmlData += `</label>`
                         htmlData += `</label>`
                         htmlData += `</div>`
                    }
                }
                else {
                    $("#showHideSaveButton").hide();
                    htmlData += '<h5 class="text-center">No Record Found</h5>';
                }

                $("#ProductItem").html(htmlData);
            },
            error: function (error) {
                console.log('error', error);
            }
        })
    }

    // Item Onclick Push Data to array
    function SelectedItem(checkbox, itemId, ItemImage, ItemName) {
        if (checkbox.checked == true) {
            if (itemsSearch.length > 0) {
                if (!selectedItemsIdSearch.includes(itemId)) {
                    selectedItemsIdSearch.push(itemId);
                    var itemData = { Id: itemId, Image: ItemImage, Name: ItemName };
                    itemsSearch.push(itemData);
                }
            } else {
                selectedItemsIdSearch.push(itemId);
                var itemData = { Id: itemId, Image: ItemImage, Name: ItemName };
                itemsSearch.push(itemData);
            }

        } else {
            for (i = 0; i < selectedItemsIdSearch.length; i++) {
                if (selectedItemsIdSearch[i] == itemId) {
                    selectedItemsIdSearch.splice(i, 1);
                    itemsSearch.splice(i, 1);
                }
            }
        }
    }

    // Display selected item to the selected item

    function selectItemSearch() {
        items = itemsSearch;
        selectedItemsId = selectedItemsIdSearch;
        selectItem();
    }

    function selectItem() {
        var htmlData = "";
        if (items.length > 0) {

            $("#ProductselectedItem").html(htmlData);
            for (var i = 0; i < items.length; i++) {
                htmlData += `<div class="col-4 mt-3 p-1" style="background: #f7f7f7; border-radius: 10px; box-shadow: 0px 0px 6px #c7c7c7;"><i class="tio-delete preview-image-delete-icon" style="float: right;color: #d34444;" onclick="DeleteItemsFromArray(${items[i].Id})"></i>`
                htmlData += `<input type="checkbox" name="choose_items" class="d-none choose-item items-data-${items[i].Id}" value="" />`
                htmlData += `<label class="mb-0 d-flex align-items-center justify-content-between choose-label" for="choose_items_${i}">`
                htmlData += `<label class="mb-0 d-flex align-items-center" for="choose_items_${i}">`
                htmlData += `<label class="mb-0 items-image img-round" for="choose_items_${i}">`
                htmlData += `<img class="img-round" src="${urlClient + "/" + items[i].ImageUrl}" alt="Item">`
                htmlData += `</label>`
                htmlData += `<label class="item-description ml-3 mb-0" for="choose_items_${i}">`
                htmlData += `<span class="mb-0">${items[i].Name}</span>`
                htmlData += `</label>`
                htmlData += `</label>`
                htmlData += `</label>`
                htmlData += `</div>`
            }

            $('#SItem').show();
            $("#ProductselectedItem").html(htmlData);
        } else {
            $('#SItem').hide();
            $("#ProductselectedItem").html(htmlData);
        }

        clearItem();
    }

    function DeleteItemsFromArray(itemId) {
        for (i = 0; i < selectedItemsId.length; i++) {
            if (selectedItemsId[i] == itemId) {
                selectedItemsId.splice(i, 1);
                items.splice(i, 1);
            }
        }

        debugger
        $.ajax({
            type: "post",
            url: '@Url.Action(Actions.VendorsVsItems_Delete, Controllers.Vendors)',
            data: { Id: itemId },
            dataType: 'json',
            success: function (response) {
                if (response.Code == 200) {
                    debugger
                    swal({
                        position: "center",
                        icon: "success",
                        title: response.Message,
                        showConfirmButton: false,
                        timer: 2000
                    });
                } else {
                    swal({
                        position: "center",
                        icon: "warning",
                        title: response.Message,
                        showConfirmButton: false,
                        timer: 2000
                    });
                }
            },
            error: function (error) {
                console.log('error', error);
            }
        });
        debugger
        selectItem();
    }

    function clearItem() {
        $("#ItemName").val('');
        $("#showHideSaveButton").hide();
        $("#ProductItem").html('<h5 id="NoItem" class="text-center">Search Above To View Items</h5>');
    }

    function showItems() {
        //var search = $("#ItemName").val();
        $.ajax({
            type: "GET",
            url: '@Url.Action(Actions.MyItems, Controllers.Vendors)',
            data: ({ vendorsId: @ViewBag.VendorId }),
            dataType: 'json',
            success: function (response) {
                if (response.Values != null) {
                    var htmlData = "";
                    if (response.Values.length > 0) {
                        for (var i = 0; i < response.Values.length; i++) {
                            selectedItemsId.push(response.Values[i].ItemsId);
                            selectedItemsIdSearch.push(response.Values[i].ItemsId);
                            var itemData = { Id: response.Values[i].ItemsId, Image: response.Values[i].ItemImageUrl, Name: response.Values[i].ItemName };
                            items.push(itemData);
                            itemsSearch.push(itemData);
                        }
                        selectItem();
                    }
                }
            },
            error: function (error) {
                console.log('error', error);
            }
        })
    }
    var PrimaryIndex = [];

    function MultipalImageUpload(id) {
        $('#New_Images_Area').html("");
        if (imglen < 5) {
            const filenum = ImageUrls.files.length + imglen;

            if (filenum < 6) {
                for (var i = 0; i < ImageUrls.files.length; i++) {
                    ThelaImageArray.push('ImageUrls.files[i]');

                    $('#New_Images_Area').append(`<div class="col-lg-4 p-2">
                <i class="tio-delete preview-image-delete-icon" style="float: right;color: #d34444;margin-bottom: 4px;" onclick=DeleteNewImage(`+ i + `)></i>
                <img class="w-100 thela-images" style="height:170px;" src="${URL.createObjectURL(ImageUrls.files[i])}"/></div>`);

                }
            }
            else {
                $('#New_Images_Area').append(`<div class="col-lg-4 p-2">You can only insert 5 Images</div>`);
            }
        }
            else {
                $('#New_Images_Area').append(`<div class="col-lg-4 p-2">You have already inserted 5 images</div>`);
            }
    }

    function DeleteNewImage(id) {

        let fileBuffer = Array.from(ImageUrls.files);
        fileBuffer.splice(id, 1);

        const dT = new ClipboardEvent('').clipboardData ||
            new DataTransfer();

        for (let file of fileBuffer) { dT.items.add(file); }
        ImageUrls.files = dT.files;

        $('#New_Images_Area').html("");
        const [file] = ImageUrls.files
        if (file) {
            for (var i = 0; i < ImageUrls.files.length; i++) {
                $('#New_Images_Area').append(`<div class="col-lg-4 p-2">
                       <i class="tio-delete preview-image-delete-icon" style="float: right;color: #d34444;margin-bottom: 4px;" onclick=DeleteNewImage(` + i + `)></i>
                       <img class="w-100 thela-images" style="height:170px;" src="${URL.createObjectURL(ImageUrls.files[i])}"/></div>`)
            }
        }
    }

    function setThelaimageprimary(index, id) {

        for (var i = 0; i < PrimaryIndex.length; i++) {
            PrimaryIndex[i].IsPrimary = false;
        }

        PrimaryIndex[index].IsPrimary = true;

        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.VendorsThelaImages_UpdateIsPrimary, Controllers.Vendors)',
            data: { Id: id, vendorId: @ViewBag.VendorId },
            dataType: 'json',
            success: function (response) {
                swal({
                    position: "center",
                    icon: "success",
                    message: "Updated Successfully",
                    showConfirmButton: false,
                    timer: 2000
                });

                GetVendorData();

                setTimeout(function () {
                        GetVendorData();
                        //$("#IsPrimarySubmit").show();
                        //$("#IsPrimarySubmitLoading").hide();
                    }
                , 1000);

            },
            error: function (error) {
                $("#IsPrimarySubmit").hide();
                $("#IsPrimarySubmitLoading").show();
            }
        });
    }

    function readURL(input) {
        $('#AadharImageView').show();
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#AadharImageView').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);

            if ($('#Photo').hasClass('error')) {
                $('#Photo').addClass('valid');
                $('#Photo').removeClass('error');
            }

            $('#Photo-error').attr("style", "display:none");
        }
    }
    function readURL1(input) {
        $('#ElectionImageView').show();
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#ElectionImageView').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);

            if ($('#Photo').hasClass('error')) {
                $('#Photo').addClass('valid');
                $('#Photo').removeClass('error');
            }

            $('#Photo-error').attr("style", "display:none");
        }
    }
    function readURL2(input) {
        $('#ShopImageView').show();
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#ShopImageView').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);

            if ($('#Photo').hasClass('error')) {
                $('#Photo').addClass('valid');
                $('#Photo').removeClass('error');
            }

            $('#Photo-error').attr("style", "display:none");
        }
    }
    function AddItems() {
        $("#Submit").hide();
        $("#SubmitLoading").show();

        if (selectedItemsId.length == 0) {
            $("#itemsError").show();
            $("#itemsError").text("Please select a more then one items");
            $("#Submit").show();
            $("#SubmitLoading").hide();
        } else if (selectedItemsId.length > 0) {
            $("#itemsError").hide();
            $("#itemsError").text("");
            var formData = selectedItemsId.toString();

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.AddItems, Controllers.Vendors)',
                data: ({ itemsid: formData, vendorsId: VndId }),
                dataType: 'json',
                success: function (response) {
                    console.log("response", response)
                    if (response.Code == 200) {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: response.Message,
                            showConfirmButton: false,
                            timer: 2000
                        });
                        //window.location.href = "/";
                    } else {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: response.Message,
                            showConfirmButton: false,
                            timer: 2000
                        });
                    }
                    $("#Submit").show();
                    $("#SubmitLoading").hide();
                },
                error: function (error) {
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: 'Something Went Wrong !',
                        showConfirmButton: false,
                        timer: 2000
                    });
                    $("#Submit").show();
                    $("#SubmitLoading").hide();
                }
            })
        }
    }

    function CreateVendorProfileDetails() {
        $("#Submit").hide();
        $("#SubmitBack").hide();
        $("#SubmitLoading").show();

        $("#itemsError").hide();
        $("#itemsError").text("");

        var formData = new FormData();

        $('#New_Images_Area').html("");
        if (imglen < 5) {
            const filenum = ImageUrls.files.length + imglen;

            if (filenum < 6) {
                for (var i = 0; i < ImageUrls.files.length; i++) {
                    PrimaryIndex.push({
                        IsPrimary: false
                    });
                }
            }
            else {
                $('#New_Images_Area').append(`<div class="col-lg-4 p-2">You can only insert 5 Images</div>`);
                return;
            }
        }
        else {
            $('#New_Images_Area').append(`<div class="col-lg-4 p-2">You have already inserted 5 images</div>`);
            return;
        }

        var ShopOwnerProfileUrl = document.getElementById("ShopOwnerProfile").files[0];
        var ElectionIDImageUrl = document.getElementById("ElectionIDImage").files[0];
        var AadharImageUrl = document.getElementById("AadharImage").files[0];
        formData.append("Id", $("#vendorId").val());
        formData.append("FirstName", $("#FirstName").val());
        formData.append("LastName", $("#LastName").val());
        formData.append("ShopName", $("#ShopName").val());
        formData.append("GujaratiShopName", $("#GujaratiShopName").val());
        formData.append("HindiShopName", $("#HindiShopName").val());
        formData.append("PrimaryPhoneNumber", $("#PrimaryPhoneNumber").val());
        formData.append("AlternatePhoneNumber", $("#AlternatePhoneNumber").val());
        formData.append("AadharCardNumber", $("#AadharCardNumber").val());
        formData.append("AadharImage", AadharImageUrl);
        formData.append("ElectionIDNumber", $("#ElectionIDNumber").val());
        formData.append("ElectionIDImage", ElectionIDImageUrl);
        formData.append("Location", $("#Location").val());
        formData.append("Lat", $("#Lat").val());
        formData.append("Long", $("#Long").val());
        formData.append("IsReadyForCommition", $("input[type=radio][name=IsReadyForCommition]:checked").val());
        formData.append("IsDeliveryBoy", $("input[type=radio][name=IsDeliveryBoy]:checked").val());
        formData.append("CreatedLat", $("#CreatedLat").val());
        formData.append("CreatedLong", $("#CreatedLong").val());
        formData.append("UpdatedLat", $("#UpdatedLat").val());
        formData.append("UpdatedLong", $("#UpdatedLong").val());
        formData.append("ImagePrimary", JSON.stringify(PrimaryIndex));
        formData.append("ShopOwnerProfile", ShopOwnerProfileUrl);
        for (var i = 0; i < ImageUrls.files.length; ++i) {
            formData.append("uploadFile", ImageUrls.files[i]);
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.VendorProfileDetails, Controllers.Vendors)',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                $("#Submit").show();
                $("#SubmitBack").show();
                $("#SubmitLoading").hide();
                VndId = (response.Item.Id);

                console.log("response", response)
                if (response.Code == 200) {
                    swal({
                        position: "center",
                        icon: "success",
                        title: response.Message,
                        showConfirmButton: false,
                        timer: 2000
                    });
                    AddItems();

                    setTimeout(function () {
                        window.location.href = '@Url.Action(Actions.Details, Controllers.Vendors)?vi=' + btoa(response.Item.Id)
                    }, 2000);
                } else {
                    swal({
                        position: "center",
                        icon: "error",
                        title: response.Message,
                        showConfirmButton: false,
                        timer: 2000
                    });
                }

            },
            error: function (error) {
                $("#Submit").show();
                $("#SubmitBack").show();
                $("#SubmitLoading").hide();
                console.log('error', error);
            }
        });
    };

    var ThelaImageArray = [];
    var imglen = 0;

    function GetVendorData() {
        $('#Images_Area').html("");
        $("#ShopImageView").show();
        $("#ElectionImageView").show();
        $("#AadharImageView").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.VendorData, Controllers.Vendors)',
            data: ({
                Id: @ViewBag.VendorId,
            }),
            dataType: 'json',
            success: function (response) {
                if (response.Item != null) {
                    if (response.Item.Items != null && response.Item.Items != "") {
                        var ItemsJson = JSON.parse(response.Item.Items);
                        for (var i = 0; i < ItemsJson.length; i++) {
                            selectedItemsId.push(ItemsJson[i].Id);
                            $(`.items-data-${ItemsJson[i].Id}`).prop('checked', true);
                        }
                    }

                    showItems();

                    if (response.Item.ThelaImageObj != null && response.Item.ThelaImageObj != "") {
                        ThelaImageArray = JSON.parse(response.Item.ThelaImageObj);
                        var iURL = '';
                        for (var i = 0; i < ThelaImageArray.length; i++) {
                            iURL += ThelaImageArray[i].ImagesUrl + ',';

                            PrimaryIndex.push({
                                IsPrimary: ThelaImageArray[i].IsPrimary
                            });

                            $("#Images_Area").append(`
                                <div class="col-lg-4 p-2">
                                    <input onchange="setThelaimageprimary(${i}, ${ThelaImageArray[i].Id})" type="radio" name="thelaImages" ${ThelaImageArray[i].IsPrimary == true ? "checked" : ""}></input>
                                    <i class="tio-delete preview-image-delete-icon" style="float: right;color: #d34444;" onclick=DeleteThelaImages('`+ encodeURIComponent(ThelaImageArray[i].ImagesUrl.toString()) + `')></i>
                                    <img class="w-100 thela-images" style="height:170px;" src="${window.location.origin + "/" + ThelaImageArray[i].ImagesUrl}">
                                </div>
                            `);
                        }

                        $('#Images_Areaurl').val(iURL.slice(0, -1));
                    }
                    imglen = ThelaImageArray.length;
                    $("#vendorId").val(response.Item.Id);
                    $("#FirstName").val(response.Item.FirstName);
                    $("#LastName").val(response.Item.LastName);
                    $("#ShopName").val(response.Item.ShopName);
                    $("#GujaratiShopName").val(response.Item.GujaratiShopName);
                    $("#HindiShopName").val(response.Item.HindiShopName);
                    $("#PrimaryPhoneNumber").val(response.Item.PrimaryPhoneNumber);
                    $("#AlternatePhoneNumber").val(response.Item.AlternatePhoneNumber);
                    $("#AadharCardNumber").val(response.Item.AadharCardNumber);
                    $("#ElectionIDNumber").val(response.Item.ElectionIDNumber);
                    if (response.Item.IsReadyForCommition == true) {
                        $("#IsReadyForCommitiont").prop("checked", true);
                    }
                    else {
                        $("#IsReadyForCommitionf").prop("checked", true);
                    }
                    if (response.Item.IsDeliveryBoy == true) {
                        $("#IsDeliveryBoyt").prop("checked", true);
                    }
                    else {
                        $("#IsDeliveryBoyf").prop("checked", true);
                    }
                    $('#ShopImageView').attr('src', response.Item.ShopOwnerProfileStr);
                    $('#ElectionImageView').attr('src', response.Item.ElectionIDImageStr);
                    $('#AadharImageView').attr('src', response.Item.AadharImageStr);
                    $("#Location").val(response.Item.Location);
                    $("#LocationLat").val(response.Item.Lat);
                    $("#LocationLat").val(response.Item.Long);
                    //$("#AadharImage").text(response.Item.AadharImage);
                    //$("#ElectionIDImage").text(response.Item.ElectionIDImage);


                }
            },
            error: function (error) {
                console.log('error', error);
            }
        })
    }

    function DeleteThelaImages(ImgURL) {
            ImgURL = decodeURIComponent(ImgURL);
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.VendorsThelaImages_Delete, Controllers.Vendors)',
                data: { Url: ImgURL, vendorId: @ViewBag.VendorId},
                dataType: 'json',
                success: function (response) {
                    swal({
                        position: "center",
                        icon: "success",
                        title: response.Message,
                        showConfirmButton: false,
                        timer: 2000
                    });
                    window.location.reload();
                    var iURL = '';
                    for (var i = 0; i < response.Item.length; i++) {
                        iURL += response.Item[i].ImagesUrl + ',';
                    }
                    $('#Images_Areaurl').val(iURL.slice(0, -1));
                },
                error: function (error) {

                }
            });
        }

</script>