﻿@using AAH.Common;
@using AAHAdmin.Pages;
@using System.Web.Optimization;
@using AAHAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Vendors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABofRnRkpT_4m344ZOsyRnT90uSGF5H6A"></script>
<style>
    .image-circle {
        cursor: pointer;
        border-radius: 50px;
        width: 55px;
    }
</style>
<div class="content container-fluid">
    <div class="row">
        <div class="col-8">
            <h5>ChaiNasta Vendor</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">
            @Html.AntiForgeryToken()
            @*<div class="w-100">
                <a href="@Url.Action(Actions.Details,Controllers.Vendors)" type="button" class="btn btn-primary float-right">
                    Create Vendor
                </a>
            </div>*@
            <div class="portlet-body table-responsive" id="divManageVandor">
                <table class="table table-striped table-bUsersed table-hover border" id="ManageVandor"></table>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>

        $(document).ready(() => {
            ManageVendorDataTable.init();
        });

        var ManageVendorDataTable = function () {
            let initTable1 = function () {
                let table = $('#ManageVandor');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from MAX total entries)",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.ChaiNastaVendorsAllData, Controllers.ChaiNastaVendors)',
                        type: "post",
                        data: SearchCriteria(),
                    },
                    "columns": [
                        {
                            "title": "#", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["Id"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "ShopOwner Profile", "data": "ShopOwnerProfile",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<img class="image-circle" height="55px" src="${row["ShopOwnerProfileStr"]}" />`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Vendor Details", "data": "FirstName",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData += `<p class="mb-0"><b>VendorName : </b>${row["FirstName"] == "" || row["FirstName"] == null ? "-" : row["FirstName"] + " " + row["LastName"]}</p>`;
                                htmlData += `<p class="mb-0"><b>Primary : </b> ${row["PrimaryPhoneNumber"] == "" || row["PrimaryPhoneNumber"] == null ? "-" : `<a href="tel:${row["PrimaryPhoneNumber"]}">${row["PrimaryPhoneNumber"]}</a>`}</p>`;
                                htmlData += `<p class="mb-0"><b>Alternate :</b> ${row["AlternatePhoneNumber"] == "" || row["AlternatePhoneNumber"] == null ? "-" : `<a href="tel:${row["AlternatePhoneNumber"]}">${row["AlternatePhoneNumber"]}</a>`}</p>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Shop Name", "data": "ShopName",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["ShopName"] == "" || row["ShopName"] == null ? "-" : row["ShopName"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Thela Images", "data": "ThelaImages",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<img class="img-round" src="${row["ThelaImageStr"]}" />`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Location", "data": "Location",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["Location"] == "" || row["Location"] == null ? "-" : `<a href="https://maps.google.com/?q=${row["Lat"]},${row["Long"]}" target="_blank">${row["Location"]}</a>`}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Created By", "data": "CreatedBy",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData += `<p class="mb-0"><b>Name : </b>${row["CreatedName"] == "" || row["CreatedName"] == null ? "-" : row["CreatedName"]}</p>`;

                                htmlData += `<p class="mb-0"><a href = "https://maps.google.com/?q=${row["CreatedLat"]},${row["CreatedLong"]}" target="_blank"> Click Here</a></p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "8%"
                        },
                        {
                            "title": "Updated By", "data": "UpdatedBy",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData += `<p class="mb-0"><b>Name : </b>${row["UpdatedName"] == "" || row["UpdatedName"] == null ? "-" : row["UpdatedName"]}</p>`;

                                htmlData += `<p class="mb-0"><a href = "https://maps.google.com/?q=${row["UpdatedLat"]},${row["UpdatedLong"]}" target="_blank"> Click Here</a></p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "8%"
                        },
                        {
                            "title": "Is Active ?", "data": "IsActive",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                if (row["IsActive"] == 1) {
                                    htmlData = `<button onclick="InactiveMessage('${row["Id"]}');" class="badge badge-primary">Active</button>`;
                                } else {
                                    htmlData = `<button onclick="ActiveMessage('${row["Id"]}');" class="badge badge-danger">In-Active</button>`;
                                }
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Action", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData += `<a title="Edit Vendor" class="btn btn-sm btn-outline-secondary mr-1" href="@Url.Action("Details","ChaiNastaVendors")?vi=${btoa(row["Id"])}"><i class="fa fa-eye"></i></a>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },

                    ],

                    "buttons": [
                    ],

                    responsive: true,

                    "lengthMenu": [
                        [5, 10, 15, 20, 1000],
                        [5, 10, 15, 20, 1000]
                    ],

                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                init: function () {
                    if ($.fn.DataTable.isDataTable("#ManageVandor")) {
                        $('#ManageVandor').dataTable().fnDestroy();
                        $('#divManageVandor').html('<table class="table table-striped border" width="100%" id="ManageVandor"></table>');
                    }
                    initTable1();
                }
            };
        }();

        function SearchCriteria() {
            try {
                var param = {};
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

       function ActiveMessage(id) {
            swal({
                title: "Are you sure ?",
                text: "You will be activating this Record !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willupdate) => {
                    if (willupdate) {
                        UpdateStatus(id);
                    }
                });
        }
        function InactiveMessage(id) {
            swal({
                title: "Are you sure ?",
                text: "You will be in-active this Record !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willupdate) => {
                    if (willupdate) {
                        UpdateStatus(id);
                    }
                });
        }

        function UpdateStatus(id)
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.VendorActInAct, Controllers.ChaiNastaVendors)',
                data: { Id: id },
                dataType: 'json',
                success: function (response) {
                    ManageVendorDataTable.init();
                    if (response.Code == 200) {
                        swal({
                            title: "Success",
                            text: response.Message,
                            icon: "success",
                            timer: 2000
                        })
                    } else {
                        swal({
                            title: "Warning",
                            text: response.Message,
                            icon: "warning"
                        })
                    }
                },
                error: function (error) {

                }
            });
        }

    </script>    
    
}