﻿@using AAH.Common;
@using GinnyBuddyApp.Pages;
@using System.Web.Optimization;
@using GinnyBuddyApp.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .wrapper {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .addressCSS {
        line-height: 1.4;
        padding-top: 2px;
        display: block;
        height: 17px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 35%;
    }
</style>
<header id="page-topbar">
    <div class="navbar-header app-header-area p-0">
        <div class="row m-0 w-100 align-items-center">
            <div class="col-lg-9 col-9 d-flex align-items-center">
                <i class="bx bx-map fs-20"></i>
                <div class="selected-address w-100" id="selectedAddress" style="line-height: 1.1 !important;">
                    <h6 class="mb-0"></h6>
                    <span></span>
                </div>
                <!-- <h5 class="mb-0 ml-2 header-title">Choose Address</h5> -->
            </div>

            <div class="col-lg-3 col-3">
                <div class="d-flex align-items-center line-height-0 justify-content-center">
                    @*<a href="@Url.Action("Index","ChaiNasta")" class="text-dark btn btn-primary" style="
                            padding: 5px 5px;
                            color: #fff !important;
                            display: flex;">
                            <i class="bx bx-dish fs-20"></i>
                        </a>*@

                    <div class="line-height-0 ml-2" id="infoCircle" style="margin-left:6px;">
                        <a href="https://ginnybuddy.in/" class="text-dark">
                            <i class="bx bx-info-circle fs-20"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="main-content app-main-area">

    <div class="p-3">
        <div class="row mt-4" style="background-color: #f0f0f0;">
            <img src="~/assets/images/Ginni_logo.svg" alt="Alternate Text" width="170" height="140" />
            <h6 class="text-center">We are here for your service !</h6>
            @*<h6 class="mt-2 mb-2 fs-12 text-center" style="color:#ec6a23;">
                    " જીની બડી "
                </h6>
                <h6 class="mb-2 fs-12 text-center" style="color:#41bd56;">આપના વિસ્તારનો સેવક આપને ગણેશ ચતુર્થીની શુભેચ્છાઓ પાઠવે છે.</h6>*@

        </div>
        <div class="needs-card p-4 text-center mt-2" id="clickHereButton" style="display:none;">
            <h5 class="text-white fs-17">Get services in your area instantly !</h5>
            <h6 class="text-white fs-13 mt-2 mb-2">Your GinnyBuddy will call you.</h6>
            <a onclick="createNewrequest();" class="w-100 button-white btn btn-light waves-effect waves-light">
                Click Here
            </a>
        </div>

        @*<div class="needs-card p-4 text-center mt-2" id="clickHereButton" style="display:none;">
                <h5 class="text-white fs-17">"Software updation is in progress"</h5>
                <h6 class="text-white fs-13 mt-2 mb-2">Regrets for Inconvenience</h6>


            </div>*@
        <div class="needs-card p-4 text-center mt-2" id="comingSoonButton" style="display:none;">
            <h5 class="text-white fs-17">We are committed to serve you better !</h5>
            <a class="w-100 button-white btn btn-light waves-effect waves-light">
                Coming Soon In Your Area
            </a>
        </div>
    </div>

    @*<div class="youcan-area mt-3">
            <h5 class="text-center fs-15">What you can do with GinnyBuddy</h5>
            <div class="menu-area p-3">
                <div class="row g-0 align-items-center" id="OtherServicesData">

                </div>
            </div>
        </div>*@


    @if (ViewBag.RequestsData.TotalRecords > 0)
    {
        <div class="mb-2 mt-3" id="servicesList" style="display:none;">
            @*carousel*@
            <div class="carousel mb-0 deliveredaddress-area pb-0">
                @for (int i = 0; i < ViewBag.RequestsData.TotalRecords; i++)
                {
                    <div style="padding: 0px 15px;" href="@Url.Action("RequestDetails", "CreateRequest")?ri=@ViewBag.RequestsData.Values[i].Id">
                        <div class="card border border-primary is-loading request-card p-2 mb-2 bg-white" style="border-radius: 10px; box-shadow: 0px 0px 14px 0px #00000024; ">
                            <a class="card-header bg-transparent border-primary" href="@Url.Action("RequestDetails", "CreateRequest")?ri=@ViewBag.RequestsData.Values[i].Id">
                                <h5 class="my-0 text-primary"><i class="mdi mdi-check-all me-3"></i>@ViewBag.RequestsData.Values[i].StatusName</h5>
                            </a>

                            <div class="generate-new d-block">
                                @*<p class="mb-0" style="">@ViewBag.RequestsData.Values[i].ServiceName</p>*@
                                @*<span class="badge bg-soft-success text-success">@ViewBag.RequestsData.Values[i].StatusName</span>*@
                                @if (@ViewBag.RequestsData.Values[i].OTP != null && @ViewBag.RequestsData.Values[i].OTP > 0 && @ViewBag.RequestsData.Values[i].StatusId != 4)
                                {
                                    <span style="float:right" class="badge bg-soft-warning text-black ml-1">@ViewBag.RequestsData.Values[i].OTP</span><span style="float:right">OTP :</span>
                                }
                            </div>

                            @if (ViewBag.RequestsData.Values[i].StatusId == 2)
                            {
                                <div style="height:29px;"></div>
                            }
                            else if (ViewBag.RequestsData.Values[i].DeliveryExecutiveId == 0 || ViewBag.RequestsData.Values[i].DeliveryExecutiveId == null)
                            {
                                <div style="height:29px;"></div>
                            }

                            <a href="@Url.Action("RequestDetails", "CreateRequest")?ri=@ViewBag.RequestsData.Values[i].Id">
                                <div class="generate-details row m-0 mt-3 align-items-center">
                                    <div class="col-lg-2 col-2 p-0">
                                        <div class="d-flex align-items-center">
                                            <p class="mb-0" style=""><i class="bx bx-hash fs-17"></i></p>
                                            <span href="#" style=" margin-left: 3px; font-size: 14px;">@ViewBag.RequestsData.Values[i].Id</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-6 p-0">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <p class="mb-0" style=""><i class="bx bx-calendar-event fs-20"></i></p>
                                            <span href="#" style=" margin-left: 3px;">@ViewBag.RequestsData.Values[i].CDate</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-4 p-0">
                                        <div class="d-flex align-items-center justify-content-end">
                                            <p class="mb-0" style=""><i class="bx bx-time fs-20"></i></p>
                                            <span href="#" style=" margin-left: 3px;">@ViewBag.RequestsData.Values[i].CTime</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            @if (ViewBag.RequestsData.Values[i].DeliveryExecutiveId != null &&
             ViewBag.RequestsData.Values[i].DeliveryExecutiveId != 0 &&
             ViewBag.RequestsData.Values[i].StatusId == 3 ||
             ViewBag.RequestsData.Values[i].StatusId == 11 ||
             ViewBag.RequestsData.Values[i].StatusId == 15 ||
             ViewBag.RequestsData.Values[i].StatusId == 14 ||
             ViewBag.RequestsData.Values[i].StatusId == 12
            )
                            {
                                <div class="generate-details row m-0 mt-2 align-items-center">
                                    <div class="col-lg-6 col-6 p-0">
                                        <div class="d-flex align-items-center justify-content-start">
                                            <p class="mb-0" style=""><i class="bx bx-user fs-19"></i></p>
                                            <span href="#" style=" margin-left: 3px;">@ViewBag.RequestsData.Values[i].DeliveryExecutiveName</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-6 p-0">
                                        <div class="d-flex align-items-center justify-content-end">
                                            <p class="mb-0"><i class="bx bx-phone-call fs-20"></i></p>
                                            <a style="margin-left: 3px;" href="tel:@ViewBag.RequestsData.Values[i].DeliveryExecutiveMobileNumber">
                                                @ViewBag.RequestsData.Values[i].DeliveryExecutiveMobileNumber
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    }



    <br />
    <h6 class="text-center">
        We will serve you for below given services in your area, all the time.
    </h6>
    @*services list*@
    @{
        int m = 0;
        if (ViewBag.MasterServicesData.TotalRecords > 0)
        {
            <div class="mb-2 mt-3" id="MasterservicesList" style="display:none;">
                <div class="Mastercarousel mb-0 deliveredaddress-area pb-0">
                    @for (int i = 1; i <= ViewBag.MasterServicesData.TotalRecords; i++)
                    {
                        if (i % 3 == 0)
                        {
                            <div style="padding: 0px 15px;">
                                <div class="card border border-primary is-loading request-card p-2 mb-2 bg-white" style="border-radius: 10px; box-shadow: 0px 0px 14px 0px #00000024; ">
                                    @for (int j = m; j < i; j++)
                                    {
                                        <a style="margin-left: 3px;">
                                            @ViewBag.MasterServicesData.Values[j].ServiceNameEnglish
                                        </a>
                                        m++;
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    }

    <br /><br /><br />

    @*Bottom Bar Render*@
    @RenderPage("~/Views/BottomBar/Index.cshtml")
</div>

@*Confirmation alert*@
<div class="modal fade" id="confirmRequestCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="address-select text-center" id="">

                    <h6>We are ready to serve you !</h6>
                    <p class="fs-12">
                        Just confirm and relax our executive shall contact you.
                    </p>

                    @if (ViewBag.DCount == null)
                    {
                        <h5 class="mb-3 text-success">
                            Our executives are near you.
                        </h5>
                    }
                    else if (ViewBag.DCount.TotalRecords == 0)
                    {
                        <h5 class="mb-3 text-success">
                            Our executives are near you.
                        </h5>
                    }
                    else
                    {
                        <h5 class="mb-3 text-success">
                            <span id="dCount"></span> executives are near you.
                        </h5>
                    }
                    <div>
                        <button type="button" class="btn btn-light cancle-button" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary submit-button" onclick="ConfirmCreateNewrequest();">Proceed</button>
                        <button class="btn btn-primary loader-btn w-100 waves-effect waves-light submit-button-loader" disabled type="button" name="button" style="display:none;">
                            <div class="spinner-border text-light" role="status" style="margin-right:5px;">
                                <span class="sr-only">Loading...</span>
                            </div> Proceeding Request
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*modal*@
<div class="modal fade" id="chooseAddress" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Choose Location</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="address-select" id="ChooseAdddressMaster">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                <a href="@Url.Action("Index","CreateAddress")"><button type="button" class="btn btn-primary">Add New</button></a>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="selectedAddressId" />
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        if (@Html.Raw(Json.Encode(@ViewBag.DCount)) != null) {
            var dCount = @Html.Raw(Json.Encode(@ViewBag.DCount));
            $("#dCount").text(dCount.TotalRecords);
        }

        $("#globalLoader").show();
        $("body").css('overflow', 'hidden');

        $("#servicesList").show();
        $("#MasterservicesList").show();
        $('.carousel').slick({
            autoplay: true,
            dots: true,
            infinite: true,
            speed: 300,
            slidesToScroll: 1,
            cssEase: 'linear',
            lazyLoad: 'ondemand', controls: false,
        });

        $('.Mastercarousel').slick({
            autoplay: true,
            dots: true,
            infinite: true,
            speed: 500,
            slidesToScroll: 1,
            cssEase: 'linear',
            lazyLoad: 'ondemand', controls: false,
        });

        var VarNoRequestFound = 0;
        $("#clickHereButton").show();
        $("#comingSoonButton").hide();
        selectedAddressdata();
        OtherServiceIconsData();
        GetAddressMaster();

        setTimeout(
            function () {
                $("#globalLoader").hide();
                $("body").css('overflow', 'inherit');
            }
        , 2000);
    });

    function createNewrequest() {
        if (VarNoRequestFound == 0) {
            window.location.href = "@Url.Action("Index", "CreateAddress")";
        } else {
            $("#dCount").text('');
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.getDECountByAddress, Controllers.Dashboard)',
                dataType: 'json',
                success: function (response) {
                    $("#dCount").text(response.TotalRecords);
                    $("#confirmRequestCreate").modal("show");
                },
                error: function (error) {
                }
            });
        }
    }

    function redirectToRequest(id) {
        window.location.href = "@Url.Action("RequestDetails", "CreateRequest")?ri=" + id;
    }

    function chooseAddress() {
        $("#chooseAddress").modal('show');
    }

    function GetAddressMaster() {
        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.GetDataAddress, Controllers.CreateRequest)',
            dataType: 'json',
            success: function (response) {
                console.log('response', response);
                for (var i = 0; i < response.Values.length; i++) {
                    $("#ChooseAdddressMaster").append(`
                        <div class="address-card w-100 mb-1">
                            <input type="radio" onchange="ChooseAddressData(${response.Values[i].Id});" class="d-none choose-address" id="chooseaddress_${i}" name="chooseaddress" ${response.Values[i].IsDefault == true ? "checked" : ""}>
                            <label class="address-label mb-0 p-2" for="chooseaddress_${i}">
                                <p class="mb-0 choose-address">
                                    <b>${response.Values[i].AddressTypeName}</b> <br>
                                    <span>
                                        ${response.Values[i].AddressLine1 == "" || response.Values[i].AddressLine1 == null ? "-" : response.Values[i].AddressLine1},
                                        ${response.Values[i].AddressLine2 == "" || response.Values[i].AddressLine2 == null ? "" : response.Values[i].AddressLine2}
                                        ${response.Values[i].PinCode == "" || response.Values[i].PinCode == null ? "-" : response.Values[i].PinCode}
                                    </span>
                                </p>
                                <i class="dripicons-checkmark fs-20"></i>
                            </label>
                        </div>
                    `);
                }
            },
            error: function (error) {
            }
        });
    }

    function OtherServiceIconsData() {
        $("#globalLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.OtherServiceIconsData, Controllers.Dashboard)',
            dataType: 'json',
            success: function (response) {
                console.log('response', response);
                for (var i = 0; i < response.Values.length; i++) {
                    $("#OtherServicesData").append(`
                        <div class="col-md-12 col-12 mb-2">
                            <a href="@Url.Action("Index", "CreateRequest")?service=${btoa(response.Values[i].Description)}&ritype=1" class="d-flex align-items-center ">
                                <div class="menuimg-box">
                                    <img src="@System.Configuration.ConfigurationManager.AppSettings["AdminEndPoint"]${response.Values[i].URL}" class="w-100 p-2">
                                </div>
                                <h5 class="card-title mb-0 menutitle fs-14">${response.Values[i].Description}</h5>
                            </a>
                        </div>
                    `);
                }
                $("#globalLoader").hide();
            },
            error: function (error) {
                $("#globalLoader").hide();
            }
        });
    }

     function ChooseAddressData(DataId) {
        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.ChooseAddressAdd, Controllers.CreateRequest)',
            data: ({ AddressId: DataId}),
            dataType: 'json',
            success: function (response) {
                $("#chooseAddress").modal('hide');
                $("#selectedAddressId").val(DataId);

                selectedAddressdata();
                if (response.Code == 200) {
                    //Swal.fire({
                    //    position: 'center',
                    //    icon: 'success',
                    //    title: response.Message,
                    //    showConfirmButton: false,
                    //    timer: 2000
                    //})
                } else {

                }
                console.log('response', response);
            },
            error: function (error) {

            }
        });
    }

    function chooseAddAddress() {
        window.location.href = 'CreateAddress/Index'
    }

     function selectedAddressdata() {
        $("#selectedAddress").html("");
        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.ChooseAddressData, Controllers.CreateRequest)',
            dataType: 'json',
            data: ({ AddressId: $("#selectedAddressId").val() }),
            success: function (response) {
                if (response.Values.length > 0) {
                    for (var i = 0; i < response.Values.length; i++) {
                        VarNoRequestFound = response.Values.length;
                        if (response.Values[i].AreaMasterId != 0) {
                            $("#clickHereButton").show();
                            $("#comingSoonButton").hide();
                        } else {
                            $("#clickHereButton").hide();
                            $("#comingSoonButton").show();
                        }
                        $("#selectedAddress").html(`
                        <h6 class="mb-0">${response.Values[i].LocationName}</h6>
                        <div class="text-truncate" id="marquees" style="font-size: 11px;" height="11px" onclick="chooseAddress();">
                            ${response.Values[i].AddressLine1}, ${response.Values[i].PinCode}
                        </div>
                    `);


                    }
                } else {
                    VarNoRequestFound = 0;
                    $("#selectedAddress").html(`
                        <h6 class="ml-4 mb-0 changeaddress-label" onclick="chooseAddAddress();" style="cursor:pointer;">Add Address</h6>
                    `);
                }
            },
            error: function (error) {

            }
        });
    }

    function ConfirmCreateNewrequest() {
        if (VarNoRequestFound > 0) {
            $(".cancle-button").hide();
            $(".submit-button").hide();
            $(".submit-button-loader").show();

            var formData = new FormData();
            formData.append("ServiceMasterId", 5);

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.CreateRequestData, Controllers.CreateRequest)',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    console.log('response', response);
                    if (response.Code == 200) {
                       window.location.href = "@Url.Action("RequestDetails", "CreateRequest")?ri=" + response.Item.Id;
                    } else {
                        $("#confirmRequestCreate").modal("hide");
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: response.Message,
                            showConfirmButton: false,
                            timer: 2000
                        });
                    }
                    $(".cancle-button").show();
                    $(".submit-button").show();
                    $(".submit-button-loader").hide();
                },
                error: function (error) {
                    $(".cancle-button").show();
                    $(".submit-button").show();
                    $(".submit-button-loader").hide();
                }
            });
        }
    }

</script>