﻿@using AAH.Common;
@using AAHAdmin.Pages;
@using System.Web.Optimization;
@using AAHAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage References";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABofRnRkpT_4m344ZOsyRnT90uSGF5H6A"></script>

<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #0069D9;
        color: white;
    }

    .btn-secondary {
        color: #3596f8 !important;
    }

    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        bUsers-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            bUsers-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        bUsers-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        bUsers: 1px solid #d4d4d4;
        bUsers-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            bUsers-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .text-c-dark {
        color: #000;
    }

    .device-active .active .card {
        background: #157aec;
        cursor: pointer;
    }

    .device-active .active .text-c-dark {
        color: #fff !important;
    }

        .device-active .active .text-c-dark .icon {
            background-color: #0069D9;
            bUsers: none;
        }

    .icon-box {
        background: #eff1f4;
    }

        .icon-box:hover {
            background: #0e67cc !important;
        }

    .btn-primary {
        color: #fff !important;
        background-color: #0596F8 !important;
        border-color: #0596F8 !important;
        box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%) !important;
    }

    div.dt-buttons {
        float: right !important;
    }
</style>

<div class="content container-fluid">
    <div class="row">
        <div class="col-8">
            <h5>Manage References</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">
            @Html.AntiForgeryToken()
            @*<div class="w-100">
                    <a href="@Url.Action(Actions.Details,Controllers.Vendors)" type="button" class="btn btn-primary float-right">
                        Create Vendor
                    </a>
                </div>*@
            <div class="portlet-body table-responsive" id="divManageReferences">
                <table class="table table-striped table-bUsersed table-hover border" id="ManageReferences"></table>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="addReferences" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">Add Reference</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="ReferencesForm" method="post" enctype="multipart/form-data">
                <div class="row">
                    <input type="hidden" id="Id" name="Id" />
                    <div class="col-sm-12 mt-2">
                        <label>Shop Name</label>
                        <input type="text" class="form-control" name="ShopName" id="ShopName" placeholder="Enter Shop Name">
                    </div>
                    <div class="col-sm-12 mt-2 mb-2">
                        <label>ShopOwner Number</label>
                        <input type="text" class="form-control" name="ShopOwnerNumber" id="ShopOwnerNumber" placeholder="Enter ShopOwner Number">
                    </div>
                </div>
                <div class="modal-footer">
                    <input id="btnSearch" type="submit" class="btn btn-primary saveBtn" value="Save" />
                    <button id="btnLoading" class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Saving...
                    </button>
                    <button id="btnClose" type="button" data-dismiss="modal" class="btn btn-secondary closeBtn">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {

    <script>

        $(document).ready(() => {
             VenId = '@ViewBag.VendorId';

            ManageReferencesDataTable.init();

            $("#ReferencesForm").validate({
                rules: {
                    ShopName: "required",
                    ShopOwnerNumber:{
                        required: true,
                        number: true,
                        minlength: 10,
                        maxlength: 10,
                    },
                },

                messages: {
                    ShopName: {
                        required: "Please enter Shop Name",
                    },
                    ShopOwnerNumber: {
                        required: "Please enter ShopOwner Number ",
                        number: "Plese enter valid number",
                        minlength: "Plese enter 10 digits",
                        maxlength: "Plese enter 10 digits",
                    },
                },

                submitHandler: function (form) {
                    AddReferences();
                },

            });
        });

        var ManageReferencesDataTable = function () {
            let initTable1 = function () {
                let table = $('#ManageReferences');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from MAX total entries)",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.VendorsVsReferences_ByVendorsId, Controllers.VendorsVsReferences)',
                        type: "post",
                        data: SearchCriteria(),
                    },
                    "columns": [
                        {
                            "title": "Shop Name", "data": "ShopName",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData = `<p class="mb-0">${row["ShopName"]}</p>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Shop Number", "data": "ShopOwnerNumber",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData += `${row["ShopOwnerNumber"] == null || row["ShopOwnerNumber"] == "" ? '-' : `<p class="mb-0"><a class="c-text-primary" href="tel:${row["ShopOwnerNumber"]}">${row["ShopOwnerNumber"]}</a></p>`}`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },

                        {
                            "title": "Action", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData += `<button title="Delete References" class="btn btn-sm btn-outline-danger mr-1" onclick="OpenDeleteItem('${(row["Id"])}');"><i class="fa fa-trash"></i></button>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },

                    ],

                    "buttons": [
                        {
                            text: 'Add References',
                            className: 'btn btn-primary mb-3 mt-1',
                            action: function (e, dt, node, config) {
                                AddReferencesPopUp();
                            }
                        },
                    ],

                    responsive: true,

                    "lengthMenu": [
                        [5, 10, 15, 20, 1000],
                        [5, 10, 15, 20, 1000]
                    ],

                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                init: function () {
                    if ($.fn.DataTable.isDataTable("#ManageReferences")) {
                        $('#ManageReferences').dataTable().fnDestroy();
                        $('#divManageReferences').html('<table class="table table-striped border" width="100%" id="ManageReferences"></table>');
                    }
                    initTable1();
                }
            };
        }();
        function SearchCriteria() {
            try {
                var param = {VendorsId : @ViewBag.VendorId};
                return addRequestVerificationToken(param);
            } catch (e) { }
        }
        
        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        function OpenDeleteItem(Id) {

            swal({
                title: "Are you sure ?",
                text: "You will be deleting this Data!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willdelete) => {
                    if (willdelete) {
                        DeleteVendorsVsReferences(Id);
                    }
                });
        }

        function DeleteVendorsVsReferences(Id) {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("VendorsVsReferences_Delete", Controllers.VendorsVsReferences)",
                async: false,
                data: ({ Id: Id }),
                dataType: 'json',
                success: function (response) {
                    if (response.Code == 200) {
                        swal({
                            title: "",
                            text: response.Message,
                            icon: "success",
                            timer: 2000
                        })
                        ManageReferencesDataTable.init();
                    } else {
                        swal({
                            title: "",
                            text: response.Message,
                            icon: "warning",
                            timer: 2000
                        })
                    }
                },
                error: function (error) {
                    swal({
                        title: "",
                        text: "Something Went Wrong!",
                        icon: "warning",
                        timer: 2000
                    })
                }
            });
        }

        function AddReferencesPopUp() {
            $('#Id').val(0);
            $('#ShopName').val('');
            $('#ShopOwnerNumber').val('');
            $("#defaultModalLabel").text("Add Reference");
            var $alertas = $('#ReferencesForm');
            $alertas.validate().resetForm();
            $alertas.find('.error').removeClass('error');
            $('#addReferences').modal('show');
        }


         function AddReferences() {
            $("#btnSearch").hide();
            $("#btnLoading").show();
             $("#btnClose").hide();
             var formData = new FormData();
             formData.append("Id", $("#Id").val());
             formData.append("ShopName", $("#ShopName").val());
             formData.append("VendorsId", VenId);
             formData.append("ShopOwnerNumber", $("#ShopOwnerNumber").val());

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.VendorsVsReferences_Upsert, Controllers.VendorsVsReferences)',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response.Code == 200) {
                        $('#addReferences').modal('hide');
                        swal({
                            title: "",
                            text: "Details Saved succesfully!",
                            icon: "success",
                            timer: 2000
                        });
                        ManageReferencesDataTable.init();
                        $("#btnSearch").show();
                        $("#btnLoading").hide();
                        $("#btnClose").show();
                    }
                    else {
                        swal({
                            title: "",
                            text: response.Message,
                            icon: "warning",
                            timer: 2000
                        })
                        $("#btnSearch").show();
                        $("#btnLoading").hide();
                        $("#btnClose").show();
                    }
                },
                error: function (error) {
                    swal("Error!", error.Message, "error");
                    $(".saveBtn").show();
                    $(".loading").hide();
                    $(".closeBtn").show();
                }
            });
        }
    </script>
}