﻿@using AAH.Common;
@using ChaiNastaVendor.Pages;
@using System.Web.Optimization;
@using ChaiNastaVendor.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Add Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
<style>
    .bottom-bar {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1002;
        padding: 10px 0;
        background-color: var(--bs-header-bg);
        border-bottom: 1px solid var(--bs-border-color);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    #map-canvas {
        height: 180px;
        width: 100%;
    }

    .generate-new {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .generate-new p {
            font-size: 16px;
            font-weight: 600;
            color: #000;
        }

        .generate-new span {
            font-size: 16px;
            font-weight: 600;
            color: #3ba3ff;
        }

    .request-card {
        background: #e6f2fe;
    }

    .generate-details {
        line-height: 1;
    }

        .generate-details p {
            font-size: 16px;
            color: #a1a9b1;
        }

        .generate-details span {
            font-size: 16px;
            font-weight: 600;
            color: #000;
        }
</style>

<div class="content container-fluid mt-4">
    <div class="row">
        <div class="col-8">
            <h5>Add Items</h5>
        </div>
    </div>
    <div class="vendor-profile card p-3 m-2 mb-5">
        <div class="col-lg-12 p-0">
            <div class="mb-3">
                <label class="form-label">Item Name</label>
                <input type="text" class="form-control" id="ItemName" name="ItemName" placeholder="Search Item Here">
            </div>
            <div class="mr-0" style="float:right;display:none;" id="showHideSaveButton">
                <button class="btn btn-outline-primary" onclick="selectItem()">Save Selection</button>
                <button class="btn btn-outline-warning" onclick="clearItem()">clear</button>
                @*<input type="text" class="form-control" id="ItemName" name="ItemName" placeholder="Search Item Here" >*@
            </div>
            <br />
            <br />
            <div class="mt-2 w-100" id="ProductItem">
                <h5 id="NoItem" class="text-center">Search Above To View Items</h5>
            </div>
            <p class="error mt-2" style="display:none;" id="itemsError"></p>

        </div>

        <div class="bottom-bar">

            <div style="float: right;" class="mr-4">
                <span class="btn btn-primary" id="Submit" onclick="AddItems()" value="AddItems">Save</span>
                <span class="btn btn-primary loader-btn waves-effect waves-light" id="SubmitLoading" disabled type="submit" name="submit" style="display:none;">
                    <div class="spinner-border text-light" role="status" style="margin-right:5px;">
                        <span class="sr-only">Loading...</span>
                    </div> Saving
                </span>
            </div>
        </div>
    </div>
    <div class="vendor-profile card p-3 m-2 mb-5" style="display:none;" id="SelectedItem">
        <div class="mb-3">
            <label class="form-label">Selected Items</label>
        </div>
        <div class="col-lg-12 p-0">
            <div class="mt-2 w-100" id="ProductselectedItem">
            </div>
        </div>
    </div>
</div>
@*<div class="main-content app-main-area mb-5">

    </div>*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
<script>
    var urlClient = '@System.Configuration.ConfigurationManager.AppSettings["AdminUrl"]';
    $(document).ready(function ($) {
        //ManageItems();
    });

    $("#ItemName").keyup(function () {
        var search = $("#ItemName").val();
        ManageItems(search)
    });
    //$("#ItemName").keyup(function () {
    //    ManageItems()
    //});
    var AllItems = [];
    function ManageItems(search) {
        $("#NoItem").hide();
        $.ajax({
            type: "get",
            url: '@Url.Action(Actions.VendorsVsItems_AddItemsList, Controllers.AddItems)',
            data: ({ Search: search }),
            dataType: 'json',
            success: function (response) {
                console.log("response", response);
                var htmlData = "";
                if (response.Values.length > 0) {
                    $("#showHideSaveButton").show();
                    for (var i = 0; i < response.Values.length; i++) {

                        AllItems.push(response.Values[i].Id.toString());

                        htmlData += `<div class="col-lg-4 mt-3 p-1" style="background: #f7f7f7; border-radius: 10px; box-shadow: 0px 0px 6px #c7c7c7;">`
                        htmlData += `<input type="checkbox" name="choose_items" class="d-none choose-item items-data-${response.Values[i].Id}" onclick="SelectedItem(this,${response.Values[i].Id},'${response.Values[i].ImageUrl}','${response.Values[i].Name}');" id="choose_items_${i}" value="" />`
                         htmlData += `<label class="mb-0 d-flex align-items-center justify-content-between choose-label" for="choose_items_${i}">`
                         htmlData += `<label class="mb-0 d-flex align-items-center" for="choose_items_${i}">`
                         htmlData += `<label class="mb-0 items-image img-round" for="choose_items_${i}">`
                         htmlData += `<img class="img-round" src="${urlClient+"/"+response.Values[i].ImageUrl}" alt="Item">`
                         htmlData += `</label>`
                         htmlData += `<label class="item-description ml-3 mb-0" for="choose_items_${i}">`
                         htmlData += `<span class="mb-0">${response.Values[i].Name}</span>`
                         htmlData += `</label>`
                         htmlData += `</label>`
                         htmlData += `</label>`
                         htmlData += `</div>`
                    }
                }
                else {
                    $("#showHideSaveButton").hide();
                    htmlData += '<h5 class="text-center">No Record Found</h5>';
                }
                $("#ProductItem").html(htmlData);
            },
            error: function (error) {
                console.log('error', error);
            }
        })
    }
    var selectedItems = [];
    var selectedItemsId = [];
    var items = []
    function SelectedItem(checkbox, itemId,ItemImage,ItemName) {
        if (checkbox.checked == true) {
            if (items.length > 0) {
                for (var i = 0; i < items.length; i++) {
                    if (items[i].Id != itemId) {
                        selectedItemsId.push(itemId);
                        var itemData = { Id: itemId, Image: ItemImage, Name: ItemName };
                        items.push(itemData);
                    }
                }
            } else {
                selectedItemsId.push(itemId);
                var itemData = { Id: itemId, Image: ItemImage, Name: ItemName };
                items.push(itemData);
            }
            
        } else {
            for (i = 0; i < selectedItemsId.length; i++) {
                if (selectedItemsId[i] == itemId) {
                    selectedItemsId.splice(i, 1);
                }
            }
        }
    }
    function selectItem() {
        $("#SelectedItem").show();
        var htmlData = "";
        if (items.length > 0) {
            for (var i = 0; i < items.length; i++) {
                
                htmlData += `<div class="col-lg-4 mt-3 p-1" style="background: #f7f7f7; border-radius: 10px; box-shadow: 0px 0px 6px #c7c7c7;">`
                htmlData += `<input type="checkbox" name="choose_items" class="d-none choose-item items-data-${items[i].Id}" value="" />`
                htmlData += `<label class="mb-0 d-flex align-items-center justify-content-between choose-label" for="choose_items_${i}">`
                htmlData += `<label class="mb-0 d-flex align-items-center" for="choose_items_${i}">`
                htmlData += `<label class="mb-0 items-image img-round" for="choose_items_${i}">`
                htmlData += `<img class="img-round" src="${urlClient + "/" + items[i].ImageUrl}" alt="Item">`
                htmlData += `</label>`
                htmlData += `<label class="item-description ml-3 mb-0" for="choose_items_${i}">`
                htmlData += `<span class="mb-0">${items[i].Name}</span>`
                htmlData += `</label>`
                htmlData += `</label>`
                htmlData += `</label>`
                htmlData += `</div>`
            }

        }
            $("#ProductselectedItem").html(htmlData);
    }
    function clearItem() {
        var search = $("#ItemName").val('');
        //ManageItems(search)
        $("#showHideSaveButton").hide();
        $("#ProductItem").html('<h5 id="NoItem" class="text-center">Search Above To View Items</h5>');
    }
    function AddItems() {
        $("#Submit").hide();
        $("#SubmitLoading").show();

        for (var i = 0; i < AllItems.length; i++) {
            for (var r = 0; r < selectedItemsId.length; r++) {
                if (AllItems[i].Id == selectedItemsId[r]) {
                    selectedItems.push(AllItems[i].Id.toString());
                }
            }
        }

        if (selectedItemsId.length == 0) {
            $("#itemsError").show();
            $("#itemsError").text("Please select atleast one item");
            $("#Submit").show();
            $("#SubmitLoading").hide();
        } else if (selectedItemsId.length > 0) {
            $("#itemsError").hide();
            $("#itemsError").text("");

            var formData = selectedItemsId.toString();

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.AddItems, Controllers.AddItems)',
                data: ({ itemsid: formData }),
                dataType: 'json',
                success: function (response) {
                    console.log("response", response)
                    if (response.Code == 200) {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: response.Message,
                            showConfirmButton: false,
                            timer: 2000
                        });
                        window.location.href = "/";
                    } else {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: response.Message,
                            showConfirmButton: false,
                            timer: 2000
                        });
                    }
                    $("#Submit").show();
                    $("#SubmitLoading").hide();
                },
                error: function (error) {
                    Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: 'Something Went Wrong !',
                        showConfirmButton: false,
                        timer: 2000
                    });
                    $("#Submit").show();
                    $("#SubmitLoading").hide();
                }
            })
        }
    }
</script>