﻿@using AAH.Common;
@using GinnyBuddyApp.Pages;

@{
    var curController = Convert.ToString(ViewContext.RouteData.Values["Controller"]);
    var curAction = Convert.ToString(ViewContext.RouteData.Values["Action"]);
}

<div class="bottom-bar">
    <div class="row m-0 justify-content-center align-items-center">
        <div class="col-lg-3 col-3">
            <div class="text-center line-height-1">
                <a href="@Url.Action("Index","Dashboard")" id="HomeMenu" class="text-s-light">
                    <i class="bx bx-home fs-20"></i>
                    <p class="mb-0 fs-11 mt-1">Home</p>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-3">
            <div class="text-center line-height-1">
                <a href="@Url.Action("ManageRequest","CreateRequest")" id="RequestsMenu" class="text-s-light">
                    <i class="dripicons-device-mobile fs-20"></i>
                    <p class="mb-0 fs-11 mt-1">Requests</p>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-3">
            <div class="text-center line-height-1">
                <a href="/Profiles" id="ProfileMenu" class="text-s-light">
                    <i class="bx bx-user fs-20"></i>
                    <p class="mb-0 fs-11 mt-1">Profile</p>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-3">
            <div class="text-center line-height-1">
                <a href="/Notifications" id="NotificationMenu" class="text-s-light">
                    <i class="bx bx-bell fs-20 "></i>
                    <p class="mb-0 fs-11 mt-1">Notification</p>
                </a>
            </div>
        </div>
    </div>
</div>
