﻿@using AAH.Common;
@using WebPrivacyPolicy.Pages;

@{ /**/
    var curController = Convert.ToString(ViewContext.RouteData.Values["Controller"]);
    var curAction = Convert.ToString(ViewContext.RouteData.Values["Action"]);
}

<!doctype html>
<html lang="en">


<!-- Mirrored from themesbrand.com/minia/layouts/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 22 Jun 2022 16:36:19 GMT -->
<head>

    <meta charset="utf-8" />
    <title>GinnyBuddy | @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    <link href="~/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/preloader.min.css" type="text/css" />
    <link href="~/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/toastr.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;0,900;1,200;1,300;1,400;1,600;1,800;1,900&display=swap" rel="stylesheet">
    <style>
        .loader-area {
            display: none;
            position: absolute;
            z-index: 9999;
            background: #5156be;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .spinner-border {
            display: inline-block;
            width: 1.3rem;
            height: 1.3rem;
            vertical-align: -0.125em;
            border: 0.2em solid currentColor;
            border-right-color: transparent;
            border-radius: 50%;
            -webkit-animation: .75s linear infinite spinner-border;
            animation: .75s linear infinite spinner-border;
        }

        .loader-btn {
            display: flex;
            align-content: center;
            justify-content: center;
        }

        .loader-area img {
            width: 125px;
            display: flex;
            justify-content: center;
            height: 100vh;
            align-items: center;
            margin: 0 auto;
        }

        .swal2-container .swal2-title {
            font-size: 16px !important;
            font-weight: 500;
        }

        .error {
            color: red;
            font-size: 13px;
        }

        .button-fixed {
            position: fixed;
            bottom: 7px;
            left: 7px;
            right: 7px;
        }

        /*slick carousel*/
        .slider {
            width: auto;
            margin: 30px 50px 50px;
        }
        .slider .slick-slide {
            background: #292e3e;
            color: white;
            padding: 40px 0;
            font-size: 30px;
               
            text-align: center;
        }
        .slider .slick-prev:before, .slider .slick-next:before {
            color: #292e3e;
        }
        .slider .slick-dots {
            bottom: -30px;
        }
        .slider .slick-slide:nth-child(odd) {
            background: #57c09f;
        }
        .slick-dots {
            position: relative;
            bottom: 0;
            margin: 0;
            margin-bottom: 0;
        }
            /*  .slick-dots li button{
            width:0;
            height:0;
            padding:0;
        }
        .slick-dots li button:before {
            width: 0;
            height: 0;
            padding: 0;
        }*/
            .slick-dots li button:before{
                line-height:0;
                height:0;
            }
            .slick-dots li {
                height: 0;
                width: 10px;
            }
    </style>
</head>

<body>


    <div class="loader-area" id="globalLoader">
        <img src="~/assets/images/Ginni_logo.svg" alt="Alternate Text" />
    </div>

    <!-- <body data-layout="horizontal"> -->
    <!-- Begin page -->
    <div id="layout-wrapper">
        @RenderBody()
    </div>

    <div class="rightbar-overy"></div>

    <!-- JAVASCRIPT -->
    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/assets/libs/feather-icons/feather.min.js"></script>
    <script src="~/assets/libs/pace-js/pace.min.js"></script>
    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/libs/jszip/jszip.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="~/assets/js/pages/datatables.init.js"></script>
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/assets/js/pages/datatables.init.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/libs/pristinejs/pristine.min.js"></script>
    <script src="~/assets/js/pages/form-validation.init.js"></script>
    <script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/assets/js/pages/sweetalert.init.js"></script>
    <script src="~/assets/Scripts/toastr.min.js"></script>
    <script src="~/assets/Scripts/ui-toastr.min.js"></script>
    <script src="~/assets/Scripts/common.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.js"></script>
</body>
</html>