﻿@using AAH.Common;
@using AAHAdmin.Pages;
@using System.Web.Optimization;
@using AAHAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Delivery Executive Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<style>
    #map {
        height: 400px;
        width: 1000px;
        margin: 0px;
        padding: 0px;
    }

    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #0069D9;
        color: white;
    }

    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .text-c-dark {
        color: #000;
    }

    .device-active .active .card {
        background: #157aec;
        cursor: pointer;
    }

    .device-active .active .text-c-dark {
        color: #fff !important;
    }

        .device-active .active .text-c-dark .icon {
            background-color: #0069D9;
            border: none;
        }

    .icon-box {
        background: #eff1f4;
    }

        .icon-box:hover {
            background: #0e67cc !important;
        }

    .btn-primary {
        color: #fff !important;
        background-color: #0596F8 !important;
        border-color: #0596F8 !important;
        box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%) !important;
    }

    div.dt-buttons {
        float: right !important;
    }
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABofRnRkpT_4m344ZOsyRnT90uSGF5H6A"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>



<div class="content container-fluid">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li><a onclick="BackToDE();" style="cursor: pointer;"><h6 style="color: #0596F8;" id="BreadCrumDEName"></h6></a></li>
                    <li><h6 class="ml-1">Delivery Executive Locations</h6></li>
                </ol>
            </nav>
            <hr />
        </div>
    </div>


    <div class="row align-items-end justify-content-center">
        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
            <div class="form-group mb-3">
                <label for="">From Date</label>
                <input type="date" class="form-control" id="ActionFormDate">
            </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-6 col-12">
            <div class="form-group mb-3">
                <label for="ActionFormTime">From Time</label>
                <input type="time" class="form-control" id="ActionFormTime">
            </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-6 col-12">
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12">
            <div class="form-group mb-3">
                <label for="">To Date</label>
                <input type="date" class="form-control" id="ActionToDate">
            </div>
        </div>
        <div class="col-xl-2 col-lg-4 col-md-6 col-12">
            <div class="form-group mb-3">
                <label for="ActionToTime">To Time</label>
                <input type="time" class="form-control" id="ActionToTime">
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-12">
            <div class="form-group mb-3 row m-0 align-items-center justify-content-center">
                <button type="button" class="btn btn-primary c-w-49 saveBtn" onclick="DELocationsDetails();"><i class="tio-search"></i> Search</button>
                <button type="button" class="btn btn-primary c-w-49 loading" disabled style="display:none;float:right;">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Searching...
                </button>
                <button role="button" class="btn btn-outline-secondary c-w-49 ml-1 closeBtn" onclick="SearchReset();">Reset</button>
            </div>
        </div>
        </div>


        <div class="row">
            <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">
                <div class="card mt-4">
                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        <div class="mt-4" id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



@section Scripts {

    <script>
            $(document).ready(() => {

                let today = new Date().toISOString().slice(0, 10)
                $('#ActionFormDate').val(today);
                $('#ActionToDate').val("");
                $('#ActionFormTime').val("");
                $('#ActionToTime').val("");
                document.getElementById("ActionFormDate").onchange = function () {
                    document.getElementById("ActionToDate").setAttribute("min", this.value);
                    debugger;
                    if ($("#ActionToDate").val() < $("#ActionFormDate").val()) {
                        $("#ActionToDate").val('');
                    }
                }
                DSDetails();
                DELocationsDetails();
            });


            function BackToDE() {
                window.location.href = '@Url.Action("Index", "DeliveryExecutives")';
            }

            function DSDetails() {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.GetDeliveryExecutiveDetails, Controllers.DeliveryExecutives)',
                    data: { DId: '@ViewBag.DEId' },
                    dataType: 'json',
                    success: function (response) {
                        if (response.Code == 200) {
                            $("#BreadCrumDEName").text(response.Item.FirstName + ' ' + response.Item.LastName + ' >' + ' ');
                        }
                    },
                    error: function (error) {
                        console.log('error', error);
                    }
                })
            }

            function DELocationsDetails() {

                $(".saveBtn").hide();
                $(".closeBtn").hide();
                $(".loading").show();

                var JSON = {
                    DEId: '@ViewBag.DEId',
                    ActionFormDate: $('#ActionFormDate').val(),
                    ActionToDate : $('#ActionToDate').val(),
                    ActionFormTime : $('#ActionFormTime').val(),
                    ActionToTime : $('#ActionToTime').val()
                }


                $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.DeliveryExecutiveLatLong_ByDeliveryExecutiveId, Controllers.DeliveryExecutives)',
                    data: JSON,
                    dataType: 'json',
                    success: function (response) {
                        if (response.TotalRecords > 0) {
                            // call map function
                            var MapPoints = '[';
                            for (var i = 0; response.Values.length > i; i++) {
                                var j = i + 1;
                                MapPoints += '{ "address": { "lat": ' + response.Values[i].Latitude + ', "lng": ' + response.Values[i].Longitude + '},"title": "<b>' + j + ' : </b> ' + response.Values[i].CreatedDateStr + '"},';
                            }
                            MapPoints = MapPoints.slice(0, -1);

                            initialize(MapPoints + ']');
                            $(".saveBtn").show();
                            $(".closeBtn").show();
                            $(".loading").hide();
                        } else {
                            // No record found
                            $("#map").html('<h4 class="text-center">No Record Found</h4>');
                            $(".saveBtn").show();
                            $(".closeBtn").show();
                            $(".loading").hide();
                        }
                    },
                    error: function (error) {
                        swal({
                            title: "Warning",
                            text: "Something went wrong !",
                            icon: "warning"
                        })
                        $(".saveBtn").show();
                        $(".closeBtn").show();
                        $(".loading").hide();
                    }
                })
        }

        function SearchReset() {
            let today = new Date().toISOString().slice(0, 10)
            $('#ActionFormDate').val(today);
            $('#ActionToDate').val("");
            $('#ActionFormTime').val("");
            $('#ActionToTime').val("");
            DELocationsDetails();
        }
        </script>

    <script>
        function initialize(MapPoints) {
            debugger;
            console.log(MapPoints)
            var MY_MAPTYPE_ID = 'custom_style';

            if (jQuery('#map').length > 0) {

                var locations = jQuery.parseJSON(MapPoints);

                window.map = new google.maps.Map(document.getElementById('map'), {
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    scrollwheel: false
                });

                var infowindow = new google.maps.InfoWindow();
                var flightPlanCoordinates = [];
                var bounds = new google.maps.LatLngBounds();

                for (i = 0; i < locations.length; i++) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(locations[i].address.lat, locations[i].address.lng),
                        map: map
                    });
                    flightPlanCoordinates.push(marker.getPosition());
                    bounds.extend(marker.position);
                    debugger
                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        debugger
                        return function () {
                            infowindow.setContent(locations[i]['title']);
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
                }

                map.fitBounds(bounds);

                var flightPath = new google.maps.Polyline({
                    map: map,
                    path: flightPlanCoordinates,
                    strokeColor: "#0596F8",
                    strokeOpacity: 1.0,
                    strokeWeight: 2
                });

                google.maps.event.addDomListener(window, 'load', initialize);
            }
        }
    </script>

}