﻿@using AAH.Entities.V1;
@using AAHAdmin.Pages;
@using AAH.Common;
@model DeliveryExecutive

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Delivery Executive";
}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #0069D9;
        color: white;
    }

    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        bUsers-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            bUsers-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        bUsers-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        bUsers: 1px solid #d4d4d4;
        bUsers-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            bUsers-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .text-c-dark {
        color: #000;
    }

    .device-active .active .card {
        background: #157aec;
        cursor: pointer;
    }

    .device-active .active .text-c-dark {
        color: #fff !important;
    }

        .device-active .active .text-c-dark .icon {
            background-color: #0069D9;
            bUsers: none;
        }

    .icon-box {
        background: #eff1f4;
    }

        .icon-box:hover {
            background: #0e67cc !important;
        }

    .btn-primary {
        color: #fff !important;
        background-color: #0596F8 !important;
        border-color: #0596F8 !important;
        box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%) !important;
    }

    div.dt-buttons {
        float: right !important;
    }

    #map {
        padding: 0;
        margin: 0;
        height: 500px;
    }
</style>


<div class="content container-fluid">
    <div class="row">
        <div class="col-8">
            <h5>Delivery Executives</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">

            @using (Html.BeginForm(Actions.DeliveryExecutive_Upsert, Controllers.DeliveryExecutives, new { Area = "" }, FormMethod.Post, new { id = "DeliveryExecutivesDetails", @class = "", enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.Id)
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6 mt-2">
                            <label>First Name</label>
                            @Html.TextBoxFor(model => model.FirstName, new { @Type = "text", @class = "form-control", @placeholder = "Enter First Name" })
                        </div>
                        <div class="col-6 mt-2">
                            <label>Last Name</label>
                            @Html.TextBoxFor(model => model.LastName, new { @Type = "text", @class = "form-control", @placeholder = "Enter Last Name" })
                        </div>
                        <div class="col-6 mt-2">
                            <label>Mobile Number</label>
                            @Html.TextBoxFor(model => model.MobileNumber, new { @Type = "text", @class = "form-control", @placeholder = "Enter Mobile Number" })
                        </div>
                        <div class="col-6 mt-2">
                            <label>Address</label>
                            @Html.TextBoxFor(model => model.AddressLine1, new { @Type = "text", @class = "form-control", @placeholder = "Enter Address" })
                        </div>
                        <div class="col-6 mt-2">
                            <label>Parent Name</label>
                            @Html.TextBoxFor(model => model.ParentName, new { @Type = "text", @class = "form-control", @placeholder = "Enter Parent Name" })
                        </div>
                        <div class="col-6 mt-2">
                            <label>Parent Number</label>
                            @Html.TextBoxFor(model => model.ParentNumber, new { @Type = "text", @class = "form-control", @placeholder = "Enter Parent Number" })
                        </div>
                        <div class="col-6 mt-2">
                            <label>Profile Image</label>
                            <input type="file" name="files" id="pImg" class="form-control" />

                            @*@Html.TextBoxFor(model => model.ProfileURL, new { @Type = "file", @class = "form-control" })*@
                        </div>
                        <div class="col-6 mt-2">
                            <label>Driving Licence Image </label>
                            <input type="file" name="files" id="dFile" class="form-control" />

                            @*@Html.TextBoxFor(model => model.PhotoIdProof, new { @Type = "file", @class = "form-control" })*@
                        </div>
                        <div class="col-6 mt-2">
                            <label>Driving Licence Number</label>
                            @Html.TextBoxFor(model => model.DrivingLicenceNumber, new { @Type = "text", @class = "form-control", @placeholder = "Enter Driving Licence Number" })
                        </div>
                        <div class="col-6 mt-2">
                            <label>Agreement Copy</label>
                            <input type="file" name="files" id="aFile" class="form-control" />

                            @*@Html.TextBoxFor(model => model.AgreementCopy, new { @Type = "file", @class = "form-control" })*@
                        </div>
                        @if (@ProjectSession.UserType == "Super Admin")
                        {
                            <div class="col-6 mt-2">
                                <label>Agency</label>
                                @Html.DropDownListFor(model => model.AgencyId, (IEnumerable<SelectListItem>)ViewBag.GetAgencyAll, new { @class = "form-control", onchange = "onAgencyChange();" })
                            </div>
                        }
                    <div class="col-6 mt-2">
                        <label>Area</label>
                        <select class="form-control" id="MasterAreaId" name="MasterAreaId">
                        </select>
                        @*@Html.DropDownListFor(model => model.MasterAreaId, (IEnumerable<SelectListItem>)ViewBag.GetMasterAreaAll, new { @class = "form-control" })*@
                    </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <input id="btnSearch" type="submit" class="btn btn-primary saveBtn" value="Save" />
                    <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Saving...
                    </button>
                    <a class="btn btn-secondary closeBtn" href="@Url.Action(Actions.Index, Controllers.DeliveryExecutives)">Cancel</a>
                </div>
            }

        </div>
    </div>
</div>


@section Scripts {

    <script>

        $(document).ready(() => {
            $("#MasterAreaId").append('<option value="0">Select Area</option>');
            onAgencyChange();
            $("#DeliveryExecutivesDetails").validate({
                 rules: {
                    FirstName: "required",
                    MobileNumber: "required",
                    AddressLine1: "required",
                    MasterAreaId: "required",
                    LastName: "required",
                    ParentName: "required",
                    ParentNumber: "required",
                    DrivingLicenceNumber: "required",
                    AgencyId: {
                        required: {
                            depends: function (element) {
                                if ('@ProjectSession.UserType' == "Super Admin") {
                                    return true;
                                } else {
                                    return false;
                                }
                            }
                        }
                    },
               
                },
                messages: {
                    FirstName: {
                        required: "Please enter first name",
                    },
                    AddressLine1: {
                        required: "Please enter address",
                    },
                    //MasterAreaId: {
                    //    required: "Please select MasterArea",
                    //},
                    MobileNumber: {
                        required: "Please enter mobile number",
                    },
                    LastName: {
                        required: "Please enter last name",
                    },
                    ParentNumber: {
                        required: "Please enter parent number",
                    },
                    ParentName: {
                        required: "Please enter parent name",
                    }
                },

                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents(".form-group"));
                    } else {
                        // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    if ($("#MasterAreaId").val() != "0") {
                        debugger
                        var isValid = true;
                        if ($("#Id").val() == 0 && document.getElementById("dFile").files.length == 0) {
                            isValid = false;
                            toastr.clear();
                            ShowMessageToastr("danger", "Please add Driving Licence Image.!", false);
                            return
                        }
                        else if ($("#Id").val() == 0 && document.getElementById("aFile").files.length == 0) {
                            isValid = false;
                            toastr.clear();
                            ShowMessageToastr("danger", "Please add Agreement Copy.!", false);
                            return
                        }
                        else if ($("#Id").val() == 0 && document.getElementById("pImg").files.length == 0) {
                            isValid = false;
                            toastr.clear();
                            ShowMessageToastr("danger", "Please add Profile Image.!", false);
                            return
                        }

                        if (isValid) {
                            form.submit();
                        }
                    }
                    else {
                        toastr.clear();
                        ShowMessageToastr("danger", "Please select Area.!", false);
                        return
                    }
                }
            });
        });

        function onAgencyChange() {
        debugger;
            $("#MasterAreaId").html("");
            var agencyId = $("#AgencyId").val();

        $.ajax({
            type: "GET",
            url: "@Url.Action("GetMasterArea_ByAgencyId", Controllers.DeliveryExecutives, new { area = "" })",
            data: ({
                AgencyId: agencyId
                  }),
            datatype: 'json',
            success: function (result) {
                console.log('result', result);
                debugger;
                if (result.Values.length > 0) {
                    $("#MasterAreaId").append('<option value="0">Select Area</option>');
                    for (var i = 0; i < result.Values.length; i++) {
                        $("#MasterAreaId").append(`
                            <option value="${result.Values[i].Id}">${result.Values[i].Name}</option>
                        `)
                    }
                }
                debugger;

                if (@ViewBag.DeliveryExecutiveId > 0) {
                    $("#MasterAreaId").val("@ViewBag.MasterAreaId");
                } else {
                    $("#MasterAreaId").val("0")
                }
            },
            error: function (error) {
                console.log("error", error)
            }
        });
    }

    </script>


    
}
