﻿@using AAH.Common;
@using AAHAdmin.Pages;
@using AAHAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Delivery Executive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


<style>
    .hide_column {
        display: none;
    }

    .border-rad {
        border-radius: 5px !important
    }

    .border-rad-l {
        border-radius: 5px 0 0 5px !important;
    }

    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #0069D9;
        color: white;
    }

    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .text-c-dark {
        color: #000;
    }

    .device-active .active .card {
        background: #157aec;
        cursor: pointer;
    }

    .device-active .active .text-c-dark {
        color: #fff !important;
    }

        .device-active .active .text-c-dark .icon {
            background-color: #0069D9;
            border: none;
        }

    .icon-box {
        background: #eff1f4;
    }

        .icon-box:hover {
            background: #0e67cc !important;
        }

    .btn-primary {
        color: #fff !important;
        background-color: #0596F8 !important;
        border-color: #0596F8 !important;
        box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%) !important;
    }

    div.dt-buttons {
        float: right !important;
    }
</style>


<div class="content container-fluid">

    <div class="row">
        <div class="col-8">
            <h5>Delivery Executive</h5>
        </div>
        <div class="col-4" style=" text-align: right; margin-bottom: 20px;">
            <a class="btn btn-primary" href="@Url.Action(Actions.Details, Controllers.DeliveryExecutives)">Add Delivery Executives</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">
            @Html.AntiForgeryToken()
            <div class="portlet-body table-responsive" id="divDeliveryExecutiveTable">
                <table class="table table-striped table-bUsersed table-hover" id="DeliveryExecutiveTable"></table>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="addResponder" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">Manage Delivery Executives</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="ResponderForm" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 mt-2">
                            <label>First Name</label>
                            <input type="hidden" id="DeliveryExecutivesId" name="DeliveryExecutivesId" />
                            <input type="text" id="FirstName" name="FirstName" class="form-control" placeholder="Please enter FirstName" />
                        </div>
                        <div class="col-12 mt-2">
                            <label>Last Name</label>
                            <input type="text" id="LastName" name="LastName" class="form-control" placeholder="Please enter LastName" />
                        </div>
                        <div class="col-12 mt-2">
                            <label>Mobile Number</label>
                            <input type="number" id="dMobileNumber" name="dMobileNumber" class="form-control" placeholder="Please enter MobileNumber" />
                        </div>
                        <div class="col-12 mt-2">
                            <label>Address</label>
                            <input type="text" id="AddressLine1" name="AddressLine1" class="form-control" placeholder="Please enter AddressLine1" />
                        </div>
                        <div class="col-12 mt-2">
                            <label>Parent Name</label>
                            <input type="text" id="ParentName" name="ParentName" class="form-control" placeholder="Please enter Parent Name" />
                        </div>
                        <div class="col-12 mt-2">
                            <label>Parent Number</label>
                            <input type="number" id="ParentNumber" name="ParentNumber" class="form-control" placeholder="Please enter Parent Number" />
                        </div>
                        <div class="col-12 mt-2">
                            <label>Profile Image</label>
                            <input type="file" id="files" name="files" class="form-control" placeholder="Please enter Parent Number" />
                        </div>
                        <div class="col-12 mt-2">
                            <label>PhotoId Proof</label>
                            <input type="file" id="files" name="files" class="form-control" placeholder="Please enter Parent Name" />
                        </div>
                        <div class="col-12 mt-2">
                            <label>Agreement Copy</label>
                            <input type="file" id="files" name="files" class="form-control" placeholder="Please enter Parent Name" />
                        </div>
                        @if (@ProjectSession.UserType == "Super Admin")
                        {
                            <div class="col-12 mt-2">
                                <label>Agency</label>
                                @Html.Raw(Html.DropDownList("AgencyId", (IEnumerable<SelectListItem>)ViewBag.GetAgencyAll, new { @Id = "AgencyId", @class = "form-control" }))
                            </div>
                        }
                        <div class="col-12 mt-2">
                            <label>Area</label>
                            @Html.Raw(Html.DropDownList("MasterAreaId", (IEnumerable<SelectListItem>)ViewBag.GetMasterAreaAll, new { @Id = "MasterAreaId", @class = "form-control" }))
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <input id="btnSearch" type="submit" class="btn btn-primary saveBtn" value="Save" />
                    <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Saving...
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-secondary closeBtn">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal" id="DeviceView" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">View Device</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">
                        @Html.AntiForgeryToken()
                        <div class="portlet-body table-responsive" id="divDeviceDETable">
                            <table class="table table-striped table-bUsersed table-hover" id="DeviceDETable"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="DocumentView" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">View Document</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">
                        @Html.AntiForgeryToken()
                        <div class="portlet-body table-responsive" id="divDocumentUserTable">
                            <table class="table table-striped table-bUsersed table-hover" id="DocumentUserTable"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="DeliveryExecutiveFilterPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">Delivery Executive Filters</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <label>Name</label>
                        <div class="form-group">
                            <input type="text" class="form-control" value="" name="UserName" id="UserName" placeholder="Enter Here...">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label>Mobile Number</label>
                        <div class="form-group">
                            <input type="number" class="form-control" value="" name="MobileNumber" id="MobileNumber" placeholder="Enter Here...">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label>Gender</label>
                        <div class="form-group">
                            <select class="form-control" id="Gender" name="Gender">
                                <option value="0">All</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                                <option value="3">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label>Is Active</label>
                        <div class="form-group">
                            <select class="form-control" id="IsActive" name="IsActive">
                                <option value="0">All</option>
                                <option value="1">Active</option>
                                <option value="2">In-Active</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label>Is Approve</label>
                        <div class="form-group">
                            <select class="form-control" id="IsApprove" name="IsApprove">
                                <option value="0">All</option>
                                <option value="1">Approve</option>
                                <option value="2">Un-Approve</option>
                            </select>
                        </div>
                    </div>
                    @if (ProjectSession.UserType == "Super Admin" || ProjectSession.UserType == "Manager")
                    {
                        <div class="col-sm-12">
                            <label>Agency</label>
                            <div class="form-group">
                                <select class="form-control" id="AgencyId2" name="AgencyId2" onchange="onAgencyChange();">
                                    @foreach (var item in ViewBag.GetAgencyAll)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label>Area</label>
                            <div class="form-group">
                                <select class="form-control" id="MasterAreaId2" name="MasterAreaId2">
                                </select>
                            </div>
                        </div>
                    }
                    @if (ProjectSession.UserType == "Agency Owner")
                    {
                        <div class="col-sm-12">
                            <label>Area</label>
                            <div class="form-group">
                                <select class="form-control" id="MasterAreaId2" name="MasterAreaId2">
                                    @foreach (var item in ViewBag.GetMasterAreaAll)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                    }


                        @*<div class="col-sm-12">
                <label>Is Available</label>
                <div class="form-group">
                    <select class="form-control" id="IsAvailable" name="IsAvailable">
                        <option value="0">All</option>
                        <option value="1">Available</option>
                        <option value="2">Not-Available</option>
                    </select>
                </div>
            </div>*@
                    </div>
            </div>
            <div class="modal-footer">
                <button id="btnSearch" type="button" class="btn btn-primary saveBtn" onclick="SearchReset(false)">Search</button>
                <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Searching...
                </button>
                <button type="button" data-dismiss="modal" class="btn btn-secondary closeBtn">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="AddressView" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">View Address</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">
                        @Html.AntiForgeryToken()
                        <div class="portlet-body table-responsive">
                            <table class="table table-striped table-bUsersed table-hover">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_disabled" rowspan="1" colspan="1">Address</th>
                                        <th class="sorting_disabled" rowspan="1" colspan="1">Pincode</th>
                                        <th class="sorting_disabled" rowspan="1" colspan="1">City Name</th>
                                        <th class="sorting_disabled" rowspan="1" colspan="1">State Name</th>
                                        <th class="sorting_disabled" rowspan="1" colspan="1">Country Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr role="row">
                                        <td class="sorting_disabled" rowspan="1" colspan="1" id="PAddressName"></td>
                                        <td class="sorting_disabled" rowspan="1" colspan="1" id="PPincode"></td>
                                        <td class="sorting_disabled" rowspan="1" colspan="1" id="PCityName"></td>
                                        <td class="sorting_disabled" rowspan="1" colspan="1" id="PStateName"></td>
                                        <td class="sorting_disabled" rowspan="1" colspan="1" id="PCountryName"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Html.Raw(ViewBag.openPopup)

<script>

        $(document).ready(() => {

            var polygon = [[23.038318409850774, 72.52015277638733], [23.030972593565835, 72.52693340077698], [23.029708756845093, 72.53997966542542], [23.044005218380285, 72.54427119984925], [23.04234659069148, 72.52350017323792]];
            var isInArea = inside([23.0504, 72.4991], polygon); // true
            console.log(isInArea);

            var DocumentUserId = 0
            var DeviceUserId = 0
            $('#UserName').val("");
            $('#MobileNumber').val("");
            $('#ParentName').val("");
            $('#ParentNumber').val("");
            $('#Gender').val(0);
            $('#IsActive').val(0);
            $('#IsApproved').val(0);
            $('#IsAvailable').val(0);
            $('#AgencyId2').val("");
            $('#MasterAreaId2').val("");
            DeliveryExecutiveTable.init();

            $("#ResponderForm").validate({
                rules: {
                    FirstName: "required",
                    MobileNumber: "required",
                    AddressLine1: "required",
                    MasterAreaId: "required",
                    LastName: "required",
                    ParentName: "required",
                    ParentNumber: "required",
                    AgencyId: {
                        required: {
                            depends: function (element) {
                                if ('@ProjectSession.UserType' == "Super Admin") {
                                    return true;
                                } else {
                                    return false;
                                }
                            }
                        }
                    },
                },
                messages: {
                    FirstName: {
                        required: "Please enter first name",
                    },
                    AddressLine1: {
                        required: "Please enter address",
                    },
                    MasterAreaId: {
                        required: "Please select MasterArea",
                    },
                    MobileNumber: {
                        required: "Please enter mobile number",
                    },
                    LastName: {
                        required: "Please enter last name",
                    },
                    ParentNumber: {
                        required: "Please enter parent number",
                    },
                    ParentName: {
                        required: "Please enter parent name",
                    }
                },

                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents(".form-group"));
                    } else {
                        // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    AddDeliveryExecutives();
                }
            });

        });

             var DeliveryExecutiveTable = function () {
                let initTable1 = function () {
                    let table = $('#DeliveryExecutiveTable');

                    let oTable = table.dataTable({
                        "stateSave": true,
                        "autoWidth": false,
                        "paging": true,
                        // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                        "language": {
                            "aria": {
                                "sortAscending": ": activate to sort column ascending",
                                "sortDescending": ": activate to sort column descending"
                            },
                            "emptyTable": "No data available in table",
                            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                            "infoEmpty": "No entries found",
                            "infoFiltered": "(filtered1 from _MAX_ total entries)",
                            "lengthMenu": "_MENU_ entries",
                            "search": "Search:",
                            "zeroRecords": "No matching records found"
                        },
                        "pageLength": 10,
                        "processing": true,
                        "serverSide": true,
                        "ajax": {
                            async: true,
                            url: '@Url.Action(Actions.ViewAllData, Controllers.DeliveryExecutives)',
                            type: "post",
                            data: BuildSearchCriteria(),
                    },
                    "columns": [
                        {
                            "title": "Delivery Executive Details", "data": "ProfileURLStr",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData += `<div class="d-flex align-items-center">`
                                    htmlData += `<img title="Profile Image" style="cursor:pointer;" onclick=redirectToNewTab('${row["ProfileURLStr"]}') src="${row["ProfileURLStr"]}" height="50px">`;
                                    htmlData += `<div class="ml-2">`
                                        htmlData += `<p class="mb-0">${row["FirstName"] + " " + row["LastName"]}</p>`;
                                        htmlData += `<p class="mb-0"><a href="tel:${row["MobileNumber"]}">${row["MobileNumber"]}</a></p>`;
                                        if (row["Gender"] == 1) {
                                            htmlData += `Male`;
                                        } else if (row["Gender"] == 2) {
                                            htmlData += `Female`;
                                        } else {
                                            htmlData += `Other`;
                                        }
                                    htmlData += `</div>`
                                htmlData += `</div>`

                                htmlData += `<p class="mb-0 mt-1"><b>Refrence Code : </b>${row["Id"]}</p>`;
                                htmlData += `<p class="mb-0 mt-1"><b>Working Since : </b>${row["WorkingSince"]} Days</p>`;
                                htmlData += `<p class="mb-0"><b>Agency Name : </b>${row["AgencyName"] == "" || row["AgencyName"] == null ? '-' : row["AgencyName"]}</p>`;
                                //htmlData += `<p class="mb-0 mt-1"><b>Agency Name : </b>${row["AgencyName"]}</p>`
                                htmlData += `<p class="mb-0 mt-1"><b>Area Name : </b>${row["MasterAreaName"]}</p>`
                                htmlData += `<p class="mb-0 mt-1"><b>Created Date : </b>${row["CreatedDateStr"]}</p>`

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Performance", "data": "TodayDownloads",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                if (row["IsMarketingPerson"] == 1) {
                                    htmlData += `<p class="mb-0 mt-1"><b>Today's Download : </b>${row["TodayDownloads"]}</p>`;
                                    htmlData += `<p class="mb-0 mt-1"><b>Total Downloads in this month : </b>${row["ThisMonthDownloads"]} </p>`;
                                    htmlData += `<p class="mb-0 mt-1"><b>Your Daily Average : </b>${row["DailyAvgDownloads"]}</p>`
                                    htmlData += `<p class="mb-0 mt-1"><b>Extra Amount in this month : </b>${row["ThisMonthAmount"]}</p>`
                                    return htmlData;

                                }
                                else {
                                    htmlData += `<p class="mb-0 mt-1"><b>Today's Download : </b>${row["TodayDownloads"]}</p>`;
                                    htmlData += `<p class="mb-0 mt-1"><b>Total Downloads in this month : </b>${row["ThisMonthDownloads"]} </p>`;
                                    htmlData += `<p class="mb-0 mt-1"><b>Your Daily Average : </b>${row["DailyAvgDownloads"]}</p>`
                                    htmlData += `<p class="mb-0 mt-1"><b>Extra Amount in this month : </b>${row["ThisMonthAmount"]}</p>`
                                    htmlData += `<p class="mb-0 mt-1"><b>Today's Delivery : </b>${row["TodayDelivery"]}</p>`;

                                return htmlData;
                                }
                            }
                            , "orderable": false, "width": "8%"
                        },
                        //{
                        //    "title": "Address Details", "data": "AddressLine1",
                        //    "render": function (data, type, row) {
                        //        let htmlData = "";
                        //        htmlData = `<p class="mb-0"><b>Address : </b><a target="_balnk" class="c-text-primary" href="https://www.google.com/maps/?q=${row["Latitude"]},${row["Longitude"]}">${row["AddressLine1"] + " " + row["AddressLine2"]}</a></p>`;
                        //        htmlData += `<p class="mb-0"><b>Pincode : </b>${row["Pincode"] == "" || row["Pincode"] == null ? '-' : row["Pincode"]}</p>`;
                        //        htmlData += `<p class="mb-0"><b>City Name : </b>${row["CityName"] == "" || row["CityName"] == null ? '-' : row["CityName"]}</a></p>`;
                        //        htmlData += `<p class="mb-0"><b>State Name : </b > ${row["StateName"] == "" || row["StateName"] == null ? '-' : row["StateName"]}</p >`;
                        //        htmlData += `<p class="mb-0"><b>Country Name : </b > ${row["CountryName"] == "" || row["CountryName"] == null ? '-' : row["CountryName"]}</p >`;

                        //        return htmlData;
                        //    }
                        //    , "orderable": false, "width": "7%"
                        //},
                        {
                            "title": "Check In", "data": "CheckInStr",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p>${row["CheckInStr"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Check Out", "data": "CheckOutStr",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p>${row["CheckOutStr"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Average Ratings", "data": "Ratings",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p>${row["Ratings"]} <i class="fa fa-star" style="color:#c1c821"></i></p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Driving Licence Image", "data": "PhotoIdProof",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                if (row["PhotoIdProof"] != null && row["PhotoIdProof"] != "") {
                                    htmlData = `<a class="btn btn-sm btn-outline-secondary mr-1" target="_blank" href="${row["PhotoIdProofStr"]}" title="View Driving Licence Image">
                                    <i class="fa fa-eye"></i>
                                </a>`;
                                }
                                else {
                                    htmlData = `<p class="mb-0">-</p>`;
                                }

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Agreement Copy", "data": "AgreementCopy",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                if (row["AgreementCopy"] != null && row["AgreementCopy"] != "") {
                                    htmlData = `<a class="btn btn-sm btn-outline-secondary mr-1" target="_blank" href="${row["AgreementCopyStr"]}" title="View Agreement Copy">
                                    <i class="fa fa-eye"></i>
                                </a>`;
                                }
                                else {
                                    htmlData = `<p class="mb-0">-</p>`;
                                }

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        //{
                        //    "title": "Device Count", "data": "DeviceCount",
                        //    "render": function (data, type, row) {
                        //        let htmlData = "";

                        //        htmlData = `<span class="p-2"><i title="Devices Count" class="fa fa-desktop"></i> ${row["DeviceCount"]}</span>`;

                        //        return htmlData;
                        //    }
                        //    , "orderable": false, "width": "3%"
                        //},
                        {
                            "title": "Is Marketing Person ?", "data": "IsMarketingPerson",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                if (row["IsMarketingPerson"] == 1) {
                                    //InactiveMessage
                                    htmlData = `<button onclick="IsDE('${btoa(row["Id"])}');" class="badge badge-success">Yes</button>`;
                                } else {
                                    htmlData = `<button onclick="IsMP('${btoa(row["Id"])}');" class="badge badge-warning">No</button>`;
                                }
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Is Active ?", "data": "IsActive",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                if (row["IsActive"] == 1) {
                                    //InactiveMessage
                                    htmlData = `<button onclick="InactiveMessage('${btoa(row["Id"])}');" class="badge badge-primary">Active</button>`;
                                } else {
                                    htmlData = `<button onclick="ActiveMessage('${btoa(row["Id"])}');" class="badge badge-danger">In-Active</button>`;
                                }
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Is Approve ?", "data": "IsApproved",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                if (row["IsApproved"] == 1) {
                                    //InactiveMessage
                                    htmlData = `<button onclick="UnapproveMessage('${btoa(row["Id"])}');" class="badge badge-primary">Approve</button>`;
                                } else {
                                    htmlData = `<button onclick="ApproveMessage('${btoa(row["Id"])}');" class="badge badge-danger">Un-Approve</button>`;
                                }
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%", className: '@(ProjectSession.UserType == "Agency Owner" ? "hide_column" : "")'
                        },
                        //{
                        //    "title": "Is Available ?", "data": "IsAvailable",
                        //    "render": function (data, type, row) {
                        //        let htmlData = "";
                        //        if (row["IsAvailable"] == 1) {
                        //            //InactiveMessage
                        //            htmlData = `<button disabled class="badge badge-success">Available</button>`;
                        //        } else {
                        //            htmlData = `<button disabled class="badge badge-danger">Not-Available</button>`;
                        //        }
                        //        return htmlData;
                        //    }
                        //    , "orderable": false, "width": "3%"
                        //},
                        {
                            "title": "Action", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                //htmlData += `<a class="btn btn-sm btn-outline-secondary mt-1 mr-1" title="View Document" onclick="ViewDocument('${row["Id"]}');"><i class="fa fa-file"></i></a>`;
                                htmlData += `<a class="btn btn-sm btn-outline-secondary mt-1 mr-1" title="View Devices" onclick="ViewDevice('${row["Id"]}');"><i class="fa fa-desktop"></i></a>`;
                                htmlData += `<a class="btn btn-sm btn-outline-secondary mt-1 mr-1" title="View Location" onclick="ViewLocations('${btoa(row["Id"])}');"><i class="fa fa-map-marker"></i></a>`;
                                htmlData += `<a class="btn btn-sm btn-outline-secondary mt-1 mr-1" title="View Timesheet" onclick="ViewTimesheet('${btoa(row["Id"])}');"><i class="fa fa-calendar"></i></a>`;
                                htmlData += `<a class="btn btn-sm btn-outline-secondary mt-1 mr-1" title="View Requests" onclick="ViewDERequests('${btoa(row["Id"])}');"><i class="fa fa-paper-plane"></i></a>`;
                                htmlData += `<a class="btn btn-sm btn-outline-secondary mt-1 mr-1" title="View Notifications" onclick="ViewDENotifications('${btoa(row["Id"])}');"><i class="fa fa-bell"></i></a>`;
                                htmlData += `<a class="btn btn-sm btn-outline-secondary mr-1 mr-1" href="@Url.Action(Actions.Details, Controllers.DeliveryExecutives)?DID=${btoa(row["Id"])}" title="Edit">
                                        <i class="fa fa-edit"></i>
                                    </a>`
                                htmlData += `<a class="btn btn-sm btn-outline-secondary mt-1 mr-1" href="@Url.Action(Actions.Index, Controllers.Customers)?DI=${btoa(row["Id"])}" title="View Downloaders">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                    </a>`
                                //htmlData += `<button title="Edit Delivery Executives" class="btn btn-sm btn-outline-secondary mr-1" onclick="ViewDeliveryExecutives('${btoa(row["Id"])}');"><i class="fa fa-edit"></i></button>`;
                                //htmlData += `<a class="btn btn-sm btn-outline-secondary mt-1 mr-1" title="View Address" onclick="ViewAddress('${row["Latitude"]}','${row["Longitude"]}',
                                //              '${row["AddressLine1"]}','${row["AddressLine2"]}','${row["Pincode"]}','${row["CityName"]}','${row["StateName"]}',
                                //              '${row["CountryName"]}');"><i class="fa fa-address-card"></i></a>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        ],

                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                        "buttons": [
                            {
                                text: 'Filters',
                                className: 'btn btn-primary mb-3 mt-1 border-rad-l',
                                action: function (e, dt, node, config) {
                                    OpenUsersFiltersPopup();
                                }
                            },
                            {
                                text: 'Reset',
                                className: 'mb-3 mt-1 mr-3',
                                action: function () {
                                    SearchReset(true)
                                }
                            },

                            //{ extend: 'excel', className: 'them-btn' }
                        ],

                        // setup responsive extension: http://datatables.net/extensions/responsive/
                        responsive: true,

                        "lengthMenu": [
                            [5, 10, 15, 20, 1000],
                            [5, 10, 15, 20, 1000] // change per page values here
                        ],
                        // set the initial value

                        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                        // So when dropdowns used the scrollable div should be removed.
                        //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                    });
                }

                return {
                    //main function to initiate the module
                    init: function () {
                        if ($.fn.DataTable.isDataTable("#DeliveryExecutiveTable")) {
                            $('#DeliveryExecutiveTable').dataTable().fnDestroy();
                            $('#divDeliveryExecutiveTable').html('<table class="table table-striped" width="100%" id="DeliveryExecutiveTable"></table>');
                        }
                        initTable1();
                    }
                };
        }();

        //Data fillter function
        function BuildSearchCriteria() {
            try {
                debugger;
                var param = {};
                param["UserName"] = $('#UserName').val();
                param["MobileNumber"] = $('#MobileNumber').val();
                param["Gender"] = $('#Gender').val();
                param["IsActive"] = $('#IsActive').val();
                param["IsApproved"] = $('#IsApprove').val();
                param["IsAvailable"] = $('#IsAvailable').val();
                param["AgencyId"] = $('#AgencyId2').val();
                param["MasterAreaId"] = $('#MasterAreaId2').val();

                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        function ViewAddress(Latitude, Longitude, AddressLine1, AddressLine2, Pincode, CityName, StateName, CountryName) {
            $('#AddressView').modal('show');
            $('#PAddressName').html('<a target = "_blank" class="c-text-primary" href = "https://www.google.com/maps/?q=' + Latitude + "," + Longitude + '">' + AddressLine1 + ' ' + AddressLine2 + '</a>');
            $('#PPincode').text(Pincode);
            $('#PCityName').text(CityName);
            $('#PStateName').text(StateName);
            $('#PCountryName').text(CountryName);
        }

        function ViewDENotifications(id) {
            window.location.href = "DeliveryExecutives/DENotifications?REId=" + id;
        }

        function ViewDERequests(id) {
            window.location.href = "Requests?DEId=" + id + "&UId=MA==" ;
        }

        function ViewTimesheet(id)
        {
            window.location.href = "DeliveryExecutives/Timesheet?DEId=" + id;
        }

        function ViewLocations(id) {
            window.location.href = "DeliveryExecutives/DELocations?DEId=" + id;
        }

        //Fillter modal open function
        const OpenUsersFiltersPopup = () => {
            //$('#UserName').val("");
            //$('#MobileNumber').val("");
            //$('#Gender').val(0);
            //$('#IsActive').val(0);
            $("#DeliveryExecutiveFilterPopup").modal("show");
        }

        //Fillter date reset function
        function SearchReset(isReset) {
            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();

            if (isReset == true) {
                $('#UserName').val("");
                $('#MobileNumber').val("");
                $('#Gender').val(0);
                $('#IsActive').val(0);
                $('#IsApprove').val(0);
                $('#IsAvailable').val(0);
                $('#AgencyId2').val("");
                $('#MasterAreaId2').val("");
            }

            DeliveryExecutiveTable.init();
            $("#DeliveryExecutiveFilterPopup").modal("hide");

            $(".saveBtn").show();
            $(".loading").hide();
            $(".closeBtn").show();
        }


        function InactiveMessage(Id) {
            swal({
                title: "Are you sure ?",
                text: "You will be in-activating the delivery executive !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willupdate) => {
                if (willupdate) {
                    UpdateStatus(Id);
                }
            });
        }

        //ActiveMessage swal function
        function ActiveMessage(Id) {
            swal({
                title: "Are you sure ?",
                text: "You will be activating the delivery executive !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willupdate) => {
                if (willupdate) {
                    UpdateStatus(Id);
                }
            });
        }

        //status ActiveInActive change function
        function UpdateStatus(id) {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.ActiveInActive, Controllers.DeliveryExecutives)',
                data: { Id: id },
                dataType: 'json',
                success: function (response) {
                    DeliveryExecutiveTable.init();
                    if (response.Code == 200) {
                        swal({
                            title: "Success",
                            text: response.Message,
                            icon: "success",
                            timer: 2000
                        })
                    } else {
                        swal({
                            title: "Warning",
                            text: response.Message,
                            icon: "warning"
                        })
                    }
                },
                error: function (error) {
                    swal({
                        title: "Warning",
                        text: response.Message,
                        icon: "warning"
                    })
                }
            });
        }
    function IsDE(Id) {
        swal({
            title: "Are you sure ?",
            text: "You will be changing the role",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willupdate) => {
                if (willupdate) {
                    DeliveryExecutive_IsMarketingPerson(Id);
                }
            });
    }

    //ActiveMessage swal function
    function IsMP(Id) {
        swal({
            title: "Are you sure ?",
            text: "You will be changing the role",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willupdate) => {
                if (willupdate) {
                    DeliveryExecutive_IsMarketingPerson(Id);
                }
            });
    }
    function DeliveryExecutive_IsMarketingPerson(id) {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.DeliveryExecutive_IsMarketingPerson, Controllers.DeliveryExecutives)',
                data: { Id: id },
                dataType: 'json',
                success: function (response) {
                    DeliveryExecutiveTable.init();
                    if (response.Code == 200) {
                        swal({
                            title: "Success",
                            text: response.Message,
                            icon: "success",
                            timer: 2000
                        })
                    } else {
                        swal({
                            title: "Warning",
                            text: response.Message,
                            icon: "warning"
                        })
                    }
                },
                error: function (error) {
                    swal({
                        title: "Warning",
                        text: response.Message,
                        icon: "warning"
                    })
                }
            });
        }
        //UnapproveMessage swal function
        function UnapproveMessage(Id) {
            swal({
                title: "Are you sure ?",
                text: "You will be un-approve the delivery executive !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willupdate) => {
                    if (willupdate) {
                        UpdateApproveStatus(Id);
                    }
                });
        }

        //ApproveMessage swal function
        function ApproveMessage(Id) {
            swal({
                title: "Are you sure ?",
                text: "You will be approve the delivery executive !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willupdate) => {
                    if (willupdate) {
                        UpdateApproveStatus(Id);
                    }
                });
        }

        //status ApproveUnapprove change function
        function UpdateApproveStatus(id) {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.DeliveryExecutive_IsApproved, Controllers.DeliveryExecutives)',
                data: { Id: id },
                dataType: 'json',
                success: function (response) {
                    DeliveryExecutiveTable.init();
                    if (response.Code == 200) {
                        swal({
                            title: "Success",
                            text: response.Message,
                            icon: "success",
                            timer: 2000
                        })
                    } else {
                        swal({
                            title: "Warning",
                            text: response.Message,
                            icon: "warning"
                        })
                    }
                },
                error: function (error) {
                     swal({
                            title: "Warning",
                            text: response.Message,
                            icon: "warning"
                        })
                }
            });
        }

        function redirectToNewTab(link) {
            window.open(link, "_blank");
        }


        function ViewDocument(id) {
            $('#DocumentView').modal('show');
            DocumentUserId = id
            DocumentCustomerDataTable.init();
        }

            var DocumentCustomerDataTable = function () {
                let initTable2 = function () {
                let table = $('#DocumentUserTable');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from MAX total entries)",
                        //"lengthMenu": "MENU entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.DeliveryExecutiveDocuments_ByDeliveryExecutiveId, Controllers.DeliveryExecutives)',
                        type: "post",
                        data: ({ DeliveryExecutiveId: DocumentUserId }),
                    },
                    "columns": [
                        {
                            "title": "Document Name", "data": "DocumentTypeName",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["DocumentTypeName"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "View Document", "data": "DocumentUrl",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData += `<a class="btn btn-sm btn-outline-secondary mr-1" title="View Document" onclick="RedirectDocument('${row["DocumentUrl"]}');"><i class="fa fa-file"></i></a>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Is Verified ?", "data": "IsVerified",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                if (row["IsVerified"] == true) {
                                    htmlData = `<button onclick="InverifiedMessage('${btoa(row["Id"])}');" class="badge badge-primary">Verify</button>`;
                                } else {
                                    htmlData = `<button onclick="VerifiedMessage('${btoa(row["Id"])}');" class="badge badge-danger">Un-Verify</button>`;
                                }


                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                        "buttons": [
                        ],

                        // setup responsive extension: http://datatables.net/extensions/responsive/
                        responsive: true,

                        "lengthMenu": [
                            [5, 10, 15, 20, 1000],
                            [5, 10, 15, 20, 1000] // change per page values here
                        ],
                        // set the initial value

                        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                        // So when dropdowns used the scrollable div should be removed.
                        //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#DocumentUserTable")) {
                        $('#DocumentUserTable').dataTable().fnDestroy();
                        $('#divDocumentUserTable').html('<table class="table table-striped" width="100%" id="DocumentUserTable"></table>');
                    }
                    initTable2();
                }
            };
        }();


        function InverifiedMessage(Id) {
            swal({
                title: "Are you sure ?",
                text: "You will be un-verify the delivery executive !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willupdate) => {
                if (willupdate) {
                    VerfiyUpdateStatus(Id);
                }
            });
        }

        //ActiveMessage swal function
        function VerifiedMessage(Id) {
            swal({
                title: "Are you sure ?",
                text: "You will be verifing the delivery executive !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willupdate) => {
                if (willupdate) {
                    VerfiyUpdateStatus(Id);
                }
            });
        }

        //status ActiveInActive change function
        function VerfiyUpdateStatus(id) {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.DeliveryExecutiveDocuments_Verify, Controllers.DeliveryExecutives)',
                data: { Id: id },
                dataType: 'json',
                success: function (response) {
                    DocumentCustomerDataTable.init();
                    if (response.Code == 200) {
                        swal({
                            title: "Success",
                            text: response.Message,
                            icon: "success",
                            timer: 2000
                        })
                    } else {
                        swal({
                            title: "Warning",
                            text: response.Message,
                            icon: "warning"
                        })
                    }
                },
                error: function (error) {
                    swal({
                        title: "Warning",
                        text: response.Message,
                        icon: "warning"
                    })
                }
            });
        }


        function RedirectDocument(link) {
            window.open(link, "_blank");
        }


        function ViewDevice(id) {
                $('#DeviceView').modal('show');
                DeviceUserId = id
                DeviceCustomerDataTable.init();
            }


            var DeviceCustomerDataTable = function () {
                let initTable3 = function () {
                let table = $('#DeviceDETable');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from MAX total entries)",
                        //"lengthMenu": "MENU entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.DeliveryExecutive_ByDeliveryExecutiveId, Controllers.DeliveryExecutives)',
                        type: "post",
                        data: ({ DeliveryExecutiveId: DeviceUserId }),
                    },

                    "columns": [
                        {
                            "title": "Device Token", "data": "DeviceToken",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["DeviceToken"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Device Type", "data": "DeviceType",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["DeviceType"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Device UDID", "data": "UDID",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["UDID"]}</p>`;

                                return htmlData;
                            }
                            , "Usersable": false, "width": "3%"
                        },
                        {
                            "title": "Device IMEI", "data": "IMEI",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["IMEI"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "OTP", "data": "OTP",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["OTP"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Is Verified", "data": "IsVerified",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                if (row["IsVerified"] == 1) {
                                    htmlData = `<button disabled class="badge badge-success">Verified</button>`;
                                } else {
                                    htmlData = `<button disabled class="badge badge-danger">Un-Verified</button>`;
                                }

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                        "buttons": [
                        ],

                        // setup responsive extension: http://datatables.net/extensions/responsive/
                        responsive: true,

                        "lengthMenu": [
                            [5, 10, 15, 20, 1000],
                            [5, 10, 15, 20, 1000] // change per page values here
                        ],
                        // set the initial value

                        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                        // So when dropdowns used the scrollable div should be removed.
                        //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#DeviceDETable")) {
                        $('#DeviceDETable').dataTable().fnDestroy();
                        $('#divDeviceDETable').html('<table class="table table-striped" width="100%" id="DeviceDETable"></table>');
                    }
                    initTable3();
                }
            };
            }();


        function AddDeliveryExecutives() {
            debugger
            var formdata = new FormData();
            formdata.append("Id", $("#DeliveryExecutivesId").val());
            formdata.append("FirstName", $("#FirstName").val());
            formdata.append("LastName", $("#LastName").val());
            formdata.append("MobileNumber", $("#dMobileNumber").val());
            formdata.append("AddressLine1", $("#AddressLine1").val());
            formdata.append("AgencyId", $("#AgencyId").val());
            formdata.append("MasterAreaId", $("#MasterAreaId").val());
            formdata.append("files", $("#ProfileURL").get(0).files[0]);
            formdata.append("files1", $("#PhotoIdProof").get(0).files[0]);
            formdata.append("files2", $("#AgreementCopy").get(0).files[0]);

            //var deliveryExecutivesdata = {
            //    Id: $("#DeliveryExecutivesId").val(),
            //    FName: $("#FirstName").val(),
            //    LName: $("#LastName").val(),
            //    MobileNumber: $("#dMobileNumber").val(),
            //    AddressLine1: $("#AddressLine1").val(),
            //    AgencyId: $("#AgencyId").val(),
            //    MasterAreaId: $("#MasterAreaId").val(),

            //}
            debugger

              $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.DeliveryExecutive_Upsert, Controllers.DeliveryExecutives)',
                  data: formdata,//deliveryExecutivesdata,
                  dataType: 'json',
                  contentType: false,
                  processData: false,
                success: function (response) {
                    if (response.Code == 200) {
                        $('#addResponder').modal('hide');
                        swal({
                            title: "Great !",
                            text: response.Message,
                            icon: "success",
                            timer: 2000
                        })
                        DeliveryExecutiveTable.init();
                    }
                    else {
                        swal("Error !", response.Message , "error");
                    }
                    $(".saveBtn").show();
                    $(".loading").hide();
                    $(".closeBtn").show();
                },
                error: function (error) {
                    swal("Error!", error.Message, "error");
                    $(".saveBtn").show();
                    $(".loading").hide();
                    $(".closeBtn").show();
                }
            });
        }


        function ViewDeliveryExecutives(Id) {

            $('#DeliveryExecutivesId').val(0);
            $('#FirstName').val('');
            $('#LastName').val('');
            $('#dMobileNumber').val('');
            $('#AddressLine1').val('');
            $('#AgencyId').val('');
            $('#MasterAreaId').val('');
            $('#ParentName').val("");
            $('#ParentNumber').val("");

            var $alertas = $('#addResponder');
            $alertas.validate().resetForm();
            $alertas.find('.error').removeClass('error');
            $('#addResponder').modal('show');
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetDeliveryExecutiveDetails, Controllers.DeliveryExecutives)',
                data: { DId: Id},
                dataType: 'json',
                success: function (response) {

                    $('#DeliveryExecutivesId').val(response.Item.Id)
                    $('#FirstName').val(response.Item.FirstName)
                    $('#LastName').val(response.Item.LastName)
                    $('#dMobileNumber').val(response.Item.MobileNumber)
                    $('#AddressLine1').val(response.Item.AddressLine1)
                    $('#AgencyId').val(response.Item.AgencyId)
                    $('#MasterAreaId').val(response.Item.MasterAreaId)
                },
                error: function (error) {

                }
            });
        }

        function AddDeliveryExecutivesPopUp() {
            $('#DeliveryExecutivesId').val(0);
            $('#FirstName').val('');
            $('#LastName').val('');
            $('#dMobileNumber').val('');
            $('#AddressLine1').val('');
            $('#AgencyId').val('');
            $('#MasterAreaId').val('');
            $('#ParentName').val("");
            $('#ParentNumber').val("");

            var $alertas = $('#addResponder');
            $alertas.validate().resetForm();
            $alertas.find('.error').removeClass('error');
            $('#addResponder').modal('show');
        }


        function inside(point, vs) {
            // ray-casting algorithm based on
            // https://wrf.ecse.rpi.edu/Research/Short_Notes/pnpoly.html/pnpoly.html

            var x = point[0], y = point[1];

            var inside = false;
            for (var i = 0, j = vs.length - 1; i < vs.length; j = i++) {
                var xi = vs[i][0], yi = vs[i][1];
                var xj = vs[j][0], yj = vs[j][1];

                var intersect = ((yi > y) != (yj > y))
                    && (x < (xj - xi) * (y - yi) / (yj - yi) + xi);
                if (intersect) inside = !inside;
            }

            return inside;
        };

        function onAgencyChange() {
        debugger;
            $("#MasterAreaId").html("");
            var agencyId = $("#AgencyId2").val();

        $.ajax({
            type: "GET",
            url: "@Url.Action("GetMasterArea_ByAgencyId", Controllers.DeliveryExecutives, new { area = "" })",
            data: ({
                AgencyId: agencyId
                  }),
            datatype: 'json',
            success: function (result) {
                console.log('result', result);
                debugger;
                if (result.Values.length > 0) {
                    $("#MasterAreaId2").empty();
                    $("#MasterAreaId2").append('<option value="0">Select Area</option>');
                    for (var i = 0; i < result.Values.length; i++) {
                        $("#MasterAreaId2").append(`
                            <option value="${result.Values[i].Id}">${result.Values[i].Name}</option>
                        `)
                    }
                }
                debugger;

                @*if (@ViewBag.DeliveryExecutiveId > 0) {
                    $("#MasterAreaId").val("@ViewBag.MasterAreaId");
                } else {
                    $("#MasterAreaId").val("0")
                }*@
            },
            error: function (error) {
                console.log("error", error)
            }
        });
    }

</script>
}