﻿@using AAH.Common;
@using AAHAdmin.Pages;
@using System.Web.Optimization;
@using AAHAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Timesheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #0069D9;
        color: white;
    }

    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .text-c-dark {
        color: #000;
    }

    .device-active .active .card {
        background: #157aec;
        cursor: pointer;
    }

    .device-active .active .text-c-dark {
        color: #fff !important;
    }

        .device-active .active .text-c-dark .icon {
            background-color: #0069D9;
            border: none;
        }

    .icon-box {
        background: #eff1f4;
    }

        .icon-box:hover {
            background: #0e67cc !important;
        }
    .btn-primary {
        color: #fff !important;
        background-color: #0596F8 !important;
        border-color: #0596F8 !important;
        box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%) !important;
    }

    div.dt-buttons {
        float: right !important;
    }
</style>



<div class="modal" id="TimesheetFilterPopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">Timesheet Filters</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <label>From Date</label>
                        <div class="form-group">
                            <input type="date" class="form-control" value="" name="ActionFormDate" id="ActionFormDate">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label>To Date</label>
                        <div class="form-group">
                            <input type="date" class="form-control" value="" name="ActionToDate" id="ActionToDate">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label>Check In / Out</label>
                        <div class="form-group">
                            <select class="form-control" id="TypeId" name="TypeId">
                                <option value="0">All</option>
                                <option value="1">Check-In</option>
                                <option value="2">Check-Out</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSearch" type="button" class="btn btn-primary saveBtn" onclick="SearchReset(false)">Search</button>
                <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Searching...
                </button>
                <button type="button" data-dismiss="modal" class="btn btn-secondary closeBtn">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="content container-fluid">
    @*<div class="row">
            <div class="col-12">
                <h5>Timesheet</h5>
            </div>
        </div>*@
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li><a onclick="BackToDeliveryExecutive();" style="cursor: pointer;"><h6 style="color: #0596F8;" id="DeliveryExecutiveName"></h6></a></li>
                    <li><h6 class="ml-1">Timesheet</h6></li>
                </ol>
            </nav>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">
            @Html.AntiForgeryToken()
            <div class="portlet-body table-responsive" id="divTimesheetTable">
                <table class="table table-striped table-bUsersed table-hover" id="TimesheetTable"></table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        var TimeId = "";
        $(document).ready(() => {

            //$('#ActionFormDate')
            var TimeId = "";
            $('#ActionFormDate').val("");
            $('#ActionToDate').val("");

            $('#TypeId').val(0);
            document.getElementById("ActionFormDate").onchange = function () {
                document.getElementById("ActionToDate").setAttribute("min", this.value);
                debugger;
                if ($("#ActionToDate").val() < $("#ActionFormDate").val()) {
                    $("#ActionToDate").val('');
                }
            }
            DEDetails();

            DeliveryTimesheetTable.init();
            $("#TimesheetTable_filter").hide();

        });

        function BackToDeliveryExecutive() {
            window.location.href = '@Url.Action("Index", "DeliveryExecutives")';
        }

        function DEDetails() {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetDeliveryExecutiveDetails, Controllers.DeliveryExecutives)',
                data: { DId: '@ViewBag.DeliveryEId' },
                dataType: 'json',
                success: function (response) {
                    if (response.Code == 200) {
                        $("#DeliveryExecutiveName").text(response.Item.FirstName + ' ' + response.Item.LastName + ' >' + ' ');
                    }
                },
                error: function (error) {
                    console.log('error', error);
                }
            })
        }


        var DeliveryTimesheetTable = function () {

        let initTable1 = function () {
            let table = $('#TimesheetTable');

        let oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.DeliveryExecutiveCheckInCheckOut_ByDeliveryExecutiveId, Controllers.DeliveryExecutives)',
                type: "post",
                data: BuildSearchCriteria1(),
            },
            "columns": [
            {
                "title": "Action Date", "data": "ActionDateTime",
                "render": function (data, type, row) {
                    let htmlData = "";

                    htmlData = `<p>${row["ActionDateTimeStr"]}</p>`;

                    return htmlData;
                }
                , "orderable": false, "width": "3%"
            },
            {
                "title": "Check In / Out", "data": "TypeId",
                "render": function (data, type, row) {
                    let htmlData = "";
                    if (row["TypeId"] == 1) {
                        //InactiveMessage
                        htmlData = `<button disabled class="badge badge-primary">Check In</button>`;
                    } else {
                        htmlData = `<button disabled class="badge badge-warning">Check Out</button>`;
                    }
                    return htmlData;
                }
                , "orderable": false, "width": "3%"
            },

            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
            {
                text: 'Filters',
                className: 'btn btn-primary mb-3 mt-1',
                action: function (e, dt, node, config) {
                    OpenTimesheetFiltersPopup();
                }
            },
            {
                text: 'Reset',
                className: 'mb-3 mt-1 mr-3',
                action: function () {
                    SearchReset(true)
                }
            }
            //{ extend: 'excel', className: 'them-btn' }
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20, 1000],
                [5, 10, 15, 20, 1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
            });
        }

        return {
        //main function to initiate the module
            init: function () {
                if ($.fn.DataTable.isDataTable("#TimesheetTable")) {
                    $('#TimesheetTable').dataTable().fnDestroy();
                    $('#divTimesheetTable').html('<table class="table table-striped" width="100%" id="TimesheetTable"></table>');
                }
                initTable1();
            }
        };
        }();

        //Data fillter function
        function BuildSearchCriteria1() {
        try {
            debugger
            var param = {};
            param["DeliveryExecutiveId"] = '@ViewBag.DeliveryEId';
            param["ActionFormDate"] = $('#ActionFormDate').val();
            param["ActionToDate"] = $('#ActionToDate').val();
            param["TypeId"] = $('#TypeId').val();
            return addRequestVerificationToken(param);
        } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        const OpenTimesheetFiltersPopup = () => {
            $("#TimesheetFilterPopup").modal("show");
        }

        function SearchReset(isReset) {
            debugger;

            if (isReset == true) {
                $('#ActionFormDate').val("");
                $('#ActionToDate').val("");
                $('#TypeId').val(0);
            }

            DeliveryTimesheetTable.init();
            $("#TimesheetFilterPopup").modal("hide");
        }
    </script>
}