﻿@using GinnyBuddyResponderApp.Pages;
@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
</style>
<div class="main-content app-main-area">
    <div class="Address-list p-3">
        <div class="row m-0">
            <div class="col-lg-12 col-12 p-0 mb-5">
                @if (ViewBag.ReportsData.TotalRecords > 0)
                {
                    <div class="card p-2 mb-1" style="box-shadow: 0px 0px 6px 0px #00000024;">
                        <div class="row m-0">
                            <div class="col-lg-12 col-12 p-0">
                                <span class="mb-0 fs-16" style="font-weight:600;">
                                    Requests Count : @ViewBag.ReportsData.Values[0].RequestCount
                                </span>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col-lg-12 col-12 p-0">
                                <span class="mb-0 fs-16" style="font-weight:600;">
                                    Total Amount(₹) : @ViewBag.ReportsData.Values[0].Amount ₹
                                </span>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col-lg-12 col-12 p-0">
                                <span class="mb-0 fs-16" style="font-weight:600;">
                                    Your Amount(₹) : @ViewBag.ReportsData.Values[0].DeliveryExecutiveAmount ₹
                                </span>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col-lg-12 col-12 p-0">
                                <span class="mb-0 fs-16" style="font-weight:600;">
                                    Amount To Give Agency(₹) : @ViewBag.ReportsData.Values[0].GivenAmountToAgency ₹
                                </span>
                            </div>
                        </div>
                        <div class="deliveredaddress-area" style="background-color: transparent !important;">
                            <div class="row m-0">
                                <div class="col-lg-12 col-12 p-0">
                                    <button type="button"
                                            onclick="UpdateIsSettledWithAgencyFun();"
                                            class="btn btn-primary w-md w-100 mt-2 submit-button">
                                        <i class="dripicons-checkmark fs-20 line-position"></i>
                                        <span style="margin-left: 25px;">Submit</span>
                                    </button>
                                    <button class="btn btn-primary loader-btn w-100 waves-effect waves-light submit-button-loader" disabled type="submit" name="submit" style="display:none;">
                                        <div class="d-flex justify-content-center">
                                            <div class="spinner-border text-light" role="status" style="margin-right:5px;">
                                                <span class="sr-only">Loading...</span>
                                            </div> Submiting
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="card request-card p-3 text-center mb-1" style="box-shadow: 0px 0px 6px 0px #00000024;">
                        <h5 class="mb-0">No record found</h5>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

    });

    function UpdateIsSettledWithAgencyFun() {

        $(".submit-button").hide();
        $(".submit-button-loader").show();

        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.updateIsSettledWithAgency, Controllers.Request)',
            data: {
                
            },
            dataType: 'json',
            success: function (response) {
                if (response.Code == 200) {

                    $(".submit-button").show();
                    $(".submit-button-loader").hide();


                    window.location.href = "@Url.Action(Actions.Index, Controllers.Dashboard)";
                }
            },
            error: function (error) {
                $(".submit-button").show();
                $(".submit-button-loader").hide();
                console.log('error', error);
            }
        });
    }

</script>