﻿@using AAH.Common;
@using AAHAdmin.Pages;
@using System.Web.Optimization;
@using AAHAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Customers";
}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #0069D9;
        color: white;
    }

    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        bUsers-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            bUsers-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        bUsers-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        bUsers: 1px solid #d4d4d4;
        bUsers-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            bUsers-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .text-c-dark {
        color: #000;
    }

    .device-active .active .card {
        background: #157aec;
        cursor: pointer;
    }

    .device-active .active .text-c-dark {
        color: #fff !important;
    }

        .device-active .active .text-c-dark .icon {
            background-color: #0069D9;
            bUsers: none;
        }

    .icon-box {
        background: #eff1f4;
    }

        .icon-box:hover {
            background: #0e67cc !important;
        }

    .btn-primary {
        color: #fff !important;
        background-color: #0596F8 !important;
        border-color: #0596F8 !important;
        box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%) !important;
    }
    div.dt-buttons {
        float: right !important;
    }
</style>


<div class="content container-fluid">
    <div class="row">
        <div class="col-8">

            @if (ViewBag.decryptedDIId > 0)
            {
                <h5>Downloaders Customers</h5>
            }
            else
            {
                <h5>Customers</h5>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">
            @Html.AntiForgeryToken()
            <div class="portlet-body table-responsive" id="divUserTable">
                <table class="table table-striped table-bUsersed table-hover" id="UserTable"></table>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="AddressView" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">View Address</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">
                        @Html.AntiForgeryToken()
                        <div class="portlet-body table-responsive" id="divAddressUserTable">
                            <table class="table table-striped table-bUsersed table-hover" id="AddressUserTable"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="DeviceView" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">View Device</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">
                        @Html.AntiForgeryToken()
                        <div class="portlet-body table-responsive" id="divDeviceUserTable">
                            <table class="table table-striped table-bUsersed table-hover" id="DeviceUserTable"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="modal" id="UsersFillter" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="title" id="defaultModalLabel">Users Filters</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <label>Name</label>
                            <div class="form-group">
                                <input type="text" class="form-control" value="" name="UserName" id="UserName" placeholder="Enter Here...">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label>Mobile Number</label>
                            <div class="form-group">
                                <input type="number" class="form-control" value="" name="MobileNumber" id="MobileNumber" placeholder="Enter Here...">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label>Email</label>
                            <div class="form-group">
                                <input type="email" class="form-control" value="" name="Email" id="Email" placeholder="Enter Here...">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label>Gender</label>
                            <div class="form-group">
                                <select class="form-control" id="Gender" name="Gender">
                                    <option value="0">All</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                    <option value="3">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label>Is Active</label>
                            <div class="form-group">
                                <select class="form-control" id="IsActive" name="IsActive">
                                    <option value="0">All</option>
                                    <option value="1">Active</option>
                                    <option value="2">In-Active</option>
                                </select>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnSearch" type="button" class="btn btn-primary saveBtn" onclick="SearchReset(false)">Search</button>
                    <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Searching...
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-secondary closeBtn">Close</button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script>
        $(document).ready(() => {
            var AddressUserId = 0
            var DeviceUserId = 0
            $('#UserName').val("");
            $('#Email').val("");
            $('#MobileNumber').val("");
            $('#Gender').val(0);
            $('#IsActive').val(0);
            $('#IsPayable').val(0);
            $('#IsBlacklist').val(0);
            CustomerDataTable.init();
        });


        var CustomerDataTable = function () {
            let initTable1 = function () {
                let table = $('#UserTable');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from MAX total entries)",
                        //"lengthMenu": "MENU entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.Users_All, Controllers.Customers)',
                        type: "post",
                        data: SearchCriteria(),
                    },
                    "columns": [
                        {
                            "title": "Customer Details", "data": "ProfileURLStr",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData += `<div class="d-flex align-items-center">`
                                    //htmlData += `<img title="Profile Image" style="cursor:pointer;" onclick=redirectToNewTab('${row["ProfileURLStr"]}') src="${row["ProfileURLStr"]}" height="50px">`;
                                    htmlData += `<div class="ml-2">`
                                        htmlData += `<p class="mb-0">${row["FirstName"] + " " + row["LastName"]}</p>`;
                                        htmlData += `<p class="mb-0"><a class="c-text-primary" href="mailto:${row["Email"]}"> ${row["Email"] == "" || row["Email"] == null ? '-' : row["Email"]}</a></p>`;
                                        htmlData += `<p class="mb-0"><a href="tel:${row["MobileNumber"]}">${row["MobileNumber"]}</a></p>`;
                                        htmlData += `<p class="mb-0">${row["Gender"] == "" || row["Gender"] == null ? '-' : row["Gender"] == 1 ? 'Male' : row["Gender"] == 2 ? 'Female' : 'Other' }</p >`;
                                htmlData += `<p class="mb-0 mt-1"><b>Created Date : </b>${row["CreatedDateStr"]}</p>`
                                htmlData += `</div></div>`

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Count", "data": "CurrentDeviceCount",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<span class="p-2" title="Address Count"><i class="fa fa-address-card"></i> ${row["CurrentAddressCount"]}</span> | <span class="p-2"><i title="Devices Count" class="fa fa-desktop"></i> ${row["CurrentDeviceCount"]}</span> | <span class="p-2" title="Request Count"><i class="fa fa-paper-plane"></i> ${row["CurrentRequestCount"]}</span>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },

                        {
                            "title": "Is Active ?", "data": "IsActive",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                if (row["IsActive"] == 1) {
                                    htmlData = `<button onclick="InactiveMessage('${row["Id"]}');" class="badge badge-primary">Active</button>`;
                                } else {
                                    htmlData = `<button onclick="ActiveMessage('${row["Id"]}');" class="badge badge-danger">In-Active</button>`;
                                }


                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            
                            "title": "Is Blacklist ?", "data": "IsBlacklist",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                if (row["IsBlacklist"] == 0) {
                                    htmlData = `<button onclick="BlockMessage('${row["Id"]}');" class="badge badge-primary">Not Blacklist</button>`;
                                } else {
                                    htmlData = `<button onclick="UnBlockMessage('${row["Id"]}');" class="badge badge-danger">Blacklisted</button>`;
                                }
                                

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Is Payable ?", "data": "IsPayable",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                if (row["IsPayable"] == 1) {
                                    htmlData = `<button onclick="NotPayableMessage('${row["Id"]}');" class="badge badge-primary">Payable </button>`;
                                } else {
                                    htmlData = `<button onclick="PayableMessage('${row["Id"]}');" class="badge badge-danger">Not Payable</button>`;
                                }


                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Action", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData += `<a class="btn btn-sm btn-outline-secondary mr-2" title="View Address" onclick="ViewAddress('${row["Id"]}');"><i class="fa fa-address-card"></i></a>`;
                                htmlData += `<a class="btn btn-sm btn-outline-secondary mr-2" title="View Devices" onclick="ViewDevice('${row["Id"]}');"><i class="fa fa-desktop"></i></a>`;
                                htmlData += `<a class="btn btn-sm btn-outline-secondary mr-2" title="View User Notifications" onclick="ViewUserNotifications('${btoa(row["Id"])}');"><i class="fa fa-bell"></i></a>`;
                                htmlData += `<a class="btn btn-sm btn-outline-secondary " title="View Requests" onclick="ViewUserRequest('${btoa(row["Id"])}');"><i class="fa fa-paper-plane"></i></a>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                        "buttons": [
                            {
                                text: 'Filters',
                                className: 'btn btn-primary mb-3 mt-1',
                                action: function (e, dt, node, config) {
                                    UserDataFillter();
                                }
                            },
                            {
                                text: 'Reset',
                                className: ' mb-3 mt-1 mr-3',
                                action: function () {
                                    SearchReset(true)
                                }
                            }
                        ],

                        // setup responsive extension: http://datatables.net/extensions/responsive/
                        responsive: true,

                        "lengthMenu": [
                            [5, 10, 15, 20, 1000],
                            [5, 10, 15, 20, 1000] // change per page values here
                        ],
                        // set the initial value

                        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                        // So when dropdowns used the scrollable div should be removed.
                        //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#UserTable")) {
                        $('#UserTable').dataTable().fnDestroy();
                        $('#divUserTable').html('<table class="table table-striped" width="100%" id="UserTable"></table>');
                    }
                    initTable1();
                }
            };
        }();

        //Data fillter function
            function SearchCriteria() {
                debugger;
            try {
                var param = {};
                param["UserName"] = $('#UserName').val();
                param["Email"] = $('#Email').val();
                param["MobileNumber"] = $('#MobileNumber').val();
                param["Gender"] = $('#Gender').val();
                param["IsActive"] = $('#IsActive').val();
                param["IsPayable"] = $('#IsPayable').val();
                param["IsBlacklist"] = $('#IsBlacklist').val();
                param["DEId"] = @ViewBag.decryptedDIId;
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function ViewUserRequest(id) {
            window.location.href = "Requests?DEId=MA==&UId=" + id;
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }
            function ViewUserNotifications(id) {
                window.location.href = "Customers/UserNotifications?REId=" + id;
            }

        function ActiveMessage(id) {
            swal({
                title: "Are you sure ?",
                text: "You will be activating the user !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willupdate) => {
                    if (willupdate) {
                        UpdateStatus(id);
                    }
                });
        }
        function InactiveMessage(id) {
            swal({
                title: "Are you sure ?",
                text: "You will be in-activating the user !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willupdate) => {
                    if (willupdate) {
                        UpdateStatus(id);
                    }
                });
        }

        function UpdateStatus(id)
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.Users_ActInAct, Controllers.Customers)',
                data: { Id: id },
                dataType: 'json',
                success: function (response) {
                    CustomerDataTable.init();
                    if (response.Code == 200) {
                        swal({
                            title: "Success",
                            text: response.Message,
                            icon: "success",
                            timer: 2000
                        })
                    } else {
                        swal({
                            title: "Warning",
                            text: response.Message,
                            icon: "warning"
                        })
                    }
                },
                error: function (error) {

                }
            });
            }


        function PayableMessage(id) {
            swal({
                title: "Are you sure ?",
                text: "You will be activating the user for pay!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willupdate) => {
                    if (willupdate) {
                        UpdateStatus2(id);
                    }
                });
        }
        function NotPayableMessage(id) {
            swal({
                title: "Are you sure ?",
                text: "You will be in-activating the user for pay !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willupdate) => {
                    if (willupdate) {
                        UpdateStatus2(id);
                    }
                });
        }

        function UpdateStatus2(id)
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.Users_IsPayable, Controllers.Customers)',
                data: { Id: id },
                dataType: 'json',
                success: function (response) {
                    CustomerDataTable.init();
                    if (response.Code == 200) {
                        swal({
                            title: "Success",
                            text: response.Message,
                            icon: "success",
                            timer: 2000
                        })
                    } else {
                        swal({
                            title: "Warning",
                            text: response.Message,
                            icon: "warning"
                        })
                    }
                },
                error: function (error) {

                }
            });
        }



        function BlockMessage(id) {
                debugger;
            swal({
                title: "Are you sure ?",
                text: "You will be Blacklist the user !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willupdate) => {
                    if (willupdate) {
                        UpdateStatus1(id);
                }
            });
        }
            function UnBlockMessage(id) {
                debugger;
            swal({
                title: "Are you sure ?",
                text: "You will be Un-Blacklist the user !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willupdate) => {
                    if (willupdate) {
                        UpdateStatus1(id);
                    }
                });
        }

        function UpdateStatus1(id)
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.Users_IsBlacklist, Controllers.Customers)',
                data: { Id: id },
                dataType: 'json',
                success: function (response) {
                    CustomerDataTable.init();
                    if (response.Code == 200) {
                        swal({
                            title: "Success",
                            text: response.Message,
                            icon: "success",
                            timer: 2000
                        })
                    } else {
                        swal({
                            title: "Warning",
                            text: response.Message,
                            icon: "warning"
                        })
                    }
                },
                error: function (error) {

                }
            });
        }


            function UserDataFillter() {
                $('#UsersFillter').modal('show');
        }
        //Fillter date reset function
        function SearchReset(isReset) {

                $(".saveBtn").hide();
                $(".loading").show();
                $(".closeBtn").hide();

            if (isReset == true) {
                $('#UserName').val("");
                $('#Email').val("");
                $('#MobileNumber').val("");
                $('#Gender').val(0);
                $('#IsActive').val(0);
                $('#IsBlacklist').val(0);
                $('#IsPayable').val(0);
            }

            CustomerDataTable.init();
            $('#UsersFillter').modal('hide');

            $(".saveBtn").show();
            $(".loading").hide();
            $(".closeBtn").show();
        }


            function ViewAddress(id) {
                $('#AddressView').modal('show');
                AddressUserId = id
                AddressCustomerDataTable.init();

            }

            var AddressCustomerDataTable = function () {
                let initTable2 = function () {
                let table = $('#AddressUserTable');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from MAX total entries)",
                        //"lengthMenu": "MENU entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.AddressMaster_ByUserId, Controllers.Customers)',
                        type: "post",
                        data: ({ UserId: AddressUserId }),
                    },
                    "columns": [
                        {
                            "title": "Location Name", "data": "LocationName",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["LocationName"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Address", "data": "AddressLine1",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                    htmlData = `<p class="mb-0"><b>Address : </b>${row["AddressLine1"] + " " + row["AddressLine2"]}</p>`;
                                    htmlData += `<p class="mb-0"><b>City Name : </b>${row["CityName"] == "" || row["CityName"] == null ? '-' : row["CityName"]}</a></p>`;
                                    htmlData += `<p class="mb-0"><b>State Name : </b > ${row["StateName"] == "" || row["StateName"] == null ? '-' : row["StateName"]}</p >`;
                                    htmlData += `<p class="mb-0"><b>Country Name : </b > ${row["CountryName"] == "" || row["CountryName"] == null ? '-' : row["CountryName"]}</p >`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                        "buttons": [
                        ],

                        // setup responsive extension: http://datatables.net/extensions/responsive/
                        responsive: true,

                        "lengthMenu": [
                            [5, 10, 15, 20, 1000],
                            [5, 10, 15, 20, 1000] // change per page values here
                        ],
                        // set the initial value

                        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                        // So when dropdowns used the scrollable div should be removed.
                        //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#AddressUserTable")) {
                        $('#AddressUserTable').dataTable().fnDestroy();
                        $('#divAddressUserTable').html('<table class="table table-striped" width="100%" id="AddressUserTable"></table>');
                    }
                    initTable2();
                }
            };
            }();


            function ViewDevice(id) {
                $('#DeviceView').modal('show');
                DeviceUserId = id
                DeviceCustomerDataTable.init();

            }


            var DeviceCustomerDataTable = function () {
                let initTable3 = function () {
                let table = $('#DeviceUserTable');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from MAX total entries)",
                        //"lengthMenu": "MENU entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.UserDevices_ByUserId, Controllers.Customers)',
                        type: "post",
                        data: ({ UserId: DeviceUserId }),
                    },

                    "columns": [
                        {
                            "title": "Device Token", "data": "DeviceToken",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                debugger

                                htmlData = `<p class="mb-0">${row["DeviceToken"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Device Type", "data": "DeviceType",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["DeviceType"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Device UDID", "data": "UDID",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["UDID"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Device IMEI", "data": "IMEI",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["IMEI"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "OTP", "data": "OTP",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["OTP"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Is Verified", "data": "IsVerfied",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                if (row["IsVerfied"] == 1) {
                                    htmlData = `<button disabled class="badge badge-success">Verified</button>`;
                                } else {
                                    htmlData = `<button disabled class="badge badge-danger">Un-Verified</button>`;
                                }

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                        "buttons": [
                        ],

                        // setup responsive extension: http://datatables.net/extensions/responsive/
                        responsive: true,

                        "lengthMenu": [
                            [5, 10, 15, 20, 1000],
                            [5, 10, 15, 20, 1000] // change per page values here
                        ],
                        // set the initial value

                        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                        // So when dropdowns used the scrollable div should be removed.
                        //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#DeviceUserTable")) {
                        $('#DeviceUserTable').dataTable().fnDestroy();
                        $('#divDeviceUserTable').html('<table class="table table-striped" width="100%" id="DeviceUserTable"></table>');
                    }
                    initTable3();
                }
            };
            }();

            function redirectToNewTab(link){
                window.open(link, "_blank");
            }


        </script>
    }
