﻿@{
    Layout = null;
}

@using ChaiNasta.Pages;
@using ChaiNasta.Infrastructure;


@Html.AntiForgeryToken()
<!doctype html>
<html lang="en">


<!-- Mirrored from www.wrraptheme.com/templates/lucid/hr/html/light/page-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 25 Feb 2020 06:21:05 GMT -->
<head>
    <title>Chainasta-Onboarder | Sign In</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="AAH Admin Login">
    <meta name="author" content="">

    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/vendor/dropify/css/dropify.min.css">
    <!-- MAIN CSS -->
    <link href="~/assets/vendor/css/main.css" rel="stylesheet" />
    <link href="~/assets/vendor/css/color_skins.css" rel="stylesheet" />
    <script src="~/assets/validation/js/jquery.min.js"></script>
    <script src="~/assets/validation/js/bootstrap.min.js"></script>
    <script src="~/assets/validation/js/jquery.blockui.min.js"></script>
</head>

<body class="theme-blue">

    <div id="wrapper">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle auth-main">
                <div class="auth-box">

                    <div class="card">
                        <div class="header" style="text-align:center !important;">
                            <img src="~/assets/ChaiNastaLogo.jpeg" alt="GinnyBuddy Admin Logo" height="50px" class="img-responsive logo or_logo mobile_logo mb-2">
                            @*<h4 class="fw-bold">GinnyBuddy</h4>*@
                            <p class="lead">Sign In to your Onboarder account</p>
                        </div>
                        <div class="body">
                            <h5 style="text-align:center;color:red;" id="wrgMsg"></h5>
                            <div class="form-auth-small">
                                <form method="post" id="frmLogin" action="" class="text-left" role="form">

                                    <div class="form-group">
                                        <label for="UserName" class="control-label sr-only">Email</label>
                                        <input type="text" id="Email" name="Email" class="form-control" placeholder="Enter your Email" />
                                    </div>

                                    <div class="form-group">
                                        <label for="signin-password" class="control-label sr-only">Password</label>
                                        <input type="password" id="Password" name="Password" class="form-control" placeholder="Password" />
                                    </div>
                                    <button type="submit" id="btnLogin" class="btn btn-primary btn-lg btn-block">Sign In</button>
                                    <button style="display: none;" class="btn btn-primary btn-lg btn-block loading" type="button" id="btnLoginLoading" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        Sign In your account...
                                    </button>


                                </form>
                                @*<div class="bottom">
                                        <span>Don't have an account? <a href="@Url.Action(Actions.Signup,Controllers.Authentication)" style="color: #0069D9 !important;">Sign Up As A Dealer</a></span>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END WRAPPER -->
    <script>
        jQuery(document).ready(function () {
            $("#wrgMsg").hide();
            FormValidation.init();
        });
        var FormValidation = function () {
            var handleValidation1 = function () {

                var form1 = $('#frmLogin');
                var error1 = $('.alert-danger', form1);

                form1.validate({
                    errorElement: 'span',
                    errorClass: 'help-block help-block-error',
                    focusInvalid: false,
                    ignore: "",
                    rules: {
                        Email: {
                            required: true,
                        },
                        Password: {
                            required: true,
                        }
                    },
                    messages: {
                        Email: {
                            required: "Email is required",
                        },
                        Password: {
                            required: "Password is required",
                        }
                    },

                    invalidHandler: function (event, validator) {
                        error1.show();
                        App.scrollTo(error1, -200);
                    },

                    errorPlacement: function (error, element) {
                        var cont = $(element).parent('.input-group');
                        if (cont.size() > 0) {
                            cont.after(error);
                        } else {
                            element.after(error);
                        }
                    },

                    highlight: function (element) {
                        $(element)
                            .closest('.form-group').addClass('has-error');
                    },

                    unhighlight: function (element) {
                        $(element)
                            .closest('.form-group').removeClass('has-error');
                    },

                    success: function (label) {
                        label
                            .closest('.form-group').removeClass('has-error');
                    },

                    submitHandler: function (form) {
                        $("#btnLogin").hide();
                        $("#btnLoginLoading").show();
                        $.ajax({
                            url: '@Url.Action(Actions.Signin,Controllers.Authentication)',
                            data: { Email: $("#Email").val(), Password: $("#Password").val() },
                            type: "POST",
                            dataType: "json",
                            success: function (result) {
                                $("#wrgMsg").hide();
                                if (result.Code == 200) {
                                    window.location.href = "/Home/Index/" + result.Item.Id
                                } else if (result.Code == 400) {
                                    $("#btnLogin").show();
                                    $("#wrgMsg").text("Account credentials does not match")
                                    $("#wrgMsg").show();
                                    $("#btnLoginLoading").hide();
                                } else {
                                    $("#btnLogin").show();
                                    $("#wrgMsg").text("An error occured !")
                                    $("#wrgMsg").show();
                                    $("#btnLoginLoading").hide();
                                }
                            },
                            error: function (result) {
                                $("#btnLogin").show();
                                $("#wrgMsg").text("An error occured !")
                                $("#wrgMsg").show();
                                $("#btnLoginLoading").hide();
                            }
                        });
                    }
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    handleValidation1();
                }
            };
        }();
        $('#passwordCheckbox').change(function () {
            if ($(this).is(':checked')) {
                $('input[type="password"]').prop('type', 'text');

            } else {
                $('#password').prop('type', 'password');
            }
        });
    </script>
    <script src="~/assets/vendor/dropify/js/dropify.min.js"></script>
    <script src="~/assets/js/pages/forms/dropify.js"></script>
    <script src="~/assets/validation/js/jquery-ui.min.js"></script>
    <script src="~/assets/validation/js/datatable.js"></script>
    <script src="~/assets/validation/js/datatables.min.js"></script>
    <script src="~/assets/validation/js/datatables.bootstrap.js"></script>
    <script src="~/assets/validation/js/select2.full.min.js"></script>
    <script src="~/assets/validation/js/app.min.js"></script>
    <script src="~/assets/validation/js/ui-modals.min.js"></script>
    <script src="~/assets/validation/js/table-datatables-buttons.min.js"></script>
    <script src="~/assets/validation/js/components-bootstrap-switch.min.js"></script>
    <script src="~/assets/validation/js/components-select2.min.js"></script>
    <script src="~/assets/validation/js/moment.min.js"></script>
    <script src="~/assets/validation/js/moment-with-locales.min.js"></script>
    <script src="~/assets/validation/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/validation/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/validation/js/jquery.validate.min.js"></script>
    <script src="~/assets/validation/js/additional-methods.min.js"></script>
    <script src="~/assets/validation/js/toastr.min.js"></script>
    <script src="~/assets/validation/js/ui-toastr.min.js"></script>
    <script src="~/assets/validation/js/layout.min.js"></script>
    <script src="~/assets/validation/js/demo.min.js"></script>
    <script src="~/assets/validation/js/quick-sidebar.min.js"></script>
    <script src="~/assets/validation/js/quick-nav.min.js"></script>
    <script src="~/assets/validation/js/common.js"></script>
</body>
</html>