﻿@using AAH.Common;
@using GinnyBuddyApp.Pages;
@using System.Web.Optimization;
@using GinnyBuddyApp.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header id="page-topbar">
    <div class="navbar-header app-header-area p-0">
        <div class="row m-0">
            <div class="col-lg-12 col-12">
                <a href="@Url.Action("Index","Dashboard")">
                    <h5 class="mb-0 ml-2 header-title d-flex align-items-center"><i class="dripicons-arrow-thin-left d-flex fs-20" style="margin-right: 7px;"></i>How It Works</h5>
                </a>
                @*<div id="information"></div>*@
            </div>
        </div>
    </div>
</header>
<div class="main-content app-main-area">
    <div class="request-for p-3">
        @if (ViewBag.HowGinnyBuddyWorksData.TotalRecords > 0)
        {
            for (int i = 0; i < ViewBag.HowGinnyBuddyWorksData.TotalRecords; i++)
            {
                <img class="w-100 mb-2" style="border-radius:5px;" src="@System.Configuration.ConfigurationManager.AppSettings["AdminEndPoint"]@ViewBag.HowGinnyBuddyWorksData.Values[i].URL" alt="Alternate Text" />
            }
        }

    </div>
</div>

<script src="~/assets/libs/jquery/jquery.min.js"></script>
