﻿@using AAH.Common;
@using AAHAdmin.Pages;
@using System.Web.Optimization;
@using AAHAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Complain Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    .pac-container {
        z-index: 100000 !important;
    }

    thead {
        background: #0069D9;
        color: white;
    }

    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        bUsers-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            bUsers-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        bUsers-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        bUsers: 1px solid #d4d4d4;
        bUsers-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            bUsers-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .text-c-dark {
        color: #000;
    }

    .device-active .active .card {
        background: #157aec;
        cursor: pointer;
    }

    .device-active .active .text-c-dark {
        color: #fff !important;
    }

        .device-active .active .text-c-dark .icon {
            background-color: #0069D9;
            bUsers: none;
        }

    .icon-box {
        background: #eff1f4;
    }

        .icon-box:hover {
            background: #0e67cc !important;
        }

    .btn-primary {
        color: #fff !important;
        background-color: #0596F8 !important;
        border-color: #0596F8 !important;
        box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%) !important;
    }

  /*  .btn-secondary {
        color: #3596f8 !important;
    }*/

    div.dt-buttons {
        float: right !important;
    }

    p {
        display: -webkit-box;
        max-width: 200px;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    #map-canvas {
        height: 500px;
        width: 736px;
        border: 3px solid black;
    }

    #search_input {
        font-size: 18px;
        width: 430px;
        height: 40px;
        margin: 5px;
        padding: 5px;
        box-sizing: border-box;
    }

    .form-control-file1, .form-control-range {
        display: flex;
        width: 1100px;
        height: 600px;
    }

    iframe {
        border-width: 2px !important;
        border-style: inset;
        border-color: initial;
        border-image: auto !important;
        width: auto !important,
    }

    #City_Town-error {
        width: 100% !important;
        position: absolute !important;
        /*bottom: -3px;*/
        bottom: 0px;
    }


    #StateId {
        text-transform: uppercase;
    }

    #DistrictId {
        text-transform: uppercase;
    }

    #City_Town {
        text-transform: uppercase;
    }

    option #City_Town {
        text-transform: lowercase;
    }
</style>

<div class="content container-fluid">
    @*<input type="text" class="form-control" hidden name="AddressLat" id="AddressLat">
        <input type="text" class="form-control" hidden name="AddressLong" id="AddressLong">*@
    <input type="text" class="form-control" hidden name="AddressPincode" id="AddressPincode">

    <div class="row">
        <div class="col-8">
            <h5>Complain Details</h5>
        </div>
    </div>
    <div class="card mb-4 mt-3">
        <div class="card-header">
            <h6 class="mb-0">Complain</h6>
        </div>
        <div class="card-body p-2">
            <div class="row fs-14 details-card">
                <div class="col-lg-6 col-12 p-1">
                    <div></div>
                    <p class="mb-0">
                        <b> Title</b> : <span class="ml-0 text-muted" id="Title" value="Title" />
                    </p>
                </div>
                <div class="col-lg-6 col-12 p-1">
                    <span class="mb-0s">
                        <b>CustomerId</b> :
                        <span class="ml-1 text-muted" id="CustomerId" value="CustomerId" />
                    </span>
                </div>
                <div class="col-lg-6 col-12 p-1">
                    <p class="mb-0">
                        <b>
                            Description
                        </b> :
                        <span class="ml-1 text-muted" id="Description" value="Description" />
                    </p>
                </div>
                <div class="col-lg-6 col-12 p-1">
                    <p class="mb-0">
                        <b>
                            RequestId
                        </b>  :
                        <span class="ml-1 text-muted" id="RequestId" value="RequestId" />
                    </p>
                </div>
                <div class="col-lg-6 col-12 p-1">
                    <p class="mb-0">
                        <b>
                            StatusId
                        </b>  :
                        <span class="ml-1 text-muted" id="StatusId" value="StatusId" />
                    </p>
                </div>
                <div class="col-lg-6 col-12 p-1">
                    <p class="mb-0">
                        <b>
                            TypeId
                        </b>  :
                        <span class="ml-1 text-muted" id="TypeId" value="TypeId" />
                    </p>
                </div>
                <div class="col-lg-6 col-12 p-1">
                    <p class="mb-0">
                        <b>
                            PlatformId
                        </b>  :
                        <span class="ml-1 text-muted" id="PlatformId" value="PlatformId" />
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="content container-fluid">
    <div class="row">
        <div class="col-8">
            <h5>Comments</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">
            @Html.AntiForgeryToken()
            <div class="portlet-body table-responsive" id="divUserTable">
                <table class="table table-striped table-bUsersed table-hover" id="UserTable"></table>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="addComment" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">Add Comments</h6>
                <button type="button" class="close" onclick="ClosePopUp();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="ManageCommentsForm" method="post" enctype="multipart/form-data">
                <div class="modal-body">

                    <div class="form-group">
                        <input type="hidden" id="Id" name="Id" />
                        <label>Description</label>
                        <input type="text" class="form-control" name="Description" id="cmtDescription" placeholder="Enter Description...">
                    </div>
                    @*<div class="form-group">
                        <label>TicketId</label>
                        <input type="text" class="form-control" name="TicketId" id="TicketId" placeholder="Enter TicketId...">
                    </div>*@
                </div>
                <div class="modal-footer">
                    <button id="btnSearch" type="submit" class="btn btn-primary saveBtn">Save</button>
                    <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Saving...
                    </button>
                    <button type="button" onclick="ClosePopUp();" class="btn btn-secondary closeBtn">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>






<!-- Modal For Add New City -->

@section Scripts {
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    @*<script src="http://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyB97EhOhMCYhK1tZIofUkpKcGW61fdgKjg&libraries=places&callback=initMap" async defer></script>*@
    @*<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyB97EhOhMCYhK1tZIofUkpKcGW61fdgKjg&libraries=places&callback=initMap" async defer></script>
    <script language=javascript src='http://maps.google.com/maps/api/js?sensor=false'></script>*@
<script>

         $(document).ready(() => {
            CommentsDataTable.init();
            debugger
            $("#ManageCommentsForm").validate({
                rules: {

                    Description: "required",
                    //TicketId: "required"
                },
                messages: {
                    Description: {
                        required: "Please enter Description",
                    },
                    //TicketId: {
                    //    required: "Please enter TicketId",
                    //},
                },

                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents(".form-group"));
                    } else {
                        // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {

                    AddComment();
                }
            });
        });
        BindData();

        var CommentsDataTable = function () {
            let initTable1 = function () {
                let table = $('#UserTable');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from MAX total entries)",
                        //"lengthMenu": "MENU entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.TicketComments_ByTicketId, Controllers.Complain)',
                        type: "post",
                        data: SearchCriteria(),
                    },
                    "columns": [
                        {
                            "title": "TicketId", "data": "TicketId",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["TicketId"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Description", "data": "Description",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["Description"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        

                        {
                            "title": "Action", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                //htmlData += `<button title="Edit Doctor" class="btn btn-sm btn-outline-secondary mr-1" onclick="ViewService('${(row["Id"])}');"><i class="fa fa-edit"></i></button>`;
                                htmlData += `<a class="btn btn-sm btn-outline-secondary " title="Delete Comments" onclick="DeleteComments('${(row["Id"])}');"><i class="fa fa-trash"></i></a>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                        "buttons": [
                            {
                                text: 'Add Comments',
                                className: 'btn btn-primary mb-3 mt-1',
                                action: function (e, dt, node, config) {
                                    AddCommentPopUp();
                                }
                            },
                        ],

                        // setup responsive extension: http://datatables.net/extensions/responsive/
                        responsive: true,

                        "lengthMenu": [
                            [5, 10, 15, 20, 1000],
                            [5, 10, 15, 20, 1000] // change per page values here
                        ],
                        // set the initial value

                        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                        // So when dropdowns used the scrollable div should be removed.
                        //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#UserTable")) {
                        $('#UserTable').dataTable().fnDestroy();
                        $('#divUserTable').html('<table class="table table-striped" width="100%" id="UserTable"></table>');
                    }
                    initTable1();
                }
            };
        }();

//--------------------------------------------------------
            function BindData()
            {
                debugger;
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.Ticket_ById, Controllers.Complain)',
                data: { Id : @ViewBag.Id },
                dataType: 'json',
                async: true,
                success: function (response) {
                    if (response.Code == 200) {
                        $('#Id').text(response.Item.Id)
                        $('#Title').text(response.Item.Title)
                        $('#CustomerId').text(response.Item.CustomerId)
                        $('#Description').text(response.Item.Description)
                        $('#RequestId').text(response.Item.RequestId)
                        if (response.Item.StatusId == 1) {
                            $('#StatusId').text('open')
                        } else {

                        $('#StatusId').text('close')
                        //$('#StatusId').text(response.Item.StatusId)
                        }
                        if (response.Item.TypeId == 1) {
                            $('#TypeId').text('help')
                        } else {

                            $('#TypeId').text('complain')
                        }
                        //$('#TypeId').text(response.Item.TypeId)
                        if (response.Item.PlatFormId == 1) {
                            $('#PlatformId').text('customer')
                        } else {

                            $('#PlatformId').text('chai nasta')
                        }
                        //$('#PlatformId').text(response.Item.PlatFormId)

                    }
                    else {
                        swal({
                            title: "Warning",
                            text: response.Message,
                            icon: "warning"
                        })
                    }
                },
                error: function (error) {
                    swal({
                        title: "Warning",
                        text: "Something Went Wrong!",
                        icon: "warning"
                    })
                }
            });
        }

        function SearchCriteria() {
            try {
                var param = {};
                param["TicketId"] = @ViewBag.Id;
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function UserDataFillter() {
            $('#UsersFillter').modal('show');
        }

        function UserDataFillter() {
            $('#UsersFillter').modal('show');
        }

        function SearchReset(isReset) {

            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();

            if (isReset == true) {
                $('#admin_CompanyName').val("");

            }

            CommentsDataTable.init();       //    AnandTable.init();
            $('#UsersFillter').modal('hide');

            $(".saveBtn").show();
            $(".loading").hide();
            $(".closeBtn").show();
        }

        function addRequestVerificationToken(data) {
            data._RequestVerificationToken = $('input[name=_RequestVerificationToken]').val();
            return data;
        }

        function ViewUserNotifications(id) {
            window.location.href = "Complain/Details" + id;
        }

        function ClosePopUp() {
            //emptyFormValues();
            $("#addComment").modal("hide");
        }

        function clearValidation(formElement) {
            debugger
            //Internal $.validator is exposed through $(form).validate()
            var validator = $(formElement).validate();
            //Iterate through named elements inside of the form, and mark them as error free
            $('[name]', formElement).each(function () {
               // validator.success.push(this);
                validator.showErrors();//remove error messages if present
            });
            validator.resetForm();//remove error class on name elements and clear history
            validator.reset();//remove all error and success data
        }
        //var myform = document.getElementById("")


        function AddCommentPopUp() {
            debugger
            var myForm = document.getElementById("ManageCommentsForm").reset();
            //clearValidation(myForm);
            $("form").validate().resetForm(); //form
            var $alertas = $('#addComment');// $('#addServiceMaster');
            $alertas.validate().resetForm();
            $alertas.find('.error').removeClass('error');

            //emptyFormValues();
            //$('#ImageView').hide();
            ServiceId = "MA==";
            $('#addComment').modal('show');
        }

        function redirectToNewTab(link) {
            window.open(link, "_blank");
        }



        function AddComment()
        {
            debugger;
            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();

            var formdata = new FormData();
            formdata.append("Id", $("#Id").val());
            formdata.append("Description", $("#cmtDescription").val());
            formdata.append("TicketId", @ViewBag.Id);

            $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.TicketComments_Upsert, Controllers.Complain)',
                    data: formdata,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.Code == 200) {
                            $("#addComment").modal("hide");
                            swal({
                                title: "Success",
                                text: response.Message,
                                icon: "success",
                                timer: 2000
                            })
                            CommentsDataTable.init();
                        } else {
                           // swal("Error!", error.Message, "error");
                            $(".saveBtn").show();
                            $(".loading").hide();
                            $(".closeBtn").show();
                        }
                    },
                    error: function (error) {
                        //toastr["error"]("Something went wrong");
                        $(".saveBtn").show();
                        $(".loading").hide();
                        $(".closeBtn").show();
                    }
                });
        }

         function DeleteComments(id)
        {

            swal({
                title: "Delete !",
                text: "Are You Sure You want to Delete this Comments ?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willdelete) => {
                if (willdelete) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action(Actions.TicketComments_Delete, Controllers.Complain)',
                        data: { Id: id },
                        dataType: 'json',
                        success: function (response) {
                            CommentsDataTable.init();

                        },
                        error: function (error) {
                            console.log('error', error);
                        }
                    })
                }
            });
        }
</script>
}



