﻿@using AAH.Common;
@using AAHAdmin.Pages;
@using System.Web.Optimization;
@using AAHAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Complain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABofRnRkpT_4m344ZOsyRnT90uSGF5H6A"></script>

<div class="content container-fluid">
    <div class="row">
        <div class="col-8">
            <h5>Complain</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">
            @Html.AntiForgeryToken()
            @*<div class="w-100">
                <a href="@Url.Action(Actions.Details,Controllers.Vendors)" type="button" class="btn btn-primary float-right">
                    Create Vendor
                </a>
            </div>*@
            <div class="portlet-body table-responsive" id="divManageComplain">
                <table class="table table-striped table-bUsersed table-hover border" id="ManageComplain"></table>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>

        $(document).ready(() => {
            ManageComplainDataTable.init();
        });

        var ManageComplainDataTable = function () {
            let initTable1 = function () {
                let table = $('#ManageComplain');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from MAX total entries)",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.Ticket_All, Controllers.Complain)',
                        type: "post",
                        data: SearchCriteria(),
                    },
                    "columns": [
                        {
                            "title": "Complain Number", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["Id"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Customer Details", "data": "CustomerId",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                if (row["ReferenceCode"] == null || row["ReferenceCode"] =='') {
                                    htmlData += `<img title="Profile Image" style="cursor:pointer;" ('${row["ProfileURLStr"]}') src="${row["ProfileURLStr"]}" height="50px">`;


                                    htmlData += `<p class="mb-0"><b>Name : </b>${row["Name"]}</p>`;

                                    htmlData += `<p class="mb-0"><b>Mobile no. : </b><a href="tel:${row["MobileNumber"]}">${row["MobileNumber"]}</a></p>`;

                                    htmlData += `<p class="mb-0"><b>E-mail : </b>${row["Email"]}</p>`;
                                }
                                else {
                                    htmlData += `<p class="mb-0 mt-1"><b>Refrence Code : </b>${row["ReferenceCode"]}</p>`;
                                    htmlData += `<img title="Profile Image" style="cursor:pointer;" ('${row["ProfileURLStr"]}') src="${row["ProfileURLStr"]}" height="50px">`;


                                    htmlData += `<p class="mb-0"><b>Name : </b>${row["Name"]}</p>`;

                                    htmlData += `<p class="mb-0"><b>Mobile no. : </b><a href="tel:${row["MobileNumber"]}">${row["MobileNumber"]}</a></p>`;

                                    htmlData += `<p class="mb-0"><b>E-mail : </b>${row["Email"]}</p>`;}


                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Request Id", "data": "RequestId",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<a class="mb-0" style="cursor:pointer;" href="@Url.Action(Actions.Details, Controllers.Requests)?RId=${btoa(row["RequestId"])}">${row["RequestId"] == "" || row["RequestId"] == null ? "-" : row["RequestId"]}</a>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Title", "data": "Title",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["Title"] == "" || row["Title"] == null ? "-" : row["Title"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },

                        {
                            "title": "Description", "data": "Description",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["Description"] == "" || row["Description"] == null ? "-" : row["Description"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },

                        //{
                        //    "title": "StatusId", "data": "StatusId",
                        //    "render": function (data, type, row) {
                        //        let htmlData = "";

                        //        htmlData = `<p class="mb-0">${row["StatusId"] == "" || row["StatusId"] == null ? "-" : row["StatusId"]}</p>`;

                        //        return htmlData;
                        //    }
                        //    , "orderable": false, "width": "3%"
                        //},
                        {
                            "title": "PlatForm", "data": "PlatFormId",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                if (row["PlatFormId"] == 1) {
                                    htmlData = `<button class="badge badge-primary">Customer</button>`;
                                } else {
                                    htmlData = `<button  class="badge badge-danger">Chai-Nasta</button>`;
                                }
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        //{
                        //    "title": "TypeId", "data": "TypeId",
                        //    "render": function (data, type, row) {
                        //        let htmlData = "";

                        //        htmlData = `<p class="mb-0">${row["TypeId"] == "" || row["TypeId"] == null ? "-" : row["TypeId"]}</p>`;

                        //        return htmlData;
                        //    }
                        //    , "orderable": false, "width": "3%"
                        //},
                        //{
                        //    "title": "Platform Id", "data": "PlatFormId",
                        //    "render": function (data, type, row) {
                        //        let htmlData = "";

                        //        htmlData = `<p class="mb-0">${row["PlatFormId"] == "" || row["PlatFormId"] == null ? "-" : row["PlatFormId"]}</p>`;

                        //        return htmlData;
                        //    }
                        //    , "orderable": false, "width": "3%"
                        //},


                        {
                            "title": "Status", "data": "StatusId",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                if (row["StatusId"] == 1) {
                                    htmlData = `<button onclick="InactiveMessage('${row["Id"]}');" class="badge badge-primary">Open</button>`;
                                } else {
                                    htmlData = `<button onclick="ActiveMessage('${row["Id"]}');" class="badge badge-danger">Closed</button>`;
                                }
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Type", "data": "TypeId",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                if (row["TypeId"] == 1) {
                                    htmlData = `<button class="badge badge-primary">Help</button>`;
                                } else {
                                    htmlData = `<button class="badge badge-danger">Complain</button>`;
                                }
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Action", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData += `<a title="Edit Complain" class="btn btn-sm btn-outline-secondary mr-1" href="@Url.Action("Details","Complain")?vi=${btoa(row["Id"])}"><i class="fa fa-eye"></i></a>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },

                    ],

                    "buttons": [
                    ],

                    responsive: true,

                    "lengthMenu": [
                        [5, 10, 15, 20, 1000],
                        [5, 10, 15, 20, 1000]
                    ],

                    "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                });
            }

            return {
                init: function () {
                    if ($.fn.DataTable.isDataTable("#ManageComplain")) {
                        $('#ManageComplain').dataTable().fnDestroy();
                        $('#divManageComplain').html('<table class="table table-striped border" width="100%" id="ManageComplain"></table>');
                    }
                    initTable1();
                }
            };
        }();

        function SearchCriteria() {
            try {
                var param = {};
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        function ActiveMessage(id) {
            debugger;
            swal({
                title: "Are you sure ?",
                text: "You will be reopen this Record !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willupdate) => {
                    if (willupdate) {
                        UpdateStatus(id);
                    }
                });
        }
        function InactiveMessage(id) {
            debugger;
            swal({
                title: "Are you sure ?",
                text: "You will be close this Record !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willupdate) => {
                    if (willupdate) {
                        UpdateStatus(id);
                    }
                });
        }

        function UpdateStatus(id)
        {
            debugger;
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.Ticket_ChangeStatus, Controllers.Complain)',
                data: { Id: id },
                dataType: 'json',
                success: function (response) {
                    ManageComplainDataTable.init();
                    if (response.Code == 200) {
                        swal({
                            title: "Success",
                            text: response.Message,
                            icon: "success",
                            timer: 2000
                        })
                    } else {
                        swal({
                            title: "Warning",
                            text: response.Message,
                            icon: "warning"
                        })
                    }
                },
                error: function (error) {

                }
            });
        }


        // For Type Change\


        function ActiveMessage2(id) {
            debugger;
            swal({
                title: "Are you sure ?",
                text: "You will be open help !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willupdate) => {
                    if (willupdate) {
                        UpdateStatus2(id);
                    }
                });
        }
        function InactiveMessage2(id) {
            debugger;
            swal({
                title: "Are you sure ?",
                text: "You will be open complain !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willupdate) => {
                    if (willupdate) {
                        UpdateStatus2(id);
                    }
                });
        }

        function UpdateStatus2(id)
        {
            debugger;
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.Ticket_ChangeType, Controllers.Complain)',
                data: { Id: id },
                dataType: 'json',
                success: function (response) {
                    ManageComplainDataTable.init();
                    if (response.Code == 200) {
                        swal({
                            title: "Success",
                            text: response.Message,
                            icon: "success",
                            timer: 2000
                        })
                    } else {
                        swal({
                            title: "Warning",
                            text: response.Message,
                            icon: "warning"
                        })
                    }
                },
                error: function (error) {

                }
            });
        }


        // For Plateform


        function ActiveMessage3(id) {

            swal({
                title: "Are you sure ?",
                text: "You will be open help !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willupdate) => {
                    if (willupdate) {
                        UpdateStatus3(id);
                    }
                });
        }
        function InactiveMessage3(id) {

            swal({
                title: "Are you sure ?",
                text: "You will be open complain !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willupdate) => {
                    if (willupdate) {
                        UpdateStatus3(id);
                    }
                });
        }

        function UpdateStatus3(id)
        {
            debugger;
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.Ticket_ChangePlatform, Controllers.Complain)',
                data: { Id: id },
                dataType: 'json',
                success: function (response) {
                    ManageComplainDataTable.init();
                    if (response.Code == 200) {
                        swal({
                            title: "Success",
                            text: response.Message,
                            icon: "success",
                            timer: 2000
                        })
                    } else {
                        swal({
                            title: "Warning",
                            text: response.Message,
                            icon: "warning"
                        })
                    }
                },
                error: function (error) {

                }
            });
        }
    </script>    
    
}