﻿@using AAH.Entities.V1;
@using AAHAdmin.Pages;
@using AAH.Common;
@model Admin

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Agency";
}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #0069D9;
        color: white;
    }

    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        bUsers-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            bUsers-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        bUsers-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        bUsers: 1px solid #d4d4d4;
        bUsers-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            bUsers-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .text-c-dark {
        color: #000;
    }

    .device-active .active .card {
        background: #157aec;
        cursor: pointer;
    }

    .device-active .active .text-c-dark {
        color: #fff !important;
    }

        .device-active .active .text-c-dark .icon {
            background-color: #0069D9;
            bUsers: none;
        }

    .icon-box {
        background: #eff1f4;
    }

        .icon-box:hover {
            background: #0e67cc !important;
        }

    .btn-primary {
        color: #fff !important;
        background-color: #0596F8 !important;
        border-color: #0596F8 !important;
        box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%) !important;
    }

    div.dt-buttons {
        float: right !important;
    }

    #map {
        padding: 0;
        margin: 0;
        height: 500px;
    }
</style>


<div class="content container-fluid">
    <div class="row">
        <div class="col-8">
            <h5>Manage Agency</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">

            @using (Html.BeginForm(Actions.AgencyMaster_Upsert, Controllers.ManageAgency, new { Area = "" }, FormMethod.Post, new { id = "AgencyMasterDetails", @class = "", enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.AreaMasterIds)
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6 mt-2">
                            <label>Name</label>
                            @Html.TextBoxFor(model => model.Name, new { @Type = "text", @class = "form-control", @placeholder = "Enter Name" })
                        </div>

                        <div class="col-6 mt-2">
                            <label>Commision in %</label>
                            @Html.TextBoxFor(model => model.Commision, new { @Type = "text", @class = "form-control", @placeholder = "Enter Commision" })
                        </div><div class="col-6 mt-2">
                            <label>Define No. of DE Allowed</label>
                            @Html.TextBoxFor(model => model.NoOfDE, new { @Type = "text", @class = "form-control", @placeholder = "Enter No Of DE" })
                        </div><div class="col-6 mt-2">
                            <label>Service Charge/Commision</label>
                            @Html.TextBoxFor(model => model.ServiceCharge, new { @Type = "text", @class = "form-control", @placeholder = "Enter Service Charge" })
                        </div><div class="col-6 mt-2">
                            <label>Thela Vala Charge/Commision</label>
                            @Html.TextBoxFor(model => model.ThelaValaCharge, new { @Type = "text", @class = "form-control", @placeholder = "Enter Thela Vala Charge" })
                        </div><div class="col-6 mt-2">
                            <label>Advertisement Charge</label>
                            @Html.TextBoxFor(model => model.AdCharge, new { @Type = "text", @class = "form-control", @placeholder = "Enter AdCharge" })
                        </div><div class="col-6 mt-2">
                            <label>Commitment Amount per Man Power</label>
                            @Html.TextBoxFor(model => model.CommitmentAmtMP, new { @Type = "text", @class = "form-control", @placeholder = "Enter CommitmentAmtMP" })
                        </div><div class="col-6 mt-2">
                            <label>Commitment from Agency for download</label>
                            @Html.TextBoxFor(model => model.CommitmentAgencyDow, new { @Type = "text", @class = "form-control", @placeholder = "Enter CommitmentAgencyDow" })
                        </div><div class="col-6 mt-2">
                            <label>Commitment from Agency for Service</label>
                            @Html.TextBoxFor(model => model.CommitmentAgencyServ, new { @Type = "text", @class = "form-control", @placeholder = "Enter CommitmentAgencyServ" })
                        </div>

                        <div class="col-6 mt-2">
                            <label>Mobile Number</label>
                            @Html.TextBoxFor(model => model.MobileNumber, new { @Type = "text", @class = "form-control", @placeholder = "Enter Mobile Number" })
                        </div>
                        <div class="col-6 mt-2">
                            <label>Email</label>
                            @Html.TextBoxFor(model => model.Email, new { @Type = "text", @class = "form-control", @placeholder = "Enter Email" })
                        </div>

                        <div class="col-6 mt-2">
                            <label>Owner Name</label>
                            @Html.TextBoxFor(model => model.OwnerName, new { @Type = "text", @class = "form-control", @placeholder = "Enter Owner Name" })
                        </div>
                        <div class="col-6 mt-2">
                            <label>Manager Name</label>
                            @Html.TextBoxFor(model => model.ManagerName, new { @Type = "text", @class = "form-control", @placeholder = "Enter Manager Name" })
                        </div>


                        <div class="col-6 mt-2">
                            <label>Manager Contact Number</label>
                            @Html.TextBoxFor(model => model.ManagerContactNumber, new { @Type = "text", @class = "form-control", @placeholder = "Enter Manager ContactNumber" })
                        </div>
                        <div class="col-6 mt-2">
                            <label>GST Number</label>
                            @Html.TextBoxFor(model => model.GSTNumber, new { @Type = "text", @class = "form-control", @placeholder = "Enter GST Number" })
                        </div>
                        <div class="col-6 mt-2">
                            <label>PAN Number</label>
                            @Html.TextBoxFor(model => model.PANNumber, new { @Type = "text", @class = "form-control", @placeholder = "Enter PAN Number" })
                        </div>
                        <div class="col-6 mt-2">
                            <label>PAN Image</label>
                            <input type="file" name="files" class="form-control" />
                        </div>
                        <div class="col-6 mt-2">
                            <label>Address Proof</label>
                            <input type="file" name="files" class="form-control" />
                        </div>

                        <div class="row" id="sItemCard" style="display:none;">
                            <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">
                                @Html.AntiForgeryToken()
                                <div class="portlet-body table-responsive" id="divDeliveryExecutiveTable">
                                    <table class="table table-striped table-bUsersed table-hover" id="DeliveryExecutiveTable"></table>
                                </div>
                            </div>
                        </div>
                        @*<div class="vendor-profile card col-lg-4 mt-3 p-4 m-0 mb-8" id="sItemCard" style="display:none;">
                            <div class="mb-6">
                                <label class="form-label"><b>Assigned Area</b></label><label id="AssignedArea"></label>
                            </div>
                            <div class="p-0 col-sm-3">
                                <label class="form-label">Min Range</label>
                                <input type="number" class="form-control" id="minRange" name="minRange" placeholder="">
                            </div>
                            <div class="p-0 col-sm-3">
                                <label class="form-label">Max Range</label>
                                <input type="number" class="form-control" id="maxRange" name="maxRange" placeholder="">
                            </div>
                            <div class="p-0 col-sm-3">
                                <label class="form-label">Assigned </label>
                                <input type="number" class="form-control" id="assigned" name="assigned" placeholder="">
                            </div>
                            <div class="p-0 col-sm-3">
                                <label class="form-label">DE </label>
                                <input type="number" class="form-control" id="de" name="de" placeholder="">
                            </div>
                        </div>*@
                        @*<div class="col-6 mt-2">
            <label>Area</label>
            @Html.DropDownListFor(model => model.AreaMasterId, (IEnumerable<SelectListItem>)ViewBag.GetMasterAreaAll, new { @class = "form-control selectpicker", @multiple = "multiple " })
        </div>*@
                    </div>
                </div>
                <div class="modal-footer">
                    <input id="btnSearch" type="submit" class="btn btn-primary saveBtn" value="Save" />
                    <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Saving...
                    </button>
                    <a class="btn btn-secondary closeBtn" href="@Url.Action(Actions.Index, Controllers.ManageAgency)">Cancel</a>
                </div>
            }

        </div>
    </div>
</div>


@section Scripts {

    <script>

        $(document).ready(() => {
            debugger

            if ($("#Id").val() != "0" && $("#Id").val() != "") {
                var s = $("#AreaMasterIds").val().split(',');
                $('#AreaMasterId').selectpicker('val', (s).map(Number));
                $("#sItemCard").show();
            }

            $("#AgencyMasterDetails").validate({
                rules: {
                    Name: "required",
                    Email: "required",
                    AreaMasterId: "required",
                    MobileNumber: "required",
                    OwnerName: "required",
                    ManagerName: "required",
                    ManagerContactNumber: "required",
                    GSTNumber: "required",
                    PANNumber: "required",
                    Commision: "required",
                    NoOfDE: "required",
                    ServiceCharge: "required",
                    ThelaValaCharge: "required",
                    AdCharge: "required",
                    CommitmentAmtMP: "required",
                    CommitmentAgencyDow: "required",
                    CommitmentAgencyServ: "required"
                },
                messages: {
                    Name: {
                        required: "Please enter Name",
                    },
                    Email: {
                        required: "Please enter Email",
                    },
                    AreaMasterId: {
                        required: "Please select Area",
                    },
                    MobileNumber: {
                        required: "Please enter Mobile Number",
                    },
                    OwnerName: {
                        required: "Please enter Owner Name",
                    },
                    ManagerName: {
                        required: "Please enter Manager Name",
                    },
                    ManagerContactNumber: {
                        required: "Please enter Manager Contact Number",
                    },
                    GSTNumber: {
                        required: "Please enter GST Number",
                    },
                    Commision: {
                        required: "Please enter Commision in %",
                    }, NoOfDE: {
                        required: "Please enter PAN Number",
                    }, ServiceCharge: {
                        required: "Please Define No. of DE Allowed",
                    }, ThelaValaCharge: {
                        required: "Please enter Thela Vala Charge/Commision",
                    }, AdCharge: {
                        required: "Please enter Advertisement Charge",
                    }, CommitmentAmtMP: {
                        required: "Please enter Commitment Amount per Man Power",
                    }, CommitmentAgencyDow: {
                        required: "Please enter Commitment from Agency for download",
                    }, CommitmentAgencyServ: {
                        required: "Please enter Commitment from Agency for Service",
                    }
                },

                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents(".form-group"));
                    } else {
                        // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    var d = $("#AreaMasterId").val().join(',');
                    $("#AreaMasterIds").val(d);
                    form.submit();
                }
            });
        });

    </script>



}
