﻿@using AAH.Common;
@using AAHAdmin.Pages;
@using System.Web.Optimization;
@using AAHAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Agency";
}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #0069D9;
        color: white;
    }

    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        bUsers-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            bUsers-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        bUsers-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        bUsers: 1px solid #d4d4d4;
        bUsers-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            bUsers-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .text-c-dark {
        color: #000;
    }

    .device-active .active .card {
        background: #157aec;
        cursor: pointer;
    }

    .device-active .active .text-c-dark {
        color: #fff !important;
    }

        .device-active .active .text-c-dark .icon {
            background-color: #0069D9;
            bUsers: none;
        }

    .icon-box {
        background: #eff1f4;
    }

        .icon-box:hover {
            background: #0e67cc !important;
        }

    .btn-primary {
        color: #fff !important;
        background-color: #0596F8 !important;
        border-color: #0596F8 !important;
        box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%) !important;
    }

    div.dt-buttons {
        float: right !important;
    }
</style>


<div class="content container-fluid">
    <div class="row">
        <div class="col-8">
            <h5>Manage Agency</h5>
        </div>
        <div class="col-4" style=" text-align: right; margin-bottom: 20px;">
            <a class="btn btn-primary" href="@Url.Action(Actions.Details, Controllers.ManageAgency)">Add Agency</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">
            @Html.AntiForgeryToken()
            <div class="portlet-body table-responsive" id="divUserTable">
                <table class="table table-striped table-bUsersed table-hover" id="UserTable"></table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(() => {
            AgencyDataTable.init();

        });

        var AgencyDataTable = function () {
            let initTable1 = function () {
                let table = $('#UserTable');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from MAX total entries)",
                        //"lengthMenu": "MENU entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.Agency_All, Controllers.ManageAgency)',
                        type: "post",
                        data: SearchCriteria(),
                    },
                    "columns": [
                        {
                            "title": "Name", "data": "Name",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["Name"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Email", "data": "Email",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<a class="c-text-primary" href="mailto:${row["Email"]}">${row["Email"]}</a>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Password", "data": "Password",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["Password"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "PAN Number Image", "data": "PANNumberImage",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                if (row["PANNumberImage"] != null && row["PANNumberImage"] != "") {
                                    htmlData = `<a class="btn btn-sm btn-outline-secondary mr-1" target="_blank" href="${row["PANNumberImageStr"]}" title="View PAN Number Image">
                                    <i class="fa fa-eye"></i>
                                </a>`;
                                }
                                else {
                                    htmlData = `<p class="mb-0">-</p>`;
                                }

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Address Proof", "data": "AddressProof",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                if (row["AddressProof"] != null && row["AddressProof"] != "") {
                                    htmlData = `<a class="btn btn-sm btn-outline-secondary mr-1" target="_blank" href="${row["AddressProofStr"]}" title="View Address Proof">
                                    <i class="fa fa-eye"></i>
                                </a>`;
                                }
                                else {
                                    htmlData = `<p class="mb-0">-</p>`;
                                }

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },

                        {
                            "title": "Commision", "data": "Commision",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["Commision"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },{
                            "title": "No Of DE", "data": "NoOfDE",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["NoOfDE"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },{
                            "title": "Service Charge", "data": "ServiceCharge",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["ServiceCharge"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },{
                            "title": "Thela Vala Charge", "data": "ThelaValaCharge",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["ThelaValaCharge"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },{
                            "title": "Ad Charge", "data": "AdCharge",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["AdCharge"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },{
                            "title": "Commitment Amt MP", "data": "CommitmentAmtMP",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["CommitmentAmtMP"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },{
                            "title": "Commitment Agency Dow", "data": "CommitmentAgencyDow",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["CommitmentAgencyDow"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },{
                            "title": "Commitment Agency Serv", "data": "CommitmentAgencyServ",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["CommitmentAgencyServ"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },

                        {
                            "title": "Action", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData += `<a class="btn btn-sm btn-outline-secondary mr-1" href="@Url.Action(Actions.Details, Controllers.ManageAgency)?AID=${btoa(row["Id"])}" title="Edit">
                                        <i class="fa fa-edit"></i>
                                    </a>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },

                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                        "buttons": [
                            //{
                            //    text: 'Add Agency',
                            //    className: 'btn btn-primary mb-3 mt-1',
                            //    action: function (e, dt, node, config) {
                            //        AddAgencyPopUp();
                            //    }
                            //},


                        ],

                        // setup responsive extension: http://datatables.net/extensions/responsive/
                        responsive: true,

                        "lengthMenu": [
                            [5, 10, 15, 20, 1000],
                            [5, 10, 15, 20, 1000] // change per page values here
                        ],
                        // set the initial value

                        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                        // So when dropdowns used the scrollable div should be removed.
                        //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#UserTable")) {
                        $('#UserTable').dataTable().fnDestroy();
                        $('#divUserTable').html('<table class="table table-striped" width="100%" id="UserTable"></table>');
                    }
                    initTable1();
                }
            };
        }();

        function SearchCriteria() {
            try {
                var param = {};
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function redirectToNewTab(link) {
            window.open(link, "_blank");
        }

        function AddAgencyPopUp() {
            $('#agencyId').val(0);
            $('#Name').val('');
            var $alertas = $('#addAgency');
            $alertas.validate().resetForm();
            $alertas.find('.error').removeClass('error');
            $('#addAgency').modal('show');
        }

        function closeModal() {
            $('#agencyId').val(0);
            $('#Name').val('');
            $('#addAgency').modal('hide');
        }
        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

    </script>
}
