﻿@using AAH.Common;
@using AAHAdmin.Pages;
@using System.Web.Optimization;
@using AAHAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Users";
}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #0069D9;
        color: white;
    }

    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        bUsers-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            bUsers-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        bUsers-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        bUsers: 1px solid #d4d4d4;
        bUsers-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            bUsers-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .text-c-dark {
        color: #000;
    }

    .device-active .active .card {
        background: #157aec;
        cursor: pointer;
    }

    .device-active .active .text-c-dark {
        color: #fff !important;
    }

        .device-active .active .text-c-dark .icon {
            background-color: #0069D9;
            bUsers: none;
        }

    .icon-box {
        background: #eff1f4;
    }

        .icon-box:hover {
            background: #0e67cc !important;
        }

    .btn-primary {
        color: #fff !important;
        background-color: #0596F8 !important;
        border-color: #0596F8 !important;
        box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%) !important;
    }

    div.dt-buttons {
        float: right !important;
    }
    
</style>


<div class="content container-fluid">
    <div class="row">
        <div class="col-8">
            <h5>Manage Users</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">
            @Html.AntiForgeryToken()
            <div class="portlet-body table-responsive" id="divAdminUserTable">
                <table class="table table-striped table-bUsersed table-hover" id="AdminUserTable"></table>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="addAdmin" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">Manage User</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="ManageUserForm" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 mt-2">
                            <label>Name</label>
                            <input type="hidden" id="masteradminId" name="masteradminId" />
                            <input type="hidden" id="StaffId" name="StaffId" />
                            <input type="text" id="Name" name="Name" class="form-control" placeholder="Please enter name" />
                        </div>
                        <div class="col-12 mt-2">
                            <label>Mobile Number</label>
                            <input type="number" id="MobileNumber" name="MobileNumber" class="form-control" placeholder="Please enter mobile number" />
                        </div>
                        <div class="col-12 mt-2">
                            <label>Email</label>
                            <input type="email" id="Email" name="Email" class="form-control" placeholder="Please enter email" />
                        </div>
                        <div class="col-12 mt-2">
                            <label for="AdminTypes">Users Type</label>
                            @Html.Raw(Html.DropDownList("AdminTypeId", (IEnumerable<SelectListItem>)ViewBag.GetUserTypeNotAll, new { @Id = "AdminTypeId", onchange = "Showfilds();", @class = "form-control" }))
                        </div>
                        <div class="col-6 mt-2" id="hideTarget">
                            <label>Target</label>
                            <input type="number" id="Target" name="Target" class="form-control" placeholder="Please enter Target" />
                        </div>
                        <div class="col-6 mt-2" id="hideSalary">
                            <label>Salary</label>
                            <input type="number" id="Salary" name="Salary" class="form-control" placeholder="Please enter Salary" />
                        </div>
                        <div class="col-6 mt-2" id="hidePenalty">
                            <label>Penalty</label>
                            <input type="number" id="Penalty" name="Penalty" class="form-control" placeholder="Please enter Penalty" />
                        </div>
                        <div class="col-6 mt-2" id="hideRoyalty">
                            <label>Royalty</label>
                            <input type="number" id="Royalty" name="Royalty" class="form-control" placeholder="Please enter Royalty" />
                        </div>
                        <div class="col-12 mt-2" style="display:none" id="areaSec">
                            <div class="form-group">
                                <label for="AdminTypes">Area</label>
                                <input type="hidden" id="AraId" name="masteradminId" />
                                @Html.Raw(Html.DropDownList("AreaMasterId", (IEnumerable<SelectListItem>)ViewBag.GetMasterAreaAll, new { @Id = "AreaMasterId", @class = "form-control selectpicker", @multiple = "multiple " }))
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnSearch" type="submit" class="btn btn-primary saveBtn">Save</button>
                    <button id="loadingsave" class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Saving...
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-secondary closeBtn">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal" id="adminPasswordModel" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">Manage User Password</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form" id="ChangePasswordForm" name="ChangePasswordForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="OldPassword">Current Password</label>
                        <input type="hidden" name="masteradminpasswordId" id="masteradminpasswordId" />
                        <input type="text" disabled class="form-control" name="OldPassword" id="OldPassword" placeholder="Enter Current password">
                    </div>
                    <div class="form-group">
                        <label for="NewPassword">New Password</label>
                        <input type="password" class="form-control" id="NewPassword" name="NewPassword" placeholder="Enter New Password">
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="Enter Confirm Password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary saveBtn">Save</button>
                    <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Saving...
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-secondary closeBtn">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="UsersFillter" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">Users Filters</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="col-12 mt-2">
                        <label>Name</label>
                        <input type="text" class="form-control" value="" name="admin_name" id="admin_name" placeholder="Enter Here...">
                    </div>
                    <div class="col-12 mt-2">
                        <label>Mobile Number</label>
                        <input type="number" class="form-control" value="" name="admin_mobilenumber" id="admin_mobilenumber" placeholder="Enter Here...">
                    </div>
                    <div class="col-12 mt-2">
                        <label>Email</label>
                        <input type="email" class="form-control" value="" name="admin_email" id="admin_email" placeholder="Enter Here...">
                    </div>
                    <div class="col-12 mt-2">
                        <label for="AdminTypes">Users Type</label>
                        @Html.Raw(Html.DropDownList("admin_typeid", (IEnumerable<SelectListItem>)ViewBag.GetUserTypeAll, new { @Id = "admin_typeid", @class = "form-control" }))
                    </div>
                    <div class="col-12 mt-2">
                        <label>Is Active</label>
                        <select class="form-control" id="admin_isactive" name="admin_isactive">
                            <option value="2" selected>All</option>
                            <option value="1">Active</option>
                            <option value="0">In-Active</option>
                        </select>
                    </div>
            </div>
            <div class="modal-footer">
                <button id="btnSearch" type="button" class="btn btn-primary saveBtn" onclick="SearchReset(false)">Search</button>
                <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Searching...
                </button>
                <button type="button" data-dismiss="modal" class="btn btn-secondary closeBtn">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>

            var SId ;
            var AraId ;
        $(document).ready(() => {
            AdminUserDataTable.init();
            $("#ManageUserForm").validate({
                rules: {
                    Name: "required",
                    MobileNumber: "required",
                    Email: "required",
                    Royalty: "required",
                    Penalty: "required",
                    Salary: "required",
                    Target: "required",
                    //AreaMasterId: {
                    //    required: {
                    //        depends: function (element) {
                    //            //if ($("#AdminTypeId").val() == "4") {
                    //            //    return true;
                    //            //} else {
                    //            //    return false;
                    //            //}
                    //        }
                    //    }
                    //}
                },
                messages: {
                    Name: {
                        required: "Please enter name",
                    },
                    MobileNumber: {
                        required: "Please enter mobile number",
                    },
                    Email: {
                        required: "Please enter email",
                    },
                    Target: {
                        required: "Please enter Target",
                    },
                    Penalty: {
                        required: "Please enter Penalty",
                    },
                    Salary: {
                        required: "Please enter Salary",
                    },
                    Royalty: {
                        required: "Please enter Royalty",
                    },

                },

                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents(".form-group"));
                    } else {
                        // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    AddAdmin();
                }
            });

            $("form[name='ChangePasswordForm']").validate({
                rules: {
                    OldPassword: {
                        required: true,
                    },
                    NewPassword: {
                        required: true,
                        minlength: 4,
                        maxlength: 16,
                    },
                    ConfirmPassword: {
                        required: true,
                        minlength: 4,
                        maxlength: 16,
                        equalTo: "#NewPassword"
                    }
                },
                // Specify validation error messages
                messages: {
                    OldPassword: {
                        required: "Current Password is required",
                    },
                    NewPassword: {
                        required: "New Password is required",
                        minlength: "Please enter more than 4 latters",
                        maxlength: "Please enter less than 16 latters"
                    },
                    ConfirmPassword: {
                        required: "Confirm Password is required",
                        minlength: "Please enter more than 4 latters",
                        maxlength: "Please enter less than 16 latters",
                        equalTo: "New Password and Confirm Password should be same"
                    },
                },
                submitHandler: function (form) {
                    AdminPassword();
                }
            });
        });

        $("#AdminTypeId").change(function () {
            $("#AreaMasterId").val("");
            var v = $('option:selected', this).val();
            if (v == 5 || v == 7) {
                $("#areaSec").show();
            }
            else {
                $("#areaSec").hide();

            }
        });


        var AdminUserDataTable = function () {
            let initTable1 = function () {
                let table = $('#AdminUserTable');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from MAX total entries)",
                        //"lengthMenu": "MENU entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.Admin_All, Controllers.ManageUser)',
                        type: "post",
                        data: SearchCriteria(),
                    },
                    "columns": [
                        {
                            "title": "Reference Number", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["Id"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Name", "data": "Name",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["Name"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "User Type", "data": "AdminTypeName",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["AdminTypeName"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Email", "data": "Email",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["Email"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "MobileNumber", "data": "MobileNumber",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["MobileNumber"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Password", "data": "Password",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["Password"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Is Active ?", "data": "IsActive",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                if (row["Id"] == '@ProjectSession.AdminId') {
                                    if (row["IsActive"] == 1) {
                                        //InactiveMessage
                                        htmlData = `<button onclick="InactiveMessage('${row["Id"]}');" disabled class="badge badge-primary">Active</button>`;
                                    } else {
                                        htmlData = `<button onclick="ActiveMessage('${row["Id"]}');" disabled class="badge badge-danger">In-Active</button>`;
                                    }
                                } else {
                                    if (row["IsActive"] == 1) {
                                        //InactiveMessage
                                        htmlData = `<button onclick="InactiveMessage('${row["Id"]}');" class="badge badge-primary">Active</button>`;
                                    } else {
                                        htmlData = `<button onclick="ActiveMessage('${row["Id"]}');" class="badge badge-danger">In-Active</button>`;
                                    }
                                }
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Action", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";


                                if (row["Id"] == '@ProjectSession.AdminId') {
                                    if (row["AdminTypeName"] == "Chain Nasta Onboarder") {
                                        htmlData += `<a class="btn btn-sm btn-outline-secondary mr-1" title="View Location" href="@Url.Action(Actions.OBLocations, Controllers.ManageUser)?OBId=` + btoa(row["Id"]) + `"><i class="fa fa-map-marker"></i></a>`;
                                }
                                    htmlData += `<button class="btn btn-sm btn-outline-secondary mr-2" disabled title="Edit User" onclick="ViewAdmin('${btoa(row["Id"])}');"><i class="fa fa-edit"></i></button>`;
                                    htmlData += `<button class="btn btn-sm btn-outline-secondary mr-2" disabled title="Edit User Password" onclick="ViewAdminPassword('${btoa(row["Id"])}');"><i class="fa fa-key"></i></button>`;
                                } else {
                                    if (row["AdminTypeName"] == "On boarding Staff") {
                                        htmlData += `<a class="btn btn-sm btn-outline-secondary mr-1" title="View Location" href="@Url.Action(Actions.OBLocations, Controllers.ManageUser)?OBId=` + btoa(row["Id"]) + `"><i class="fa fa-map-marker"></i></a>`;
                                }
                                    htmlData += `<button class="btn btn-sm btn-outline-secondary mr-2" title="Edit User" onclick="ViewAdmin('${btoa(row["Id"])}');"><i class="fa fa-edit"></i></button>`;
                                    htmlData += `<button class="btn btn-sm btn-outline-secondary mr-2" title="Change Password" onclick="ViewAdminPassword('${btoa(row["Id"])}');"><i class="fa fa-key"></i></button>`;
                                }


                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                        "buttons": [
                            {
                                text: 'Add User',
                                className: 'btn btn-primary mb-3 mt-1 mr-2',
                                action: function (e, dt, node, config) {
                                    AddAdminPopUp();
                                }
                            },
                            {
                                text: 'Filters',
                                className: 'btn btn-primary mb-3 mt-1',
                                action: function (e, dt, node, config) {
                                    UserDataFillter();
                                }
                            },
                            {
                                text: 'Reset',
                                className: ' mb-3 mt-1 mr-3',
                                action: function () {
                                    SearchReset(true)
                                }
                            }
                        ],

                        // setup responsive extension: http://datatables.net/extensions/responsive/
                        responsive: true,

                        "lengthMenu": [
                            [5, 10, 15, 20, 1000],
                            [5, 10, 15, 20, 1000] // change per page values here
                        ],
                        // set the initial value

                        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                        // So when dropdowns used the scrollable div should be removed.
                        //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#AdminUserTable")) {
                        $('#AdminUserTable').dataTable().fnDestroy();
                        $('#divAdminUserTable').html('<table class="table table-striped" width="100%" id="AdminUserTable"></table>');
                    }
                    initTable1();
                }
            };
        }();

        //Data fillter function
        function SearchCriteria() {
            try {
                var param = {};
                param["Name"] = $("#admin_name").val(),
                param["Email"] = $("#admin_email").val(),
                param["MobileNumber"] = $("#admin_mobilenumber").val(),
                param["AdminTypeId"] = $("#admin_typeid").val(),
                param["IsActive"] = $("#admin_isactive").val()
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function UserDataFillter() {
            $('#UsersFillter').modal('show');
        }


        function SearchReset(isReset) {

            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();

            if (isReset == true) {
                $('#admin_name').val("");
                $('#admin_email').val("");
                $('#admin_mobilenumber').val("");
                $('#admin_typeid').val("");
                $('#admin_isactive').val(2);
            }

            AdminUserDataTable.init();
            $('#UsersFillter').modal('hide');
            $(".saveBtn").show();
            $(".loading").hide();
            $(".closeBtn").show();
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        function InactiveMessage(Id) {
            swal({
                title: "Are you sure ?",
                text: "You will be in-activating the user !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willupdate) => {
                if (willupdate) {
                    UpdateStatus(Id);
                }
            });
        }

        //ActiveMessage swal function
        function ActiveMessage(Id) {
            swal({
                title: "Are you sure ?",
                text: "You will be activating the user !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willupdate) => {
                if (willupdate) {
                    UpdateStatus(Id);
                }
            });
        }

        //status ActiveInActive change function
        function UpdateStatus(id) {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.UpdateStatusAdminUsers, Controllers.ManageUser)',
                data: { Id: id },
                dataType: 'json',
                success: function (response) {
                    AdminUserDataTable.init();
                    if (response.Code == 200) {
                        swal({
                            title: "Success",
                            text: response.Message,
                            icon: "success",
                            timer: 2000
                        })
                    } else {
                        swal({
                            title: "Warning",
                            text: response.Message,
                            icon: "warning"
                        })
                    }
                },
                error: function (error) {
                    swal({
                        title: "Warning",
                        text: response.Message,
                        icon: "warning"
                    })
                }
            });
        }

        function AddAreaVsStaff(SId) {

            var udata = {
                Id: AraId,
                AreaId: $("#AreaMasterId").val().toString(),
                StaffId: SId
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.AreaVsStaff_Upsert, Controllers.ManageUser)',
                data: { udata },//deliveryExecutivesdata,
                  dataType: 'json',
                  contentType: false,
                  processData: false,
                success: function (response) {
                    if (response.Code == 200) {
                        $('#addAdmin').modal('hide');
                        AdminUserDataTable.init();
                    }
                    else {
                        swal("Error !", response.Message , "error");
                    }
                    $(".saveBtn").show();
                    $(".loading").hide();
                    $(".closeBtn").show();
                    $('#addAdmin').modal('hide');
                },
                error: function (error) {
                    swal("Error!", error.Message, "error");
                    $(".saveBtn").show();
                    $(".loading").hide();
                    $(".closeBtn").show();
                }
            });
        }

        function AddAdminPopUp() {

            emptyFormValues();
            var $alertas = $('#addAdmin');
            $alertas.validate().resetForm();
            $alertas.find('.error').removeClass('error');

            $("#AdminTypeId").val("1");
            $("#Royalty").val("");
            $("#Penalty").val("");
            $("#Salary").val("");
            $("#Target").val("");
            $('#AreaMasterId').selectpicker('val', null);
            $("#areaSec").hide();
            $('#hideRoyalty').hide();
            $('#hidePenalty').hide();
            $('#hideSalary').hide();
            $('#hideTarget').hide();
            $('#AreaMasterId').hide();
            $('#addAdmin').modal('show');
        }

        function AddAdmin() {

            //$(".saveBtn").hide();
            //$(".loading").show();
            //$(".closeBtn").hide();
            var userdata = {
                Id: $("#masteradminId").val(),
                Name: $("#Name").val(),
                Email: $("#Email").val(),
                MobileNumber: $("#MobileNumber").val(),
                AdminTypeId: $("#AdminTypeId").val(),
                Target: $("#Target").val(),
                Penalty: $("#Penalty").val(),
                Salary: $("#Salary").val(),
                Royalty: $("#Royalty").val(),
                AreaMasterId: $("#AreaMasterId").val().join(',')

            }

            $.ajax({

                type: "POST",
                url: '@Url.Action(Actions.Admin_Upsert, Controllers.ManageUser)',
                data: userdata,
                dataType: 'json',
                success: function (response) {

                        
                    if (response.Code == 200) {
                        //$('#StaffId').val(response.Item.Id)
                        
                        $('#addAdmin').modal('hide');
                        //AddAreaVsStaff(SId);
                        swal({
                            title: "Great !",
                            text: response.Message,
                            icon: "success",
                            timer: 2000
                        })
                      AdminUserDataTable.init();
                    }
                    else {
                        swal("Error !", response.Message , "error");
                    }
                    $(".saveBtn").show();
                    $(".loading").hide();
                    $(".closeBtn").show();
                    $('#addAdmin').modal('hide');

                },
                error: function (error) {
                    swal("Error!", error.Message, "error");
                    $(".saveBtn").show();
                    $(".loading").hide();
                    $(".closeBtn").show();
                }
            });
        }

        function AdminPassword() {

            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.ChangePassword, Controllers.ChangePassword)',
                data: ({ Id: $("#masteradminpasswordId").val(), OldPassword: $("#OldPassword").val(), NewPassword: $("#NewPassword").val(), ConfirmPassword: $("#ConfirmPassword").val()}),
                dataType: 'json',
                success: function (result1) {

                    if (result1.Code == 200) {
                        AdminUserDataTable.init();
                        $('#adminPasswordModel').modal('hide');
                        swal({
                            title: "Great!",
                            text: "User Password Updated Successfully!",
                            icon: "success",
                            timer: 2000
                        })
                    }
                    else {
                        swal("Error !", result1.Message, "error");
                    }
                    $(".saveBtn").show();
                    $(".loading").hide();
                    $(".closeBtn").show();
                },
                error: function (error) {
                    swal("Error!", error.Message, "error");
                    $(".saveBtn").show();
                    $(".loading").hide();
                    $(".closeBtn").show();
                }
            });
        }

        function emptyFormValues() {
            $("#masteradminId").val(0);
            $("#Name").val("");
            $("#Email").val("");
            $("#MobileNumber").val("");
        }

        function ViewAdmin(id) {
            emptyFormValues();
            var $alertas = $('#addAdmin');
            $alertas.validate().resetForm();
            $alertas.find('.error').removeClass('error');

            if (id != null && id != "") {
                $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetAdminDetails, Controllers.ManageUser)',
                data: { SMId: id },
                dataType: 'json',
                success: function (response) {
                        
                    if (response.Code == 200) {
                        if ((response.Item.AdminTypeId == 5) || (response.Item.AdminTypeId == 6) || (response.Item.AdminTypeId == 7)) {
                            if ((response.Item.AdminTypeId == 5) || (response.Item.AdminTypeId == 7)) {
                                $('#areaSec').show();
                            }
                            else {
                                $('#areaSec').hide();
                            }

                            $('#hideRoyalty').show();
                            $('#hidePenalty').show();
                            $('#hideSalary').show();
                            $('#hideTarget').show();
                        }
                        else {
                            $('#hideRoyalty').hide();
                            $('#hidePenalty').hide();
                            $('#hideSalary').hide();
                            $('#hideTarget').hide();
                        }
                       // $('#StaffId').val(response.item.Id);
                        
                        $("#Royalty").val(response.Item.Royalty);
                        $("#Penalty").val(response.Item.Penalty);
                        $("#Salary").val(response.Item.Salary);
                        $("#Target").val(response.Item.Target);
                        $("#masteradminId").val(response.Item.Id);
                        var SaId = $('#masteradminId').val();
                        $("#Name").val(response.Item.Name);
                        $("#MobileNumber").val(response.Item.MobileNumber);
                        $("#Email").val(response.Item.Email);
                        //$("#Password").val(response.Item.Password);
                        //$("#IsActive").val(response.Item.IsActive.toString());
                        $("#AdminTypeId").val(response.Item.AdminTypeId);
                        if (($("#AdminTypeId").val() == "5") || ($("#AdminTypeId").val() == "7")){
                             $("#areaSec").show();
                             if (response.Item.AreaMasterId != "" && response.Item.AreaMasterId != null) {
                                 $('#AreaMasterId').selectpicker('val', (response.Item.AreaMasterId.split(",")).map(Number));
                             }
                         }
                         else {
                             $("#areaSec").hide();
                             $("#AreaMasterId").val("");
                             $('#AreaMasterId').selectpicker('val', null);
                         }
                        var $alertas = $('#addAdmin');
                        $alertas.validate().resetForm();
                        $alertas.find('.error').removeClass('error');
                        editAreaVsStaff(SaId);
                        $('#addAdmin').modal('show');
                    } else {
                        swal("Error !", response.Message, "error");
                    }
                },
                error: function (error) {
                    swal("Error !", "Something Went Wrong", "error");
                }
            });
            }
        }

        function editAreaVsStaff(SaId) {
           
            var $alertas = $('#addAdmin');
            $alertas.validate().resetForm();
            $alertas.find('.error').removeClass('error');

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.AreaVsStaff_ById, Controllers.ManageUser)',
                data: { Id: SaId},
                dataType: 'json',
                success: function (response) {
                    if (response.Code == 200) {

                        //$("#AraId").val(response.Item.Id);
                        //AraId = $("#AraId").val();
                       // $("#AreaMasterId").val(response.Item.AreaId);
                        if (response.Item.AreaId != "" && response.Item.AreaId != null) {
                            var PagePermissionArry = [];
                            var WorkRoutevar = response.Item.AreaId.split(',');
                            $('#AreaMasterId').selectpicker('val', WorkRoutevar);
                        }
                        var $alertas = $('#addAdmin');
                        $alertas.validate().resetForm();
                        $alertas.find('.error').removeClass('error');

                      
                    } else {
                        swal("Error !", response.Message, "error");
                    }
                },
                error: function (error) {
                    swal("Error !", "Something Went Wrong", "error");
                }
            });
        }
        function Staffdata() {
            try {
                var param = {};
                param["StaffId"] = SId;
               
                return addRequestVerificationToken(param);
            } catch (e) { }
        }
        function ViewAdminPassword(id) {
            $("#NewPassword").val("");
            $("#ConfirmPassword").val("");

            var $alertas = $('#adminPasswordModel');
            $alertas.validate().resetForm();
            $alertas.find('.error').removeClass('error');

            if (id != null && id != "") {
                $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetAdminDetails, Controllers.ManageUser)',
                data: { SMId: id },
                dataType: 'json',
                success: function (response) {
                    if (response.Code == 200) {
                        $("#masteradminpasswordId").val(response.Item.Id);
                        $("#OldPassword").val(response.Item.Password);
                        $('#adminPasswordModel').modal('show');
                    } else {
                        swal("Error !", response.Message, "error");
                    }
                },
                error: function (error) {
                    swal("Error !", "Something Went Wrong", "error");
                }
            });
            }
        }

        function Showfilds() {
            if (($("#AdminTypeId").val() == 7) || ($("#AdminTypeId").val() == 5) || ($("#AdminTypeId").val() == 6) ) {
                $('#hideRoyalty').show();
                $('#hidePenalty').show();
                $('#hideSalary').show();
                $('#hideTarget').show();
            }
            else {
                $('#hideRoyalty').hide();
                $('#hidePenalty').hide();
                $('#hideSalary').hide();
                $('#hideTarget').hide();
            }
        }
    </script>
}
