﻿@using AAH.Common;
@using GinnyBuddyApp.Pages;
@using System.Web.Optimization;
@using GinnyBuddyApp.Infrastructure;
@using AAH.Entities.V1;
@model Users

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(Actions.UserDetailsEdit, Controllers.Profiles, new { Area = "" }, FormMethod.Post, new { id = "usesDetails", @class = "" }))
{
    <header id="page-topbar">
        <div class="navbar-header app-header-area p-0">
            <div class="row m-0 w-100">
                <div class="col-lg-8 col-8 d-flex align-items-center">
                    <div class="d-flex align-items-center">
                        @if (Model.FirstName != "")
                        {
                            <a href="@Url.Action("Index", "Profiles")" id="EditProfileBack" class="line-height-0">
                                <i class="dripicons-arrow-thin-left d-flex fs-20 text-dark" style="margin-right: 7px;"></i>
                            </a>
                        }
                        <h5 class="mb-0 ml-2 header-title d-flex align-items-center">Edit Profile</h5>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="main-content app-main-area">
        <div class="request-for p-3">
            <div class="p-3 br-15 card common-bx-shadow">

                @Html.HiddenFor(model => model.Id)
                <div class="row m-0">
                    <div class="col-xl-12 col-12 p-0">
                        <div class="form-group mb-2">
                            <label class="mb-1">First Name</label>
                            @Html.TextBoxFor(model => model.FirstName, new { @Type = "text", @name= "FirstName", @class = "form-control", @placeholder = "Enter First Name", @required = "required" })
                        </div>
                    </div>
                    <div class="col-xl-12 col-12 p-0">
                        <div class="form-group mb-2">
                            <label class="mb-1">Last Name</label>
                            @Html.TextBoxFor(model => model.LastName, new { @Type = "text", @name = "LastName", @class = "form-control", @placeholder = "Enter Last Name", @required = "required" })
                        </div>
                    </div>
                    <div class="col-xl-12 col-12 p-0">
                        <div class="form-group mb-2">
                            <label class="mb-1">Email</label>
                            @Html.TextBoxFor(model => model.Email, new { @Type = "text", @name = "Email", @class = "form-control", @placeholder = "Enter Email", @required = "required" })
                        </div>
                    </div>
                    <div class="col-xl-12 col-12 p-0">
                        <div class="form-group mb-2">
                            <label class="mb-1">Phone Number</label>
                            @Html.TextBoxFor(model => model.MobileNumber, new { @Type = "number", @readonly = "readonly", @class = "form-control", @placeholder = "Enter Phone Number" })
                        </div>
                    </div>
                </div>
                <div class="button-fixed">
                    <button type="submit" class="btn btn-primary w-md w-100 mt-2 submit-button">
                        <span>Update Profile</span>
                    </button>
                    <button class="btn btn-primary loader-btn w-100 waves-effect waves-light submit-button-loader" disabled type="submit" name="submit" style="display:none;">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border text-light" role="status" style="margin-right:5px;">
                                <span class="sr-only">Loading...</span>
                            </div> Updating Profile
                        </div>
                    </button>
                </div>

            </div>
        </div>
    </div>
}
    @Html.Raw(ViewBag.openPopup)
    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
    @*<script src="~/assets/js/VoiceRecord.js"></script>*@
    <script>
        $("#usesDetails").validate({
            rules: {
                FirstName: {
                    required: true
                },
                LastName: {
                    required: true
                },
                Email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                FirstName: {
                    required: "Please enter your first name",
                },
                LastName: {
                    required: "Please enter your last name",
                },
                Email: {
                    required: "Please enter your email",
                }
            },
            errorPlacement: function (error, element) {
                if (element.is(":radio")) {
                    error.appendTo(element.parents('.form-group'));
                }
                else { // This is the default behavior
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                $(".submit-button").hide();
                $(".submit-button-loader").show();
                form.submit();
            }
        },
        submitHandler: function (form) {
            $(".submit-button-loader").show();
            $(".submit-button").hide();
            form.submit();
        }
    });
</script>
