﻿@using AAH.Common;
@using AAHAdmin.Pages;
@using AAHAdmin.Infrastructure;
@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }
</style>



<div class="content Container-fluid">
    <div class="col-md-6 offset-md-3">
        <span class="anchor" id="formChangePassword"></span>
        <hr class="mb-5">

        <!-- form card change password -->
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0">Change Password</h3>
            </div>
            <div class="card-body">
                <form class="form" id="ChangePasswordForm" name="ChangePasswordForm">
                    <div class="form-group">
                        <label for="OldPassword">Current Password</label>
                        <input type="password" class="form-control" name="OldPassword" id="OldPassword" placeholder="Enter Current password">
                    </div>
                    <div class="form-group">
                        <label for="NewPassword">New Password</label>
                        <input type="password" class="form-control" id="NewPassword" name="NewPassword" placeholder="Enter New Password">
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="Enter Confirm Password">
                    </div>
                    <div class="form-group">
                        <a href="@Url.Action(Actions.Index,Controllers.Home,new { Area = ""})" class="btn btn-secondary float-right closeBtn" id="userClose">Cancel</a>
                        <button type="submit" id="userSave" class="btn btn-secondary float-right saveBtn mr-1" style="background-color: #71984a;">Save</button>
                        <button class="btn Gbutton float-right loading" type="button" disabled style="display:none;float:right;">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Saving...
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /form card change password -->
    </div>
</div>

@section Scripts {
    <script>

        $('#passwordCheckbox').change(function () {
            if ($(this).is(':checked')) {
                $('input[type="password"]').prop('type', 'text');

            } else {
                $('#OldPassword').prop('type', 'password');
                $('#NewPassword').prop('type', 'password');
                $('#ConfirmPassword').prop('type', 'password');
            }
        });


        $(function () {
            $("form[name='ChangePasswordForm']").validate({
                rules: {
                    OldPassword: {
                        required: true,
                    },
                    NewPassword: {
                        required: true,
                    },
                    ConfirmPassword: {
                        required: true,
                    }
                },
                // Specify validation error messages
                messages: {
                    OldPassword: {
                        required: "Current Password is required",
                    },
                    NewPassword: {
                        required: "New Password is required",
                    },
                    ConfirmPassword: {
                        required: "Confirm Password is required",
                    },
                },
                submitHandler: function (form) {
                    Adituser();
                }
            });
        });


    function Adituser() {
        $("#userSave").hide();
        $("#userClose").hide();
        $(".loading").show();

        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.ChangePassword, Controllers.ChangePassword)',
            data: ({ Id: '@ProjectSession.AdminId', OldPassword: $("#OldPassword").val(), NewPassword: $("#NewPassword").val(), ConfirmPassword: $("#ConfirmPassword").val() }),
            dataType: 'json',
            success: function (result1) {

                if (result1.Code == 200) {
                    swal("Great!", "Details Saved !", "success");
                    var millisecondsToWait = 500;
                    setTimeout(function () {
                        window.location.href= '@Url.Action(Actions.Signout, Controllers.Authentication)';
                    }, millisecondsToWait);
                } else if (result1.Code == 403) {
                    swal("Error !",result1.Message, "error");
                    $(".loading").hide();
                    $("#userSave").show();
                    $("#userClose").show();
                }
                else {
                    swal("Error !", result1.Message, "error");
                    $(".loading").hide();
                    $("#userSave").show();
                    $("#userClose").show();
                }
            },
            error: function (error) {
                $(".loading").hide();
                $("#userSave").show();
                $("#userClose").show();

                //show close button
            }
        });
    }

    </script>
}