﻿@using AAH.Common;
@using GinnyBuddyApp.Pages;
@using System.Web.Optimization;
@using GinnyBuddyApp.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Vendor Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
<style>
</style>

<div class="main-content app-main-area" id="hideMainArea">
    <header id="page-topbar">
        <div class="navbar-header app-header-area p-0">
            <div class="row m-0">
                <div class="col-lg-12 col-12">
                    <a href="javascript:void(0)">
                        <h5 class="mb-0 ml-2 header-title d-flex align-items-center">Vendor Profile</h5>
                    </a>
                    @*<div id="information"></div>*@
                </div>
            </div>
        </div>
    </header>
    <div class="vendor-profile card p-2 m-2 mb-5">
        <form action="" method="post" id="CreateVendorProfile" novalidate="novalidate">
            <input type="hidden" name="VendorScheduleTime" id="VendorScheduleTime" value="" />
            <div class="mb-3">
                <label class="form-label">Vendor Name</label>
                <input type="text" class="form-control" id="VendorName" name="VendorName" placeholder="Enter Vendor Name">
            </div>
            <div class="mb-3">
                <label class="form-label">Cabin Name</label>
                <input type="text" class="form-control" id="CabinName" name="CabinName" placeholder="Enter Cabin Name">
            </div>
            @*<div class="row m-0">
                    <div class="mb-3 col-lg-6 col-6 p-0">
                        <label class="form-label">Vendor Camera</label>
                        <input type="text" class="form-control" id="VendorName" name="VendorName" placeholder="Enter Vendor Name">
                    </div>
                    <div class="mb-3 col-lg-6 col-6 p-0">
                        <label class="form-label">Cabin Camera</label>
                        <input type="text" class="form-control" id="VendorName" name="VendorName" placeholder="Enter Vendor Name">
                    </div>
                </div>*@
            <div class="mb-3">
                <label class="form-label">Primary Phone Number</label>
                <input type="text" class="form-control" id="PrimaryPhonenumber" name="PrimaryPhonenumber" placeholder="Enter Primary Phone Number">
            </div>
            <div class="mb-3">
                <label class="form-label">Alternate Phone Number</label>
                <input type="text" class="form-control" id="AlternatePhonenumber" name="AlternatePhonenumber" placeholder="Enter Alternate Phone Number">
            </div>
            <div class="mb-3">
                <label class="form-label">Location</label>
                <input type="text" class="form-control" onFocus="initializeAutocomplete()"  id="Location" name="Location" placeholder="Enter Location">
                <input type="hidden" class="form-control" id="LocationLat" name="LocationLat">
                <input type="hidden" class="form-control" id="LocationLong" name="LocationLong">
            </div>
            <div class="mb-3 row m-0">
                <div class="col-6 p-1">
                    <button type="button" class="btn btn-info w-100" onclick="selectItems();">Select Items</button>
                </div>
                <div class="col-6 p-1">
                    <button type="button" class="btn btn-info w-100" onclick="selectTimings();">Select Timings</button>
                </div>
            </div>

            <div class="button-fixed">
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
        </form>
    </div>
</div>


<!-- Items modal content -->
<div id="itemModal" class="modal fade" tabindex="-1" aria-labelledby="itemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <header style="border-bottom: 1px solid #e9e9ef;">
                <div class="navbar-header app-header-area p-0">
                    <div class="row m-0">
                        <div class="col-lg-12 col-12">
                            <a href="javascript:void(0)">
                                <h5 class="mb-0 ml-2 header-title d-flex align-items-center">Select Items</h5>
                            </a>

                        </div>
                    </div>
                </div>
            </header>
            <div class="modal-body">
                <div class="items-details">
                    <div class="row m-0" id="ProductItem">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Timings modal content -->
<div id="timingsModal" class="modal fade" tabindex="-1" aria-labelledby="timingsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <header style="border-bottom: 1px solid #e9e9ef;">
                <div class="navbar-header app-header-area p-0">
                    <div class="row m-0">
                        <div class="col-lg-12 col-12">
                            <a href="javascript:void(0)">
                                <h5 class="mb-0 ml-2 header-title d-flex align-items-center">Select Timings</h5>
                            </a>

                        </div>
                    </div>
                </div>
            </header>
            <div class="modal-body p-2">
                <div class="table-responsive">
                    <form id="vendorTimings" method="post">
                        <table class="table table-bordered border-primary mb-0">
                            <thead>
                                <tr>
                                    <th style="font-weight:600;">Day</th>
                                    <th style="font-weight:600;">Start</th>
                                    <th style="font-weight:600;">End</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="p-1">
                                        Monday
                                        <input type="hidden" name="Day_1" id="Day_1" value="Monday" />
                                    </td>
                                    <td class="p-1">
                                        <input type="time" class="form-control p-1" name="StartTime_1" id="StartTime_1" value="" />
                                    </td>
                                    <td class="p-1">
                                        <input type="time" class="form-control p-1" name="EndTime_1" id="EndTime_1" value="" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-1">
                                        Tuesday
                                        <input type="hidden" name="Day_2" id="Day_2" value="Tuesday" />
                                    </td>
                                    <td class="p-1">
                                        <input type="time" class="form-control p-1" name="StartTime_2" id="StartTime_2" value="" />
                                    </td>
                                    <td class="p-1">
                                        <input type="time" class="form-control p-1" name="EndTime_2" id="EndTime_2" value="" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-1">
                                        Wednesday
                                        <input type="hidden" name="Day_3" id="Day_3" value="Wednesday" />
                                    </td>
                                    <td class="p-1">
                                        <input type="time" class="form-control p-1" name="StartTime_3" id="StartTime_3" value="" />
                                    </td>
                                    <td class="p-1">
                                        <input type="time" class="form-control p-1" name="EndTime_3" id="EndTime_3" value="" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-1">
                                        Thursday
                                        <input type="hidden" name="Day_4" id="Day_4" value="Thursday" />
                                    </td>
                                    <td class="p-1">
                                        <input type="time" class="form-control p-1" name="StartTime_4" id="StartTime_4" value="" />
                                    </td>
                                    <td class="p-1">
                                        <input type="time" class="form-control p-1" name="EndTime_4" id="EndTime_4" value="" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-1">
                                        Friday
                                        <input type="hidden" name="Day_5" id="Day_5" value="Friday" />
                                    </td>
                                    <td class="p-1">
                                        <input type="time" class="form-control p-1" name="StartTime_5" id="StartTime_5" value="" />
                                    </td>
                                    <td class="p-1">
                                        <input type="time" class="form-control p-1" name="EndTime_5" id="EndTime_5" value="" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-1">
                                        Saturday
                                        <input type="hidden" name="Day_6" id="Day_6" value="Saturday" />
                                    </td>
                                    <td class="p-1">
                                        <input type="time" class="form-control p-1" name="StartTime_6" id="StartTime_6" value="" />
                                    </td>
                                    <td class="p-1">
                                        <input type="time" class="form-control p-1" name="EndTime_6" id="EndTime_6" value="" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-1">
                                        Sunday
                                        <input type="hidden" name="Day_7" id="Day_7" value="Sunday" />
                                    </td>
                                    <td class="p-1">
                                        <input type="time" class="form-control p-1" name="StartTime_7" id="StartTime_7" value="" />
                                    </td>
                                    <td class="p-1">
                                        <input type="time" class="form-control p-1" name="EndTime_7" id="EndTime_7" value="" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABofRnRkpT_4m344ZOsyRnT90uSGF5H6A&amp;libraries=places"></script>
<script src="~/assets/js/AutoLocation.js"></script>

<script>
    $(document).ready(function ($) {

        ManageItems();

        googleAutocomplete.autocompleteField("Location");

        $("#CreateVendorProfile").validate({
            rules: {
                VendorName: "required",
                CabinName: "required",
                Location: "required",
                PrimaryPhonenumber: {
                    required: true,
                    number: true
                },
                AlternatePhonenumber: {
                    required: true,
                    number: true
                }
            },
            messages: {
                VendorName: {
                    required: "Vendor Name is required",
                },
                CabinName: {
                    required: "Cabin Name is required",
                },
                Location: {
                    required: "Location is required",
                },
                PrimaryPhonenumber: {
                    required: "Primary Phonenumber is required",
                },
                AlternatePhonenumber: {
                }
            },
            errorPlacement: function (error, element) {
                if (element.is(":radio")) {
                    error.appendTo(element.parents('.form-group'));
                }
                else { // This is the default behavior
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                DayTimingsData();

                CreateVendorProfileDetails();
            }

        });
    });
    function selectItems() {
        $("#itemModal").modal("show");
    }

    function selectTimings() {
        $("#timingsModal").modal("show");
    }




    var AllItems = [];
     function ManageItems() {
        $.ajax({
            type: "get",
            url: '@Url.Action(Actions.ManageItems, Controllers.ChaiNasta)',
            dataType: 'json',
            success: function (response) {
                console.log("response", response);

                if (response.Values != null) {
                    for (var i = 0; i < response.Values.length; i++) {

                        AllItems.push(response.Values[i]);

                        $("#ProductItem").append(`<div class="col-lg-12 p-0">
                            <input type="checkbox" name="choose_items" class="d-none choose-item" onclick="SelectedItem(this,${response.Values[i].Id});" id="choose_items_${i}" value="" />
                            <label class="mb-0 d-flex align-items-center justify-content-between mb-2  choose-label" for="choose_items_${i}">
                                <label class="mb-0 d-flex align-items-center">
                                    <label class="mb-0 items-image">
                                        <img src="http://localhost:60609/${response.Values[i].ImageUrl}" alt="Item">
                                    </label>
                                    <label class="item-description mb-0">
                                        <p class="mb-0">${response.Values[i].Name}</p>
                                        <span>Dish</span>
                                    </label>

                                </label>
                                <i class="dripicons-checkmark fs-20 text-success"></i>
                            </label>
                        </div>`)
                    }
                }
            },
            error: function (error) {
                console.log('error', error);
            }
        })
    }

    var selectedItems = [];
    var selectedItemsId = [];
    function SelectedItem(checkbox, itemId) {
        
        if (checkbox.checked == true) {
            selectedItemsId.push(itemId);
        } else {
            for (i = 0; i < selectedItemsId.length; i++) {
                if (selectedItemsId[i] == itemId) {
                    selectedItemsId.splice(i, 1);
                }
            }
        }
    }

    function CreateVendorProfileDetails() {

        for (var i = 0; i < AllItems.length; i++) {
            for (var r = 0; r < selectedItemsId.length; r++) {
                if (AllItems[i].Id == selectedItemsId[r]) {
                    selectedItems.push(AllItems[i]);
                }
            }
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.VendorProfileDetails, Controllers.ChaiNasta)',
            data: ({
                Id: 0,
                VendorName: $("#VendorName").val(),
                CabinName: $("#CabinName").val(),
                PrimaryPhoneNumber: $("#PrimaryPhonenumber").val(),
                AlternatePhoneNumber: $("#AlternatePhonenumber").val(),
                CameraPhoto: "https://images.pexels.com/photos/13125805/pexels-photo-13125805.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
                Location: $("#Location").val(),
                CabinImage: "https://images.pexels.com/photos/13125805/pexels-photo-13125805.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
                Items: JSON.stringify(selectedItems),
                Timings: $("#VendorScheduleTime").val(),
                Lat: $("#LocationLat").val(),
                Long: $("#LocationLat").val(),
            }),
            dataType: 'json',
            success: function (response) {
                console.log("response", response)

                if (response.Code == 200) {
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: response.Message,
                        showConfirmButton: false,
                        timer: 2000
                    });
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                } else {
                    Swal.fire({
                        position: "center",
                        icon: "error",
                        title: response.Message,
                        showConfirmButton: false,
                        timer: 2000
                    });
                }

            },
            error: function (error) {
                console.log('error', error);
            }
        })
    }

    function DayTimingsData() {
        var CountData = 7;
        var VendorShopTimings = [];
        for (var i = 0; i < CountData; i++) {
            var index = i + 1;
            var obj = {
                Day: $("#Day_" + index).val(),
                StartTime: $("#StartTime_" + index).val(),
                EndTime: $("#EndTime_" + index).val(),
            }
            VendorShopTimings.push(obj);
        }
        $("#VendorScheduleTime").val(JSON.stringify(VendorShopTimings));
    }

</script>