﻿@using AAH.Common;
@using AAHAdmin.Pages;
@using System.Web.Optimization;
@using AAHAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Sub Sub Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #0069D9;
        color: white;
    }

    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .text-c-dark {
        color: #000;
    }

    .device-active .active .card {
        background: #157aec;
        cursor: pointer;
    }

    .device-active .active .text-c-dark {
        color: #fff !important;
    }

        .device-active .active .text-c-dark .icon {
            background-color: #0069D9;
            border: none;
        }

    .icon-box {
        background: #eff1f4;
    }

        .icon-box:hover {
            background: #0e67cc !important;
        }

    .btn-primary {
        color: #fff !important;
        background-color: #0596F8 !important;
        border-color: #0596F8 !important;
        box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%) !important;
    }

    div.dt-buttons {
        float: right !important;
    }
</style>


<div class="content container-fluid">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li><a onclick="BackToSM();" style="cursor: pointer;"><h6 style="color: #0596F8;" id="BreadCrumDEName"></h6></a></li>&nbsp;
                    <li><a onclick="BackToSSM();" style="cursor: pointer;"><h6 style="color: #0596F8;" id="BreadCrumDEName1"></h6></a></li>
                    <li><h6 class="ml-1">Sub Sub Services</h6></li>
                </ol>
            </nav>
            <hr />
        </div>
    </div>


    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">
            @Html.AntiForgeryToken()
            <div class="portlet-body table-responsive" id="divUserNotificationsTable">
                <table class="table table-striped table-bUsersed table-hover" id="UserNotificationsTable"></table>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="addSubSubServiceMaster" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="mastersubsubserviceid" name="mastersubsubserviceid" />
                <h6 class="title" id="defaultModalLabel">Manage Sub Sub Service</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="ManageSubSubServiceForm" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="screenImage">Sub Sub Service Image:</label>
                                <img id="ImageView" style="width: 30% !important" height="70px" class="form-control-file" />
                                <input type="file" onchange="readURL(this);" class="form-control-file mt-2" id="ServiceIcon" name="ServiceIcon" accept="image/*">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Sub Sub Service Name</label>
                                <input type="text" class="form-control" name="mastersubsubservicename" id="mastersubsubservicename" placeholder="Enter Here...">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Description</label>
                                <input type="text" class="form-control" name="mastersubsubservicedescription" id="mastersubsubservicedescription" placeholder="Enter Here...">
                            </div>
                        </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button id="btnSearch" type="submit" class="btn btn-primary saveBtn">Save</button>
                    <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Saving...
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-secondary closeBtn">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>





@section Scripts {
    <script>

        var ServiceId = "MA==";

        function readURL(input) {
            $('#ImageView').show();
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#ImageView').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
                if ($('#ServiceIcon').hasClass('error')) {
                    $('#ServiceIcon').addClass('valid');
                    $('#ServiceIcon').removeClass('error');
                }
                $('#ServiceIcon-error').attr("style", "display:none");
            }
        }

        $(document).ready(() => {
            SMDetails();
            SSMDetails();
            SubSubServiceMasterDataTable.init();

            $("#ManageSubSubServiceForm").validate({
                rules: {
                    ServiceIcon: {
                        required: function (element) {
                            if (parseInt(atob(ServiceId)) > 0) {
                                return false;
                            } else {
                                return true;
                            }
                        }
                    },
                    mastersubsubservicename: "required"
                },
                messages: {
                    mastersubsubservicename: {
                        required: "Please enter Sub Sub service name",
                    },
                    ServiceIcon: {
                        required: "Please choose Icon",
                    }
                },

                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents(".form-group"));
                    } else {
                        // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                
                    AddSubSubServiceMaster();
                }
            });
        });

        function BackToSM() {
            window.location.href = '@Url.Action("ServiceMaster", "MasterService")';
        }

        function SMDetails() {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetServiceMasterDetails, Controllers.MasterService)',
                data: { SMId: btoa('@ViewBag.serviceMasterId') },
                dataType: 'json',
                success: function (response) {
                    if (response.Code == 200) {
                        if (response.Item != null && response.Item != undefined) {
                            $("#BreadCrumDEName").text(response.Item.ServiceName + ' > ');
                        }

                    }
                },
                error: function (error) {
                    console.log('error', error);
                }
            })
        }

        function BackToSSM() {
            var screenBaseurl = '@Url.Action("SubServiceMaster", "MasterService")';
            window.location.href = screenBaseurl + '?SMID=' + btoa('@ViewBag.serviceMasterId');
        }

        function emptyFormValues() {
            $("#mastersubsubserviceid").val(0);
            $("#mastersubsubservicename").val('');
            $("#mastersubsubservicedescription").val('')
            $("#ServiceIcon").val('');
            document.getElementById("ImageView").src = '';
        }

        function SSMDetails() {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetSubServiceMasterDetails, Controllers.MasterService)',
                data: { SSMId: btoa('@ViewBag.subserviceMasterId') },
                dataType: 'json',
                success: function (response) {
                    if (response.Code == 200) {
                        if (response.Item != null && response.Item != undefined) {
                            $("#BreadCrumDEName1").text(response.Item.SubServiceName + ' >' + ' ');
                        }
                    }
                },
                error: function (error) {
                    console.log('error', error);
                }
            })
        }


        var SubSubServiceMasterDataTable = function () {

        let initTable1 = function () {
            let table = $('#UserNotificationsTable');

        let oTable = table.dataTable({
            "stateSave": true,
            "autoWidth": false,
            "paging": true,
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            "ajax": {
                async: true,
                url: '@Url.Action(Actions.SubSubServiceMaster_BySubServiceId, Controllers.MasterService)',
                type: "post",
                data: BuildSearchCriteria1(),
            },
            "columns": [
                {
                    "title": "Sub Service Name", "data": "SubSubServiceName",
                    "render": function (data, type, row) {
                        let htmlData = "";
                        htmlData = `<p class="mb-0">${row["SubSubServiceName"]}</p>`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Description", "data": "Description",
                    "render": function (data, type, row) {
                        let htmlData = "";
                        htmlData = `<p class="mb-0">${row["Description"]}</p>`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Icon", "data": "IconStr",
                    "render": function (data, type, row) {
                        let htmlData = "";

                        htmlData = `<img title="Icon" style="cursor:pointer;" onclick=redirectToNewTab('${row["IconStr"]}') src="${row["IconStr"]}" height="50px">`;

                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
                {
                    "title": "Action", "data": "Id",
                    "render": function (data, type, row) {
                        let htmlData = "";
                        htmlData += `<a class="btn btn-sm btn-outline-secondary mr-2" title="Edit Sub Sub Service Master" onclick="ViewSubSubServiceMaster('${btoa(row["Id"])}');"><i class="fa fa-edit"></i></a>`;
                        return htmlData;
                    }
                    , "orderable": false, "width": "3%"
                },
            ],
            // setup buttons extentension: http://datatables.net/extensions/buttons/
            "buttons": [
                {
                    text: 'Add Sub Sub Service',
                    className: 'btn btn-primary mb-3 mt-1',
                    action: function (e, dt, node, config) {
                        AddSubSubServiceMasterPopUp();
                    }
                },
           // { extend: 'excel', className: 'them-btn' },
            ],

            // setup responsive extension: http://datatables.net/extensions/responsive/
            responsive: true,

            "lengthMenu": [
                [5, 10, 15, 20, 1000],
                [5, 10, 15, 20, 1000] // change per page values here
            ],
            // set the initial value

            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
            });
        }

        return {
        //main function to initiate the module
            init: function () {
                if ($.fn.DataTable.isDataTable("#UserNotificationsTable")) {
                    $('#UserNotificationsTable').dataTable().fnDestroy();
                    $('#divUserNotificationsTable').html('<table class="table table-striped" width="100%" id="UserNotificationsTable"></table>');
                }
                initTable1();
            }
        };
        }();
        function AddSubSubServiceMasterPopUp() {
            var $alertas = $('#addSubSubServiceMaster');
            $alertas.validate().resetForm();
            $alertas.find('.error').removeClass('error');

            ServiceId = "MA==";
            emptyFormValues();
            $("#ImageView").hide();
            $('#addSubSubServiceMaster').modal('show');
        }
        function ViewUserNotifications(id) {
            window.location.href = "SubSubServiceMaster?SSMId=" + id;
        }
        //Data fillter function
        function BuildSearchCriteria1() {
            try {
                var param = {};
                param["SubServiceMasterId"] = '@ViewBag.subserviceMasterId';

                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        function AddSubSubServiceMaster() {
            var formData = new FormData();
            var file = document.getElementById("ServiceIcon").files[0];

            var path = $("#ImageView").attr('src');
            if (path.split(location.origin).length > 0) {
                formData.append("Icon", path.split(location.origin)[1]);
            }

            formData.append("Id", parseInt($("#mastersubsubserviceid").val()));
            formData.append("SubServiceMasterId", '@ViewBag.subserviceMasterId');
            formData.append("SubSubServiceName", $("#mastersubsubservicename").val());
            formData.append("Description", $("#mastersubsubservicedescription").val());
            formData.append("Link", "");
            formData.append("SubServiceName", "");
            formData.append("uploadFile", file);

                $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.SubSubServiceMasterUpsert, Controllers.MasterService)',
                dataType: 'json',
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    if (response.Code == 200) {
                        swal("Great!", response.Message, "success");
                        $('#addSubServiceMaster').modal('hide');

                    }
                    else {
                        swal("Error !", response.Message , "error");
                    }


                    $('#mastersubsubserviceid').val(0)
                    $('#mastersubsubservicename').val('')
                    $('#mastersubsubservicedescription').val('')

                    $('#addSubSubServiceMaster').modal('hide');
                    SubSubServiceMasterDataTable.init();
                },
                error: function (error) {
                    swal("Error!", error.Message, "error");
                }
            });
        }
        function ViewSubSubServiceMaster(id) {
            var $alertas = $('#addSubSubServiceMaster');
            $alertas.validate().resetForm();
            $alertas.find('.error').removeClass('error');

            $("#ImageView").show();
            $('#addSubSubServiceMaster').modal('show');
            ServiceId = id;
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetSubSubServiceMasterDetails, Controllers.MasterService)',
                data: { SSSMId: id},
                dataType: 'json',
                success: function (response) {
                   
                    $('#mastersubsubserviceid').val(response.Item.Id);
                    $('#mastersubsubservicename').val(response.Item.SubSubServiceName);
                    $('#mastersubsubservicedescription').val(response.Item.Description);
                    document.getElementById("ImageView").src = response.Item.IconStr;
                },
                error: function (error) {

                }
            });
        }

        function redirectToNewTab(link) {
            window.open(link, "_blank");
        }
    </script>
}