﻿@using AAH.Common;
@using ChaiNastaVendor.Pages;
@using System.Web.Optimization;
@using ChaiNastaVendor.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "My Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    
    .generate-new {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .generate-new p {
            font-size: 16px;
            font-weight: 600;
            color: #000;
        }

        .generate-new span {
            font-size: 16px;
            font-weight: 600;
            color: #3ba3ff;
        }

    .request-card {
        background: #e6f2fe;
    }

    .generate-details {
        line-height: 1;
    }

        .generate-details p {
            font-size: 16px;
            color: #a1a9b1;
        }

        .generate-details span {
            font-size: 16px;
            font-weight: 600;
            color: #000;
        }
</style>
<div class="main-content app-main-area mb-5">
    <div class="content container-fluid mt-4">
       
        <div class="row">
            <div class="col-12">
                <div style="float: right;">
                    <a class="btn btn-primary" href="@Url.Action(Actions.Index, Controllers.AddItems)">Add Items</a>

                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Item Name</label>
            <input type="text" class="form-control" id="ItemName" name="ItemName" placeholder="Search Item Here">
        </div>
    <div class="mt-4" id="myItemsData">

    </div>
    </div>
</div>

<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>

<script>
    var urlClient = '@System.Configuration.ConfigurationManager.AppSettings["AdminUrl"]';

    $(document).ready(function ($) {
        ManageItems();
    });
    $("#ItemName").keyup(function () {
        ManageItems()
    });
    //$("#ItemName").keyup(function () {
    //    ManageItems()
    //});
    function ManageItems() {
        var search = $("#ItemName").val();
        $.ajax({
            type: "GET",
            url: '@Url.Action(Actions.MyItems, Controllers.Dashboard)',
            data: ({ Search: search }),
            dataType: 'json',
            success: function (response) {
                console.log("response", response);
                if (response.Values != null) {
                    var htmlData = "";
                    if (response.Values.length > 0) {
                        for (var i = 0; i < response.Values.length; i++) {
                            htmlData += '<div class="card request-card p-2 mb-2" style="box-shadow: 0px 0px 2px 0px #00000024; ">';
                            htmlData += '<div class="generate-details row m-0 mt-2">';
                            htmlData += '<div class="col-lg-8 col-8 p-0">';
                            htmlData += '<label class="mb-0 items-image">';
                            htmlData += `<img class="img-round" src="${urlClient + "/" + response.Values[i].ItemImageUrl}" alt="Item">`;
                            htmlData += '</label>';
                            htmlData += '<label class="item-description ml-3 mb-0">';
                            htmlData += '<span class="mb-0">' + response.Values[i].ItemName + '</span>';
                            htmlData += '</label>';
                            htmlData += '</div>';
                            if (response.Values[i].IsActive == 1) {
                                htmlData += '<div class="col-lg-2 col-2 p-0">';
                                htmlData += '<button class="btn btn-sm btn-outline-success mt-2" onclick = "InactiveMessage(' + response.Values[i].Id + ');" > <i class="fa fa-check"></i></button>';
                                htmlData += '</div>'
                            }
                            else {
                                htmlData += '<div class="col-lg-2 col-2 p-0">';
                                htmlData += '<button class="btn btn-sm btn-outline-warning mt-2" onclick = "ActiveMessage(' + response.Values[i].Id + ');" > <i class="fa fa-exclamation-circle"></i></button>';
                                htmlData += '</div>'
                            }


                           htmlData += '<div class="col-lg-2 col-2 p-0">';
                            htmlData += '<button title = "Delete Item" class="btn btn-sm btn-outline-danger mt-2" onclick = "DeleteVendorItem(' + response.Values[i].Id + ');" > <i class="fa fa-trash"></i></button>';
                            htmlData += '</div>'
                            htmlData += '</div>';
                            htmlData += '</div>';
                        }
                    } else {
                        htmlData += '<div class="card request-card p-2 mb-2" style="box-shadow: 0px 0px 2px 0px #00000024; ">';

                        htmlData += '<h5 class="text-center">No Record Found</h5>';
                        htmlData += '</div>';

                    }
                    $("#myItemsData").html(htmlData);
                }
            },
            error: function (error) {
                console.log('error', error);
            }
        })
    }

    // Vendors Item Delete
    function DeleteVendorItem(id)
    {
        
        Swal.fire({
            title: "Are you sure you will be deleting this item ?",
            text: "",
            icon: "warning",
            confirmButtonColor: "#2ab57d",
            cancelButtonColor: "#fd625e",
            showCancelButton: !0,
            confirmButtonText: "Yes"
        }).then(
            function (result) {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "post",
                        url: '@Url.Action(Actions.VendorsVsItems_Delete, Controllers.Dashboard)',
                        data: { Id: id, DeletedBy:@ProjectSession.AdminId },
                        dataType: 'json',
                        success: function (response) {
                            if (response.Code == 200) {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: response.Message,
                                    showConfirmButton: false,
                                    timer: 2000
                                });
                                window.location.reload();
                            }
                        },
                        error: function (error) {
                            console.log('error', error);
                        }
                    });
                }
            }
        );
    }
    function ActiveMessage(id) {
            Swal.fire({
                title: "Are you sure you will be activating this item ?",
            text: "",
            icon: "warning",
            confirmButtonColor: "#2ab57d",
            cancelButtonColor: "#fd625e",
            showCancelButton: !0,
            confirmButtonText: "Yes"
        }).then(
            function (result) {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "post",
                        url: '@Url.Action(Actions.VendorsVsItems_ActInAct, Controllers.Dashboard)',
                        data: { Id: id },
                        dataType: 'json',
                        success: function (response) {
                            if (response.Code == 200) {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: response.Message,
                                    showConfirmButton: false,
                                    timer: 2000
                                });
                                window.location.reload();
                            }
                        },
                        error: function (error) {
                            console.log('error', error);
                        }
                    });
                }
            }
        );
        }
        function InactiveMessage(id) {
            Swal.fire({
                title: "Are you sure you will be in-activating this item ?",
            text: "",
            icon: "warning",
            confirmButtonColor: "#2ab57d",
            cancelButtonColor: "#fd625e",
            showCancelButton: !0,
            confirmButtonText: "Yes"
        }).then(
            function (result) {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "post",
                        url: '@Url.Action(Actions.VendorsVsItems_ActInAct, Controllers.Dashboard)',
                        data: { Id: id },
                        dataType: 'json',
                        success: function (response) {
                            if (response.Code == 200) {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: response.Message,
                                    showConfirmButton: false,
                                    timer: 2000
                                });
                                window.location.reload();
                            }
                        },
                        error: function (error) {
                            console.log('error', error);
                        }
                    });
                }
            }
        );
        }

        @*function UpdateStatus(id)
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.VendorsVsItems_ActInAct, Controllers.Dashboard)',
                data: { Id: id },
                dataType: 'json',
                success: function (response) {
                    CustomerDataTable.init();
                    if (response.Code == 200) {
                        swal({
                            title: "Success",
                            text: response.Message,
                            icon: "success",
                            timer: 2000
                        })
                    } else {
                        swal({
                            title: "Warning",
                            text: response.Message,
                            icon: "warning"
                        })
                    }
                },
                error: function (error) {

                }
            });
            }*@
</script>