﻿@using AAH.Common;
@using ChaiNastaVendor.Pages;

@{
    var curController = Convert.ToString(ViewContext.RouteData.Values["Controller"]);
    var curAction = Convert.ToString(ViewContext.RouteData.Values["Action"]);
}

<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <title>GinnyBuddy | @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/flatly/bootstrap.min.css">
    <!-- Styling for page -->
    <link rel="stylesheet" href="~/assets/css/app.css">
    <!-- Bootstrap Side Drawer CSS -->
    <link rel="stylesheet" href="~/assets/css/side-drawer.css">
    <link href="~/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/preloader.min.css" type="text/css" />
    <link href="~/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/toastr.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;0,900;1,200;1,300;1,400;1,600;1,800;1,900&display=swap" rel="stylesheet">
    <style>
        .loader-area {
            display: none;
            position: absolute;
            z-index: 9999;
            background: #5156be;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        /*#globalLoader{
            height:100vh;
        }*/
        .spinner-border {
            display: inline-block;
            width: 1.3rem;
            height: 1.3rem;
            vertical-align: -0.125em;
            border: 0.2em solid currentColor;
            border-right-color: transparent;
            border-radius: 50%;
            -webkit-animation: .75s linear infinite spinner-border;
            animation: .75s linear infinite spinner-border;
        }

        .loader-btn {
            display: flex;
            align-content: center;
            justify-content: center;
        }

        .loader-area img {
            width: 125px;
            display: flex;
            justify-content: center;
            height: 100vh;
            align-items: center;
            margin: 0 auto;
        }

        .swal2-container .swal2-title {
            font-size: 16px !important;
            font-weight: 500;
        }

        .error {
            color: red;
            font-size: 13px;
        }

        .button-fixed {
            position: fixed;
            bottom: 7px;
            left: 7px;
            right: 7px;
        }

        /*slick carousel*/
        .slider {
            width: auto;
            margin: 30px 50px 50px;
        }

            .slider .slick-slide {
                background: #292e3e;
                color: white;
                padding: 40px 0;
                font-size: 30px;
                text-align: center;
            }

            .slider .slick-prev:before, .slider .slick-next:before {
                color: #292e3e;
            }

            .slider .slick-dots {
                bottom: -30px;
            }

            .slider .slick-slide:nth-child(odd) {
                background: #57c09f;
            }

        .slick-dots {
            position: relative;
            bottom: 0;
            margin: 0;
            margin-bottom: 0;
        }

            .slick-dots li button:before {
                line-height: 0;
                height: 0;
            }

            .slick-dots li {
                height: 0;
                width: 10px;
            }

        .round-img-profile {
            height: 70px;
            width: 70px;
            border-radius: 50%;
        }

        #side-drawer {
            height: 100vh;
            width: 80%;
            top: 0;
            box-shadow: 3px 0px 8px #00000017;
            left: -100%;
            z-index: 1032;
            transition: left 0.25s ease;
        }

        #side-drawer-void {
            height: 100%;
            width: 100%;
            top: 0;
            z-index: 1031; /*z-index of standard bootstrap navbar is 1030*/
            background: rgb(0 0 0 / 10%);
        }

        .input-h-45 {
            height: 45px !important;
        }

        /* Side bar */
        .sidebar {
            background: #fbfaff;
            height: 100vh;
        }

        .font-8rem {
            font-size: .8rem !important;
        }

        .font-17px {
            font-size: 17px !important;
        }

        #sidebar-menu ul li .active {
            background: #5156be;
        }

            #sidebar-menu ul li .active, #sidebar-menu ul li .active i {
                color: #fff !important;
            }

        .close-sidebar {
            top: 10px;
            position: absolute;
            right: 10px;
        }


        .switch {
            --inactive-bg: #cfd8dc;
            --active-bg: #00e676;
            --size: 1rem;
            appearance: none;
            width: calc(var(--size) * 2.2);
            height: var(--size);
            display: inline-block;
            border-radius: calc(var(--size) / 2);
            cursor: pointer;
            background-color: var(--inactive-bg);
            background-image: radial-gradient( circle calc(var(--size) / 2.1), #fff 100%, #0000 0 ), radial-gradient(circle calc(var(--size) / 1.5), #0003 0%, #0000 100%);
            background-repeat: no-repeat;
            background-position: calc(var(--size) / -1.75) 0;
            transition: background 0.2s ease-out;
        }

            .switch:checked {
                background-color: var(--active-bg);
                background-position: calc(var(--size) / 1.75) 0;
            }

        .img-round {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50px;
        }

        .choose-item:checked ~ .choose-label {
            background-color: #349cff21;
            border: 1px solid #349cff;
            color: #000;
            padding: 5px;
            border-radius: 10px;
        }

            .choose-item:checked ~ .choose-label i {
                display: block;
            }
    </style>
</head>

<body>
    <div class="loader-area" id="globalLoader">
        <img src="~/assets/images/Ginni_logo.svg" alt="Alternate Text" />
    </div>
    <header id="page-topbar">
        <div class="navbar-header app-header-area p-0">
            <div class="row m-0 w-100 align-items-center">
                <div class="col-lg-8 col-8">
                    <h5 class="mb-0 ml-2 header-title d-flex align-items-center">
                        <i class="fa fa-fw fa-bars d-flex fs-20" onclick="openSideDrawer()" style="margin-right: 7px;"></i>
                        @ViewBag.Title
                    </h5>
                </div>
                <div class="col-lg-4 col-4">
                    <div class="d-flex align-items-center justify-content-between">
                        <input class="switch" onclick="onlineOffline();" type="checkbox" id="isOnlineVendor">
                        @*<a href="javascript:void(0)" onclick="window.location.reload();">
            <i class="bx bx- d-flex fs-20"></i>
        </a>*@
                        <a href="javascript:void(0)" onclick="window.location.reload();">
                            <i class="bx bx-revision d-flex fs-20"></i>
                        </a>
                        <a onclick="logout();">
                            <i class="mdi mdi-logout d-flex fs-20"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <style>
    </style>
    <div id="side-drawer" class="position-fixed">

        <div class="close-sidebar" onclick="closeSideDrawer()">
            <i class="dripicons-cross d-flex pb-0 fs-20"></i>
        </div>

        <div class="sidebar" id="sidebar-menu">
            @*@if (ProjectSession.AdminName != null && ProjectSession.AdminName != "")
            {*@
            <div class="profile-details text-center">
                <img id="profileImg" style="object-fit:cover;" alt="@ProjectSession.AdminName Profile" class="rounded-circle avatar-lg" />
                <h6 class="mb-0 mt-2">@ProjectSession.AdminName</h6>
                <h6 class="mb-0 mt-1 font-14">@ProjectSession.MobileNumber</h6>
            </div>
                <hr />
            @*}*@
            <ul class="metismenu list-unstyled mm-show" id="side-menu">
                <li>
                    <a href="@Url.Action("Index","Dashboard")" class="d-flex align-items-center">
                        <i class="dripicons-home d-flex pb-0 font-17px"></i>
                        <span data-key="t-home" class="font-8rem">My Items</span>
                    </a>
                </li>
                @*<li>
                    <a href="@Url.Action("Index","AddItems")" class="d-flex align-items-center">
                        <i class="dripicons-view-list-large d-flex pb-0 font-17px"></i>
                        <span data-key="t-gear" class="font-8rem">Add Items</span>
                    </a>
                </li>*@
                <li>
                    <a href="@Url.Action("EditProfile","Profiles")" class="d-flex align-items-center">
                        <i class="dripicons-user d-flex pb-0 font-17px"></i>
                        <span data-key="t-cross" class="font-8rem">Profile</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="side-drawer-void" class="position-fixed d-none" onclick="closeSideDrawer()"></div>

    @RenderBody()

    <!-- JAVASCRIPT -->
    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script type="text/javascript">
        var urlClient = '@System.Configuration.ConfigurationManager.AppSettings["AdminUrl"]';
        $("#profileImg").attr("src", urlClient + '@ProjectSession.ProfileURL');

        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        //getCookie
        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        $(document).ready(function () {
            setCookie("IsOnline", @ViewBag.VendorsIdData.IsOnline, 300);
            var ss = getCookie("IsOnline");
            if (ss == 1) {
                $("#isOnlineVendor").prop('checked', true);
            } else {
                $("#isOnlineVendor").prop('checked', false);
            }
        });
        function openSideDrawer() {
            document.getElementById("side-drawer").style.left = "0";
            document.getElementById("side-drawer-void").classList.add("d-block");
            document.getElementById("side-drawer-void").classList.remove("d-none");
        }

        function closeSideDrawer() {
            document.getElementById("side-drawer").style.left = "-336px";
            document.getElementById("side-drawer-void").classList.add("d-none");
            document.getElementById("side-drawer-void").classList.remove("d-block");
        }
        function onlineOffline() {
            var isOnlineInt = 1;

            if ($('#isOnlineVendor').is(':checked')) {
                isOnlineInt = 1;
            } else {
                isOnlineInt = 2;
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.updateOnline, Controllers.Profiles)',
                data: { isOnline: isOnlineInt },
                dataType: 'json',
                success: function (response) {
                    if (response.Code == 200) {
                        window.location.href = "/";
                        setCookie("IsOnline", isOnlineInt, 300);
                    } else {
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: response.Message,
                            showConfirmButton: false,
                            timer: 2000
                        });
                        var ss = getCookie("IsOnline");
                        if (ss == 1) {
                            $("#isOnlineVendor").prop('checked', true);
                        } else {
                            $("#isOnlineVendor").prop('checked', false);
                        }
                    }
                },
                error: function (error) {
                    var ss = getCookie("IsOnline");
                    if (ss == 1) {
                        $("#isOnlineVendor").prop('checked', true);
                    } else {
                        $("#isOnlineVendor").prop('checked', false);
                    }
                }
            });

        }
        function logout() {
            window.history.forward();
            window.onload = function () {
                window.history.forward();
            };
            window.onunload = function () {
                null;
            };

            Swal.fire({
                title: "Are you sure?",
                text: "",
                icon: "warning",
                confirmButtonColor: "#2ab57d",
                cancelButtonColor: "#fd625e",
                showCancelButton: !0,
                confirmButtonText: "Logout"
            }).then(
                function (result) {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action(Actions.LogOut, Controllers.Authentication)',
                            dataType: 'json',
                            success: function (response) {
                                window.location.reload();
                            },
                            error: function (error) {
                            }
                        });
                    }
                }
            );
        }

    </script>
    <!-- Side Drawer JS -->
    <script src="~/assets/Scripts/side_drawer.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/assets/libs/feather-icons/feather.min.js"></script>
    <script src="~/assets/libs/pace-js/pace.min.js"></script>
    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/libs/jszip/jszip.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="~/assets/js/pages/datatables.init.js"></script>
    <script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/assets/js/pages/datatables.init.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/libs/pristinejs/pristine.min.js"></script>
    <script src="~/assets/js/pages/form-validation.init.js"></script>
    <script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/assets/js/pages/sweetalert.init.js"></script>
    <script src="~/assets/Scripts/toastr.min.js"></script>
    <script src="~/assets/Scripts/ui-toastr.min.js"></script>
    <script src="~/assets/Scripts/common.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>