.stores-card{
  width: 50px;
    object-fit: cover;
    height: 50px;
    border-radius: 5px;

}
.stores-card-border{
	box-shadow: 0px 0px 16px 0px #0000000f;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #cccccc52;
}
.stores-title{
	font-size: 10px;
	color: #0596f8;
}
.stores-title-group{
	line-height: 1.3;
}
.beetech-logo{
    width: 100%;
}
/*.beetech-logo img{
	width: 100%;
	height: 65px;
}*/
	.beetech-logo img {
		width: 100%;
		height: auto;
		max-width: 65%;
	}
.custome-navabar-logo{
	    height: 4.75rem;
}
.stores-cards{
	cursor: pointer;
	text-decoration: none !important;
}
.preview-images{
	height:112px;
	width: 100%;
	object-fit: cover;
}

.error {
	color: red;
}

.Gbutton {
	background-color: #71984a;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 2px 1px;
	cursor: pointer;
}

a:link {
	text-decoration: none;
	cursor: pointer;
}
body aside button.btn.btn-hover-secondary.btn-icon.toggle-sidebar {
	display: none;
}

@media(max-width: 767px) {
	div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter {
		text-align: left;
		float:none;
	}
	div.table-responsive > div.dataTables_wrapper > div.row > div[class^=col-]{
		padding-left: 0;
	}
	.table-scrollable {
		overflow-x: auto;
	}

	.dataTable tbody td {
		white-space: nowrap;
		vertical-align:middle;
	}

	.table-scrollable th {
		white-space: nowrap;
	}
	.content.container-fluid .col-4 {
		text-align: right;
		margin-bottom: 20px;
		flex: 100%;
		max-width: 100%;
	}
	form#DeliveryExecutivesDetails .modal-body .col-6.mt-2 {
		flex: 100%;
		max-width: 100%;
	}
	th.sorting_disabled.sorting_asc {
		padding-right: 1.5rem;
	}
	.content.container-fluid .col-4 .form-group {
		width: auto !important;
		float: none !important;
	}
	
		.content.container-fluid .col-4 .form-group + div {
    display: flex;
    width: auto !important;
    float: none !important;
    column-gap: 10px;
}
	
	.content.container-fluid .col-4 .form-group + div button{
		width:50%;
	}
ul.nav.nav-minimal li.nav-item {
	width: 100%;
}
main .content .row {
	margin: 0px -15px !important;
}
.page-head.row.portlet.light.bordered.w-100 {
	margin: 0 !important;
	margin-top: 10px !important;
}
	.page-head.row.portlet.light.bordered.w-100 .col-md-12 {
		padding:0;
	}
main .content .row:last-child .col-12:last-child .card .card-body {
	padding: 0;
}
div.dt-buttons {
	column-gap: 10px;
}
div.table-responsive > div.dataTables_wrapper > div.row > div[class^=col-]:last-child {
	padding-right: 15px;
}

div.table-responsive > div.dataTables_wrapper > div.row > div[class^=col-]:first-child {
	padding-left: 15px;
}
div.table-responsive > div.dataTables_wrapper > div.row > div[class^=col-] {
	padding-left: 15px;
}
.portlet-body.table-responsive{
	overflow-x:unset;
}
.beetech-logo img {
	width: 100%;
	height: auto;
	max-width: 60%;
}
.navbar-vertical-content .navbar-vertical-nav .navbar-vertical-item .navbar-vertical-link {
	margin: 0.5rem 0rem;
}
.navbar-vertical-content .navbar-vertical-nav .navbar-vertical-item .navbar-vertical-icon {
	width: 20px;
	text-align: center;
}
aside .btn-hover-secondary {
	color: #111827;
}
body aside button.btn.btn-hover-secondary.btn-icon.toggle-sidebar {
	position: absolute;
	z-index: 9;
	right: -5px;
	top: -5px;
	display: block;
}
	.content.container-fluid .col-4 a.btn.btn-primary {
		display: block;
	}
	div.dt-buttons button.btn.btn-secondary.mb-3.mt-1.mr-3 {
		margin-right: 0 !important;
	}
	span.dtr-data p {
		margin: 0;
	}
}
