﻿@using AAH.Common;
@using GinnyBuddyResponderApp.Pages;
@using System.Web.Optimization;
@using GinnyBuddyResponderApp.Infrastructure;
@using AAH.Entities.V1;
@model DeliveryExecutive

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #map-canvas {
        height: 225px;
        width: 100%;
        margin-bottom: 80px;
    }
</style>

<div class="main-content app-main-area">
    <div class="request-for p-3">
        @using (Html.BeginForm(Actions.UpsertDeliveryExecutiveDetails, Controllers.Profiles, new { Area = "" }, FormMethod.Post, new { id = "usesDetails", @class = "", @enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Latitude)
            @Html.HiddenFor(model => model.Longitude)
            @Html.HiddenFor(model => model.Pincode)

            <div class="row m-0 mb-2">
                <div class="col-xl-12 col-12 p-0">
                    <div class="form-group mb-2">
                        <label class="mb-1">Profile Image</label><br>
                        @if (Model.ProfileURL != null && Model.ProfileURL != "")
                        {
                            <img src="@Model.ProfileURLStr" class="round-img-profile">
                        }
                        @Html.TextBoxFor(model => model.Files, new { @Type = "file", @class = "form-control mt-2" })
                    </div>
                </div>
                <div class="col-xl-12 col-12 p-0">
                    <div class="form-group mb-2">
                        <label class="mb-1">First Name</label>
                        @Html.TextBoxFor(model => model.FirstName, new { @Type = "text", @class = "form-control", @placeholder = "Enter First Name" })
                    </div>
                </div>
                <div class="col-xl-12 col-12 p-0">
                    <div class="form-group mb-2">
                        <label class="mb-1">Last Name</label>
                        @Html.TextBoxFor(model => model.LastName, new { @Type = "text", @class = "form-control", @placeholder = "Enter Last Name" })
                    </div>
                </div>
                <div class="col-xl-12 col-12 p-0">
                    <div class="form-group mb-2">
                        <label class="mb-1">Phone Number</label>
                        @Html.TextBoxFor(model => model.MobileNumber, new { @Type = "number", @readonly = "readonly", @class = "form-control", @placeholder = "Enter Phone Number" })
                    </div>
                </div>
                <div class="col-xl-12 col-12 p-0">
                    <div class="form-group mb-2">
                        <label class="mb-1">Address</label>
                        @Html.TextBoxFor(model => model.AddressLine1, new { @Type = "text", @class = "form-control", @placeholder = "Select Address" })
                    </div>
                </div>
            </div>
                
            <div id="map-canvas"></div>
            
            <div class="button-fixed">
                <button type="submit" class="btn btn-primary w-md w-100 mt-2">
                    <span>Update Profile</span>
                </button>
            </div>
        }
    </div>
</div>

<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>

@*Google map*@ 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB97EhOhMCYhK1tZIofUkpKcGW61fdgKjg&libraries=places&callback=initMap" async defer></script>
<script language=javascript src='http://maps.google.com/maps/api/js?sensor=false'></script>

<script>

    $(document).ready(function () {
        if ($("#Id").val() > 0) {
            setTimeout(function () {
                pinOnMap();
            }, 1500)
        }
    });

    function initMap() {
        getCurrentLatLong()
    }

    $("#usesDetails").validate({
        rules: {
            FirstName: {
                required: true
            },
            LastName: {
                required: true
            },
            AddressLine1: {
                required: true
            },
        },
        messages: {
            FirstName: {
                required: "Please enter your first name",
            },
            LastName: {
                required: "Please enter your last name",
            },
            AddressLine1: {
                required: "Please select your address",
            },
        },
        errorPlacement: function (error, element) {
            if (element.is(":radio")) {
                error.appendTo(element.parents('.form-group'));
            }
            else {
                error.insertAfter(element);
            }
        },
        submitHandler: function (form) {
            form.submit();
        }
    });

    $('#AddressLine1').on('input', function () {
        placeMAPAddress();
    });

    function getCurrentLatLong(CurrentLat, CurrentLong) {
        if (document.getElementById('map-canvas')) {

            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    CurrentLat = position.coords.latitude;
                    CurrentLong = position.coords.longitude;
                });
            } else {
                console.log("Browser doesn't support geolocation!");
            }

            var content;
            var latitude = CurrentLat;
            var longitude = CurrentLong;
            var map;
            var marker;
            navigator.geolocation.getCurrentPosition(loadMap);

            function demo() {
                google.maps.event.addListener(map, 'click', function (e) {
                    placeMarker(e.latLng);
                });
            }

            function loadMap(location) {
                if (location.coords) {
                    latitude = location.coords.latitude;
                    longitude = location.coords.longitude;
                }

                var myLatlng = new google.maps.LatLng(latitude, longitude);

                var mapOptions = {
                    zoom: 14,
                    center: myLatlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

                content = document.getElementById('information');

                demo();

                var input = document.getElementById('search_input');
                map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

                var searchBox = new google.maps.places.SearchBox(input);

                google.maps.event.addListener(searchBox, 'places_changed', function () {
                    var places = searchBox.getPlaces();
                });

                marker = new google.maps.Marker({
                    map: map
                });
            }
        }

        function placeMarker(location) {
            marker.setPosition(location);
            $.ajax({
                type: "POST",
                url: `https://maps.googleapis.com/maps/api/geocode/json?latlng=${location.lat()},${location.lng()}&key=AIzaSyABofRnRkpT_4m344ZOsyRnT90uSGF5H6A`,
                dataType: 'json',
                success: function (response) {
                    if (response != null) {
                        $("#AddressLat").val(location.lat());
                        $("#AddressLong").val(location.lng());

                        $("#addressLine").text(response.results[0].formatted_address);
                        $("#AddressPincode").val(response.results[0].address_components[5].long_name);

                        for (var i = 0; i < response.results[0].address_components.length; i++) {
                            if (response.results[0].address_components[i].types[0] == "postal_code") {
                                $("#AddressPincode").val(response.results[0].address_components[i].long_name);
                            }
                        }

                    }
                    console.log('response', response);
                },
                error: function (error) {
                }
            });
        }
    }

    function placeMAPAddress() {
        var input = document.getElementById('AddressLine1');
        var originLatitude = document.getElementById('Latitude');
        var originLongitude = document.getElementById('Longitude');
        var AddressPincode = document.getElementById('Pincode');

        var originAutocomplete = new google.maps.places.Autocomplete(input);


        originAutocomplete.addListener('place_changed', function (event) {
            var place = originAutocomplete.getPlace();

            if (place.hasOwnProperty('place_id')) {
                if (!place.geometry) {
                    return;
                }
                originLatitude.value = place.geometry.location.lat();
                originLongitude.value = place.geometry.location.lng();
                AddressPincode.value = place.address_components.slice(-1)[0].long_name;

                pinOnMap();
            } else {
                service.textSearch({
                    query: place.name
                }, function (results, status) {
                    if (status == google.maps.places.PlacesServiceStatus.OK) {
                        originLatitude.value = results[0].geometry.location.lat();
                        originLongitude.value = results[0].geometry.location.lng();
                        AddressPincode.value = place.address_components.slice(-1)[0].long_name;
                        pinOnMap();
                    }
                });
            }
        });
    }

    function pinOnMap() {
        var map = new google.maps.Map(document.getElementById('map-canvas'), {
            zoom: 15,
            center: new google.maps.LatLng($("#Latitude").val(), $("#Longitude").val()),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        var infowindow = new google.maps.InfoWindow();
        var marker, i;
        marker = new google.maps.Marker({
            position: new google.maps.LatLng($("#Latitude").val(), $("#Longitude").val()),
            map: map
        });
        google.maps.event.addListener(marker, 'click', (function (marker, i) {
            return function () {
                infowindow.open(map, marker);
            }
        })(marker, i));
    }

</script>