﻿@using AAH.Common;
@using GinnyBuddyResponderApp.Pages;
@using System.Web.Optimization;
@using GinnyBuddyResponderApp.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Create Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .icon-box {
        width: 45px;
        height: 45px;
        line-height: 40px;
        text-align: center;
        background: rgba(115,103,240,.12);
        border-radius: 50%;
        color: #7367f0;
        display: flex;
        align-items: center;
    }
</style>
<header id="page-topbar">
    <div class="navbar-header app-header-area p-0">
        <div class="row m-0 w-100">
            <div class="col-lg-8 col-8 d-flex align-items-center">
                <a href="@Url.Action("Index","Dashboard")">
                    <h5 class="mb-0 ml-2 header-title d-flex align-items-center"><i class="dripicons-arrow-thin-left fs-20 d-flex" style="margin-right: 7px;"></i>Profile</h5>
                </a>
            </div>
            <div class="col-lg-4 col-4">
                <div style="float:right;">
                    <a href="@Url.Action("EditProfile","Profiles")">
                        <i class="bx bx-edit-alt text-dark align-middle fs-20"></i>
                        @*<div type="button" class="btn btn-soft-primary waves-effect waves-light" style="padding: 2px 5px; border-radius: 50px;"><i class="bx bx-edit-alt"></i></div>*@
                    </a>
                    @*<a href="javascript:void(0)" onclick="ConfirmLogOutModal();" style="margin-left:10px;">
                        <i class="mdi mdi-logout text-dark align-middle me-1 fs-20"></i>
                    </a>*@
                </div>
            </div>
        </div>
    </div>
</header>
<div class="main-content app-main-area">
    <div class="request-for p-3">
        <div class="card p-3 mb-1 text-center common-bx-shadow">
            <h4 class="mb-2 fs-16">@ViewBag.UserData.FirstName @ViewBag.UserData.LastName</h4>
            <p class="mb-0 fs-12">@ViewBag.UserData.MobileNumber</p>
        </div>
        <div class="row m-0">
            <div class="col-lg-6 col-6 p-1" style="padding-left:0px !important;">
                <a href="@Url.Action("ManageAddress","CreateAddress")">
                    <div class="card p-2 list-box common-bx-shadow">
                        <div class="d-flex align-items-center">
                            <i class="dripicons-location icon-box fs-20 d-flex justify-content-center"></i>
                            <div class="text-left" style="line-height:1;margin-left:5px;">
                                <h5 class="mb-0">@ViewBag.AddressTypeData.TotalRecords</h5>
                                <p class="mb-0 fs-12">My Address</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-6 p-1" style="padding-right:0px !important;">
                <a href="@Url.Action("ManageRequest","CreateRequest")">
                    <div class="card p-2 list-box common-bx-shadow">
                        <div class="d-flex align-items-center">
                            <i class="dripicons-device-mobile icon-box fs-20 d-flex justify-content-center"></i>
                            <div class="text-left" style="line-height:1;margin-left:5px;">
                                <h5 class="mb-0">@ViewBag.RequestsData.TotalRecords</h5>
                                <p class="mb-0 fs-12">My Requests</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-6 p-1" style="padding-right:0px !important;">
                <a href="@Url.Action("Feedback","CreateRequest")">
                    <div class="card p-2 list-box common-bx-shadow">
                        <div class="d-flex align-items-center">
                            <i class="dripicons-blog icon-box fs-20 d-flex justify-content-center"></i>
                            <div class="text-left" style="line-height:1;margin-left:5px;">
                                <h5 class="mb-0">@ViewBag.FeedbackData.TotalRecords</h5>
                                <p class="mb-0 fs-12">My Feedback</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

@*Confirmation alert*@
<div class="modal fade" id="confirmLogout" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="address-select text-center" id="ChooseAdddressMaster">

                    <h5>LogOut</h5>
                    <p class="fs-12">
                        Are you sure you want to Logout?
                    </p>
                    <div>
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">No</button>
                        <a href="@Url.Action("LogOut","Authentication")" class="btn btn-primary">Yes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/js/VoiceRecord.js"></script>
<script>
    function ConfirmLogOutModal() {
        $("#confirmLogout").modal('show');
    }

</script>
@Html.Raw(ViewBag.openPopup)
