﻿@using AAH.Common;
@using AAHAdmin.Pages;
@using System.Web.Optimization;
@using AAHAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{ ViewBag.Title = "Send Notification"; }

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #0069D9;
        color: white;
    }

    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        bUsers-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            bUsers-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        bUsers-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        bUsers: 1px solid #d4d4d4;
        bUsers-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            bUsers-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .text-c-dark {
        color: #000;
    }

    .device-active .active .card {
        background: #157aec;
        cursor: pointer;
    }

    .device-active .active .text-c-dark {
        color: #fff !important;
    }

        .device-active .active .text-c-dark .icon {
            background-color: #0069D9;
            bUsers: none;
        }

    .icon-box {
        background: #eff1f4;
    }

        .icon-box:hover {
            background: #0e67cc !important;
        }

    .btn-primary {
        color: #fff !important;
        background-color: #0596F8 !important;
        border-color: #0596F8 !important;
        box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%) !important;
    }

    div.dt-buttons {
        float: right !important;
    }

    form label {
        font-weight: bold
    }
</style>


<div class="content container-fluid">
    <div class="row">
        <div class="col-8">
            <h5>Send Notifications</h5>
        </div>
    </div>
    <div class="mt-5">
        <div class="row justify-content-center">
            <div class="card col-lg-4 p-3">
                <form id="ManageServiceForm" method="post" enctype="multipart/form-data">
                    @*<img src="https://cdn-icons-png.flaticon.com/512/1280/1280098.png" class="w-50" alt="Alternate Text" />*@
                    <div class="form-group">
                        <h5 class="mb-2">Description</h5>
                        <textarea type="text" class="form-control" name="Description" id="Description" placeholder="Enter Description..." rows="3"></textarea>
                    </div>
                    <div class="float-right">
                        <button id="btnSearch" type="button" onclick="SendCustomerNotification();" class="btn btn-primary saveBtn">Save</button>
                        <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Saving...
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function SendCustomerNotification()
        {
            $(".saveBtn").hide();
            $(".loading").show();
            $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.CustomersNotificationUpsert, Controllers.CustomersNotification)',
                    data: ({
                        Description: $("#Description").val()
                    }),
                    dataType: 'json',
                    success: function (response) {

                        $("#Description").val("");

                        if (response.Code == 200) {
                            swal("Sent!", response.Message, "success");
                            $(".saveBtn").show();
                            $(".loading").hide();

                        } else {
                            swal("Error!", response.Message, "error");
                            $(".saveBtn").show();
                            $(".loading").hide();
                        }
                    },
                    error: function (error) {
                        $("#Description").val("");
                        swal("Error!", "Something went wrong", "error");
                        $(".saveBtn").show();
                        $(".loading").hide();
                    }
                });
        }
    </script>
}