﻿@using AAH.Common;
@using GinnyBuddyResponderApp.Pages;
@using System.Web.Optimization;
@using GinnyBuddyResponderApp.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #map-canvas {
        height: 180px;
        width: 100%;
    }

    .generate-new {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .generate-new p {
            font-size: 16px;
            font-weight: 600;
            color: #000;
        }

        .generate-new span {
            font-size: 16px;
            font-weight: 600;
            color: #3ba3ff;
        }

    .request-card {
        background: #e6f2fe;
    }

    .generate-details {
        line-height: 1;
    }

        .generate-details p {
            font-size: 16px;
            color: #a1a9b1;
        }

        .generate-details span {
            font-size: 16px;
            font-weight: 600;
            color: #000;
        }
</style>
<div class="main-content app-main-area mb-5">
    <div class="Address-list p-3">
        <div class="row m-0">
            <div class="col-lg-12 col-12 p-0">
                <div class="card is-loading common-bx-shadow p-2 mb-1 br-15">
                    <div style="margin-left: 7px; font-weight: 700;">
                        <span>Reports</span>
                    </div>
                    <div class="service-basic-details mt-3 m-0">
                        <div class="details col-lg-12 col-12 p-2 mb-1 card common-bx-shadow">
                            <div class="d-flex align-items-center">
                                <div style="margin-left:7px;">
                                    <span>Today's Download : </span>
                                    <span class="mb-0" id="TodayDownloads" style="left: 10px;font-weight: 600;">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="details col-lg-12 col-12 p-2 mb-1 card common-bx-shadow">
                            <div class="d-flex align-items-center">
                                <div style="margin-left:7px;">
                                    <span>Total Downloads in this month : </span>
                                    <span class="mb-0" id="ThisMonthDownloads" style="left: 10px;font-weight: 600;">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="details col-lg-12 col-12 p-2 mb-1 card common-bx-shadow">
                            <div class="d-flex align-items-center">
                                <div style="margin-left:7px;">
                                    <span>Your Daily Average : </span>
                                    <span class="mb-0" id="DailyAvgDownloads" style="left: 10px;font-weight: 600;">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="details col-lg-12 col-12 p-2 mb-1 card common-bx-shadow">
                            <div class="d-flex align-items-center">
                                <div style="margin-left:7px;">
                                    <span>Extra Amount in this month : </span>
                                    <span class="mb-0" id="ThisMonthAmount" style="left: 10px;font-weight: 600;">
                                    </span>
                                </div>
                            </div>
                        </div>
                        @if (ProjectSession.IsMarketingPerson != true)
                        {
                            <div class="details col-lg-12 col-12 p-2 mb-1 card common-bx-shadow">
                                <div class="d-flex align-items-center">
                                    <div style="margin-left:7px;">
                                        <span>Today's Delivery : </span>
                                        <span class="mb-0" id="TodayDelivery" style="left: 10px;font-weight: 600;">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content m-0">
        <div class="Address-list p-3">
            <div class="row m-0">
                <div style="margin-left: 7px; font-weight: 700; margin-bottom: 5px;">
                    <span>Ongoing Requests</span>
                </div>
                <hr /><br /><br />
                <div class="col-lg-12 col-12 p-0 mt-1">

                    @if (ViewBag.RequestsData.TotalRecords > 0)
                    {
                        for (int i = 0; i < ViewBag.RequestsData.TotalRecords; i++)
                        {
                            <a href="@Url.Action("RequestDetails","Request")?ri=@ViewBag.RequestsData.Values[i].RequestId">
                                <div class="card request-card p-2 mb-2" style="box-shadow: 0px 0px 2px 0px #00000024; ">
                                    <div class="generate-new">
                                        <span href="#" class="fs-20">@ViewBag.RequestsData.Values[i].StatusName</span>
                                    </div>
                                    <div class="generate-details row m-0 mt-2">
                                        <div class="col-lg-6 col-6 p-0">
                                            <p class="mb-0" style="">Request Id</p>
                                            <span href="#" class="fs-20">@ViewBag.RequestsData.Values[i].RequestId</span>
                                        </div>
                                        <div class="col-lg-6 col-6 p-0">
                                            <p class="mb-0" style="">Raised On</p>
                                            <span href="#" class="fs-20">@ViewBag.RequestsData.Values[i].CreatedDateStr</span>
                                        </div>
                                    </div>
                                    @*@if (@ViewBag.RequestsData.Values[i].StatusId == 11)
                                        {
                                            <hr class="mb-0 mt-2" />
                                            <div class="generate-details row m-0 mt-2 align-items-center">
                                                <div class="col-lg-6 col-6 p-0">
                                                    <div class="d-flex align-items-center">
                                                        <p class="mb-0" style=""><i class="bx bx-phone-call fs-20"></i></p>
                                                        <span href="tel:@ViewBag.RequestsData.Values[i].UserMobileNumber" style="margin-left: 3px;">
                                                            Call Customer
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-6 p-0">
                                                    <div class="d-flex align-items-center">
                                                        <p class="mb-0" style=""><i class="bx bx-current-location fs-20"></i></p>
                                                        <span href="#" onclick="getCurrentLatLong(@ViewBag.RequestsData.Values[i].Latitude, @ViewBag.RequestsData.Values[i].Longitude)"
                                                              style="margin-left: 3px;">
                                                            Get Directions on Map
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        }*@
                                </div>
                            </a>

                            if (@ViewBag.RequestsData.Values[i].StatusId == 3 || @ViewBag.RequestsData.Values[i].StatusId == 11 || @ViewBag.RequestsData.Values[i].StatusId == 12 || @ViewBag.RequestsData.Values[i].StatusId == 13 || @ViewBag.RequestsData.Values[i].StatusId == 14 || @ViewBag.RequestsData.Values[i].StatusId == 15)
                            {
                                <div class="generate-details row m-0 mt-2 mb-2 align-items-center">
                                    <div class="col-lg-6 col-6 p-0">

                                        <a href="tel:@ViewBag.RequestsData.Values[i].UserMobileNumber" class="btn btn-primary">
                                            <i class="bx bx-phone-call fs-20" style="position: relative; top: 2px;"></i>
                                            Call Customer
                                        </a>
                                    </div>
                                    @if (@ViewBag.RequestsData.Values[i].StatusId == 11)
                                    {
                                        <div class="col-lg-6 col-6 p-0 text-right">
                                            <a href="#" onclick="getCurrentLatLong(@ViewBag.RequestsData.Values[i].Latitude, @ViewBag.RequestsData.Values[i].Longitude)" class="btn btn-primary">
                                                <i class="bx bx-current-location fs-20" style="position: relative; top: 2px;"></i>
                                                Get Directions
                                            </a>

                                        </div>
                                    }
                                </div>
                            }
                        }
                    }
                    else
                    {
                        <div class="card request-card p-3 text-center mb-1 mt-1" style="box-shadow: 0px 0px 6px 0px #00000024;">
                            <h5 class="mb-0">No record found</h5>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        Dashboard_ById();
        // getCurrentLatLong(23.0504, 72.4991)
    });

    function getCurrentLatLong(lat, long) {
        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(function (position) {
                CurrentLat = position.coords.latitude;
                CurrentLong = position.coords.longitude;
                window.open("https://www.google.com/maps/dir/" + CurrentLat + "," + CurrentLong + "/" + lat + "," + long);
            });
        } else {
            console.log("Browser doesn't support geolocation!");
        }
    }

    function Dashboard_ById() {


        $.ajax({
            url: '@Url.Action("Dashboard_ById", "Dashboard")',
            type: "GET",
            //data: { },
            //dataType: 'json',
            async: true,
            success: function (result) {
                /*window.location.reload();*/
                if (result.Code == 200) {
                    $("#TodayDownloads").text(result.Item.TodayDownloads);
                    $("#ThisMonthDownloads").text(result.Item.ThisMonthDownloads);
                    $("#DailyAvgDownloads").text(result.Item.DailyAvgDownloads);
                    $("#ThisMonthAmount").text(result.Item.ThisMonthAmount);
                    $("#TodayDelivery").text(result.Item.TodayDelivery);
                }
            },
            error: function (error) {
                /*window.location.reload();*/
            }
        });
    }

</script>
