﻿@using AAHAdmin.Pages;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Request Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<script src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyCxBohfRsvD31g8JfwxDrqZY54H5LkfClY"></script>

<style>
    .main_page {
        padding: 20px;
        font-size: 12px !important;
    }

    .bottom_table {
        display: flex;
        column-gap: 3rem;
        margin-top: 2rem;
        height: 250px;
    }

    .main_page .information {
        padding: 15px;
        border: 1px solid #eee;
    }

    .user_img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }

        .user_img img {
            border-radius: 50%;
        }

    span.title {
        margin: 0;
        margin-right: 25px;
        font-weight: 700;
        width: 33%;
        display: inline-block;
        vertical-align: top;
    }

    span.reTitle {
        margin: 0;
        margin-right: 20px;
        font-weight: 700;
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }

    span.logged {
        font-weight: 800 !important;
    }

    .user_block {
        display: flex;
    }

    .customer_detail {
        border-right: 1px solid #eee;
    }

    .card_block {
        border: 1px solid #eee;
        padding: 15px;
        padding-bottom: 0px;
        border-radius: 15px;
        width: 50%;
    }

    .heading {
        text-align: center;
        border-bottom: 1px solid #eee;
        padding-bottom: 5px;
    }

    .content {
        padding: 10px 0px;
        max-height: 200px;
        overflow-y: auto;
    }

    .content1 {
        padding: 10px 0px;
        max-height: 100px;
        overflow-y: auto;
    }


    span.width {
        margin-bottom: 5px;
        width: 60% !important;
    }

    span.text {
        margin-bottom: 10px;
        font-weight: 500;
        display: block;
        font-size: 13px;
        display: flex;
        column-gap: 2rem;
    }


    h5.text-center {
        margin-bottom: 20px;
    }

    span.content_text:before {
        width: 20px;
        height: 20px;
        background: #fff;
        border: 2px solid #3fff3c;
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        position: relative;
        /* margin: 0px 20px; */
        content: "";
        right: -20px;
        position: absolute;
        top: 7px;
        z-index: 1;
    }

    span.content_text {
        position: relative;
    }

    span.text span.content_text:after {
        width: 2px;
        height: 100%;
        background: #eee;
        position: absolute;
        content: "";
        right: -11px;
        top: 14px;
        z-index: -1;
    }

    div .content::-webkit-scrollbar {
        width: 2px;
        border-radius: 10px;
    }

    div .content::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid darkgrey;
    }

    div .content1::-webkit-scrollbar {
        width: 2px;
        border-radius: 10px;
    }

    div .content1::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid darkgrey;
    }

    .par {
        display: inline-block;
        width: 70%;
    }

    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #0069D9;
        color: white;
    }

    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .text-c-dark {
        color: #000;
    }

    .device-active .active .card {
        background: #157aec;
        cursor: pointer;
    }

    .device-active .active .text-c-dark {
        color: #fff !important;
    }

        .device-active .active .text-c-dark .icon {
            background-color: #0069D9;
            border: none;
        }

    .icon-box {
        background: #eff1f4;
    }

        .icon-box:hover {
            background: #0e67cc !important;
        }

    .btn-primary {
        color: #fff !important;
        background-color: #0596F8 !important;
        border-color: #0596F8 !important;
        box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%) !important;
    }

    div.dt-buttons {
        float: right !important;
    }

    .spinner-border-main {
        margin-top: 1rem;
        display: inline-block;
        width: 3rem;
        height: 3rem;
        vertical-align: text-bottom;
        border: 0.3em solid;
        border-left: 0.2em solid transparent;
        border-radius: 50%;
        animation: spinner-border 0.75s linear infinite;
        color: #0284c7;
        position: absolute;
    }
</style>

<input type="hidden" id="UserIDForNotification">
<div class="main_page">
    <h5 class="mb-3">Request Details</h5>
    <hr />
    <div class="row">
        <div class="col-4">
            <h6 id="requestId"></h6>
        </div>
        <div class="col-12 pr-0" style="text-align:end;">
            <div class="float-right mb-2" id="StatusName"></div>

            @if (ViewBag.GetDeliveryExecutiveAll.Count > 0)
            {
                <button class="float-right mb-2 mr-2 badge badge-primary mr-2" id="AssignRequestBtn" onclick="AssignRequestPop()">Assign Request</button>
            }
            else
            {
                <div class="text-danger mb-0 fs-14 card d-inline-block p-1 mr-2" style="box-shadow: 0px 0px 9px #0000004d;border-radius:50px;border:none;">All Delivery Executive are busy with other request. so please try after sometime.</div>
            }

            <button class="float-right mb-2 mr-2 badge badge-danger" id="CancelRequestBtn" onclick="UpdateRequestFun(5)" style="display:none;">Cancle Request</button>
            <button class="float-right mb-2 mr-2 badge badge-success" id="CompleteRequestBtn" onclick="UpdateRequestFun(4)" style="display:none;">Complete Request</button>
        </div>
    </div>
    <div class="information">
        <div class="row">
            <div class="col-12" id="showLoader">
                <div class="text-center">
                    <span class="spinner-border-main" style="width: 40px;height: 40px; margin-top: 35px;"
                          role="status" id="ScreenLoader" aria-hidden="true"></span>
                </div>
            </div>
            <div class="col-4 customer_detail">
                <h6 class="heading mb-3">
                    User Detail
                </h6>
                <div class="user_block mt-2">
                    <span class="title" style="margin-right: 15px;">User Info :</span>
                    <div class="pr">
                        <div class="input_group">
                            <span class="name" id="UserName"></span>
                        </div>
                        <div class="input_group">
                            <span class="phone" id="UserMobileNumber"></span>
                        </div>
                        <div class="input_group">
                            <span class="email" id="UserEmail"></span>
                        </div>
                    </div>
                </div>
                <div class="user_block mt-2" id="Address">
                </div>
                <div class="user_block mt-2" id="CreatedDateStr">
                </div>
                <div class="user_block mt-2" id="showRatingUser">
                </div>
                <div class="user_block mt-2" id="showReviewUser">
                </div>
            </div>
            <div class="col-4 customer_detail">
                <h6 class="heading mb-3">
                    Request Detail
                </h6>
                <div class="row">
                    <div class="col-12 mb-2">
                        <span class="mt-2" id="ServiceName"></span><span class="mt-2" id="SubServiceName"></span>
                        <span class="mt-2" id="SubSubServiceName"></span>
                    </div>
                    @*<div class="col-12 mb-2" id="SubServiceName">
                        </div>
                        <div class="col-12 mb-2" id="SubSubServiceName">
                        </div>*@

                    <div class="col-12 mb-2" id="showAmountRequested">
                    </div>
                    <div class="col-12 mb-2" id="showAmountGiven">
                    </div>
                    <div class="col-12 mb-2" id="deliveryExecutiveRequestAmount">
                    </div>
                    <div class="col-12 mb-2" id="isApprovedByUser">
                    </div>
                    <div class="col-12 mb-2" id="AudioUrl">
                    </div>
                    <div class="col-12 mb-2" id="UserDescription">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <h6 class="heading mb-3">
                    Delivery Executive Details
                </h6>
                <div id="showDEDetails">
                    <div class="user_detail d-flex">
                        <div class="user_img mr-3">
                            <span id="DeliveryExecutiveProfileURL"></span>
                        </div>
                        <div class="info">
                            <div class="input_group">
                                <span class="name" id="DeliveryExecutiveName"></span>
                            </div>
                            <div class="input_group">
                                <span class="phone" id="DeliveryExecutiveMobileNumber"></span>
                            </div>
                        </div>
                    </div>
                    <div class="user_block mt-2" id="AssignedDateTimeStr">

                    </div>
                    <div class="user_block mt-2" id="WorkingSinceDays">

                    </div>
                    <div class="user_block mt-2" id="DeEAgencyName">

                    </div>
                    <div class="user_block mt-2" id="EstimatedETAStr">

                    </div>
                    @*<div class="user_block mt-2">
                            <span class="title">Assigned By :</span>
                            <div class="par" id="AssignedBy">
                            </div>
                        </div>*@
                    <div class="user_block mt-2" id="showRatingDE">

                    </div>
                    <div class="user_block mt-2" id="showReviewDE">

                    </div>
                </div>
            </div>
        </div>
        <div class="row customer_detail" style="display:none;" id="REDetails">
            <div class="col-12">
                <h6 class="heading mb-3">
                    Details
                </h6>
            </div>
            <div class="col-4" style="border-right: 1px solid #eee;">
                <div class="user_block mt-2" id="RType">
                </div>
                <div class="user_block mt-2" id="OTP">
                </div>
                <div class="user_block mt-2" id="ConvenienceCharge">
                </div>
                <div class="user_block mt-2" id="TipAmount">
                </div>
                <div class="user_block mt-2" id="Requestedamount">
                </div>
                <div class="user_block mt-2" id="TotalAmount">
                </div>
            </div>


            <div class="col-4" style="border-right: 1px solid #eee;">
                <div class="user_block mt-2" id="MasterCategoryName">
                </div>
                <div class="user_block mt-2" id="ShopName">
                </div>
                <div class="user_block mt-2" id="OwnerName">
                </div>
                <div class="user_block mt-2" id="ContactNumber">
                </div>
                <div class="user_block mt-2" id="PicUrl">
                </div>
                
            </div>
            <div class="col-4" style="border-right: 1px solid #eee;">
                <div class="user_block mt-2" id="FeedbackDescription">
                </div>
                <div class="user_block mt-2" id="FeedbackRettings">
                </div>
                <input id="btnSearch2" type="button" style="float: right;margin-top:50px;" onclick="updateRequestDetailsFun();" class="btn btn-primary saveBtn2" value="Update" />
                <button class="btn btn-primary loading2" type="button" disabled style="display:none;float:right;">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Updating...
                </button>
            </div>
        </div>
    </div>
    <div class="bottom_table">
        <div class="card_block">
            <div class="heading">
                <h6>Status Tracker</h6>
            </div>
            <div class="text-center" id="showLoader1">
                <span class="spinner-border-main mt-4" style="width: 40px;height: 40px;"
                      role="status" id="ScreenLoader" aria-hidden="true"></span>
            </div>
            <div class="content" id="StatusMasters">
            </div>
        </div>
        <div class="card_block">
            <div class="heading">
                <h6>Delivery Executive Tracker</h6>
            </div>
            <div class="text-center" id="showLoader2">
                <span class="spinner-border-main mt-4" style="width: 40px;height: 40px;"
                      role="status" id="ScreenLoader" aria-hidden="true"></span>
            </div>
            <div class="content" id="DEtrackerMasters">
            </div>
        </div>
    </div>
    <div class="bottom_table">
        <div class="card_block">
            <div class="heading">
                <h6>User Notifications</h6>
            </div>
            <div class="text-center" id="showLoader3">
                <span class="spinner-border-main mt-4" style="width: 40px;height: 40px;"
                      role="status" id="ScreenLoader" aria-hidden="true"></span>
            </div>
            <div class="content" id="UserNotificationMasters">
            </div>
        </div>
        <div class="card_block">
            <div class="heading">
                <h6>Delivery Executive Notifications</h6>
            </div>
            <div class="text-center" id="showLoader4">
                <span class="spinner-border-main mt-4" style="width: 40px;height: 40px;"
                      role="status" id="ScreenLoader" aria-hidden="true"></span>
            </div>
            <div class="content" id="DENotificationMasters">
            </div>
        </div>
    </div>
    <hr />
    <h6>
        Request Comments
    </h6>
    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">
            @Html.AntiForgeryToken()
            <div class="portlet-body table-responsive" id="divRequestsCommentTable">
                <table class="table table-striped table-bUsersed table-hover border" id="RequestsCommentTable"></table>
            </div>
        </div>
    </div>

    @*<div class="row m-0 pt-4">
            <div class="col-lg-12 p-0">
                <div class="card_block w-100">
                    <div class="heading">
                        <h6>Request Documents</h6>
                    </div>
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">DocumentURL</th>
                                    <th scope="col">CreatedByName</th>
                                    <th scope="col">CreatedByMobileNumber</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.RequestDocuments.Count > 0)
                                {
                                    for (int i = 0; i < ViewBag.RequestDocuments.Count; i++)
                                    {
                                        <tr>
                                            <td><a target="_blank" href="@ViewBag.RequestDocuments[i].DocumentURLStr" class="btn btn-sm btn-outline-secondary" title="View Request Document"><i class="fa fa-eye"></i></a></td>
                                            <td>@ViewBag.RequestDocuments[i].CreatedByName</td>
                                            <td><a href="tel:@ViewBag.RequestDocuments[i].CreatedByMobileNumber">@ViewBag.RequestDocuments[i].CreatedByMobileNumber</a></td>
                                            <td><p class="btn btn-sm btn-outline-secondary mb-0" onclick=DeleteDocument(@ViewBag.RequestDocuments[i].Id) title="Delete Request Document"><i class="fa fa-trash"></i></p></td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr><td class="text-center" colspan="4">No record found</td></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>*@
</div>

<div class="modal" id="AssignRequest" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">Assign Request</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="AsDEForm" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <label>Delivery Executive</label>
                            <div class="form-group">
                                @Html.Raw(Html.DropDownList("GetDeliveryExecutiveAll", (IEnumerable<SelectListItem>)ViewBag.GetDeliveryExecutiveAll, new { @Id = "DeliveryExecutiveId", @class = "form-control" }))
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary saveBtn">Save</button>
                    <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Saving...
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-secondary closeBtn">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal" id="addRequestComment" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">Add Comment</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="ManageCommentForm" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 mt-2">
                            <label>Description</label>
                            <textarea rows="3" class="form-control" name="Commentdescription" id="Commentdescription"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input id="btnSearch" type="submit" class="btn btn-primary saveBtn1" value="Save" />
                    <button class="btn btn-primary loading1" type="button" disabled style="display:none;float:right;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Saving...
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-secondary closeBtn1">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>



@*<div id="map_canvas" style="width:100%;height:700px;"></div>*@
<input type="hidden" id="clat" />
<input type="hidden" id="clong" />
<input type="hidden" id="slat" />
<input type="hidden" id="slong" />
<input type="hidden" id="polyLine" />
@section Scripts {

    <script>

        var urlClient = '@System.Configuration.ConfigurationManager.AppSettings["ClientURL"]';
        var urlServiceClient = '@System.Configuration.ConfigurationManager.AppSettings["ServicePortalURL"]';

        $(document).ready(() => {
            $("#DeliveryExecutiveId").append('<option value="" disabled selected hidden>Please select Delivery Executive</option>');
            $('#hideLoader').hide();
            $('#showLoader').show();
            $('#StatusMasters').hide();
            $('#showLoader1').show();
            $('#DEtrackerMasters').hide();
            $('#showLoader2').show();
            $('#UserNotificationMasters').hide();
            $('#showLoader3').show();
            $('#DENotificationMasters').hide();
            $('#showLoader4').show();
            $('#RequestDocumentsLoader').hide();
            $('#showLoader5').show();
            $('#REDetails').hide();
            RequestDetails();
            RequestDETrackerDetails();
            StatusTrackerDetails();
            DENotificationDetails();
            UserNotificationDetails();
            RequestsCommentDataTable.init();

            $("#ManageCommentForm").validate({
                rules: {
                    Commentdescription: "required",
                },
                messages: {
                    Commentdescription: {
                        required: "Please enter description",
                    },
                },

                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents(".form-group"));
                    } else {
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    AddRequestCommentFun();
                }
            });
        });

        function AddCommentPopUp() {
            $('#Commentdescription').val('');
            var $alertas = $('#ManageCommentForm');
            $alertas.validate().resetForm();
            $alertas.find('.error').removeClass('error');
            $('#addRequestComment').modal('show');
        }

        function AddRequestCommentFun() {
            $(".saveBtn1").hide();
            $(".loading1").show();
            $(".closeBtn1").hide();

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.Requestcomments_Insert, Controllers.Requests)',
                data: { requestId: atob('@ViewBag.Rid'), description: $("#Commentdescription").val() },
                dataType: 'json',
                success: function (response) {
                    if (response.Code == 200) {
                        $('#addRequestComment').modal('hide');
                        swal({
                            title: "Great !",
                            text: response.Message,
                            icon: "success",
                            timer: 2000
                        })
                        RequestsCommentDataTable.init();
                    }
                    else {
                        swal("Error !", response.Message , "error");
                    }
                    $(".saveBtn1").show();
                    $(".loading1").hide();
                    $(".closeBtn1").show();
                },
                error: function (error) {
                    swal("Error!", error.Message, "error");
                    $(".saveBtn1").show();
                    $(".loading1").hide();
                    $(".closeBtn1").show();
                }
            });
        }

        $(function () {
            $("#AsDEForm").validate({

                submitHandler: function (form) {
                    AssigntoRequest();
                }
            });
        });

        function AssignRequestPop() {
            $('#AssignRequest').modal('show');
        }

        function AssigntoRequest() {

            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.Requests_AssignDeliveryExecutive, Controllers.Requests)',
                data: { RequestId: atob('@ViewBag.Rid'), DeliveryExecutiveId: $("#DeliveryExecutiveId").val()},
                dataType: 'json',
                success: function (response) {
                    if (response.Code == 200) {
                        $('#hideLoader').hide();
                        $('#showLoader').show();
                        $('#StatusMasters').hide();
                        $('#showLoader1').show();
                        $('#DEtrackerMasters').hide();
                        $('#showLoader2').show();
                        $('#UserNotificationMasters').hide();
                        $('#showLoader3').show();
                        $('#DENotificationMasters').hide();
                        $('#showLoader4').show();
                        $('#RequestDocumentsLoader').hide();
                        $('#showLoader5').show();
                        $('#REDetails').hide();
                        RequestDetails();
                        RequestDETrackerDetails();
                        StatusTrackerDetails();
                        DENotificationDetails();
                        UserNotificationDetails();
                        $('#AssignRequest').modal('hide');
                        swal({
                            title: "Great !",
                            text: response.Message,
                            icon: "success",
                            timer: 2000
                        })
                    }
                    else {
                        swal("Error !", response.Message, "error");
                    }
                    $(".saveBtn").show();
                    $(".loading").hide();
                    $(".closeBtn").show();
                },
                error: function (error) {
                    swal("Error!", error.Message, "error");
                    $(".saveBtn").show();
                    $(".loading").hide();
                    $(".closeBtn").show();
                }
            });
            }

        function IsShowAmountRequest(event, amountRequested, isConfirmed) {
            debugger;
            if (event == true) {
                $("#Requestedamount").html('<span class="reTitle">Requested amount by Executive :</span> <div><input type="number" id="amountRequestedUpdate" value="' + amountRequested + '"><br /><span id="errorAmount" style="font-size:12px;color:red;display:none">Please enter amount</span></div> ' + `${isConfirmed == 1 ? '<div class="badge badge-success ml-2"> Yes</div>' : '<div class= "badge badge-warning ml-2">Pending</div> '}`);
            } else if (event == false) {
                $("#Requestedamount").html('<span class="reTitle">Requested amount by Executive :</span> ₹ 0');
            }
        }

        function updateRequestDetailsFun() {
            $(".saveBtn2").hide();
            $(".loading2").show();

            $("#errorAmount").hide();
            if ($("input[name='serviceTypeUpdate']:checked").val() == 2 && ($("#amountRequestedUpdate").val() == "0.00" || $("#amountRequestedUpdate").val() == "" || $("#amountRequestedUpdate").val() == "0" || $("#amountRequestedUpdate").val() == null)) {
                $(".saveBtn2").show();
                $(".loading2").hide();
                $("#errorAmount").show();
                return;
            }



            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.updateRequestDetailsByAdmin, Controllers.Requests)',
                data: { requestId: atob('@ViewBag.Rid'), amountRequested: $("#amountRequestedUpdate").val(), serviceType: $("input[name='serviceTypeUpdate']:checked").val() },
                dataType: 'json',
                success: function (response) {
                    if (response.Code == 200) {
                        swal({
                            title: "Great !",
                            text: "Updated Successfully",
                            icon: "success",
                            timer: 2000
                        });

                        if (response.Item.Type != 0 && response.Item.Type != null) {
                            $("#RType").html('<span class="reTitle">Type :</span> <input type="radio" onchange="IsShowAmountRequest(false,' + response.Item.AmountRequested + ',' + response.Item.IsConfirmed + ')" name="serviceTypeUpdate" class="mr-2" value="1" ' + `${response.Item.Type == 1 ? 'checked' : ''}` + '> Service <input type="radio" class="ml-2 mr-2" onchange="IsShowAmountRequest(true,' + response.Item.AmountRequested + ',' + response.Item.IsConfirmed + ')" name="serviceTypeUpdate" value="2" ' + `${response.Item.Type == 2 ? 'checked' : ''}` + '> Product');
                        } else {
                            $("#RType").html('<span class="reTitle">Type :</span> -');
                        }

                        if (response.Item.AmountRequested != 0 && response.Item.AmountRequested != null) {
                            $("#Requestedamount").html('<span class="reTitle">Requested amount by Executive :</span> <div><input type="number" id="amountRequestedUpdate" value="' + response.Item.AmountRequested + '"><br /><span id="errorAmount" style="font-size:12px;color:red;display:none">Please enter amount</span></div> ' + `${response.Item.IsConfirmed == 1 ? '<div class="badge badge-success ml-2"> Yes</div>' : '<div class= "badge badge-warning ml-2">Pending</div> '}`);
                        } else {
                            $("#Requestedamount").html('<span class="reTitle">Requested amount by Executive :</span> ₹ 0');
                        }

                        var tAmount1 = (response.Item.TipAmount != 0 ? response.Item.TipAmount : 0) + (response.Item.IsConvenienceChargeFree != true ? response.Item.ConvenienceCharge : 0) + (response.Item.AmountRequested != 0 ? response.Item.AmountRequested : 0);
                        $("#TotalAmount").html('<span class="reTitle">Total Amount :</span> ₹ ' + tAmount1);
                    }
                    else {
                        swal("Error !", response.Message , "error");
                    }

                    $(".saveBtn2").show();
                    $(".loading2").hide();
                },
                error: function (error) {
                    swal("Error!", error.Message, "error");
                    $(".saveBtn2").show();
                    $(".loading2").hide();
                }
            });
        }

        function RequestDetails() {

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetRequest_ById, Controllers.Requests)',
                data: { RID: '@ViewBag.Rid' },
                dataType: 'json',
                async: false,
                success: function (response) {
                    if (response.Code == 200) {

                        //Cancel request
                        $("#CancelRequestBtn").show();

                        $("#polyLine").val(response.Item.PolyLine);
                        $("#clat").val(response.Item.CurrentLat);
                        $("#clong").val(response.Item.CurrentLong);
                        $("#slat").val(response.Item.Latitude);
                        $("#slong").val(response.Item.Longitude);

                        google.maps.event.addDomListener(window, "load", initialize);

                        $("#UserIDForNotification").val(response.Item.UserId)

                        $("#requestId").text('Request Id : ' + response.Item.Id);
                        let htmlData = "";

                        if (response.Item.StatusId == 2 || response.Item.StatusId == 11 || response.Item.StatusId == 12 ||
                            response.Item.StatusId == 14 || response.Item.StatusId == 15 || response.Item.StatusId == 6) {
                            if (response.Item.StatusId != 6) {
                                htmlData += `<button disabled class="badge badge-warning">${response.Item.StatusName}</button>`;
                            } else {
                                htmlData += `<button disabled class="badge badge-danger">${response.Item.StatusName}</button>`;
                            }
                            if (response.Item.StatusId == 2) {
                                $("#CompleteRequestBtn").hide();
                            } else {
                                $("#CompleteRequestBtn").show();
                            }
                            //$("#CancelRequestBtn").show();
                        } else if (response.Item.StatusId == 3) {
                            $("#AssignRequestBtn").hide();
                            $("#CompleteRequestBtn").show();

                            htmlData += `<button disabled class="badge badge-primary">${response.Item.StatusName}</button>`;
                        } else if (response.Item.StatusId == 4) {
                            $("#CompleteRequestBtn").hide();
                            //$("#CancelRequestBtn").hide();
                            $("#AssignRequestBtn").hide();
                            htmlData += `<button disabled class="badge badge-success">${response.Item.StatusName}</button>`;
                        } else if (response.Item.StatusId == 5) {
                            htmlData += `<button disabled class="badge badge-danger">${response.Item.StatusName}</button>`;
                        } else {
                            htmlData += `<button disabled class="badge badge-primary">${response.Item.StatusName}</button>`;
                        }

                        $("#StatusName").html(htmlData);

                        address = '';
                        $("#UserName").text(response.Item.UserName);

                        $("#UserProfileURL").html('<img title="Profile Image" style="cursor:pointer;" onclick=redirectToNewTab("' + response.Item.UserProfileURLStr + '"); src = ' + response.Item.UserProfileURLStr + ' height = "50px" >');

                        if (response.Item.UserEmail != null) {
                            $("#UserEmail").html('<a href="mailto:' + response.Item.UserEmail + '">' + response.Item.UserEmail + '</a>');
                        } else {
                            $("#UserEmail").text('-');
                        }

                        $("#UserMobileNumber").html('<a href="tel:' + response.Item.UserMobileNumber + '">' + response.Item.UserMobileNumber + '</a>');

                        if (response.Item.RatingByUser != 0) {
                            $("#showRatingUser").html('<span class="title">Rating Given :</span><div class="par">' + response.Item.RatingByUser + ' <i class="fa fa-star" style="color:#c1c821"></i></div>');
                        } else {
                            $("#showRatingUser").hide();
                        }
                        if (response.Item.ReviewByUser != null) {
                            $("#showReviewUser").html('<span class="title">Review Given :</span><div class="par">' + response.Item.ReviewByUser + '</div>');
                        } else {
                            $("#showReviewUser").hide();
                        }

                        address = '<a target="_blank" class="c-text-primary" href="https://www.google.com/maps/?q=' + response.Item.Latitude + ',' + response.Item.Longitude + '">' + response.Item.AddressLine1 + ' ' + response.Item.AddressLine2 + '</a>';

                        $("#Address").html('<span class="title">Address :</span><div class="par">' + address + '</div>');

                        $("#CreatedDateStr").html('<span class="title">Created DT :</span><div class="par">' + response.Item.CreatedDateStr + '</div>');

                        // Request Detail

                        $("#ServiceName").html('<span class="reTitle mb-2">Service : </span><br/>' + response.Item.ServiceName);
                        if (response.Item.SubServiceMasterId != 0) {
                            $("#SubServiceName").html(' <i class="fa fa-arrow-right"></i> ' + response.Item.SubServiceName);
                        }

                        if (response.Item.SubSubServiceMasterId != 0) {
                            $("#SubSubServiceName").html(' <i class="fa fa-arrow-right"></i> ' + response.Item.SubSubServiceName);
                        }

                        if (response.Item.UserDescription != null) {
                            $("#UserDescription").html('<span class="reTitle" style="">User Description :</span><br/><div class="content1">' + response.Item.UserDescription + '</div>');
                        } else {
                            $("#UserDescription").hide();
                        }

                        if (response.Item.AudioUrl != null && response.Item.AudioUrl != "") {
                            $("#AudioUrl").html('<span class="reTitle">Audio :</span><br/><audio style="margin-top: 5px;" controls><source type="audio/mpeg" src="' + response.Item.AudioUrlStr + '"></audio>');
                        } else {
                            $("#AudioUrl").hide();
                        }

                        if (response.Item.AmountRequested != 0 && response.Item.ServiceMasterId == 1) {
                            $("#showAmountRequested").html('<span class="reTitle">Amount Requested :</span>' + response.Item.AmountRequested);
                        } else {
                            $("#showAmountRequested").hide();
                        }

                        if (response.Item.AmountGiven != 0 && response.Item.ServiceMasterId == 1) {
                            $("#showAmountGiven").html('<span class="reTitle">Amount Given :</span>' + response.Item.AmountGiven);
                        } else {
                            $("#showAmountGiven").hide();
                        }

                        if (response.Item.DeliveryExecutiveRequestAmount != 0 && response.Item.DeliveryExecutiveRequestAmount != null) {
                            $("#deliveryExecutiveRequestAmount").html('<span class="reTitle">Request Amount :</span>' + response.Item.DeliveryExecutiveRequestAmount.toFixed(2));
                        } else {
                            $("#deliveryExecutiveRequestAmount").hide();
                        }

                        if (response.Item.IsApprovedByUser != 0 && response.Item.IsApprovedByUser != null) {
                            $("#isApprovedByUser").html('<span class="reTitle">Is Approved :</span>' + `${response.Item.IsApprovedByUser == 1 ? '<div class="badge badge-success">Approved</div>' : '<div class="badge badge-warning">Un-Approved</div>'}`);
                        } else {
                            $("#isApprovedByUser").hide();
                        }

                        if (response.Item.OTP != 0 && response.Item.OTP != null) {
                            $("#OTP").html('<span class="reTitle">OTP :</span>' + response.Item.OTP);
                        } else {
                            $("#OTP").html('<span class="reTitle">OTP :</span> 0');
                        }

                        if (response.Item.Type != 0 && response.Item.Type != null) {
                            $("#RType").html('<span class="reTitle">Type :</span> <input type="radio" onchange="IsShowAmountRequest(false,' + response.Item.AmountRequested + ',' + response.Item.IsConfirmed + ')" name="serviceTypeUpdate" class="mr-2" value="1" ' + `${response.Item.Type == 1 ? 'checked' : ''}` + '> Service <input type="radio" class="ml-2 mr-2" onchange="IsShowAmountRequest(true,' + response.Item.AmountRequested + ',' + response.Item.IsConfirmed +')" name="serviceTypeUpdate" value="2" ' + `${response.Item.Type == 2 ? 'checked' : ''}` + '> Product');
                        } else {
                            $("#RType").html('<span class="reTitle">Type :</span> -');
                        }

                        if (response.Item.MasterCategoryName != "" && response.Item.MasterCategoryName != null) {
                            $("#MasterCategoryName").html('<span class="reTitle">Category Name :</span>' + response.Item.MasterCategoryName);
                        } else {
                            $("#MasterCategoryName").html('<span class="reTitle">Category Name :</span> -');
                        }
                        if (response.Item.FeedbackRettings != "" && response.Item.FeedbackRettings != null) {
                            $("#FeedbackRettings").html('<span class="title">Users Rating :</span><i class="fa fa-star" style="color:#c1c821"> </i>&nbsp' + response.Item.FeedbackRettings);
                        } else {
                            $("#FeedbackRettings").html('<span class="title">Users Rating :</span> -');
                        }
                        if (response.Item.FeedbackDescription != "" && response.Item.FeedbackDescription != null) {
                            $("#FeedbackDescription").html('<span class="title">Users Review :</span>' + response.Item.FeedbackDescription);
                        } else {
                            $("#FeedbackDescription").html('<span class="title">Users Review :</span> -');
                        }

                        if (response.Item.IsConvenienceChargeFree != true) {
                            $("#ConvenienceCharge").html('<span class="reTitle">Convenience Charge :</span> ₹' + response.Item.ConvenienceCharge);
                        } else {
                            $("#ConvenienceCharge").html('<span class="reTitle">Convenience Charge :</span> <strike class="mr-2"> ₹ ' + response.Item.ConvenienceCharge +'</strike> ₹ 0');
                        }


                        if (response.Item.IsConfirmed != false) {
                            $("#IsConfirmed").html('<span class="reTitle">Amount Confirmed :</span> Yes');
                        } else {
                            $("#IsConfirmed").html('<span class="reTitle">Amount Confirmed :</span> No');
                        }

                        if (response.Item.AmountRequested != 0 && response.Item.AmountRequested != null) {
                            $("#Requestedamount").html('<span class="reTitle">Requested amount by Executive :</span> <div><input type="number" id="amountRequestedUpdate" value="' + response.Item.AmountRequested + '"><br /><span id="errorAmount" style="font-size:12px;color:red;display:none">Please enter amount</span></div> ' + `${response.Item.IsConfirmed == 1 ? '<div class="badge badge-success ml-2"> Yes</div>' : '<div class= "badge badge-warning ml-2">Pending</div> '}`);
                        } else {
                            $("#Requestedamount").html('<span class="reTitle">Requested amount by Executive :</span> ₹ 0');
                        }

                        if (response.Item.TipAmount != 0 && response.Item.TipAmount != null) {
                            $("#TipAmount").html('<span class="reTitle">Tip Amount :</span> ₹' + response.Item.TipAmount);
                        } else {
                            $("#TipAmount").html('<span class="reTitle">Tip Amount :</span> ₹ 0');
                        }

                        if (response.Item.MasterCategoryName != "" && response.Item.MasterCategoryName != null) {
                            $("#MasterCategoryName").html('<span class="reTitle">Category Name :</span>' + response.Item.MasterCategoryName);
                        } else {
                            $("#MasterCategoryName").html('<span class="reTitle">Category Name :</span> -');
                        }

                        var tAmount = (response.Item.TipAmount != 0 ? response.Item.TipAmount : 0) + (response.Item.IsConvenienceChargeFree != true ? response.Item.ConvenienceCharge : 0) + (response.Item.AmountRequested != 0 ? response.Item.AmountRequested : 0);

                        $("#TotalAmount").html('<span class="reTitle">Total Amount :</span><span id="tlAmount">₹ ' + tAmount + '</span>');

                        if (response.Item.ShopName != "" && response.Item.ShopName != null) {
                            $("#ShopName").html('<span class="reTitle">Shop Name :</span>' + response.Item.ShopName);
                        } else {
                            $("#ShopName").html('<span class="reTitle">Shop Name :</span> -');
                        }

                        if (response.Item.OwnerName != "" && response.Item.OwnerName != null) {
                            $("#OwnerName").html('<span class="reTitle">Shop Owner Name :</span>' + response.Item.OwnerName);
                        } else {
                            $("#OwnerName").html('<span class="reTitle">Shop Owner Name :</span> -');
                        }

                        if (response.Item.ContactNumber != "" && response.Item.ContactNumber != null) {
                            $("#ContactNumber").html('<span class="reTitle">Shop Contact Number :</span><a href="tel:' + response.Item.ContactNumber + '">' + response.Item.ContactNumber + '</a>');
                        } else {
                            $("#ContactNumber").html('<span class="reTitle">Shop Contact Number :</span> -');
                        }
                        if (response.Item.PicUrl != "" && response.Item.PicUrl != null) {
                            $("#PicUrl").html('<span class="reTitle">Product Pic :</span><a target="_blank" href="'+ urlServiceClient + response.Item.PicUrl +'"><img title="Profile Image" id="imgPicURL" style="cursor:pointer;width:50px" re height="50px" /></a>');
                            $("#imgPicURL").attr("src", urlServiceClient + response.Item.PicUrl);
                        } else {
                            $("#PicUrl").html('<span class="reTitle">Product Pic :</span> -');
                        }

                        // Delivery executive

                        if (response.Item.DeliveryExecutiveId > 0 && response.Item.DeliveryExecutiveId != null) {

                            $("#DeliveryExecutiveName").text(response.Item.DeliveryExecutiveName);

                            $("#DeliveryExecutiveMobileNumber").html('<a href="tel:' + response.Item.DeliveryExecutiveMobileNumber + '">' + response.Item.DeliveryExecutiveMobileNumber + '</a>');

                            $("#DeliveryExecutiveProfileURL").html('<a target="_blank" href="' + urlClient + response.Item.DeliveryExecutiveProfileURL +'"><img title="Profile Image" id="imgDEProfileURL" style="cursor:pointer;width:50px" height = "50px" >');

                            $("#imgDEProfileURL").attr("src", urlClient + response.Item.DeliveryExecutiveProfileURL);

                            if (response.Item.AssignedDateTimeStr != null || response.Item.AssignedDateTimeStr != '') {
                                $("#AssignedDateTimeStr").html('<span class="title">Assigned DT :</span><div class="par">' + response.Item.AssignedDateTimeStr + '</div>');
                            } else {
                                $("#AssignedDateTimeStr").hide();
                            }

                            if (response.Item.WorkingSince != null || response.Item.WorkingSince != '') {
                                $("#WorkingSinceDays").html('<span class="title">Working Since :</span><div class="par">' + response.Item.WorkingSince + '</div>');
                            } else {
                                $("#WorkingSinceDays").hide();
                            }

                            if (response.Item.DEAgencyName != null) {
                                $("#DeEAgencyName").html('<span class="title">Agency Name :</span><div class="par">' + response.Item.DEAgencyName + '</div>');
                            } else {
                                $("#DeEAgencyName").hide();
                            }

                            if (response.Item.RatingByDeliveryExecutive != 0) {
                                $("#showRatingDE").html('<span class="title">Rating Given :</span><div class="par">' + response.Item.RatingByDeliveryExecutive + ' <i class="fa fa-star" style="color:#c1c821"></i></div>');
                            } else {
                                $("#showRatingDE").hide();
                            }

                            if (response.Item.ReviewByDeliveryExecutive != null) {
                                $("#showReviewDE").html('<span class="title">Review Given :</span><div class="par">' + response.Item.ReviewByDeliveryExecutive + '</div>');
                            } else {
                                $("#showReviewDE").hide();
                            }

                        } else {
                            $("#showDEDetails").html('<div class="text-center">No record found</div>');
                        }
                    }

                    $('#showLoader').hide();
                    $('#hideLoader').show();
                    $('#REDetails').show();
                },
                error: function (error) {
                    console.log('error', error);
                }
            });
        }



        function redirectToNewTab(link) {
            window.open(link, "_blank");
        }

        var RequestsCommentDataTable = function () {
            let initTable1 = function () {
                let table = $('#RequestsCommentTable');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from MAX total entries)",
                        "lengthMenu": "_MENU_ entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.ViewRequestCommentAllData, Controllers.Requests)',
                        type: "post",
                        data: SearchCriteria(),
                    },
                    "columns": [
                        {
                            "title": "Description", "data": "Description",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["Description"] == "" || row["Description"] == null ? '-' : row["Description"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "1%"
                        },
                        {
                            "title": "Created Date", "data": "CreatedDate",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["CreatedDateStr"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                        "buttons": [
                            {
                                text: 'Add Comment',
                                className: 'btn btn-primary mb-3 mt-1',
                                action: function (e, dt, node, config) {
                                    AddCommentPopUp();
                                }
                            },
                        ],

                        // setup responsive extension: http://datatables.net/extensions/responsive/
                        responsive: true,

                        "lengthMenu": [
                            [5, 50, 100, 500, 1000],
                            [5, 50, 100, 500, 1000] // change per page values here
                        ],
                        // set the initial value

                        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                        // So when dropdowns used the scrollable div should be removed.
                        //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#RequestsCommentTable")) {
                        $('#RequestsCommentTable').dataTable().fnDestroy();
                        $('#divRequestsCommentTable').html('<table class="table table-striped" width="100%" id="RequestsCommentTable"></table>');
                    }
                    initTable1();
                }
            };
        }();

        //Data fillter function
        function SearchCriteria() {
            try {
                var param = {};
                param["requestId"] = '@ViewBag.Rid';
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }



        function StatusTrackerDetails() {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetRequestStatusTracker_ByRId, Controllers.Requests)',
                data: { RID: '@ViewBag.Rid' },
                dataType: 'json',
                success: function (response) {
                    appendstr = '';
                    if (response.Values.length > 0) {
                        for (var i = 0; i < response.Values.length; i++) {
                            appendstr += '<span class="text">';
                            appendstr += '<span class="logged"> ' + response.Values[i].CreatedDateStr + ' </span> <span class="content_text"></span> <span class="width">' + response.Values[i].Note + '</span>';
                            appendstr += '</span>';
                        }
                    } else {
                        appendstr += '<div class="text-center">No record found</div>';
                    }
                    $('#showLoader1').hide();
                    $('#StatusMasters').show();
                    $("#StatusMasters").html(appendstr);
                },
                error: function (error) {
                    console.log('error', error);
                }
            })
         }

        function RequestDETrackerDetails() {

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetRequestDETracker_ByRId, Controllers.Requests)',
                data: { RID: '@ViewBag.Rid' },
                dataType: 'json',
                success: function (response) {
                    DEappendstr = '';
                    if (response.Values.length > 0) {
                        for (var i = 0; i < response.Values.length; i++) {
                            DEappendstr += '<span class="text" >';
                            DEappendstr += '<span class="logged"> ' + response.Values[i].CreatedDateStr + ' </span> <span class="content_text"></span> <span class="width">' + response.Values[i].Note + '</span>';
                            DEappendstr += '</span>';
                        }
                    } else {
                        DEappendstr += '<div class="text-center">No record found</div>';
                    }

                    $('#showLoader2').hide();
                    $('#DEtrackerMasters').show();
                    $("#DEtrackerMasters").html(DEappendstr);
                },
                error: function (error) {
                    console.log('error', error);
                }
            })
        }

        function DENotificationDetails() {

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetDENotificaiton_ByRId, Controllers.Requests)',
                data: { RID: '@ViewBag.Rid' },
                dataType: 'json',
                success: function (response) {
                    UNappendstr = '';
                    if (response.Values.length > 0) {
                        for (var i = 0; i < response.Values.length; i++) {
                            UNappendstr += '<span class="text" >';
                            UNappendstr += '<span class="logged"> ' + response.Values[i].CreatedDateStr + ' </span> <span class="content_text"></span> <span class="width">' + response.Values[i].DeliveryExecutiveFirstName + ' ' + response.Values[i].DeliveryExecutiveLastName + ' - ' + response.Values[i].Description + '</span>';
                            UNappendstr += '</span>';
                        }
                    } else {
                        UNappendstr += '<div class="text-center">No record found</div>';
                    }

                    $('#showLoader4').hide();
                    $('#DENotificationMasters').show();
                    $("#DENotificationMasters").html(UNappendstr);
                },
                error: function (error) {
                    console.log('error', error);
                }
            })
        }

        function UserNotificationDetails() {

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetUserNotification_ByRId, Controllers.Requests)',
                data: { RID: '@ViewBag.Rid', UserId: $("#UserIDForNotification").val() },
                dataType: 'json',
                success: function (response) {
                    UNappendstr = '';
                    if (response.Values.length > 0) {
                        for (var i = 0; i < response.Values.length; i++) {
                            UNappendstr += '<span class="text" >';
                            UNappendstr += '<span class="logged"> ' + response.Values[i].CreatedDateStr + ' </span> <span class="content_text"></span> <span class="width">' + response.Values[i].Description + '</span>';
                            UNappendstr += '</span>';
                        }
                    } else {
                        UNappendstr += '<div class="text-center">No record found</div>';
                    }

                    $('#showLoader3').hide();
                    $('#UserNotificationMasters').show();
                    $("#UserNotificationMasters").html(UNappendstr);
                },
                error: function (error) {
                    console.log('error', error);
                }
            })
        }

        function DeleteDocument(REDId) {
            swal({
                title: "Delete !",
                text: "Are You Sure You want to Delete this Document ?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willdelete) => {
                if (willdelete) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action(Actions.DeleteRequestDocuments, Controllers.Requests)',
                        data: { RequestDocumentId: REDId },
                        dataType: 'json',
                        success: function (response) {
                            window.location.reload();
                        },
                        error: function (error) {
                            console.log('error', error);
                        }
                    })
                }
            });
        }

        function UpdateRequestFun(sId) {
            swal({
                title: "Are you sure ?",
                text: "You will be updating this request !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willupdate) => {
                if (willupdate) {
                    UpdateRequestStatus(sId);
                }
            });
        }

        function UpdateRequestStatus(statusIds) {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.UpdateRequest, Controllers.Requests)',
                data: { reId: atob('@ViewBag.Rid'), statusId: statusIds },
                dataType: 'json',
                success: function (response) {
                    if (response.Code == 200) {
                        swal({
                            title: "Great !",
                            text: response.Message,
                            icon: "success",
                            timer: 2000
                        });
                        window.location.reload();
                    } else {
                        swal({
                            title: "Warning !",
                            text: response.Message,
                            icon: "warning",
                            timer: 2000
                        });
                    }
                },
                error: function (error) {
                    swal({
                        title: "Warning !",
                        text: error.Message,
                        icon: "warning",
                        timer: 2000
                    });
                }
            });
        }


    </script>




    <script>
        var map;
        var directionDisplay;
        var directionsService;
        var stepDisplay;
        var markerArray = [];
        var position;
        var marker = null;
        var polyline = null;
        var poly2 = null;
        var speed = 0.000005, wait = 1;
        var infowindow = null;

        var myPano;
        var panoClient;
        var nextPanoId;
        var timerHandle = null;
        var markerArray = [];
        function createMarker(latlng, label, html) {
            // alert("createMarker("+latlng+","+label+","+html+","+color+")");
            var contentString = '<b>' + label + '</b><br>' + html;
            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title: label,
                zIndex: Math.round(latlng.lat() * -100000) << 5
            });
            marker.myname = label;
            // gmarkers.push(marker);

            google.maps.event.addListener(marker, 'click', function () {
                infowindow.setContent(contentString);
                infowindow.open(map, marker);
            });
            markerArray.push(marker);
            return marker;
        }


        function initialize() {
            infowindow = new google.maps.InfoWindow(
                {
                    size: new google.maps.Size(150, 50)
                });
            // Instantiate a directions service.
            directionsService = new google.maps.DirectionsService();

            // Create a map and center it on Manhattan.
            var myOptions = {
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

            address = 'ahmedabad'
            geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'address': address }, function (results, status) {
                map.setCenter(results[0].geometry.location);
            });

            // Create a renderer for directions and bind it to the map.
            var rendererOptions = {
                map: map
            }
            directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);

            // Instantiate an info window to hold step text.
            stepDisplay = new google.maps.InfoWindow();

            polyline = new google.maps.Polyline({
                path: [],
                strokeColor: '#FF0000',
                strokeWeight: 3
            });
            poly2 = new google.maps.Polyline({
                path: [],
                strokeColor: '#FF0000',
                strokeWeight: 3
            });
            calcRoute();
        }



        var steps = []

        function calcRoute() {

            if (timerHandle) { clearTimeout(timerHandle); }
            if (marker) { marker.setMap(null); }
            polyline.setMap(null);
            poly2.setMap(null);
            directionsDisplay.setMap(null);
            polyline = new google.maps.Polyline({
                path: [],
                strokeColor: '#FF0000',
                strokeWeight: 3
            });
            poly2 = new google.maps.Polyline({
                path: [],
                strokeColor: '#FF0000',
                strokeWeight: 3
            });
            // Create a renderer for directions and bind it to the map.
            var rendererOptions = {
                map: map
            }

            directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);

            //var start = document.getElementById("start").value;
            //var end = document.getElementById("end").value;
            var travelMode = google.maps.DirectionsTravelMode.DRIVING

            var olatlong = $("#clat").val() + ',' + $("#clong").val();
            var dlatlong = $("#slat").val() + ',' + $("#slong").val();

            var decode = google.maps.geometry.encoding.decodePath($("#polyLine").val());
            var request = {
                origin: decode[0],
                destination: decode[decode.length - 1],
                travelMode: travelMode
            };

            // Route the directions and pass the response to a
            // function to create markers for each step.
            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);

                    var bounds = new google.maps.LatLngBounds();
                    var route = response.routes[0];
                    startLocation = new Object();
                    endLocation = new Object();

                    // For each route, display summary information.
                    var path = response.routes[0].overview_path;
                    var legs = response.routes[0].legs;
                    for (i = 0; i < legs.length; i++) {
                        if (i == 0) {
                            startLocation.latlng = legs[i].start_location;
                            startLocation.address = legs[i].start_address;
                            // marker = google.maps.Marker({map:map,position: startLocation.latlng});
                            marker = createMarker(legs[i].start_location, "start", legs[i].start_address, "green");
                        }
                        endLocation.latlng = legs[i].end_location;
                        endLocation.address = legs[i].end_address;
                        var steps = legs[i].steps;
                        for (j = 0; j < steps.length; j++) {
                            var nextSegment = steps[j].path;
                            for (k = 0; k < nextSegment.length; k++) {
                                polyline.getPath().push(nextSegment[k]);
                                bounds.extend(nextSegment[k]);



                            }
                        }
                    }

                    polyline.setMap(map);
                    map.fitBounds(bounds);
                    //        createMarker(endLocation.latlng,"end",endLocation.address,"red");
                    map.setZoom(18);
                    startAnimation();
                }
            });
        }



        var step = 50; // 5; // metres
        var tick = 5000; // milliseconds
        var eol;
        var k = 0;
        var stepnum = 0;
        var speed = "";
        var lastVertex = 1;


        //=============== animation functions ======================



        function animate(lat, long) {
         $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetRequest_ById, Controllers.Requests)',
                data: { RID: '@ViewBag.Rid' },
                dataType: 'json',
                async: false,
             success: function (response) {
                 var car = "M17.402,0H5.643C2.526,0,0,3.467,0,6.584v34.804c0,3.116,2.526,5.644,5.643,5.644h11.759c3.116,0,5.644-2.527,5.644-5.644 V6.584C23.044,3.467,20.518,0,17.402,0z M22.057,14.188v11.665l-2.729,0.351v-4.806L22.057,14.188z M20.625,10.773 c-1.016,3.9-2.219,8.51-2.219,8.51H4.638l-2.222-8.51C2.417,10.773,11.3,7.755,20.625,10.773z M3.748,21.713v4.492l-2.73-0.349 V14.502L3.748,21.713z M1.018,37.938V27.579l2.73,0.343v8.196L1.018,37.938z M2.575,40.882l2.218-3.336h13.771l2.219,3.336H2.575z M19.328,35.805v-7.872l2.729-0.355v10.048L19.328,35.805z";

                    var icon = {
                        path: '../../assets/bike.png',
                        scale: .7,
                        strokeColor: 'white',
                        strokeWeight: .10,
                        fillOpacity: 1,
                        fillColor: '#404040',
                        offset: '5%',
                        // rotation: parseInt(heading[i]),
                        anchor: new google.maps.Point(10, 25) // orig 10,50 back of car, 10,0 front of car, 10,25 center of car
                    };
                    if (response.Code == 200) {
                        var latLng = new google.maps.LatLng(response.Item.CurrentLat, response.Item.CurrentLong);
                        //var latLng = new google.maps.LatLng(parseFloat($("#clat").val()), parseFloat ($("#clong").val()));
                        map.panTo(latLng);
                        //marker.setPosition(latLng);

                        var sicons = {
                            url: "../../assets/bike.png", // url
                            scaledSize: new google.maps.Size(44, 32), // scaled size
                            origin: new google.maps.Point(0, 0), // origin
                            anchor: new google.maps.Point(22, 32) // anchor
                        };

                        markerArray[markerArray.length - 1].setMap(null);

                     var currentMarker =  new google.maps.Marker({
                            position: latLng,
                            map: map,
                            icon: sicons,
                            title: 'Delivery Excutive',
                        });
                        var lastPosn = currentMarker.getPosition();
                        var heading = google.maps.geometry.spherical.computeHeading(lastPosn, latLng);
                        sicons.rotation = heading;
                        currentMarker.setIcon(sicons);
                        markerArray.push(currentMarker);

                        timerHandle = setTimeout("animate(" + (lat, long) + ")", tick);
                    }
             },
             error: function (error) {
                 console.log('error', error);
             }
         })
        }


        function startAnimation() {
            eol = google.maps.geometry.spherical.computeLength(polyline.getPath());
            map.setCenter(polyline.getPath().getAt(0));

            poly2 = new google.maps.Polyline({ path: [polyline.getPath().getAt(0)], strokeColor: "#0000FF", strokeWeight: 10 });

            setTimeout("animate(" + $("#clat").val() + "," + $("#clong").val() +")", 2000);  // Allow time for the initial map display
        }


        //=============== ~animation funcitons =====================

        function redirectToNewTab(link) {
            window.open(link, "_blank");
        }


    </script>
}
