﻿@using AAH.Common;
@using AAHAdmin.Pages;
@using System.Web.Optimization;
@using AAHAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #0069D9;
        color: white;
    }

    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        border-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            border-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        border-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .text-c-dark {
        color: #000;
    }

    .device-active .active .card {
        background: #157aec;
        cursor: pointer;
    }

    .device-active .active .text-c-dark {
        color: #fff !important;
    }

        .device-active .active .text-c-dark .icon {
            background-color: #0069D9;
            border: none;
        }

    .icon-box {
        background: #eff1f4;
    }

        .icon-box:hover {
            background: #0e67cc !important;
        }

    .btn-primary {
        color: #fff !important;
        background-color: #0596F8 !important;
        border-color: #0596F8 !important;
        box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%) !important;
    }

    div.dt-buttons {
        float: right !important;
    }
</style>


<div class="content container-fluid">
    <div class="row">
        <div class="col-12">
            @*<nav aria-label="breadcrumb" id="BRDshow">
                <ol class="breadcrumb">
                    <li><a onclick="BackToDeliveryExecutive();" style="cursor: pointer;"><h6 style="color: #0596F8;" id="BackToDeliveryExecutiveName"></h6></a></li>
                    <li><h6 class="ml-1">Requests</h6></li>
                </ol>
            </nav>*@
            <h5 id="BRDhide">Requests</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">
            @Html.AntiForgeryToken()
            <div class="portlet-body table-responsive" id="divRequestsTable">
                <table class="table table-striped table-bUsersed table-hover" id="RequestsTable"></table>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="RequestsFillter" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">Requests Filters</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
           
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <label>Users</label>
                        <div class="form-group">
                            @Html.Raw(Html.DropDownList("GetUsersAll", (IEnumerable<SelectListItem>)ViewBag.GetUsersAll, new { @Id = "UserId", @class = "form-control" }))
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label>Delivery Executive</label>
                        <div class="form-group">
                            @Html.Raw(Html.DropDownList("GetDeliveryExecutiveAll", (IEnumerable<SelectListItem>)ViewBag.GetDeliveryExecutiveAll, new { @Id = "DeliveryExecutiveId", @class = "form-control" }))
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label>Service</label>
                        <div class="form-group">
                            @Html.Raw(Html.DropDownList("GetServiceMasterAll", (IEnumerable<SelectListItem>)ViewBag.GetServiceMasterAll, new { @Id = "ServiceMasterId", @onchange= "SubServicesData();", @class = "form-control" }))
                        </div>
                    </div>
                    <div class="col-sm-12" id="subServiceDiv">
                        <label>Sub Service</label>
                        <div class="form-group">
                            <select class="form-control" id="subService">
                                <option value="0">All</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label>Status</label>
                        <div class="form-group">
                            @Html.Raw(Html.DropDownList("GetStatusAll", (IEnumerable<SelectListItem>)ViewBag.GetStatusAll, new { @Id = "StatusId", @class = "form-control" }))
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnAsReq" type="button" class="btn btn-primary saveBtn" onclick="SearchReset(false)">Search</button>
                <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Searching...
                </button>
                <button type="button" data-dismiss="modal" class="btn btn-secondary closeBtn">Close</button>
            </div>
        </div>
    </div>
</div>

@*Request update admin*@
<div class="modal" id="RequestUpdateAdmin" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="RequestUpdateAdminLabel">Requests Update</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/" method="post" id="requestupdate-form">
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <label>Service Master Type</label>
                            <div class="form-group mb-2">
                                <select class="form-control" id="serviceMasterType" onchange="ServiceMasterType();" name="serviceMasterType">
                                    <option value="1">Cash At Home</option>
                                    <option value="2">Other Service</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12" id="amountRequestedDiv" style="display:none;">
                            <label>Amount</label>
                            <div class="form-group mb-2">
                                <input type="number" class="form-control" name="amountRequested" id="amountRequested" value="" />
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label>Pay Type</label>
                            <div class="form-group mb-2">
                                @Html.Raw(Html.DropDownList("PayType", (IEnumerable<SelectListItem>)ViewBag.MasterPayTypeAll, new { @Id = "PayType", @class = "form-control" }))
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label>Delivery Executive</label>
                            <div class="form-group mb-2">
                                <select class="form-control" id="deliveryExecutive" name="deliveryExecutive">
                                   
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnAsReq" type="submit" name="submit" class="btn btn-primary saveBtn">Save Details</button>
                    <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Save Details...
                    </button>
                    <button type="button" data-dismiss="modal" class="btn btn-secondary closeBtn">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<input type="hidden" id="Type" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>
@section Scripts {
    <script>
        $(document).ready(() => {

            setInterval(function () {
                RequestsDataTable.init();
            }, 180000);



            $("#serviceMasterType").append('<option value="0" disabled selected hidden>Please select a service master type</option>');
            $("#PayType").append('<option value="0" disabled selected hidden>Please select a pay type</option>');
            //DSDetails();
            $("#subServiceDiv").hide();
            $('#DeliveryExecutiveId').val('@ViewBag.DEid');
            $('#Type').val('@ViewBag.Type');
            $('#UserId').val('@ViewBag.Uid');
            @*if (@ViewBag.DEid > 0) {
                $('#BRDshow').show();
                $('#BRDhide').hide();
            } else {
                $('#BRDhide').show();
                $('#BRDshow').hide();
            }*@

            $('#ServiceMasterId').val(0);
            $('#SubServiceMasterId').val(0);
            $('#StatusId').val(0);
            RequestsDataTable.init();



            $("#requestupdate-form").validate({
                rules: {
                    serviceMasterType: "required",
                    amountRequested: "required",
                    payType: "required",
                    deliveryExecutive: "required",
                },
                messages: {
                    serviceMasterType: "Please select a service master type",
                    amountRequested: "Amount is required",
                    payType: "Please select a pay type",
                    deliveryExecutive: "Please select a delivery executive",
                },
                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents('.form-group'));
                    }
                    else { // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    RequestDataUpdate();
                }

            });
        });



        @*function DSDetails() {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetDeliveryExecutiveDetails, Controllers.DeliveryExecutives)',
                data: { DId: btoa('@ViewBag.DEid') },
                dataType: 'json',
                success: function (response) {
                    if (response.Code == 200) {
                        $("#BackToDeliveryExecutiveName").text(response.Item.FirstName + ' ' + response.Item.LastName + ' >' + ' ');
                    }
                },
                error: function (error) {
                    console.log('error', error);
                }
            })
        }*@

        function BackToDeliveryExecutive() {
            window.location.href = '@Url.Action("Index", "DeliveryExecutives")';
        }

        var RequestsDataTable = function () {
            let initTable1 = function () {
                let table = $('#RequestsTable');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from MAX total entries)",
                        //"lengthMenu": "MENU entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.ViewRequestAllData, Controllers.Requests)',
                        type: "post",
                        data: SearchCriteria(),
                    },
                    "columns": [
                        {
                            "title": "Request Id", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["Id"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "1%"
                        },
                        {
                            "title": "Customer Details", "data": "UserProfileURLStr",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData += `<div class="d-flex">`
                                htmlData += `<img title="Profile Image" style="cursor:pointer;" onclick=redirectToNewTab('${row["UserProfileURLStr"]}') src="${row["UserProfileURLStr"]}" height="50px">`;
                                    htmlData += `<div class="ml-2">`
                                        htmlData += `<p class="mb-0">${row["UserName"]}</p>`;
                                        htmlData += `<p class="mb-0"><a class="c-text-primary" href="mailto:${row["UserEmail"]}"> ${row["UserEmail"] == "" || row["UserEmail"] == null ? '-' : row["UserEmail"]}</a></p>`;
                                        htmlData += `<p class="mb-0"><a href="tel:${row["UserMobileNumber"]}">${row["UserMobileNumber"]}</a></p>`;
                                        htmlData += `<p class="mb-0"><b>Total Request : </b> ${row["UserTotalRequest"]}</p>`;
                                     htmlData += `</div>`
                                htmlData += `</div>`

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Delivery Executive Details", "data": "DeliveryExecutiveProfileURL",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                if (row["DeliveryExecutiveId"] != 0) {
                                    htmlData += `<div class="d-flex">`
                                    htmlData += `<img title="Profile Image" style="cursor:pointer;" onclick=redirectToNewTab('${row["DeliveryExecutiveProfileURLStr1"]}') src="${row["DeliveryExecutiveProfileURLStr1"]}" height="50px">`;
                                    htmlData += `<div class="ml-2">`
                                    htmlData += `<p class="mb-0">${row["DeliveryExecutiveName"]}</p>`;
                                    htmlData += `<p class="mb-0"><a href="tel:${row["DeliveryExecutiveMobileNumber"]}">${row["DeliveryExecutiveMobileNumber"]}</a></p>`;
                                    htmlData += `<p class="mb-0">${row["DeliveryExecutiveRatings"] == "" || row["DeliveryExecutiveRatings"] == null ? '' : row["DeliveryExecutiveRatings"]} <i class="fa fa-star" style="color:#c1c821"></i></p>`;
                                    htmlData += `</div>`
                                    htmlData += `</div>`
                                    htmlData += `<p class="mb-0 mt-2"><b>Agency Name : </b>${row["DEAgencyName"]}</p>`
                                    htmlData += `<p class="mb-0"><b>Assigned DT : </b>${row["AssignedDateTimeStr"]}</p>`;
                                } else {
                                    htmlData += `<p class="mb-0"><button disabled class="badge badge-primary">Not Assigned</button></p>`;
                                }
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Services", "data": "ServiceName",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData += `<p class="mb-2"><b>Service: </b><br>${row["ServiceName"]} `;
                                if (row["SubServiceMasterId"] != 0) {
                                    htmlData += `<i class="fa fa-arrow-right"></i>  ${row["SubServiceName"]}`;
                                }
                                if (row["SubSubServiceMasterId"] != 0) {
                                    htmlData += ` <i class="fa fa-arrow-right"></i>  ${row["SubSubServiceName"]}`;
                                }
                                if (row["AudioUrl"] != null && row["AudioUrl"] != "") {
                                    htmlData += `<p class="mb-0"><b>Audio: </b><br/><audio controls><source type="audio/mpeg" src="${row["AudioUrlStr"]}"></audio></p>`;
                                }
                                htmlData += `</p>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Status Name", "data": "StatusName",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                if (row["StatusId"] == 1 || row["StatusId"] == 2 || row["StatusId"] == 7 || row["StatusId"] == 9) {
                                    htmlData += `<button disabled class="badge badge-warning">${row["StatusName"]}</button>`;
                                } else if (row["StatusId"] == 3 || row["StatusId"] == 4 || row["StatusId"] == 8) {
                                    htmlData += `<button disabled class="badge badge-success">${row["StatusName"]}</button>`;
                                } else if (row["StatusId"] == 5 || row["StatusId"] == 6 || row["StatusId"] == 10) {
                                    htmlData += `<button disabled class="badge badge-danger">${row["StatusName"]}</button>`;
                                } else {
                                    htmlData += `<button disabled class="badge badge-primary">${row["StatusName"]}</button>`;
                                }
                                htmlData += `<br/><br/>`;
                                debugger;
                                if (row["AmountRequested"] != null) {
                                    htmlData += `<p class="mb-0"><b>Amount Requested By Executive :</b> ${row["AmountRequested"]}</p>`;
                                    htmlData += `<br/><br/>`;
                                    if (row["IsConfirmed"] == 1) {
                                        htmlData += `<p class="mb-0"><b>Amount Confirmed By Customer :</b> <div class="badge badge-success ml-2"> Yes</div></p>`;
                                    } else {
                                        htmlData += `<p class="mb-0"><b>Amount Confirmed By Customer :</b> <div class="badge badge-danger ml-2"> No</div></p>`;
                                    }
                                    
                                }
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },

                        {
                            "title": "Address", "data": "AddressId",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0"><b>Address : </b><a target="_balnk" class="c-text-primary" href="https://www.google.com/maps/?q=${row["Latitude"]},${row["Longitude"]}">${row["AddressLine1"] + " " + row["AddressLine2"]}</a></p>`;

                                return htmlData;
                            }
                            , "Usersable": false, "width": "3%"
                        },
                        //{
                        //    "title": "Users Feedback", "data": "RatingByUser",
                        //    "render": function (data, type, row) {
                        //        let htmlData = "";
                        //        if (row["RatingByUser"] != null && row["RatingByUser"] != "") {
                        //            htmlData += `<p class="mb-0"><b>Rating Given: </b>${row["RatingByUser"]} <i class="fa fa-star" style="color:#c1c821"></i></p>`;
                        //        } else {
                        //            htmlData += `<p class="mb-0"><b>Rating Given: </b>-</p>`
                        //        }
                        //        if (row["ReviewByUser"] != null && row["ReviewByUser"] != "") {
                        //            htmlData += `<p class="mb-0"><b>Review Given: </b>${row["ReviewByUser"]}</p>`;
                        //        } else {
                        //            htmlData += `<p class="mb-0"><b>Review Given: </b>-</p>`
                        //        }

                        //        return htmlData;
                        //    }
                        //    , "orderable": false, "width": "3%"
                        //},
                        //{
                        //    "title": "Delivery Executive Feedback", "data": "RatingByUser",
                        //    "render": function (data, type, row) {
                        //        let htmlData = "";

                        //        if (row["RatingByDeliveryExecutive"] != null && row["RatingByDeliveryExecutive"] != "") {
                        //            htmlData += `<p class="mb-0"><b>Rating Given: </b>${row["RatingByDeliveryExecutive"]} <i class="fa fa-star" style="color:#c1c821"></i></p>`;
                        //        } else {
                        //            htmlData += `<p class="mb-0"><b>Rating Given: </b>-</p>`
                        //        }
                        //        if (row["ReviewByDeliveryExecutive"] != null && row["ReviewByDeliveryExecutive"] != "") {
                        //            htmlData += `<p class="mb-0"><b>Review Given: </b>${row["ReviewByDeliveryExecutive"]}</p>`;
                        //        } else {
                        //            htmlData += `<p class="mb-0"><b>Review Given: </b>-</p>`
                        //        }


                        //        return htmlData;
                        //    }
                        //    , "orderable": false, "width": "3%"
                        //},
                        {
                            "title": "Created Date", "data": "CreatedDate",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["CreatedDateStr"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Action", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                let ServiceMasterId = row["ServiceMasterId"];

                                //if (ServiceMasterId == 5) {
                                //    htmlData += `<p class="btn btn-sm btn-outline-secondary mt-2" onclick="RequestUpdateAdmin('${btoa(row["Id"])}');" title="View Request"><i class="fa fa-edit"></i></p>`;
                                //} else {
                                //    htmlData += `<p class="btn btn-sm btn-outline-secondary mt-2" onclick="ViewRequestDetails('${btoa(row["Id"])}');" title="View Request"><i class="fa fa-eye"></i></p>`;
                                //}
                                htmlData += `<p class="btn btn-sm btn-outline-secondary mt-2" onclick="ViewRequestDetails('${btoa(row["Id"])}');" title="View Request"><i class="fa fa-eye"></i></p>`;


                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                        "buttons": [
                            {
                                text: 'Filters',
                                className: 'btn btn-primary mb-3 mt-1',
                                action: function (e, dt, node, config) {
                                    RequestsDataFillter();
                                }
                            },
                            {
                                text: 'Reset',
                                className: ' mb-3 mt-1 mr-3',
                                action: function () {
                                    SearchReset(true)
                                }
                            }
                        ],

                        // setup responsive extension: http://datatables.net/extensions/responsive/
                        responsive: true,

                        "lengthMenu": [
                            [5, 10, 15, 20, 1000],
                            [5, 10, 15, 20, 1000] // change per page values here
                        ],
                        // set the initial value

                        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                        // So when dropdowns used the scrollable div should be removed.
                        //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#RequestsTable")) {
                        $('#RequestsTable').dataTable().fnDestroy();
                        $('#divRequestsTable').html('<table class="table table-striped" width="100%" id="RequestsTable"></table>');
                    }
                    initTable1();
                }
            };
        }();

        //Data fillter function
        function SearchCriteria() {
            try {
                var param = {};
                param["UserId"] = $('#UserId').val();
                param["DeliveryExecutiveId"] = $('#DeliveryExecutiveId').val();
                param["ServiceMasterId"] = $('#ServiceMasterId').val();
                param["SubServiceMasterId"] = $('#SubServiceMasterId').val();
                param["StatusId"] = $('#StatusId').val();
                param["Type"] = $('#Type').val();
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function addRequestVerificationToken(data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        }

        //RequestUpdateAdmin
        var RequestId = "";
        function RequestUpdateAdmin(RID) {
            RequestId = RID;
            DeliveryExecutiveData(RID);

            $("#amountRequestedDiv").hide();
            var myForm = document.getElementById("requestupdate-form").reset();
            var $alertas = $('#requestupdate-form');
            $alertas.validate().resetForm();
            $alertas.find('.error').removeClass('error');
            $("form").validate().resetForm();

            $("#RequestUpdateAdmin").modal('show');
        }


        function ServiceMasterType() {
            var ServiceMasterTypeId = $("#serviceMasterType").val();

            if (ServiceMasterTypeId == 1) {
                $("#amountRequestedDiv").show();
            } else if (ServiceMasterTypeId == 2) {
                $("#amountRequestedDiv").hide();
            } else {
                //Not Valid
            }
        }


        function DeliveryExecutiveData(RID) {

            $("#deliveryExecutive").html("");

            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.DeliveryExecutiveData, Controllers.Requests)',
                data: { DId: RID },
                dataType: 'json',
                success: function (response) {
                    for (var i = 0; i < response.Values.length; i++) {
                        $("#deliveryExecutive").append(`
                            <option value="${response.Values[i].Id}">${response.Values[i].FirstName + " " + response.Values[i].LastName + " - " + response.Values[i].MobileNumber + " - " + response.Values[i].DistanceKm +" KM "}</option>
                        `);
                    }
                    $("#deliveryExecutive").append('<option value="0" disabled selected hidden>Please select a delivery executive</option>');
                },
                error: function (error) {
                    console.log('error', error);
                }
            })
        }

        //Request data update
        function RequestDataUpdate() {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.RequestDataUpdateAdmin, Controllers.Requests)',
                data: ({
                    RequestedId: RequestId,
                    ServiceMasterTypeId: $("#serviceMasterType").val(),
                    MasterPayTypeId: $("#PayType").val(),
                    AmountRequested: $("#amountRequested").val(),
                    DeliveryExecutiveId: $("#deliveryExecutive").val(),
                }),
                dataType: 'json',
                success: function (response) {
                    $("#RequestUpdateAdmin").modal('hide');
                    RequestsDataTable.init();
                    if (response.Code == 200) {
                        swal({
                            title: "Success",
                            text: response.Message,
                            icon: "success",
                            timer: 2000
                        })
                    } else {
                        swal({
                            title: "Warning",
                            text: response.Message,
                            icon: "warning"
                        })
                    }
                    
                },
                error: function (error) {
                    console.log('error', error);
                }
            });
        }



        function RequestsDataFillter() {
            $('#RequestsFillter').modal('show');
        }
        //Fillter date reset function
        function SearchReset(isReset) {

            if (isReset == true) {
                $('#UserId').val(0);
                $('#Type').val(0);
                $('#DeliveryExecutiveId').val(0);
                $('#ServiceMasterId').val(0);
                $('#SubServiceMasterId').val(0);
                $('#StatusId').val(0);
                window.location.href = '@Url.Action("Index", "Requests")';
            }

            RequestsDataTable.init();
            $('#RequestsFillter').modal('hide');

        }

        function redirectToNewTab(link){
             window.open(link, "_blank");
        }

        function SubServicesData() {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.GetSubService_All, Controllers.Requests)',
                data: { Id: $("#ServiceMasterId").val() },
                dataType: 'json',
                success: function (response) {
                    for (i = 0; i < response.Values.length; i++) {
                        $('#subService').append(`
                            <option value="${response.Values[i].Id}">${response.Values[i].SubServiceName}</option>
                        `);
                    }
                    $("#subServiceDiv").show();

                },
                error: function (error) {
                    console.log('error', error);
                }
            });
        }

        function ViewRequestDetails(id) {
            window.location.href = "/Requests/Details?RId=" + id;
        }
    </script>
}