﻿@using AAH.Common;
@using ChaiNasta.Pages;
@using AAH.Common;


@{ /**/
    var curController = Convert.ToString(ViewContext.RouteData.Values["Controller"]);
    var curAction = Convert.ToString(ViewContext.RouteData.Values["Action"]);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- SEO & Metatags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no" /> <!-- Remove Tap Highlight on Windows Phone IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="subject" content="">
    <meta name="copyright" content="">
    <meta name=author content="">
    <title>GinnyBuddy | @ViewBag.Title</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/assets/fonts/style.css">
    @*<link rel="stylesheet" href="~/assets/vendors/simplebar/dist/simplebar.min.css">*@
    <link rel="stylesheet" href="~/assets/vendors/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-html5-1.7.1/b-print-1.7.1/r-2.2.9/datatables.min.css" />

    <link rel="stylesheet" href="~/assets/css/main.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

    <link rel="stylesheet" href="~/assets/validation/css/toastr.min.css">

    <style>
        .error {
            color: red;
            margin-bottom: 0px;
        }

        audio {
            width: 215px !important;
            height: 40px !important;
        }
        .img-round {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 100px;
        }
        .navbar-brand-wrapper{
            height:auto !important;
        }
        .items-image img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 10px;
        }
        .item-description {
            margin-left: 10px;
            line-height: 1.3;
        }
        .item-description p {
            font-weight: 600;
            font-size: 13px;
        }
        .item-description span {
            font-size: 12px;
            color: #959494;
        }

        .choose-label i {
            display: none;
        }

        .choose-item:checked ~ .choose-label {
            background-color: #349cff21;
            border: 1px solid #349cff;
            color: #000;
            padding: 5px;
            border-radius: 10px;
        }

        .choose-item:checked ~ .choose-label i {
            display: block;
        }
    </style>
</head>
<body class="aside-show">

    <header>
        <div class="container-fluid">
            <div class="navbar pl-0">
                <button class="btn btn-hover-secondary btn-icon toggle-sidebar" type="button">
                    <i class="tio-menu-hamburger fs-20"></i>
                </button>
                <ul class="nav">
                    <!-- Profile -->
                    <li>
                        <div class="dropdown dropdown-profile ml-2">
                            <!-- Dropdown Button -->
                            <button class="btn btn-hover-secondary btn-icon" type="button" id="profileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="avatar">
                                    <img alt="avatar" src="~/assets/user-icon.png" class="rounded-circle">
                                </span>
                            </button>
                            <!-- Dropdown Menu -->
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
                                <!-- Dropdown Head -->
                                <div class="dropdown-head justify-content-start">
                                    <div class="avatar">
                                        <img alt="avatar" src="~/assets/user-icon.png" class="rounded-circle">
                                    </div>
                                    <div class="text-truncate ml-2">
                                        <h6 class="mb-1">@ProjectSession.AdminName</h6>
                                        <p class="fs-13 mb-0 text-muted">@ProjectSession.LoginAdminEmail</p>
                                    </div>
                                </div>
                                <!-- Dropdown Body -->
                                <div class="dropdown-body">
                                    <ul class="list-unstyled py-2">
                                        <li>
                                            <form action="@Url.Action("Signout","Authentication")" method="post">
                                                <button class="dropdown-item fs-14" type="submit">
                                                    Sign out
                                                </button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- Sidebar -->
    <aside>
        <div class="navbar-vertical">
            <div class="navbar-brand-wrapper custome-navabar-logo">
                <a href="" class="navbar-brand mr-0 ">
                    <img src="~/assets/ChaiNastaLogo.jpeg" class="w-100">
                    @*<h4 class="fw-bold text-center">GinnyBuddy</h4>*@
                </a>
            </div>
            <div class="navbar-vertical-content" data-simplebar>
                <ul class="navbar-vertical-nav pb-3">
                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "Home")" id="mnHome" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="tio-dashboard-vs-outlined"></i></div>
                            Dashboard
                        </a>
                    </li>
                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "Vendors")" id="mnVendors" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon"><i class="fa fa-users"></i></div>
                            Manage Vendors
                        </a>
                    </li>
                    <li class="navbar-vertical-item">
                        <a href="@Url.Action("Index", "Items")" id="mnItems" class="navbar-vertical-link">
                            <div class="navbar-vertical-icon">
                                <i class="fa fa-th-list" aria-hidden="true"></i>
                            </div>
                            Manage Items
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
    <main>
        @RenderBody()
    </main>
    <!-- Menu Backdrop -->
    <div class="backdrop d-none"></div>


    <!-- Scripts -->
    <script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/js/jquery.validate.js"></script>
    <script src="~/assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/assets/vendors/simplebar/dist/simplebar.min.js"></script>*@
    <script src="~/assets/vendors/daterangepicker/moment.min.js"></script>
    <script src="~/assets/vendors/daterangepicker/daterangepicker.js"></script>
    @*<script src="~/assets/vendors/apexcharts/dist/apexcharts.min.js"></script>*@

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-html5-1.7.1/b-print-1.7.1/r-2.2.9/datatables.min.js"></script>
    <!-- Main Js -->
    <script src="~/assets/js/main.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>


    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/ui-toastr.min.js"></script>
    <script src="~/Scripts/common.js"></script>

    <script>
        $(document).ready(function () {
            setSelectedMenu();
        });

        function setSelectedMenu() {
            $(".main-menu").find("li.active").each(function () {
                $(this).removeClass("active");
            });
            switch ('@curController') {
                case '@Controllers.Home':
                    setActiveLink($('#mnHome').attr('id'));
                    break;
                case '@Controllers.Vendors':
                    setActiveLink($('#mnVendors').attr('id'));
                    break;
                case '@Controllers.Items':
                    setActiveLink($('#mnItems').attr('id'));
                    break;
            }
        }

        function setActiveLink(menuId) {
            $("#" + menuId).addClass("active");
        };

        function setSubActiveLink(menuId) {
            $(".custom").find("a[id='" + menuId + "']").parent("li").addClass("active");
            //$(".items").find("a[id='" + menuId + "']").parent("li").append("<span class='selected'></span>");
        };
    </script>
    @RenderSection("Scripts", false)
    @RenderSection("dashboardscripts", false)

</body>
</html>
