﻿@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Notifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .request-card {
        background: #e6f2fe;
    }
</style>
<header id="page-topbar">
    <div class="navbar-header app-header-area p-0">
        <div class="row m-0">
            <div class="col-lg-12 col-12">
                <a href="@Url.Action("Index","Dashboard")">
                    <h5 class="mb-0 ml-2 header-title d-flex align-items-center"><i class="dripicons-arrow-thin-left d-flex fs-20" style="margin-right: 7px;"></i>Notifications</h5>
                </a>
            </div>
        </div>
    </div>
</header>
<div class="main-content app-main-area">
    <div class="Address-list p-3">
        <div class="row m-0">
            <div class="col-lg-12 col-12 p-0 mb-5">
                @if (ViewBag.NotificationsData.TotalRecords > 0)
                {
                    for (int i = 0; i < ViewBag.NotificationsData.TotalRecords; i++)
                    {
                        <div class="card p-2 mb-1" style="box-shadow: 0px 0px 6px 0px #00000024;">
                            <div class="row m-0">
                                <div class="col-lg-12 col-12 p-0">
                                    <p class="mb-0 fs-12" style="font-weight:600;">
                                        @ViewBag.NotificationsData.Values[i].Description
                                    </p>
                                    <span style="font-size: 11px; color: #707070;"> @ViewBag.NotificationsData.Values[i].CreatedDateStr</span>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="card request-card p-3 text-center mb-1" style="box-shadow: 0px 0px 6px 0px #00000024;">
                        <h5 class="mb-0">No record found</h5>
                    </div>
                }
            </div>
        </div>
    </div>
</div>