﻿@using AAH.Common;
@using ChaiNasta.Pages;
@using System.Web.Optimization;
@using ChaiNasta.Infrastructure;

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABofRnRkpT_4m344ZOsyRnT90uSGF5H6A"></script>

<div class="content container-fluid">
    <div class="row">
        <div class="col-12">
            <h5>Dashboard</h5>
        </div>
    </div>
</div>
