﻿@using AAH.Common;
@using AAHAdmin.Pages;
@using System.Web.Optimization;
@using AAHAdmin.Infrastructure;

@Html.AntiForgeryToken()

@{ ViewBag.Title = "Manage OtherServiceIcons"; }

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #0069D9;
        color: white;
    }

    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        bUsers-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            bUsers-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        bUsers-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        bUsers: 1px solid #d4d4d4;
        bUsers-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            bUsers-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .text-c-dark {
        color: #000;
    }

    .device-active .active .card {
        background: #157aec;
        cursor: pointer;
    }

    .device-active .active .text-c-dark {
        color: #fff !important;
    }

        .device-active .active .text-c-dark .icon {
            background-color: #0069D9;
            bUsers: none;
        }

    .icon-box {
        background: #eff1f4;
    }

        .icon-box:hover {
            background: #0e67cc !important;
        }

    .btn-primary {
        color: #fff !important;
        background-color: #0596F8 !important;
        border-color: #0596F8 !important;
        box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%) !important;
    }

    div.dt-buttons {
        float: right !important;
    }

    form label {
        font-weight: bold
    }
</style>


<div class="content container-fluid">
    <div class="row">
        <div class="col-8">
            <h5>Other Service Icon</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">
            @Html.AntiForgeryToken()
            <div class="portlet-body table-responsive" id="divUserTable">
                <table class="table table-striped table-bUsersed table-hover" id="UserTable"></table>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="addServiceMaster" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="title" id="defaultModalLabel">Add Service Icons</h6>
                <button type="button" class="close" onclick="ClosePopUp();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="ManageServiceForm" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label>URL</label>
                        <input type="hidden" id="masterserviceid" name="masterserviceid" />
                        <input type="hidden" id="URL" name="URL" />
                        <div>
                            <img src="" id="ImageView" height="50px" class="mt-2" style="float:right;display:none">
                            <input type="file" onchange="readURL(this);" class="form-control-file mt-2" id="Video" name="Video" accept="image/*"
                                   style="float: left; width: 80%;">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label>Description</label>
                        <textarea type="text" class="form-control" name="Description" id="Description" placeholder="Enter Description..." rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Priority</label>
                        <input type="text" class="form-control" name="Priority" id="Priority" placeholder="Enter Priority...">
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnSearch" type="submit" class="btn btn-primary saveBtn">Save</button>
                    <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Saving...
                    </button>
                    <button type="button" onclick="ClosePopUp();" class="btn btn-secondary closeBtn">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        var ServiceId = "MA==";

        function readURL(input) {
            $('#ImageView').show();
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#ImageView').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);

                if ($('#Video').hasClass('error')) {
                    $('#Video').addClass('valid');
                    $('#Video').removeClass('error');
                }
                $('#Video-error').attr("style", "display:none");
            }
        }


        $(document).ready(() => {
            CustomerDataTable.init();
            debugger
            $("#ManageServiceForm").validate({
                rules: {
                    Video: {
                        required: function (element) {
                            if (parseInt(atob(ServiceId)) > 0) {
                                return false;
                            } else {
                                return true;
                            }
                        }
                    },
                    Priority: "required"
                },
                messages: {
                    Priority: {
                        required: "Please enter Priority",
                    }
                },

                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents(".form-group"));
                    } else {
                        // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {

                    AddServiceMaster();
                }
            });
        });


        var CustomerDataTable = function () {
            let initTable1 = function () {
                let table = $('#UserTable');

                let oTable = table.dataTable({
                    "stateSave": true,
                    "autoWidth": false,
                    "paging": true,
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": activate to sort column ascending",
                            "sortDescending": ": activate to sort column descending"
                        },
                        "emptyTable": "No data available in table",
                        "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                        "infoEmpty": "No entries found",
                        "infoFiltered": "(filtered1 from MAX total entries)",
                        //"lengthMenu": "MENU entries",
                        "search": "Search:",
                        "zeroRecords": "No matching records found"
                    },
                    "pageLength": 10,
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        async: true,
                        url: '@Url.Action(Actions.OtherServiceIcons_All, Controllers.OtherServiceIcons)',
                        type: "post",
                        data: SearchCriteria(),
                    },
                    "columns": [
                        {
                            "title": "Priority", "data": "Priority",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["Priority"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "URL", "data": "URL",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<img title="URL" style="cursor:pointer;" onclick=redirectToNewTab('@System.Configuration.ConfigurationManager.AppSettings["ClientURL"]${row["URL"]}') src="@System.Configuration.ConfigurationManager.AppSettings["ClientURL"]${row["URL"]}" height="50px">`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Description", "data": "Description",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                htmlData = `<p class="mb-0">${row["Description"]}</p>`;

                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Is Active ?", "data": "IsActive",
                            "render": function (data, type, row) {
                                let htmlData = "";

                                if (row["IsActive"] == 1) {
                                    htmlData = `<button onclick="InactiveMessage('${row["Id"]}');" class="badge badge-primary">Active</button>`;
                                } else {
                                    htmlData = `<button onclick="ActiveMessage('${row["Id"]}');" class="badge badge-danger">In-Active</button>`;
                                }


                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                        {
                            "title": "Action", "data": "Id",
                            "render": function (data, type, row) {
                                let htmlData = "";
                                htmlData += `<button title="Edit Doctor" class="btn btn-sm btn-outline-secondary mr-1" onclick="ViewService('${(row["Id"])}');"><i class="fa fa-edit"></i></button>`;
                                htmlData += `<a class="btn btn-sm btn-outline-secondary " title="Delete Services" onclick="DeleteDocument('${(row["Id"])}');"><i class="fa fa-trash"></i></a>`;
                                return htmlData;
                            }
                            , "orderable": false, "width": "3%"
                        },
                    ],
                    // setup buttons extentension: http://datatables.net/extensions/buttons/
                        "buttons": [
                            {
                                text: 'Add ServiceIcons',
                                className: 'btn btn-primary mb-3 mt-1',
                                action: function (e, dt, node, config) {
                                    AddServiceMasterPopUp();
                                }
                            },
                        ],

                        // setup responsive extension: http://datatables.net/extensions/responsive/
                        responsive: true,

                        "lengthMenu": [
                            [5, 10, 15, 20, 1000],
                            [5, 10, 15, 20, 1000] // change per page values here
                        ],
                        // set the initial value

                        "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

                        // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                        // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
                        // So when dropdowns used the scrollable div should be removed.
                        //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                });
            }

            return {
                //main function to initiate the module
                init: function () {
                    if ($.fn.DataTable.isDataTable("#UserTable")) {
                        $('#UserTable').dataTable().fnDestroy();
                        $('#divUserTable').html('<table class="table table-striped" width="100%" id="UserTable"></table>');
                    }
                    initTable1();
                }
            };
        }();

        //Data fillter function
        function SearchCriteria() {
            try {
                var param = {};
                param["Priority"] = $('#admin_Priority').val();
                return addRequestVerificationToken(param);
            } catch (e) { }
        }

        function UserDataFillter() {
            $('#UsersFillter').modal('show');
        }

        function UserDataFillter() {
            $('#UsersFillter').modal('show');
        }

        function SearchReset(isReset) {

            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();

            if (isReset == true) {
                $('#admin_Priority').val("");

            }

            CustomerDataTable.init();       //    AnandTable.init();
            $('#UsersFillter').modal('hide');

            $(".saveBtn").show();
            $(".loading").hide();
            $(".closeBtn").show();
        }

        function addRequestVerificationToken(data) {
            data._RequestVerificationToken = $('input[name=_RequestVerificationToken]').val();
            return data;
        }

        function ViewUserNotifications(id) {
            window.location.href = "SubServiceMaster?SMID=" + id;
        }

        function ClosePopUp() {
            emptyFormValues();
            $("#addServiceMaster").modal("hide");
        }

        function clearValidation(formElement) {

            //Internal $.validator is exposed through $(form).validate()
            var validator = $(formElement).validate();
            //Iterate through named elements inside of the form, and mark them as error free
            $('[name]', formElement).each(function () {
               // validator.success.push(this);
                validator.showErrors();//remove error messages if present
            });
            validator.resetForm();//remove error class on name elements and clear history
            validator.reset();//remove all error and success data
        }
        //var myform = document.getElementById("")


        function AddServiceMasterPopUp() {

            var myForm = document.getElementById("ManageServiceForm").reset();
            //clearValidation(myForm);
            $("form").validate().resetForm(); //form
            var $alertas = $('#addServiceMaster');// $('#addServiceMaster');
            $alertas.validate().resetForm();
            $alertas.find('.error').removeClass('error');

            emptyFormValues();
            $('#ImageView').hide();
            ServiceId = "MA==";
            $('#addServiceMaster').modal('show');
        }

        function redirectToNewTab(link) {
            window.open(link, "_blank");
        }



        function AddServiceMaster()
        {
            debugger;
            $(".saveBtn").hide();
            $(".loading").show();
            $(".closeBtn").hide();

            var formdata = new FormData();
            formdata.append("Id", $("#masterserviceid").val());
            formdata.append("Priority", $("#Priority").val());
            formdata.append("Description", $("#Description").val());
            formdata.append("files", $("#Video").get(0).files[0]);

            $.ajax({
                    type: "POST",
                    url: '@Url.Action(Actions.OtherServiceIcons_Upsert, Controllers.OtherServiceIcons)',
                    data: formdata,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response.Code == 200) {
                           // swal("Great!", response.Message, "success");
                            window.location.href = "@Url.Action(Actions.Index,Controllers.OtherServiceIcons)";
                            $(".saveBtn").show();
                            $(".loading").hide();
                            $(".closeBtn").show();

                        } else {
                           // swal("Error!", error.Message, "error");
                            $(".saveBtn").show();
                            $(".loading").hide();
                            $(".closeBtn").show();
                        }
                    },
                    error: function (error) {
                        //toastr["error"]("Something went wrong");
                        $(".saveBtn").show();
                        $(".loading").hide();
                        $(".closeBtn").show();
                    }
                });
        }

        function ActiveMessage(id) {
            swal({
                title: "Are you sure ?",
                text: "You will be activating the user !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willupdate) => {
                    if (willupdate) {
                        UpdateStatus(id);
                    }
                });
        }
        function InactiveMessage(id) {
            swal({
                title: "Are you sure ?",
                text: "You will be in-activating the user !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willupdate) => {
                    if (willupdate) {
                        UpdateStatus(id);
                    }
                });
        }

        function UpdateStatus(id)
        {
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.OtherServiceIcons_ActInAct, Controllers.OtherServiceIcons)',
                data: { Id: id },
                dataType: 'json',
                success: function (response) {
                    CustomerDataTable.init();
                    if (response.Code == 200) {
                        swal({
                            title: "Success",
                            text: response.Message,
                            icon: "success",
                            timer: 2000
                        })
                    } else {
                        swal({
                            title: "Warning",
                            text: response.Message,
                            icon: "warning"
                        })
                    }
                    CustomerDataTable.init();
                },
                error: function (error) {

                }
            });
        }

        function emptyFormValues() {
            $("#masterserviceid").val(0);
            $("#Priority").val('');
            $("#Video").val('');
        }



         function ViewService(id)
         {
             var $alertas = $('#addServiceMaster');
            $alertas.validate().resetForm();
            $alertas.find('.error').removeClass('error');

            $("#ImageView").show();
            $('#addServiceMaster').modal('show');
             $("form").validate().resetForm();
            $.ajax({
                type: "POST",
                url: '@Url.Action(Actions.OtherServiceIcons_ById, Controllers.OtherServiceIcons)',
                data: {Id : id},
                dataType: 'json',
                async: true,
                success: function (response) {
                    if (response.Code == 200) {
                        $('#masterserviceid').val(response.Item.Id);
                        $("#Priority").val(response.Item.Priority);
                        $("#Description").val(response.Item.Description);
                        $("#ImageView").attr('src', "@System.Configuration.ConfigurationManager.AppSettings["ClientURL"]"+response.Item.URL);
                        $("#URL").attr('src',"@System.Configuration.ConfigurationManager.AppSettings["ClientURL"]"+response.Item.URL);

                        ServiceId = btoa(response.Item.Id);
                        if (response.Item.URLStr != "") {
                            $("#ImageView").show();
                        }
                        else {
                            $("#ImageView").hide();
                        }
                    } else {
                        swal["error"](response.Message);
                    }

                },


                error: function (error) {
                    swal["error"]("Something went wrong");
                }
            });
        }



        function DeleteDocument(id)
        {

            swal({
                title: "Delete !",
                text: "Are You Sure You want to Delete this Document ?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willdelete) => {
                if (willdelete) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action(Actions.OtherServiceIcons_Delete, Controllers.OtherServiceIcons)',
                        data: { Id: id },
                        dataType: 'json',
                        success: function (response) {
                        CustomerDataTable.init();

                        },
                        error: function (error) {
                            console.log('error', error);
                        }
                    })
                }
            });
        }


    </script>
}