﻿@using AAH.Entities.V1;
@using AAHAdmin.Pages;
@using AAH.Common;
@model AgencyVsArea

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Manage Agency Vs Area";
}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<style>
    .checkbox2 {
        width: 25px;
        height: 25px;
    }

    thead {
        background: #0069D9;
        color: white;
    }

    .row {
        margin: 0 !important;
    }

    .activ {
        background: linear-gradient(to right, #0069D9, #0069D9);
        color: white;
    }

    .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
        color: #e73d4a
    }

    .has-error .form-control {
        bUsers-color: #e73d4a;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    }

        .has-error .form-control:focus {
            bUsers-color: #d71b29;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #f2989f
        }

    .has-error .input-group-addon {
        color: #e73d4a;
        bUsers-color: #e73d4a;
        background-color: #fbe1e3
    }

    .autocomplete-items {
        position: absolute;
        bUsers: 1px solid #d4d4d4;
        bUsers-bottom: none;
        z-index: 99;
        top: 40px;
        left: 0;
        right: 0;
        box-shadow: 0 39px 70px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

        .autocomplete-items > div {
            padding: 10px;
            cursor: pointer;
            bUsers-bottom: 1px solid #ccc;
        }

            .autocomplete-items > div:hover {
                background: #fbfbfb;
            }

    .addDelete {
        color: black !important;
        background: #e9e9e9 !important;
    }

    .hideDelete {
        display: none !important;
    }

    .text-c-dark {
        color: #000;
    }

    .device-active .active .card {
        background: #157aec;
        cursor: pointer;
    }

    .device-active .active .text-c-dark {
        color: #fff !important;
    }

        .device-active .active .text-c-dark .icon {
            background-color: #0069D9;
            bUsers: none;
        }

    .icon-box {
        background: #eff1f4;
    }

        .icon-box:hover {
            background: #0e67cc !important;
        }

    .btn-primary {
        color: #fff !important;
        background-color: #0596F8 !important;
        border-color: #0596F8 !important;
        box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%) !important;
    }

    div.dt-buttons {
        float: right !important;
    }

    #map {
        padding: 0;
        margin: 0;
        height: 500px;
    }
</style>


<div class="content container-fluid">
    <div class="row">
        <div class="col-8">
            <h5>Manage Agency Vs Areas</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-12 col-lg-12 col-md-12 col-12 mb-3">

            @using (Html.BeginForm(Actions.AgencyVsArea_Upsert, Controllers.AgencyVsArea, new { Area = "" }, FormMethod.Post, new { id = "AgencyVsAreasDetails", @class = "", enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(model => model.Id)
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6 mt-2">
                            <label>Area</label>
                            @Html.DropDownListFor(model => model.AreaId, (IEnumerable<SelectListItem>)ViewBag.GetMasterAreaAll, new { @class = "form-control", onchange = "onArea();" })
                        </div>
                        @*<div class="col-6 mt-2">
                                <label>Agency</label>
                                @Html.DropDownListFor(model => model.AgencyId, (IEnumerable<SelectListItem>)ViewBag.GetAgencyAll, new { @class = "form-control", onchange = "onAgencyChange();" })
                            </div>*@
                        <div class="col-6 mt-2">
                            <label>Agency</label>
                            <select class="js-example-basic-multiple form-control" name="states[]" multiple="multiple" id="AgencyId" onchange="onAgencyChange()">
                                @for (int i = 0; i < @ViewBag.GetAgencyAll.Count; i++)
                                {
                                    <option value="@ViewBag.GetAgencyAll[i].Value">@ViewBag.GetAgencyAll[i].Text</option>

                                }
                            </select>
                            @*<select class="form-control" id="AgencyId" name="AgencyId" multiple="multiple" onchange="onAgencyChange()">
                                </select>*@
                        </div>

                        <div class="col-6 mt-2">
                            <label>Min DeliveryExecutive Required</label>
                            <i id="mininfo" style="display:none" class="fa fa-info-circle" aria-hidden="true"></i>
                            <i id="mincheck" style="display:none" class="fa fa-check" aria-hidden="true"></i>
                            <input type="text" class="form-control" id="minDE" disabled />
                        </div>
                        <div class="col-6 mt-2">
                            <label>Max DeliveryExecutive Required</label>
                            <i id="maxinfo" style="display:none" class="fa fa-info-circle" aria-hidden="true"></i>
                            <i id="maxcheck" style="display:none" class="fa fa-check" aria-hidden="true"></i>
                            <i id="cross" style="display:none" class="fa fa-times" aria-hidden="true"></i>
                            <input type="text" class="form-control" id="maxDE" disabled />
                        </div>
                        <div class="col-12 mt-2">
                            <div id="areaDetails">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <input id="btnSearch" type="submit" class="btn btn-primary saveBtn" value="Save" />
                    <button class="btn btn-primary loading" type="button" disabled style="display:none;float:right;">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Saving...
                    </button>
                    <a class="btn btn-secondary closeBtn" href="@Url.Action(Actions.Index, Controllers.AgencyVsArea)">Cancel</a>
                </div>
            }

        </div>
    </div>
</div>


@section Scripts {

    <script>

        $(document).ready(() => {
            //$('.selectpicker').selectpicker();
            $('.js-example-basic-multiple').select2();
            $("#AgencyVsAreasDetails").validate({
                 rules: {

                    AreaId: {
                        required: {
                            depends: function (element) {
                                if ('@ProjectSession.UserType' == "Super Admin") {
                                    return true;
                                } else {
                                    return false;
                                }
                            }
                        }
                    },

                },
                messages: {

                },

                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents(".form-group"));
                    } else {
                        // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    if ($("#AgencyId").val().length > 0) {
                        debugger;
                        var data = $("#AgencyId").val();
                        var isValid = true;
                        var arrayData = [];
                        for (var i = 0; i < data.length; i++) {
                            let obj = {
                                Id:0,
                                AreaId: 0,
                                AgencyId: 0,
                                Assigned:0
                            }

                            if ($("#assign_" + data[i]).val() != "" && $("#assign_" + data[i]).val() != null) {
                                if (parseInt($("#assign_" + data[i]).val()) <= parseInt($("#totalAvalaibleDE_" + data[i]).text())) {
                                    $("#assign_" + data[i]).css("border-color", "#D1D5DB");
                                    obj.Id = $("#dataId_" + data[i]).text();
                                    obj.AreaId = $("#AreaId").val();
                                    obj.AgencyId = data[i];
                                    obj.Assigned = parseInt($("#assign_" + data[i]).val());
                                    arrayData.push(obj);
                                } else {
                                    $("#assign_" + data[i]).css("border-color", "red");
                                    isValid = false;
                                    toastr.clear();
                                    ShowMessageToastr("danger", "assign DE should be less then avalaible DE.!", false);
                                    return
                                }

                            } else {
                                $("#assign_" + data[i]).css("border-color", "red");
                                isValid = false;
                            }
                        }
                        if (isValid) {
                            saveData(JSON.stringify(arrayData));
                           // form.submit();
                        }
                    }
                    else {
                        toastr.clear();
                        ShowMessageToastr("danger", "Please select Agency.!", false);
                        return
                    }
                }
            });

            if (@ViewBag.AgencyVsAreaId > 0) {
                $("#AreaId").val(@ViewBag.AgencyVsAreaId);
                onArea();
                if (@Html.Raw(Json.Encode(@ViewBag.AgencyVsAreaData)) != null) {
                    var data = @Html.Raw(Json.Encode(@ViewBag.AgencyVsAreaData));
                    var agencyArray = [];
                    var selectedValues = new Array();
                    for (var i = 0; i < data.length; i++) {
                        agencyArray.push(data[i].AgencyId.toString());
                        selectedValues[i] = data[i].AgencyId;
                    }
                    setTimeout(function () {
                        //$.each($("#AgencyId"), function () {
                        //    $(this).select2('val', selectedValues);
                        //});
                        //$('#AgencyId').select2(selectedValues);


                        $("#AgencyId").val(agencyArray);
                        var selectedValues = $("#AgencyId").val();
                        $(".js-example-basic-multiple").val(selectedValues).trigger('change');
                        onAgencyChange();
                        setTimeout(function () {
                        for (var i = 0; i < data.length; i++) {
                            $("#assign_" + data[i].AgencyId).val(data[i].Assigned)
                            $("#dataId_" + data[i].AgencyId).text(data[i].Id)
                            }
                            checkCount();
                    },2000)
                    },1000)
                }
            }

        });

        function saveData(stringData) {
             $.ajax({
                            type: "GET",
                            url: "@Url.Action("AgencyVsAreas_Upsert", Controllers.AgencyVsArea, new { area = "" })",
                            data: ({
                                StringData: stringData
                            }),
                            datatype: 'json',
                 success: function (res) {
                     if (res.Code == 200) {
                         toastr.clear();
                         ShowMessageToastr("success", "Data save successfully.!", false);
                         window.location.href = "@System.Configuration.ConfigurationManager.AppSettings["DomainURL"]AgencyVsArea/Index"
                     }
                     else {
                         toastr.clear();
                         ShowMessageToastr("danger", res.Message, false);
                         return;
                     }
                            }
                        })
        }


      function onAgencyChange() {
            $("#MasterAreaId").html("");
            var agencyId = $("#AgencyId").val();

        $.ajax({
            type: "GET",
            url: "@Url.Action("GetAgency_ByIds", Controllers.AgencyVsArea, new { area = "" })",
            data: ({
                AgencyId: agencyId.join(",")
                  }),
            datatype: 'json',
            success: function (result) {
                console.log('result', result);
                $("#areaDetails").empty();
               var agencyData = result.Values;

                if (agencyData.length > 0) {
                    debugger
                    for (var i = 0; i < agencyData.length; i++) {
                        var selectedData = agencyData[i];
                        $("#areaDetails").append('<div class="p-3 mr-2" style="border: 1px solid #e2e2e2; float: left">' +
                            '<h3 id="agencyName"> ' + selectedData.Name + '</h3><div>' +
                            '<span id="dataId_'+ selectedData.Id+'" style="display:none">0</span>' +
                            '<b class="mb-2">Totoal No. : </b><span id=totalDE_' + selectedData.Id + '>' + selectedData.NoOfDE + '</span><br />' +
                            '<b class="mb-2">Total Available : </b><span id=totalAvalaibleDE_' + selectedData.Id + '>' + 0 + '</span><br /> ' +
                            '<b class="mb-2">Available : </b><span id=avalaibleDE_' + selectedData.Id + '>' + 0 + '</span><br /> ' +
                            '<b class="mb-2 mr-2" style="float: left">Assign : </b><input onblur="checkCount()" class="form-control" id=assign_' + selectedData.Id + ' style="width:50%;float:left" />'
                            + '</div></div>');
                        getCount(selectedData.Id);
                    }
                }

                if (@ViewBag.AgencyVsAreaId > 0) {
                    $("#MasterAreaId").val("@ViewBag.MasterAreaId");
                    $("#MasterAreaId").val("@ViewBag.MasterAreaId");
                } else {
                    $("#MasterAreaId").val("0")
                }
            },
            error: function (error) {
                console.log("error", error)
            }
        });
        }

        function checkCount() {
            debugger;
            var data = $("#AgencyId").val();
            var assignCount = 0;
            for (var i = 0; i < data.length; i++) {
                assignCount = assignCount + parseInt($("#assign_" + data[i]).val());
            }
            $("#mininfo").hide();
            $("#mincheck").hide();
            $("#cross").hide();
            $("#maxinfo").hide();
            $("#maxcheck").hide();
            if (parseInt($("#minDE").val()) <= assignCount) {
                $("#mincheck").show();
            } else {
                $("#mininfo").show();
            }
            if (parseInt($("#maxDE").val()) < assignCount) {
                $("#maxinfo").show();
            } else if (parseInt($("#maxDE").val()) == assignCount) {
                $("#maxcheck").show();
            } else {
                $("#cross").show();
            }
        }

      function getCount(Id) {
             $.ajax({
                            type: "GET",
                            url: "@Url.Action("GetAvailableDE_ByAgencyId", Controllers.AgencyVsArea, new { area = "" })",
                            data: ({
                                AgencyId: Id, AreaId: $("#AreaId").val()
                            }),
                            datatype: 'json',
                 success: function (res) {
                     debugger
                                $("#avalaibleDE_" + Id).text(res.Item.AvailableCount);
                                $("#totalAvalaibleDE_" + Id).text(res.Item.TotalAvailableCount);
                            }
                        })
        }

        function onArea() {
            $("#areaDetails").empty();
            $("#AgencyId").html("");
            var areaId = $("#AreaId").val();
            debugger
        $.ajax({
            type: "GET",
             url: "@Url.Action("GetMasterArea_ByAgencyId", Controllers.AgencyVsArea, new { area = "" })",
            data: ({
                AgencyId: areaId
                  }),
            datatype: 'json',
            success: function (result) {
                console.log('result', result);
                if (result.Values.length > 0) {
                    //$("#AgencyId").append('<option value="0">Select Agency</option>');
                    $("#minDE").val(result.Values[0].MinNoOfExecutives);
                    $("#maxDE").val(result.Values[0].MaxNoOfExecutives);

                    if (@Html.Raw(Json.Encode(@ViewBag.GetAgencyAll)) != null) {
                        var data = @Html.Raw(Json.Encode(@ViewBag.GetAgencyAll));
                        for (var i = 0; i < data.length; i++) {

                            $("#AgencyId").append(`
                            <option value="${data[i].Value}">${data[i].Text}</option>
                        `)
                        }
                    }
                   
                }

                if (@ViewBag.AgencyVsAreaId > 0) {
                    $("#AgencyId").val("@ViewBag.AgencyId");
                } else {
                    $("#AgencyId").val("0")
                }
            },
            error: function (error) {
                console.log("error", error)
            }
        });
        }


    </script>



}
