﻿@using AAH.Common;
@using ChaiNastaVendor.Pages;
@using System.Web.Optimization;
@using ChaiNastaVendor.Infrastructure;
@using AAH.Entities.V1;
@model DeliveryExecutive

@Html.AntiForgeryToken()

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #map-canvas {
        height: 225px;
        width: 100%;
        margin-bottom: 80px;
    }
</style>

<div class="main-content app-main-area">
    <div class="request-for p-3">
        <form action="" class="row" method="post" id="CreateVendorProfile" novalidate="novalidate">
            <input type="hidden" name="vendorId" id="vendorId" value="" />
            <div class="mb-3 col-lg-3">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="Enter First Name" disabled>
            </div>
            <div class="mb-3 col-lg-3">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Enter Last Name" disabled>
            </div>
            <div class="mb-3 col-lg-3">
                <label class="form-label">Shop Name</label>
                <input type="text" class="form-control" id="ShopName" name="ShopName" placeholder="Enter Shop Name" disabled>
            </div>
            <div class="mb-3 col-lg-3">
                <label class="form-label">Primary Phone Number</label>
                <input type="text" class="form-control" id="PrimaryPhoneNumber" name="PrimaryPhoneNumber" placeholder="Enter Primary Phone Number" disabled>
            </div>
            <div class="mb-3 col-lg-3">
                <label class="form-label">Alternate Phone Number</label>
                <input type="text" class="form-control" id="AlternatePhoneNumber" name="AlternatePhoneNumber" placeholder="Enter Alternate Phone Number" disabled>
            </div>
            <div class="mb-3 col-lg-3">
                <label class="form-label">Location</label>
                <input type="text" class="form-control" onFocus="initializeAutocomplete()" id="Location" name="Location" placeholder="Enter Location" disabled>
                <input type="hidden" class="form-control" id="LocationLat" name="LocationLat">
                <input type="hidden" class="form-control" id="LocationLong" name="LocationLong">
                <input type="hidden" class="form-control" id="CreatedLat" name="CreatedLat">
                <input type="hidden" class="form-control" id="CreatedLong" name="CreatedLong">
                <input type="hidden" class="form-control" id="UpdatedLat" name="UpdatedLat">
                <input type="hidden" class="form-control" id="UpdatedLong" name="UpdatedLong">
            </div>
            <div class="mb-3 col-lg-3">
                <label class="form-label">AadharCard Number</label>
                <input type="text" class="form-control" id="AadharCardNumber" name="AadharCardNumber" placeholder="Enter AadharCard Number" disabled>
            </div>
            <div class="mb-3 col-lg-3">
                <label class="form-label">PanCard Number</label>
                <input type="text" class="form-control" id="PanCardNumber" name="PanCardNumber" placeholder="Enter PanCard Number" disabled>
            </div>
            <div class="mb-3 col-lg-3">
                <label class="form-label">ShopOwner Profile</label> <br />
                <img src="" id="shopOwnerProfile" style="object-fit:cover;" alt="Shop Owner Profile" class="rounded-circle avatar-xl" />
            </div>
            <div class="col-lg-12 mt-3">
                <h4 class="mb-3">Shop / Thela Images</h4>
                @*<input type="file" class="form-control" name="theleImages" id="theleImages" multiple value="" />*@
                <div class="row m-0" id="PreviewThelaImages">

                </div>
            </div>
           
            @*<div class="button-fixed">
                <button type="submit" class="btn btn-primary w-md w-100" id="Submit">Submit</button>
                <button type="submit" class="btn btn-primary w-md w-100" style="display:none;" id="SubmitLoading" disabled>Please wait...</button>
            </div>*@

        </form>
    </div>
</div>

<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js"></script>

@*Google map*@ 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB97EhOhMCYhK1tZIofUkpKcGW61fdgKjg&libraries=places&callback=initMap" async defer></script>
<script language=javascript src='http://maps.google.com/maps/api/js?sensor=false'></script>

<script>

    $(document).ready(function () {
        GetVendorData();
    })

    function GetVendorData() {

        $.ajax({
            type: "POST",
            url: '@Url.Action(Actions.VendorData, Controllers.Profiles)',
            dataType: 'json',
            success: function (response) {
                if (response.Item != null) {
                    if (response.Item.ThelaImageObj != null && response.Item.ThelaImageObj != "") {
                        var ThelaImageArray = JSON.parse(response.Item.ThelaImageObj);
                        for (var i = 0; i < ThelaImageArray.length; i++) {
                            $("#PreviewThelaImages").append(`
                                <div class="col-lg-1 col-4 p-2">
                                    <img class="w-100 thela-images" src="@System.Configuration.ConfigurationManager.AppSettings["AdminURL"]${ThelaImageArray[i].ImagesUrl}" style="border-radius:10px;height: 80px;"">
                                </div>
                            `);
                        }
                    }

                    $("#vendorId").val(response.Item.Id);
                    $("#FirstName").val(response.Item.FirstName);
                    $("#LastName").val(response.Item.LastName);
                    $("#ShopName").val(response.Item.ShopName);
                    $("#PrimaryPhoneNumber").val(response.Item.PrimaryPhoneNumber);
                    $("#AlternatePhoneNumber").val(response.Item.AlternatePhoneNumber);
                    $("#AadharCardNumber").val(response.Item.AadharCardNumber);
                    $("#PanCardNumber").val(response.Item.PanCardNumber);
                    $("#Location").val(response.Item.Location);
                    $("#LocationLat").val(response.Item.Lat);
                    $("#LocationLat").val(response.Item.Long);
                    $("#shopOwnerProfile").attr('src',response.Item.ShopOwnerProfile)


                }
            },
            error: function (error) {
                console.log('error', error);
            }
        })
    }
</script>